:host{
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

table {width: 100%;}

li {list-style: none;}

.flex{ display: flex; }

.center-align{
    display: flex;
    justify-content: center;
}

.card{
    width:100%;
}

.internal-card{
    padding: 15px 0 15px;
    margin: 10px 0 10px 0;
}

.invisible{display:none;}

.card-name{ flex-grow: 1; }

.button{
    margin-left: 10px;
}

.mat-form-field-100{
    width:100%
}

.input-form{
    display: flex;
    flex-direction: column;
}

.add-cagent {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: -1px;
    color: #585858;
    z-index: 1000;
}

.slideWidth100{
    width:100%;
    margin:-8.5px 0 0 0;
}

.field-name {
    position: absolute;
    cursor: pointer;
    top: -12px;
    left: 0px;
    color: rgba(0,0,0,.54);
    font-size: 11px;
    z-index: 1000;
}

.slideWidth50margin8{
    width:50%; 
    margin:-8.5px 0 0 0;
    padding-right: 15px;
}

tr.mat-footer-row {
    font-weight: bold;
}

.form-invalid{
    color: red;
}

.div-foto{
    width: 100%;
    max-width: 150px;
    padding-left: 6px;
    margin-bottom:0px;
    overflow: hidden;
}

.small-padding{
    padding-right: 3px; 
    padding-left: 3px;
}

.hand
{
    cursor: pointer;
}

.file-wrapper{
    flex-grow: 1; 
    max-width: 70%;
    display: table-cell; 
    vertical-align: middle;
    height: 25px;border: 1px solid white;
}

.center {
    display: flex;
    justify-content: center;
}

.filename-row {
    width:100%; 
    margin-bottom: 10px;
    height:25px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.inactive{
    color: rgba(0,0,0,.54);
    text-decoration: none;
}

.min-heigth{
    line-height: 22px;
    height: 22px;
    min-width: 35px;
    padding: 0px;
    color:rgb(100, 100, 100);
}

.e-radio-group {
    display: flex;
    flex-direction: column;
    margin: -15px 0 0 -5px
} 

.e-radio-button {
    margin: 5px;
}

/*--------------- стили для статуса------------------*/
/*для цветного круга в статусах*/
.circle-wrapper {
    width: 30px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}

.circle-in-list {
    width: 20px;
    height: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
} 

.circle-in-selected{
    width: 20px;
    height: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    top: 18px;
}

/*название статуса*/
.status-name {
    display: inline-block;
    line-height: 20px;
} 