:host{
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

table {width: 100%;}
li {list-style: none;}
.flex{ display: flex; }

.card{
    width:100%;
}
.internal-card{
    margin: 10px 0 10px 0;
}
.card-title{
    margin:0px -15px 15px !important;
}
.input-form{
    display: flex;
    flex-direction: column;
}
.add_circle {
    cursor: pointer;
    position: relative;
    bottom: 3px;
    right: 0px;
    color: #585858;
    z-index: 1000;
}
.clear_field {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 0px;
    color: #585858;
    z-index: 1000;
}
.invisible{display:none;}

.card-name{ flex-grow: 1; }
.container-fluid mat-card{/*отступы у карточки сверху и снизу*/
    margin: 0 0 15px !important;
}
.form-invalid{
    color: red;
}
.button{
    margin-left: 10px;
}
.doc-container {
position: absolute;
left: 0;
top: 0;
height: 100%;
width:100%;
border: 0px solid black;
}
/*--------------категории-------------------*/
.showchilds{
font-size: 18px;
cursor: default;
}
.categories-sidenav-content {
display: flex;
justify-content: center;
}
.categories-sidenav {
padding: 0px;
min-width:150px;
}
.category-toolbar-icon {
    padding: 0 0;

  }
.category-toolbar-search {
    flex: 1 0 1;
  }
.category-toolbar-icons {
    margin-top: 0px;
    flex: 1 0 1;
  }
.node  {
    cursor: pointer;
    margin-top: 3px;
    margin-right: 10px;
}
.selected_node  {
    border: 4px solid #673ab7;
    border-radius: 5px;
    background-color: #673ab7;
    color: white;
}
.category-toolbar-spacer {
flex: 1 1 auto;
}
.mat-form-field-100{
    width:100%
}
.hand
{
    cursor: pointer;
}
.center {
    display: flex;
    justify-content: center;
}
.slideWidth100{/*для НДС - переключалки*/
    width:100%;
    /* margin:-8.5px 0 0 0; */
}
.slideWidth50left{
    width:50%; 
    padding-right: 10px;
}
.slideWidth50right{
    width:50%; 
    padding-left: 10px;
}
/*------------------- ФАЙЛЫ -------------------------*/
.filename-row {
   width:100%; 
   margin-bottom: 10px;
   height:25px;
   display: flex;
   justify-content: space-between;
   padding-left: 10px;
}
 
.min-heigth{
    line-height: 22px;
    height: 22px;
    min-width: 35px;
    padding: 0px;
    color:rgb(100, 100, 100);
}
.add-file {/*добавление подписей и печати*/
    cursor: hand;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
}
.open-file {
    cursor: pointer;
    position: absolute;
    right: 30px;
    color: #585858;
    z-index: 1000;
    top: 21px;
}
.del-file {
    cursor: pointer;
    position: absolute;
    top: 21px;
    right: -3px;
    color: #585858;
    z-index: 1000;
}
/*--------------- стили для статуса------------------*/
/*для цветного круга в статусах*/
 
  
.circle-in-selected{
    width: 20px;
    height: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    top: 15px;
}
/*название статуса*/
.status-name {
    display: inline-block;
    line-height: 20px;
} 
/*---------- DRAG n DROP -------------*/
.handler {
    cursor: move;
    position: absolute;
    top: 6px;
    right: 40px;
    width: 20px;
    height: 20px;
    color: #585858;
    z-index: 1000;
  }
  .del-icon {
    cursor: default;
    position: absolute;
    top: 6px;
    right: 10px;
    width: 20px;
    height: 20px;
    color: #585858;
    z-index: 1000;
}
.cdk-drag-placeholder {
    background: white;
    transition: transform 500ms ease;
    padding: 20px;
    border: 3px solid rgb(43, 43, 43);
    z-index: 999;
  }
.cdk-drag-animating {
transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
}
/* Select list - user can't select if clicking not on the <SPAN> tag */
::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
    line-height: 46px!important;
}
.color-label{
    display: inline-block !important;
    position: absolute !important;
    top: -5px !important;
    font-size:13px !important;
    color:rgba(0, 0, 0, 0.6) !important;
}
.logo{
    position: absolute;
    right: 10px;
    top: -15px;
    margin: 25px auto 10px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    cursor:pointer;
    background-color:#e0e0e0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo .material-icons{
    padding: 19px 18px;
    font-size: 50px;
    color: gray;
}