<mat-spinner 
strokeWidth="3" 
class="spinner"
[diameter]="50"
*ngIf="gettingTableData"
></mat-spinner>
<mat-card class="card" *transloco="let t"> <!--+++-->
    <mat-card-title class="flex" style="height: 30px;">
        <div *ngIf="!displayingDeletedDocs" class="emptyspace">{{cu.cap(t('menu.docs.corrections'))}}</div>
        <div *ngIf="displayingDeletedDocs" class="card-name"><span style="color: red; font-weight: bold;">{{t('menu.top.deleted')}}</span> {{t('menu.docs.corrections')}}</div>
        <button 
            mat-raised-button 
            style="width: 36px;height: 36px;min-width: 38px;padding: 0px;"
            color="primary"
            matTooltip="{{t('menu.tip.user_settings')}}"
            (click)="openDialogSettings()"
            type="button"
            class="button">
            <i class="material-icons">settings</i>
        </button>
        <button 
                mat-button      
                [matMenuTriggerFor]="addDocMenu"
                mat-raised-button 
                matTooltip="{{t('menu.top.btn_new_corr')}}"
                [style.display]="(visBtnAdd==true&&!displayingDeletedDocs)?'block':'none'" 
                class="col-sm-auto justify-content-center" 
                style="margin: 0 10px; width: 129px;height: 36px;min-width: 38px;"
                color="primary"
                (submit)="false"
                type="button"
                class="button">
                <i class="material-icons">add_circle_outline</i> {{t('menu.top.btn_create')}}<i class="material-icons">arrow_drop_down</i>
            </button>
            <mat-menu #addDocMenu="matMenu" yPosition="below" xPosition="before">
                <a [routerLink]="['../../correctiondoc', 'boxoffice']" style="text-decoration: none;"><button mat-menu-item>
                    <span>{{t('menu.menu.cor_cash_room')}}</span>
                </button></a>
                <a [routerLink]="['../../correctiondoc', 'account']" style="text-decoration: none;"><button mat-menu-item>
                    <span>{{t('menu.menu.cor_bank_acc')}}</span>
                </button></a>
                <a [routerLink]="['../../correctiondoc', 'cagent']" style="text-decoration: none;"><button mat-menu-item>
                    <span>{{t('menu.menu.cor_cash_cprt')}}</span>
                </button></a>
            </mat-menu>


            <div [style.display]="(!displayingDeletedDocs && visBtnDelete)?'block':'none'" class="col-sm-auto justify-content-center" style="margin-bottom:10px">
                <button mat-raised-button (click)="clickBtnDelete()" color="warn"><i class="material-icons">delete_forever</i> {{t('menu.top.btn_delete')}}</button>
            </div>
            <div *ngIf="displayingDeletedDocs && visBtnDelete" class="col-sm-auto justify-content-center" style="margin:0px 10px 10px 0px">
                <button mat-raised-button (click)="clickBtnRestore()" color="accent"><i class="material-icons">restore_from_trash</i> {{t('menu.top.btn_restore')}}</button>
            </div>
    </mat-card-title>
    <mat-card-content>
        <div class="card  w-100">
            <div class="card-body">
                <form  class="form-horizontal" id="formControl" method="post" action="" style="margin-bottom: 0px;">
                    <div id="hidden" style="display: none;" class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="offset">offset</label>
                            <input [(ngModel)]="sendingQueryForm.offset" value="" type="text" class="form-control" id="offset" name="offSet">
                        </div>
  
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="SortColumn">SortColumn</label>
                            <input [(ngModel)]="sendingQueryForm.sortColumn" type="text" class="form-control" id="SortColumn" name="SortColumn" value="">
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="SortAsc">SortAsc</label>
                            <input [(ngModel)]="sendingQueryForm.sortAsc" type="text" class="form-control" id="SortAsc" name="SortAsc" value="">
                        </div>
                    </div>
                    <div class="flex">
                        <mat-form-field style="width:50px;" class="num-of-rows"> <!--+++-->
                            <mat-label>{{t('menu.top.rows')}}</mat-label>
                            <mat-select [(value)]="sendingQueryForm.result" (selectionChange)="setNumOfPages()" class="form-control" id="selectRowsPerPage" name="result">                           
                                <mat-option  *ngFor="let num of numRows" [value]="num.value">
                                        {{num.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="company-select" style="margin-left: 10px; max-width: 250px;"><!--+++-->
                            <mat-label>{{t('menu.top.company')}}</mat-label>
                            <mat-select  [(value)]="sendingQueryForm.companyId" 
                            (selectionChange)="onCompanySelection()">                          
                                <mat-option  *ngFor="let rt of receivedCompaniesList" [value]="rt.id">
                                        {{rt.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-button  
                            class="filter-button"
                            matTooltip="{{t('docs.button.refresh')}}"
                            (click)="getTable()"  
                            type="submit"
                            matSuffix mat-icon-button>
                            <mat-icon>refresh</mat-icon>
                        </button>
                        <span  class="emptyspace"></span>
                        <button mat-button
                            *ngIf="displaySelectOptions"
                            class="options-button"
                            [matMenuTriggerFor]="oper"
                            type="button"
                            matTooltip="{{t('menu.tip.select_opt')}}" 
                            matSuffix mat-icon-button> <!--+++-->
                            <mat-icon>list_alt</mat-icon>
                        </button>
                        <mat-menu #oper="matMenu" xPosition="before">
                            <div style="width: 300px;">
                                <ul>
                                    <li *ngFor="let row of optionsIds">
                                        <mat-checkbox
                                        (click)="$event.stopPropagation()"
                                        (change)="$event ? clickFilterOptionsCheckbox(row) : null"
                                        [checked]="selectionFilterOptions.isSelected(row)"
                                        >{{t(row.name)}}</mat-checkbox> <!--+++-->
                                    </li>
                                </ul>
                            </div>
                            <div class="div-100"> 
                                <div style="width:100%; height: 38px; padding-bottom: 15px;">
                                    <button matTooltip="{{t('menu.tip.apply_filters')}}" 
                                            mat-mini-fab 
                                            color="primary" 
                                            (click)="clickApplyFilters()"> <!--+++-->
                                        <mat-icon>done</mat-icon>
                                    </button>
                                </div>
                            </div> 
                        </mat-menu>
                        <span  class="emptyspace" style="display: none"></span>
                        <div class="flex">     
                            <mat-form-field class="emptyspace"> <!--+++-->
                                    <input matInput 
                                    placeholder="{{t('menu.top.search')}}" 
                                    [(ngModel)]="sendingQueryForm.searchString" 
                                    type="text"  
                                    id="search_input" 
                                    name="search_input" 
                                    style="width:150px"/>
                                    <button mat-button matSuffix mat-icon-button aria-label="search"  type="submit" (click)="getData()">
                                        <mat-icon>search</mat-icon>
                                    </button>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <div id="result_form">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef style="width: 40px;">
                                    <mat-checkbox   (change)="masterToggle()"
                                                    [checked]="selection.hasValue()"
                                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-checkbox">
                                    <mat-checkbox   (click)="$event.stopPropagation()"
                                                    *ngIf="showCheckbox(row)"
                                                    (change)="$event ? clickTableCheckbox(row) : null"
                                                    [checked]="selection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                        </ng-container>
                        <ng-container matColumnDef="opendoc">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let row" class="table-launch-icon">
                                <a class="inactive" [routerLink]="['../../correctiondoc', row.id ]">
                                    <mat-icon>launch</mat-icon>
                                </a>
                            </td>   
                        </ng-container>
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> id </th>
                            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="creator">
                            <th mat-header-cell *matHeaderCellDef>
                            <span (click)="setSort('creator')" class="sortheader"> {{t('menu.table.creator')}} 
                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='creator'" class="material-icons sortarrow">arrow_upward</i>
                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='creator'" class="material-icons sortarrow">arrow_downward</i>
                            </span>
                            <td mat-cell *matCellDef="let row"> {{row.creator}} </td>
                        </ng-container>
                        <ng-container matColumnDef="doc_number">
                            <th mat-header-cell *matHeaderCellDef>
                            <span (click)="setSort('doc_number')" class="sortheader"> {{t('menu.table.doc_num')}} 
                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='doc_number'" class="material-icons sortarrow">arrow_upward</i>
                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='doc_number'" class="material-icons sortarrow">arrow_downward</i>
                            </span>
                            <td mat-cell *matCellDef="let row"> {{row.doc_number}} </td>
                        </ng-container>
                        <ng-container matColumnDef="cagent">
                            <th mat-header-cell *matHeaderCellDef>
                            <span (click)="setSort('cagent')" class="sortheader"> {{t('menu.table.cparty')}} 
                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='cagent'" class="material-icons sortarrow">arrow_upward</i>
                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='cagent'" class="material-icons sortarrow">arrow_downward</i>
                            </span>
                            <td mat-cell *matCellDef="let row"> {{row.cagent}} </td>
                        </ng-container>
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef>
                            <span (click)="setSort('description')" class="sortheader"> {{t('menu.table.target')}} 
                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='description'" class="material-icons sortarrow">arrow_upward</i>
                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='description'" class="material-icons sortarrow">arrow_downward</i>
                            </span>
                            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                        </ng-container>
                        <ng-container matColumnDef="company">
                            <th mat-header-cell *matHeaderCellDef>
                            <span (click)="setSort('company')" class="sortheader"> {{t('menu.table.company')}} 
                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='company'" class="material-icons sortarrow">arrow_upward</i>
                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='company'" class="material-icons sortarrow">arrow_downward</i>
                            </span>
                            <td mat-cell *matCellDef="let row"> {{row.company}} </td>
                        </ng-container>
                        <ng-container matColumnDef="date_time_created">
                            <th mat-header-cell *matHeaderCellDef>
                            <span (click)="setSort('date_time_created_sort')" class="sortheader"> {{t('menu.table.created')}} 
                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='date_time_created_sort'" class="material-icons sortarrow">arrow_upward</i>
                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='date_time_created_sort'" class="material-icons sortarrow">arrow_downward</i>
                            </span>
                            <td mat-cell *matCellDef="let row"> {{row.date_time_created}} </td>
                        </ng-container>
                        <ng-container matColumnDef="summ">
                            <th mat-header-cell *matHeaderCellDef style="width:70px;">
                            <span (click)="setSort('summ')" class="sortheader"> {{t('menu.table.sum')}}
                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='summ'" class="material-icons sortarrow">arrow_upward</i>
                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='summ'" class="material-icons sortarrow">arrow_downward</i>
                            </span>
                            <td mat-cell *matCellDef="let row"><p style="margin: 5px">{{row.summ}}</p></td>
                        </ng-container>                        
                        <ng-container matColumnDef="boxoffice">
                            <th mat-header-cell *matHeaderCellDef style="width:70px;">
                            <span (click)="setSort('boxoffice')" class="sortheader">{{t('menu.table.cash_room')}} 
                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='boxoffice'" class="material-icons sortarrow">arrow_upward</i>
                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='boxoffice'" class="material-icons sortarrow">arrow_downward</i>
                            </span>
                            <td mat-cell *matCellDef="let row"><p style="margin: 5px">{{row.boxoffice}}</p></td>
                        </ng-container>                       
                        <ng-container matColumnDef="payment_account">
                            <th mat-header-cell *matHeaderCellDef style="width:70px;">
                            <span (click)="setSort('payment_account')" class="sortheader">{{t('menu.table.bank_acc')}}  
                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='payment_account'" class="material-icons sortarrow">arrow_upward</i>
                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='payment_account'" class="material-icons sortarrow">arrow_downward</i>
                            </span>
                            <td mat-cell *matCellDef="let row"><p style="margin: 5px">{{row.payment_account}}</p></td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef>
                            <span (click)="setSort('status_name')" class="sortheader"> {{t('menu.table.status')}} 
                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='status_name'" class="material-icons sortarrow">arrow_upward</i>
                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='status_name'" class="material-icons sortarrow">arrow_downward</i>
                            </span>
                            <td mat-cell *matCellDef="let row"> 
                                <div [style.border-color]="row.status_color"  *ngIf="row.status_name!=null && row.status_name!=''" 
                                class="status">
                                        <p class="status-name">{{row.status_name}}</p>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="is_completed">
                            <th mat-header-cell *matHeaderCellDef>
                            <span (click)="setSort('is_completed')" class="sortheader"> {{t('menu.table.completed')}}
                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='is_completed'" class="material-icons sortarrow">arrow_upward</i>
                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='is_completed'" class="material-icons sortarrow">arrow_downward</i>
                            </span>
                            <td mat-cell *matCellDef="let row"> 
                                <mat-chip-list>
                                    <mat-chip 
                                    *ngIf="row.is_completed==false" 
                                    matTooltip="{{t('menu.tip.no_completed')}}"
                                    style="color:red">
                                    {{t('menu.dialogs.no')}}
                                    </mat-chip>
                                    <mat-chip 
                                    *ngIf="row.is_completed==true"
                                    matTooltip="{{t('menu.tip.yes_completed')}}"
                                    style="color:green"
                                    >
                                    {{t('menu.dialogs.yes')}}
                                    </mat-chip>
                                </mat-chip-list>
                            </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <!-- Part "Data not founded" --> <!--+++-->
                    <ng-container matColumnDef="data_not_found">
                        <td mat-footer-cell *matFooterCellDef colspan="13" class="text-center">
                            {{t('menu.msg.dt_not_fnd')}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="nocolumn">
                        <td mat-footer-cell *matFooterCellDef colspan="13" style="display: none;"></td>
                    </ng-container>
                    <tr mat-footer-row 
                    *matFooterRowDef="[dataSource.data.length==0?'data_not_found':'nocolumn']" 
                    [ngStyle]="(dataSource.data.length==0 && !gettingTableData)?{}:{'display': 'none'}"></tr>
                    <!-- End of Part "Data not founded" -->
            </table>
  
            <div class="flex">
                <div class="col-sm">
                    <p> {{t('menu.bottom.founded')}}: {{size}}, {{t('menu.bottom.page')}} {{pagenum}}  {{t('menu.bottom.of')}} {{listsize}}</p> <!--+++-->
                        </div>
                        <span  class="emptyspace"></span><!-- разделитель -->
                        <div class="col-sm-auto justify-content-end">
                            <ul class="pagination" style="padding-right: 0px">
                                <ng-container *ngFor="let page of receivedPagesList; index as i">
                                    <ng-container *ngIf="i>2 && listsize>1">
                                        <ng-container *ngIf="i==3 && pagenum>1">
                                                <li><a (click)="setPage(0)"><mat-icon class="pagearrow active">first_page</mat-icon></a>  </li>                               
                                        </ng-container>
                                        <ng-container *ngIf="i==3 && pagenum==1">
                                                <li><mat-icon class="pagearrow inactive">first_page</mat-icon></li>                               
                                        </ng-container>
                                            <mat-chip-list>
                                                <ng-container *ngIf="page==pagenum;else templateElse">
                                                    <li><mat-chip style="margin: 8px;" selected>
                                                        {{page}}               
                                                    </mat-chip></li>
                                                </ng-container>
                                                <ng-template #templateElse >
                                                    <li><mat-chip  style="margin: 8px;"  (click)="setPage(page-1)">
                                                        {{page}}               
                                                    </mat-chip></li>
                                                </ng-template>
                                            </mat-chip-list>
                                        <ng-container *ngIf="pagenum < listsize && page==maxpage">
                                            <li><a (click)="setPage(listsize-1)"><mat-icon class="pagearrow active">last_page</mat-icon></a></li>
                                        </ng-container>
                                        <ng-container *ngIf="pagenum == listsize && page==maxpage">
                                            <li><mat-icon class="pagearrow inactive">last_page</mat-icon></li>
                                        </ng-container>
                                    <!-- pagenum - Страница, которая сейчас выбрана в пагинаторе
                                        listsize - Последняя страница в пагинации (но не в пагинаторе. т.е. в пагинаторе может быть 1.2.3.4.5 а listsize =10)
                                        maxpage - Последняя страница в пагинации 
                                        page -    Страница пагинатора в текущем цикле -->
                                    </ng-container>
                                </ng-container>
                            </ul>  
                        </div>
                    </div> 
                </div> 
            </div>  
        </div>
    </mat-card-content>
</mat-card>
