<mat-card appearance="outlined" class="card" *transloco="let t">

    <mat-card-title class="flex">
        <div class="card-name">{{actionType=='create'?('modules.card.term_create' | transloco):('modules.card.term_edit' | transloco)}}</div>
        <button 
            *ngIf="formBaseInformation.get('storeTermTranslations').value.length>0"
            (click)="changeTranslationMode()"
            mat-raised-button 
            matTooltip="{{'docs.tip.transl_mode' | transloco}}"
            [color]="storeTranslationModeOn?'accent':'primary'"
            class="button small-button">
            <i class="material-icons">translate</i>
        </button>
        <button 
            mat-raised-button 
            *ngIf="+formBaseInformation.get('id').value==0"
            (click)="insertProductAttributeTerm()"
            color="primary"
            [disabled]="!formBaseInformation.valid" 
            matTooltip="{{t('docs.tip.create')}}"
            class="button small-button">
            <i class="material-icons">done</i>
        </button>
        <button 
            mat-raised-button 
            *ngIf="+formBaseInformation.get('id').value!=0"
            (click)="updateProductAttributeTerm()"
            color="primary"
            [disabled]="!formBaseInformation.valid" 
            matTooltip="{{t('docs.tip.save')}}"
            class="button small-button">
            <i class="material-icons">save</i>
        </button>
        <button 
            (click)="onNoClick()"
            matTooltip="{{t('docs.tip.close')}}"
            mat-raised-button 
            color="accent"
            class="button small-button">
            <i class="material-icons">close</i>
        </button>
    </mat-card-title>

    <mat-card-content>
        <form *ngIf="formBaseInformation" [formGroup]="formBaseInformation">   
            <mat-tab-group *ngIf = "storeTranslationModeOn" style="margin-top: -14px;">
                <mat-tab *ngFor="let translation of formBaseInformation.get('storeTermTranslations').controls; let i = index" [formGroup]="translation" [label]="translation.get('langCode').value">
                    <div class="container-fluid">        
                        <div class="row">
                            <div class="col-12">
                                <mat-card appearance="outlined" style="margin: 15px 0">
                                    <mat-card-content class="input-form">
                                        <mat-form-field style="width: 100%">
                                            <input  matInput
                                                    placeholder="{{'docs.field.name' | transloco}}"
                                                    #name
                                                    maxlength="120"
                                                    formControlName="name"/>
                                            <mat-hint align="end" *ngIf="name.value.length>100">{{name.value.length}} / 120</mat-hint>
                                        </mat-form-field>
                                        <mat-form-field style="width: 100%">
                                            <input  matInput
                                                    placeholder="{{'docs.field.slug' | transloco}}"
                                                    #slug
                                                    (keypress)="slugSymbolsOnly($event);"
                                                    maxlength="120"
                                                    formControlName="slug"/>                                                                      
                                            <button 
                                                    *ngIf="name.value!=''"
                                                    type="button"
                                                    mat-button
                                                    matSuffix 
                                                    mat-icon-button 
                                                    matTooltip="{{t('docs.tip.generate')}}"
                                                    style="font-size: 150%;color: gray;" 
                                                    (click)="slugifyTranslated(i)">
                                                    <mat-icon>offline_bolt</mat-icon>                                                            
                                            </button>         
                                            <mat-hint align="end" *ngIf="slug.value.length>100">{{slug.value.length}} / 120</mat-hint>
                                        </mat-form-field>
                                        <mat-form-field style="width: 100%">
                                            <input  matInput
                                                    placeholder="{{'docs.field.description' | transloco}}"
                                                    #description
                                                    maxlength="250"
                                                    formControlName="description"/>
                                            <mat-hint align="end" *ngIf="description.value.length>220">{{description.value.length}} / 250</mat-hint>
                                        </mat-form-field>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>


            <div *ngIf = "!storeTranslationModeOn" style="">   
                <mat-form-field style="width: 100%">

                    <mat-label>{{'docs.field.name' | transloco}} <span *ngIf="formBaseInformation.get('name').value==''||formBaseInformation.get('name').value==null" class="star">*</span></mat-label>
                    <input  matInput
                            maxlength="120"
                            #name
                            formControlName="name"/>  
                            <mat-hint  align="start" *ngIf="formBaseInformation.get('name').touched && formBaseInformation.get('name').invalid">
                                <i class="form-invalid">{{t('modules.error.field_miss')}}</i>
                            </mat-hint>
                            <mat-hint align="end" *ngIf="name.value.length>100">{{name.value.length}} / 120</mat-hint>
                </mat-form-field>

                <mat-form-field style="width: 100%">
                    <mat-label>{{'modules.field.slug' | transloco}} <span *ngIf="formBaseInformation.get('slug').value==''||formBaseInformation.get('slug').value==null" class="star">*</span></mat-label>
                    <input  matInput
                            maxlength="120"
                            (keypress)="slugSymbolsOnly($event);"
                            #slug
                            formControlName="slug"/>                                                                      
                            <button 
                                *ngIf="formBaseInformation.get('name').value!=''"
                                type="button"
                                mat-button
                                matSuffix 
                                mat-icon-button 
                                matTooltip="{{t('docs.tip.generate')}}"
                                style="font-size: 150%;color: gray;" 
                                (click)="slugify()">
                                    <mat-icon>offline_bolt</mat-icon>                                                            
                            </button>         
                            <mat-hint  align="start" *ngIf="formBaseInformation.get('slug').touched && formBaseInformation.get('slug').invalid">
                                <i class="form-invalid">{{t('modules.error.field_miss')}}</i>
                            </mat-hint>
                            <mat-hint align="end" *ngIf="slug.value.length>100">{{slug.value.length}} / 120</mat-hint>
                </mat-form-field>
                
                <mat-form-field style="width: 100%">
                    <mat-label>{{'docs.field.description' | transloco}} </mat-label>
                    <input  matInput
                            maxlength="1000"
                            formControlName="description"/>  
                            <mat-hint align="end" *ngIf="formBaseInformation.get('description').value.length>900">{{formBaseInformation.get('description').value.length}} / 1000</mat-hint>
                </mat-form-field>
            </div>

        </form>



    </mat-card-content>

    <!-- <code><pre>{{formBaseInformation.value | json}}</pre></code> -->

</mat-card>