:host{
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

table {width: 100%;}

.flex{ display: flex; }

.card{
    width:100%;
    max-width: 1000px;
    margin-top: 10px;
}

.emptyspace{ flex-grow: 1; }

.num-of-rows{flex-grow: 0;}

.company-select{flex-grow: 1;}
.depatrment-select{flex-grow: 1;}

.pagination {
    display: flex;
    padding-left: 10px;
    list-style: none;
    border-radius: .25rem;
}

.active{
    color:rgb(27, 27, 27);
}

.inactive{
    color:gray;
}

.pagearrow{
    font-size: 40px;
    margin: 0px 15px 0px 0px;
    cursor: default;
}

.showchilds{
    font-size: 18px;
    cursor: default;
}

.darkcell{
    background: rgb(206, 206, 206);
}

.sortarrow{
    font-size: 14px;
    cursor: default;
}

.sortheader{
    cursor: default;
}