<div class="container-fluid" *ngIf="allowToDashboard">
    <div class="row" style="padding: 10px 0px 0px">
        <div class="col-12" style="    padding-left: 4px;  padding-right: 7px;">
            <app-indicators-left 
            *ngIf="allowToVolumes"
            [companyId] = "companyId"
            [myCompanyId] = "myCompanyId"
            [permissionsSet] = "permissionsSet"            
            >
            </app-indicators-left>
        </div>
        <div class="col-xl-6 col-md-12">
            <!-- <app-income-outcome 
            *ngIf="allowToIncomeOutcome"
            [companyId] = "companyId"
            [myCompanyId] = "myCompanyId"
            [permissionsSet] = "permissionsSet"            
            >
            </app-income-outcome> -->
        </div>
        <!-- <div class="col-xl-6 col-md-12">
        </div> -->

    </div>
    <div class="row" style="padding:  0 10px 5px">
        <div class="col-xl-6 col-md-12">
            <app-sales-on-period 
            *ngIf="allowToVolumes"
            [companyId] = "companyId"
            [myCompanyId] = "myCompanyId"
            [receivedDepartmentsList] = "receivedDepartmentsList"
            [receivedMyDepartmentsList] = "receivedMyDepartmentsList"
            [permissionsSet] = "permissionsSet"            
            >
            </app-sales-on-period>
        </div>
        <div class="col-xl-6 col-md-12">
            <app-income-outcome 
            *ngIf="allowToIncomeOutcome"
            [companyId] = "companyId"
            [myCompanyId] = "myCompanyId"
            [permissionsSet] = "permissionsSet"            
            >
            </app-income-outcome>
        </div>
        <!-- <div class="col-xl-6 col-md-12">
        </div> -->

    </div>
    <div class="row" style="padding: 5px 10px">
        <div class="col-xl-6 col-md-12">
            <app-remains-vidget 
            *ngIf="allowToRemains"
            [companyId] = "companyId"
            [myCompanyId] = "myCompanyId"
            [receivedDepartmentsList] = "receivedDepartmentsList"
            [receivedMyDepartmentsList] = "receivedMyDepartmentsList"
            [permissionsSet] = "permissionsSet"                         
            >
            </app-remains-vidget>
        </div>
        <div class="col-xl-6 col-md-12">
            <app-opex 
            *ngIf="allowToOpex"
            [companyId] = "companyId"
            [myCompanyId] = "myCompanyId"
            [permissionsSet] = "permissionsSet"                         
            >
            </app-opex>
        </div>
    </div>
</div>
<button 
    mat-raised-button 
    style="position: absolute; bottom: 10px; left: 10px; width: 36px; height: 36px; min-width: 38px;padding: 0px;"
    color="primary"
    matTooltip='Настройки стартовой страницы'
    (click)="openDialogSettings()"
    type="button"
    class="button">
    <i class="material-icons">settings</i>
</button>





















<!-- <mat-card class="card">

    <mat-card-content class="input-form">
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>
                        09.10.2020
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p><b>Новая структура приложения:</b></p>
                <p>Для ускорения загрузки и работы клиентская часть приложения была переработана.</p>
                <p>Сейчас приложение загружается не всё целиком, как раньше, а только те его части, которые нужны для работы в данный момент.</p>
            <p><b>Добавлена возможность устанавливать статусы документов и типы цен по-умолчанию.</b></p>
                <p>Теперь документы создаются с определенными заранее статусами и типами цен. </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                        27.09.2020
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p><b>Новые документы:</b></p>
                <p>- "Отгрузка" </p>
                <p>- Справочник "Статусы документов" </p>
            <p><b>Полностью переделаны:</b></p>
                <p>- "Предприятия" </p>
                <p>- "Контрагенты" </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                        21.03.2020
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p><b>Новые документы:</b></p>
                <p>- "Цены" </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                        10.03.2020
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p><b>Обновлённое меню!</b></p>
            <p><b>Новые документы:</b></p>
                <p>- "Приёмка" </p>
                <p>- "Оприходование" </p>
                <p>- "Списание" </p>
                <p>- "Товарные остатки" </p>
            <p><b>Товары и услуги:</b></p>
                <p>- Добавлена возможность отмечать незакупаемые товары</p>
            <p><b>Пользователи:</b></p>
                <p>- Введены часовые пояса. Сейчас каждый пользователь может работать по времени своей местности.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                        19.01.2020
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p><b>Новые документы:</b></p>
                <p>- Справочник "Контрагенты" </p>
                <p>- Справочник "Единицы измерения" </p>
                <p>- Документ "Файлы" </p>
                <p>- Документ "Группы товаров" </p>
                <p>- Документ "Товары и услуги" </p>
            <p><b>Итоги смены:</b></p>
                <p>- Исправлены баги, внесены мелкие улучшения</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                        26.09.2019
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p><b>Новые документы:</b></p>
                <p>- Добавлен Отчёт "Итоги смен" </p>
            <p><b>Итоги смены:</b></p>
                <p>- Исправлен баг, в некоторых случаях вызывавший ошибку создания документа</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                        14.09.2019
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p><b>Итоги смены:</b></p>
            <p>- Автоподстановка значений полей "Предприятие", 
                "Отделение" (если сотрудник приписан к одному отделению), 
                "Сотрудник", "Дата"</p>
                <p>- По-умолчанию записи упрядочены по столбцу "Дата смены" в убывающем порядке (последние смены - вверху списка)</p>
                <p>- Исправлен баг, когда после создания документа при имеющихся правах на сохранение не появлялась кнопка "Сохранить"</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                        10.09.2019
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Запуск Dokio!</p>
        </mat-expansion-panel>

    </mat-card-content>

</mat-card> -->