<mat-card class="card">
    <mat-card-title class="flex" style="height: 30px;">
        <div *ngIf="!displayingDeletedDocks" class="card-name">Статусы документов</div>
        <div *ngIf="displayingDeletedDocks" class="card-name">Удалённые статусы документов</div>
        <div [style.display]="(visBtnAdd  && !displayingDeletedDocks)?'block':'none'" class="col-sm-auto justify-content-center" style="margin-bottom:10px">
            <a [routerLink]="['../../statusesdock', '']">
                <button mat-raised-button  color="primary"><i class="material-icons">add_circle_outline</i> Создать</button>
            </a>   
        </div>

        <div [style.display]="(!displayingDeletedDocks && visBtnDelete)?'block':'none'" class="col-sm-auto justify-content-center" style="margin-bottom:10px">
            <button mat-raised-button (click)="clickBtnDelete()" color="warn"><i class="material-icons">delete_forever</i> Удалить</button>
        </div>

        <div *ngIf="displayingDeletedDocks && visBtnDelete" class="col-sm-auto justify-content-center" style="margin:0px 10px 10px 0px">
            <button mat-raised-button (click)="clickBtnRestore()" color="accent"><i class="material-icons">restore_from_trash</i> Восстановить</button>
        </div>

    </mat-card-title>
    <mat-card-content>
        <div class="card  w-100">
            <div class="card-body">
                <form  class="form-horizontal" id="formControl" method="post" action="" style="margin-bottom: 0px;">
                    <div id="hidden" style="display: none;" class="row">
                        <!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> -->
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="offset">offset</label>
                            <input [(ngModel)]="sendingQueryForm.offset" value="" type="text" class="form-control" id="offset" name="offSet">
                        </div>
  
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="SortColumn">SortColumn</label>
                            <input [(ngModel)]="sendingQueryForm.sortColumn" type="text" class="form-control" id="SortColumn" name="SortColumn" value="">
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="SortAsc">SortAsc</label>
                            <input [(ngModel)]="sendingQueryForm.sortAsc" type="text" class="form-control" id="SortAsc" name="SortAsc" value="">
                        </div>
                    </div>
                    <div class="flex">
                        <mat-form-field style="width:80px;" class="num-of-rows">
                            <mat-label>Строк в таблице</mat-label>
                            <mat-select [(value)]="sendingQueryForm.result" (selectionChange)="setNumOfPages()" class="form-control" id="selectRowsPerPage" name="result">                           
                                <mat-option  *ngFor="let num of numRows" [value]="num.value">
                                        {{num.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="company-select" style="margin-left: 10px">
                            <mat-label>Предприятие</mat-label>
                            <mat-select  [(value)]="sendingQueryForm.companyId" 
                            (selectionChange)="onCompanySelection()">                          
                                <mat-option  *ngFor="let rt of receivedCompaniesList" [value]="rt.id">
                                        {{rt.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="company-select" style="margin-left: 10px">
                            <mat-label>Документ</mat-label>
                            <mat-select  [(value)]="sendingQueryForm.documentId" (selectionChange)="onDocumentSelection();">                          
                                <!--mat-option value="0" selected>---</mat-option-->
                                <mat-option  *ngFor="let rdl of receivedDocumentsList" [value]="rdl.id">
                                        {{rdl.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <span  class="emptyspace"></span>
                        <span  class="card-name"></span>
                            <button mat-button
                                *ngIf="displaySelectOptions"
                                class="options-button"
                                [matMenuTriggerFor]="oper"
                                type="button"
                                matTooltip='Выбрать опции для фильтра'
                                matSuffix mat-icon-button>
                                <mat-icon>list_alt</mat-icon>
                            </button>
                            <mat-menu #oper="matMenu" xPosition="before">
                                <div style="width: 300px;">
                                    <ul>
                                        <li *ngFor="let row of optionsIds">
                                            <mat-checkbox
                                            (click)="$event.stopPropagation()"
                                            (change)="$event ? clickFilterOptionsCheckbox(row) : null"
                                            [checked]="selectionFilterOptions.isSelected(row)"
                                            >{{row.name}}</mat-checkbox>
                                        </li>
                                    </ul>
                                </div>
                                <div class="div-100"> 
                                    <div style="width:100%; height: 38px; padding-bottom: 15px;">
                                        <button matTooltip="Применить фильтры" mat-mini-fab color="primary" (click)="clickApplyFilters()">
                                            <mat-icon>done</mat-icon>
                                        </button>
                                    </div>
                                </div> 
                            </mat-menu>
                        <span  class="emptyspace" style="display: none"></span>
                        <div class="flex">
                            <mat-form-field class="emptyspace">
                                    <input matInput 
                                    placeholder="Поиск..." 
                                    [(ngModel)]="sendingQueryForm.searchString" 
                                    type="text"  
                                    id="search_input" 
                                    name="search_input" 
                                    style="width:150px"/>
                                    <button mat-button matSuffix mat-icon-button aria-label="search"  type="submit" (click)="getData()">
                                        <mat-icon>search</mat-icon>
                                    </button>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <div id="result_form">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef style="width: 40px;">
                                    <mat-checkbox   (change)="masterToggle()"
                                                    [checked]="selection.hasValue()"
                                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-checkbox">
                                    <mat-checkbox   (click)="$event.stopPropagation()"
                                                    *ngIf="showCheckbox(row)"
                                                    (change)="$event ? clickTableCheckbox(row) : null"
                                                    [checked]="selection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                        </ng-container>
                        <ng-container matColumnDef="opendoc">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let row" class="table-launch-icon">
                                <a class="inactive" [routerLink]="['../../statusesdock', row.id ]">
                                    <mat-icon style="padding: 5px 5px 0 0">launch</mat-icon>
                                </a>
                            </td>   
                        </ng-container>
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> id </th>
                            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="creator">
                            <th mat-header-cell *matHeaderCellDef>
                            <span (click)="setSort('creator')" class="sortheader"> Создатель 
                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='creator'" class="material-icons sortarrow">arrow_upward</i>
                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='creator'" class="material-icons sortarrow">arrow_downward</i>
                            </span>
                            <td mat-cell *matCellDef="let row"> {{row.creator}} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>
                            <span (click)="setSort('name')" class="sortheader"> Низвание 
                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='name'" class="material-icons sortarrow">arrow_upward</i>
                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='name'" class="material-icons sortarrow">arrow_downward</i>
                            </span>
                            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="output_order">
                            <th mat-header-cell *matHeaderCellDef>
                            <span (click)="setSort('output_order')" class="sortheader"> Порядок 
                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='output_order'" class="material-icons sortarrow">arrow_upward</i>
                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='output_order'" class="material-icons sortarrow">arrow_downward</i>
                            </span>
                            <td mat-cell *matCellDef="let row"> {{row.output_order}} </td>
                        </ng-container>
                        <ng-container matColumnDef="is_default">
                            <th mat-header-cell *matHeaderCellDef>
                            <span class="sortheader"> По-умолчанию </span>
                            <td mat-cell *matCellDef="let row">
                                <mat-radio-group [value]=row.is_default
                                        style="display: flex; flex-direction: column; padding: 4px 0;">
                                    <mat-radio-button [value]=true (click)="onClickRadioBtn(row.id,row.name)" style="padding: 2px 0;"></mat-radio-button>
                                </mat-radio-group>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef style="width:300px;">
                            <span (click)="setSort('description')" class="sortheader"> Доп. инфо. 
                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='description'" class="material-icons sortarrow">arrow_upward</i>
                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='description'" class="material-icons sortarrow">arrow_downward</i>
                            </span>
                            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                        </ng-container>
                        <ng-container matColumnDef="company">
                            <th mat-header-cell *matHeaderCellDef>
                            <span (click)="setSort('company')" class="sortheader"> Предприятие 
                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='company'" class="material-icons sortarrow">arrow_upward</i>
                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='company'" class="material-icons sortarrow">arrow_downward</i>
                            </span>
                            <td mat-cell *matCellDef="let row"> {{row.company}} </td>
                        </ng-container>
                        <ng-container matColumnDef="date_time_created">
                            <th mat-header-cell *matHeaderCellDef>
                            <span (click)="setSort('date_time_created_sort')" class="sortheader"> Дата создания 
                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='date_time_created_sort'" class="material-icons sortarrow">arrow_upward</i>
                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='date_time_created_sort'" class="material-icons sortarrow">arrow_downward</i>
                            </span>
                            <td mat-cell *matCellDef="let row"> {{row.date_time_created}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
              
                    <div class="flex">
                        <div class="col-sm">
                            <p> Найдено: {{size}}, страница {{pagenum}} из {{listsize}}</p>
                        </div>
                        <span  class="emptyspace"></span><!-- разделитель -->
                        <div class="col-sm-auto justify-content-end">
                            <ul class="pagination" style="padding-right: 0px">
                                <ng-container *ngFor="let page of receivedPagesList; index as i">
                                    <ng-container *ngIf="i>2 && listsize>1">
                                        <ng-container *ngIf="i==3 && pagenum>1">
                                                <li><a (click)="setPage(0)"><mat-icon class="pagearrow active">first_page</mat-icon></a>  </li>                               
                                        </ng-container>
                                        <ng-container *ngIf="i==3 && pagenum==1">
                                                <li><mat-icon class="pagearrow inactive">first_page</mat-icon></li>                               
                                        </ng-container>
                                            <mat-chip-list>
                                                <ng-container *ngIf="page==pagenum;else templateElse">
                                                    <li><mat-chip style="margin: 8px;" selected>
                                                        {{page}}               
                                                    </mat-chip></li>
                                                </ng-container>
                                                <ng-template #templateElse >
                                                    <li><mat-chip  style="margin: 8px;"  (click)="setPage(page-1)">
                                                        {{page}}               
                                                    </mat-chip></li>
                                                </ng-template>
                                            </mat-chip-list>
                                        <ng-container *ngIf="pagenum < listsize && page==maxpage">
                                            <li><a (click)="setPage(listsize-1)"><mat-icon class="pagearrow active">last_page</mat-icon></a></li>
                                        </ng-container>
                                        <ng-container *ngIf="pagenum == listsize && page==maxpage">
                                            <li><mat-icon class="pagearrow inactive">last_page</mat-icon></li>
                                        </ng-container>
                                    <!-- pagenum - Страница, которая сейчас выбрана в пагинаторе
                                        listsize - Последняя страница в пагинации (но не в пагинаторе. т.е. в пагинаторе может быть 1.2.3.4.5 а listsize =10)
                                        maxpage - Последняя страница в пагинации 
                                        page -    Страница пагинатора в текущем цикле -->
                                    </ng-container>
                                </ng-container>
                            </ul>  
                        </div>
                    </div> 
                </div> 
            </div>  
        </div>
    </mat-card-content>
</mat-card>
                                                                        