<mat-card class="card" *transloco="let t">

    <mat-card-title class="flex">
        <div class="card-name">{{('modules.card.cat_select' | transloco)}}</div>
        <button 
            mat-raised-button 
            (click)="applySelect()"
            color="primary"
            matTooltip="{{t('docs.tip.select')}}"
            class="button">
            <i class="material-icons">done</i>
        </button>
        <button 
            (click)="onNoClick()"
            matTooltip="{{t('docs.tip.close')}}"
            mat-raised-button 
            color="accent"
            class="button">
            <i class="material-icons">close</i>
        </button>
    </mat-card-title>

    <mat-drawer-container class="doc-container" autosize>
        <p *ngIf="!allowToView && showNotEnoughPermissionsMessage">{{'modules.err.ne_rght_prod' | transloco}}<br>-{{'modules.err._rght_all_com' | transloco}},<br>-{{'modules.err._rght_my_com' | transloco}}</p>
        <mat-drawer #drawer class="categories-sidenav" mode="side" opened *ngIf="allowToView" >
            
            <div style="width: 300px;">
                <ul *ngIf="!storesLoading" style="margin: 0px; padding: 12px;list-style-type: none;">
                    <li *ngFor="let row of receivedObjectsList">
                        <span style="position: relative; top: -6px;left: 3px;">{{row.name}}</span>
                        <mat-icon style="cursor: pointer;margin-left:10px"  matTooltip="{{t('docs.tip.select')}}" (click) = "addObjectToList(row)">add</mat-icon>
                    </li>
                </ul>
                <span *ngIf="!storesLoading && receivedObjectsList && receivedObjectsList.length==0" style="position: relative;top:-8px;left:10px;">{{t('docs.msg.no_ctg_stores')}}</span>
                <mat-spinner 
                    strokeWidth="3" 
                    class="spinner"
                    [diameter]="50"
                    *ngIf="storesLoading"
                ></mat-spinner>
            </div>
            
            
            
            
                
        </mat-drawer>
        <div class="categories-sidenav-content">
            
            
        </div>
        <mat-card class="card" *ngIf="selectedObjects.length>0">
            <mat-card-title class="flex">
                <div class="card-name" style="font-size: 20px;">{{('modules.card.cat_selectd' | transloco)}}</div>
            </mat-card-title>
            <mat-card-content>
                <mat-form-field class="chip-list" appearance="fill">
                    <mat-chip-list #chipList aria-label="Selected objects">
                        <mat-chip
                        *ngFor="let object of selectedObjects"
                        [selectable]="selectable"
                        [removable]="removable"
                        (removed)="remove(object)">
                        {{object.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </mat-drawer-container>


</mat-card>