<mat-card appearance="outlined" class="card" *transloco="let t">
    <mat-card-header>
        <mat-card-title class="flex">
            <div class="card-name">{{actionType=='create'?('modules.card.dep_part_create' | transloco):('modules.card.dep_part' | transloco)}}</div>
            <button 
                mat-raised-button 
                *ngIf="+formBaseInformation.get('id').value==0"
                (click)="insertDepartmentPart()"
                color="primary"
                [disabled]="!formBaseInformation.valid" 
                matTooltip="{{t('docs.tip.create')}}"
                class="button small-button">
                <i class="material-icons">done</i>
            </button>
            <button 
                mat-raised-button 
                *ngIf="+formBaseInformation.get('id').value>0"
                (click)="updateDepartmentPart()"
                color="primary"
                [disabled]="!formBaseInformation.valid" 
                matTooltip="{{t('docs.tip.save')}}"
                class="button small-button">
                <i class="material-icons">save</i>
            </button>
            <button 
                (click)="onNoClick()"
                matTooltip="{{t('docs.tip.close')}}"
                mat-raised-button 
                color="accent"
                class="button small-button">
                <i class="material-icons">close</i>
            </button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form *ngIf="formBaseInformation" [formGroup]="formBaseInformation">   
            
            
            <mat-tab-group>
                <mat-tab label="{{t('docs.tab.info')}}">
                    <div class="container-fluid" style="margin-top: 20px;">
                        <div class="row">
                            <div class="col-lg-6 col-xl-6 col-md-6 col-12">  
                                <mat-card appearance="outlined" class="internal-card">
                                    <mat-card-header>
                                        <mat-card-title class="card-title">{{t('docs.card.base_info')}}</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content class="input-form">
            
                                        <mat-form-field style="width: 100%">
                                            <mat-label>{{'docs.field.name' | transloco}} <span *ngIf="formBaseInformation.get('name').value==''||formBaseInformation.get('name').value==null" class="star">*</span></mat-label>
                                            <input  matInput
                                                    maxlength="120"
                                                    #name
                                                    formControlName="name"/>  
                                                    <mat-hint  align="start" *ngIf="formBaseInformation.get('name').touched && formBaseInformation.get('name').invalid">
                                                        <i class="form-invalid">{{t('modules.error.field_miss')}}</i>
                                                    </mat-hint>
                                                    <mat-hint align="end" *ngIf="name.value.length>100">{{name.value.length}} / 120</mat-hint>
                                        </mat-form-field>
                                        
                                        <mat-form-field style="width: 100%">
                                            <mat-label>{{'docs.field.description' | transloco}} </mat-label>
                                            <input  matInput
                                                    maxlength="1000"
                                                    formControlName="description"/>  
                                                    <mat-hint align="end" *ngIf="formBaseInformation.get('description').value.length>900">{{formBaseInformation.get('description').value.length}} / 1000</mat-hint>
                                        </mat-form-field>
                                        
                                        <mat-form-field style="width: 100%; margin-top: -5px;">
                                            <mat-slide-toggle 
                                            formControlName="is_active"
                                            >{{t('docs.field.is_active')}}</mat-slide-toggle>
                                            <input matInput hidden/>
                                        </mat-form-field>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-6 col-12">
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
                                <mat-card appearance="outlined" class="card-block">
                                    <mat-card-header>                          
                                        <mat-card-title class="card-title">
                                            <div class="flex card">
                                                    {{t('docs.card.resources')}}
                                                <div style="position: absolute; right: 20px;">
                                                    <button matTooltip="{{t('docs.tip.p_edit')}}" 
                                                                mat-mini-fab 
                                                                color="primary" 
                                                                *ngIf="!showSearchFormFields && editability"
                                                                (click)="
                                                                showSearchFormFields=!showSearchFormFields;
                                                                refreshRresourceTableColumns();">
                                                            <mat-icon>edit</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content class="input-form">

                                        <form #form="ngForm" [formGroup]="formResourceSearch" *ngIf="showSearchFormFields">

                                            <div class="row">

                                            

                                                <div class="col-xl-8 col-lg-7 col-md-12">
                                                    <mat-form-field  class="mat-form-field-100">
                                                        <mat-label>
                                                            {{t('docs.field.resource')}}
                                                        </mat-label>
                                                        <mat-select
                                                        panelClass="department-list"
                                                        formControlName="resource_id">
                                                            <mat-option value="0">---</mat-option>
                                                            <mat-option *ngFor="let resource of resourcesList;"
                                                                        [value]="resource.resource_id"
                                                                        (click)="
                                                                        formResourceSearch.get('name').setValue(resource.name);
                                                                        formResourceSearch.get('resource_id').setValue(resource.resource_id);"

                                                                        [matTooltip]="resource.description"
                                                                        [matTooltipPosition]="'right'"
                                                            >
                                                                {{resource.name}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>

                                                </div>
                                                <div class="col-xl-3 col-lg-3 col-md-12">

                                                    <mat-form-field  class="mat-form-field-100">
                                                        <mat-label>{{t('modules.field.count')}}</mat-label>

                                                        <input matInput 
                                                            [readonly]="!editability"
                                                            placeholder=""
                                                            type="number" min="0"
                                                            formControlName="resource_qtt"
                                                        />
                                                        
                                                        <mat-hint align="start" >
                                                            <i *ngIf="  formResourceSearch.get('resource_qtt').value !='' && 
                                                                        !isInteger(parseFloat(formResourceSearch.get('resource_qtt').value))"  class="table-form-invalid">
                                                                        {{t('modules.error.mst_be_integr')}}
                                                            </i>
                                                            <i *ngIf="formResourceSearch.get('resource_qtt').invalid && formResourceSearch.get('resource_qtt').errors.pattern" class="table-form-invalid">{{t('modules.error.price_format',{int:5,fract:0})}}</i>
                                                            <control-messages  class="table-form-invalid" [control]="formResourceSearch.get('resource_qtt')"></control-messages>
                                                        </mat-hint>
                                                        
                                                    </mat-form-field>                                                    
                                                </div>
                                                <div class="col-xl-1 col-lg-2 col-md-12" [style.display]="((data.allowToCreate && +data.partId==0)||(data.allowToUpdate && data.partId>0)) ?'block':'none'">
                                                    <div class="center hand" style="width:100%; height: 38px">
                                                        <button matTooltip="{{t('docs.tip.add_row')}}" 
                                                                mat-mini-fab color="primary" 
                                                                [disabled]="+formResourceSearch.get('resource_id').value == 0" 
                                                                (click)="addResourceRow()">
                                                            <mat-icon>add</mat-icon>
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>

                                        </form>


                                        <div class="row" *ngIf="getControl('deppartResourcesTable').value.length>0 || gettingTableData" style="margin-right:0;margin-left:0;">
                                            <mat-spinner 
                                            strokeWidth="3" 
                                            class="spinner"
                                            [diameter]="44"
                                            *ngIf="gettingTableData"
                                            ></mat-spinner>
                                            <table mat-table #resources_table
                                            [dataSource]="getControl('deppartResourcesTable').value" 
                                            [formGroup]="formBaseInformation" 
                                            [trackBy]="trackByIndex" 
                                            style="margin-top: 20px;" 
                                            class="mat-elevation-z8 resources-table">
                                                <!-- Name of resource Column -->
                                                <ng-container matColumnDef="name" [formArrayName]="'deppartResourcesTable'">
                                                    <th mat-header-cell *matHeaderCellDef>{{t('modules.col.name')}}</th>
                                                    <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"> 
                                                        <span>{{row.name}}</span>
                                                    </td>
                                                </ng-container>
                                                <!-- Quantity Column -->
                                                <ng-container matColumnDef="resource_qtt" [formArrayName]="'deppartResourcesTable'">
                                                    <th mat-header-cell *matHeaderCellDef style="width: 60px;">
                                                        <span 
                                                            style="cursor: default;"
                                                            matTooltip="{{t('modules.tip.cnt_to_order')}}">
                                                            {{t('modules.col.qnt')}}
                                                        </span>
                                                    </th>
                                                    <td mat-cell *matCellDef="let row; let i = index" 
                                                    style="width: 80px;"
                                                    [formGroupName]="i">
                                                        <input matInput 
                                                            class="quantity-field"
                                                            [ngClass]="{'table-field-editable':editability&&showSearchFormFields}"
                                                            [readonly]="!showSearchFormFields || !editability"
                                                            style="width: 50px !important;"
                                                            type="number" min="0"
                                                            placeholder=""
                                                            formControlName="resource_qtt"
                                                        />
                                                        <!-- <mat-hint align="start" >*{{i}}*{{getControl('deppartResourcesTable').controls[i].get('resource_qtt').value}}*</mat-hint> -->
                                                        <control-messages  class="table-form-invalid" [control]="getControl('deppartResourcesTable').controls[i].get('resource_qtt')"></control-messages>
                                                        <mat-hint align="start" >
                                                            <i *ngIf="  getControl('deppartResourcesTable').controls[i].get('resource_qtt').value !='' && 
                                                                        !isInteger(parseFloat(getControl('deppartResourcesTable').controls[i].get('resource_qtt').value))"  class="table-form-invalid">
                                                                        {{t('modules.error.mst_be_integr')}}
                                                            </i>
                                                            <i *ngIf="getControl('deppartResourcesTable').controls[i].get('resource_qtt').invalid && getControl('deppartResourcesTable').controls[i].get('resource_qtt').errors.pattern" class="table-form-invalid">{{t('modules.error.price_format',{int:5,fract:0})}}</i>
                                                        </mat-hint>
                                                </ng-container>

                                                <!-- Delete Column -->
                                                <ng-container matColumnDef="delete" [formArrayName]="'deppartResourcesTable'">
                                                    <th mat-header-cell *matHeaderCellDef style="width: 30px;"><mat-icon style="cursor: default" (click)="clearResourcesTable()" matTooltip="{{t('modules.tip.del_frm_tabl_')}}">close</mat-icon></th>
                                                    <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                                                        <mat-icon style="cursor: default" (click)="deleteResourceRow(row,i)">delete_forever</mat-icon>
                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="displayedResourcesColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedResourcesColumns;"></tr>
                                                

                                            </table> 
                                        </div>


                                    </mat-card-content>
                                </mat-card>  
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
                                <mat-card appearance="outlined" class="internal-card" style="margin-top: 20px;">
                                    <mat-card-header>
                                        <mat-card-title>
                                            <div class="flex card">
                                                <div style="width:100%;">
                                                    {{t('docs.card.deppart_services')}}
                                                </div>
                                            </div>
                                        </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content class="input-form" style="padding: 15px;">

                                        <div class="row" *ngIf="getControl('deppartProducts').value.length>0 || gettingTableData" style="margin-right:0;margin-left:0;">
                                            <mat-spinner 
                                            strokeWidth="3" 
                                            class="spinner"
                                            [diameter]="44"
                                            *ngIf="gettingTableData"
                                            ></mat-spinner>
                                            <table mat-table #_table  
                                            [dataSource]="getControl('deppartProducts').value" 
                                            [formGroup]="formBaseInformation" 
                                            [trackBy]="trackByIndex"
                                            style="margin: 20px 0 30px;"
                                            class="mat-elevation-z8 jobtitles-table product-table">
            
                                                <!-- Name -->
                                                <ng-container matColumnDef="name" [formArrayName]="'deppartProducts'">
                                                    <th mat-header-cell *matHeaderCellDef style="width: 100%;">{{t('modules.col.service_name')}}</th>
                                                    <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"> 
                                                        <span>{{row.name}}</span>
                                                    </td>
                                                </ng-container>
                                                
                                                <!-- Delete Column -->
                                                <ng-container matColumnDef="delete" [formArrayName]="'deppartProducts'">
                                                    <th mat-header-cell *matHeaderCellDef style="width: 30px;"><mat-icon style="cursor: default" (click)="clearTable()" matTooltip="{{t('docs.tip.delete_all_rows')}}">close</mat-icon></th>
                                                    <td mat-cell style="width: 30px;" *matCellDef="let row; let i = index" [formGroupName]="i">
                                                        <mat-icon style="cursor: default" (click)="deleteTableRow(row,i)">delete_forever</mat-icon>
                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>
                                        </div>
                                        <div class="row">
                                            <div class="col-12" [style.display]="editability?'block':'none'">
                                                <div style="text-align:center; width:100%; height: 38px;">
                                                    <button matTooltip="{{t('docs.tip.add_row')}}" 
                                                            mat-mini-fab color="primary" 
                                                            (click)="openDialogProductCategoriesSelect('products','employee_services')" >
                                                        <mat-icon>add</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>


        </form>
    </mat-card-content>
    <!-- <code><pre>{{formBaseInformation.value | json}}</pre></code> -->
</mat-card>