:host{
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

table {width: 100%;}

.flex{ display: flex; }
.invisible{display:none;}
.card{
    width:100%;
}
.internal-card{
    padding: 10px 0 10px;
    margin: 10px 0 10px 0;
}
.subtitle{
    margin-top: -10px;
}
.card-name{ flex-grow: 1; }

.button{
    margin-left: 10px;
}

.input-form{
    display: flex;
    flex-direction: column;
}

.form-invalid{
    color: red;
}