<mat-card appearance="outlined" class="card" *transloco="let t">
    <mat-card-header>
        <mat-card-title class="flex">
            <div class="card-name">{{data.docName}}</div>
            <button 
                mat-raised-button 
                [disabled]="(!formBaseInformation.valid)"
                (click)="saveRemains()"
                matTooltip="{{'docs.tip.save' | transloco}}"
                color="primary"
                class="button small-button">
                <i class="material-icons">save</i> 
            </button>
            <button 
                (click)="onNoClick()"
                mat-raised-button 
                color="accent"            
                matTooltip="{{'modules.tip.close_window' | transloco}}"
                class="button small-button">
                <i class="material-icons">close</i>
            </button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content > 
    
        <form [formGroup]="formBaseInformation">   
            <mat-form-field  [style.display]="'block'">
                <input matInput 
                        placeholder="{{'modules.field.min_balance' | transloco}}"
                        (keypress)="numberOnlyPlusDotAndComma($event)"
                        formControlName="min_quantity"/>
                <mat-hint align="start" *ngIf="formBaseInformation.get('min_quantity').touched">
                    <i *ngIf="formBaseInformation.get('min_quantity').invalid && formBaseInformation.get('min_quantity').errors.pattern" class="form-invalid">{{t('docs.error.price_format',{int:7,fract:2})}}</i>
                    <i *ngIf="formBaseInformation.get('min_quantity').value==''" class="form-invalid">{{t('docs.error.field_miss')}}</i>
                </mat-hint>
            </mat-form-field>
        </form>

    </mat-card-content> 
</mat-card>