:host{
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

table {width: 100%;}

.flex{ display: flex; }

.card{
    width:100%;
}

.company-select{
    flex-grow: 1; 
    max-width: 400px;
    margin-left: 10px;
}

.card-name{ flex-grow: 1; }

.depatrment-select{flex-grow: 1;}

/******* опции *******/
.emptyspace{ flex-grow: 1;}

li {list-style: none;}

.div-100{
    width:100%;
    text-align: center;
}

.card-name{ flex-grow: 1; }

.options-button{
 margin: 5px 15px 0
}

/**********************/
.pagination {
    display: flex;
    padding-left: 10px;
    list-style: none;
    border-radius: .25rem;
}

.active{
    color:rgb(27, 27, 27);
}

.inactive{
    color:gray;
}

.pagearrow{
    font-size: 40px;
    margin: 0px 15px 0px 0px;
    cursor: default;
}

.sortarrow{
    font-size: 14px;
    cursor: default;
}

.sortheader{
    cursor: default;
    margin: 0 2px 0 2px;
}

.doc-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width:100%;
    border: 0px solid black;
  }
  
.doc_container_select_mode {
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
  border: 0px solid black;
}
   
.status-name{
    margin: 5px;
    color: black;
}
/*Данные не найдены*/
.spinner{
    position: absolute;
    top: 7%;
    left: 50%;
    margin-left: -25px;
    margin-top: 100px;
    z-index: 100;
}
/*********доп. строки в таблице***********/
.padded{
    padding: 5px;
}
.bg-account{
    background-color: aliceblue;
}
.bg-kassa{
    background-color:azure;;
}
.bg-all{
    background-color:honeydew;
}
.balance-bar{
    font-size: 14px !important;
    color:black !important;
    font-weight: bold;
}
.balance-bar-bottom{
    text-align: left;
}
tr.mat-header-row, tr.mat-footer-row {
    height: 30px    ;
}
.top-bar{
    text-align: center;
}