<mat-card class="card">
  
    <mat-card-title class="flex" style="height: 30px;">
        <div class="emptyspace">Пользователи</div>
        <div [style.display]="visBtnAdd==true?'block':'none'" class="col-sm-auto justify-content-center" style="margin-bottom:10px">
            <a [routerLink]="['../../usersdoc', '']">
                <button mat-raised-button  color="primary"><i class="material-icons">add_circle_outline</i> Создать</button>
            </a>   
        </div>
        <div [style.display]="visBtnDelete==true?'block':'none'" class="col-sm-auto justify-content-center" style="margin-bottom:10px">
                
                <button mat-raised-button (click)="clickBtnDelete()" color="warn"><i class="material-icons">delete_forever</i> Удалить</button>
            
        </div>
    </mat-card-title>

    <mat-card-content>

        <div class="card  w-100">
            <div class="card-body">
                <form  class="form-horizontal" id="formControl" method="post" action="" style="margin-bottom: 0px;">
                    <div id="hidden" style="display: none;" class="row">
                        <!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> -->
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="offset">offset</label>
                            <input [(ngModel)]="sendingQueryForm.offset" value="" type="text" class="form-control" id="offset" name="offSet">
                            
                        </div>
  
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="SortColumn">SortColumn</label>
                            <input [(ngModel)]="sendingQueryForm.sortColumn" type="text" class="form-control" id="SortColumn" name="SortColumn" value="">
                            
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="SortAsc">SortAsc</label>
                            <input [(ngModel)]="sendingQueryForm.sortAsc" type="text" class="form-control" id="SortAsc" name="SortAsc" value="">
                            
                        </div>
                    </div>
                    <div class="flex">
                        <mat-form-field style="width:50px;" class="num-of-rows">
                            <mat-label>Строк</mat-label>
                            <mat-select [(value)]="sendingQueryForm.result" (selectionChange)="setNumOfPages()" class="form-control" id="selectRowsPerPage" name="result">                           
                                <mat-option  *ngFor="let num of numRows" [value]="num.value">
                                        {{num.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="company-select" style="margin-left: 10px">
                            <mat-label>{{t('docs.field.company')}}</mat-label>
                            <mat-select  [(value)]="sendingQueryForm.companyId" (selectionChange)="getData()">                          
                                <mat-option value="0" selected>Пользователи по всем доступным предприятиям</mat-option>
                                <mat-option  *ngFor="let rt of receivedCompaniesList" [value]="rt.id">
                                        {{rt.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <span  class="emptyspace"></span>
                        <div class="flex">
                            <mat-form-field class="emptyspace">
                                    <input matInput 
                                    placeholder="Поиск..." 
                                    [(ngModel)]="sendingQueryForm.searchString" 
                                    type="text"  
                                    id="search_input" 
                                    name="search_input" 
                                    style="width:150px"  
                                    />
                                    <!-- <input   [(ngModel)]="sendingQueryForm.searchString" type="text"  placeholder="Поиск..." class="form-control" id="search_input" name="search_input" style="width:150px"> -->
                            </mat-form-field>
                            <button mat-button (click)="getData()"  type="submit" id="btn" style="min-width: 20px; padding: 0px;"><mat-icon>search</mat-icon></button>
                                
                        </div>
                    </div>
                </form>
                <div id="result_form">



                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
                                <!--- Note that these columns can be defined in any order.
                                        The actual rendered columns are set as a property on the row definition" -->
                                
                                <!-- Position Column -->
                                <ng-container matColumnDef="select">
                                        <th mat-header-cell *matHeaderCellDef style="width: 40px;">
        
                                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                                            id="headCheckbox"
                                                            [checked]="selection.hasValue() && isAllSelected()"
                                                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                                            </mat-checkbox>
                                        </th>
                                        <td mat-cell *matCellDef="let row" class="table-checkbox">
                                                <!-- id:{{row.id}}<br>
                                                {{selection.isSelected(row)}}<br> -->
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                                            
                                                            (change)="$event ? clickTableCheckbox(row) : null"
                                                            [checked]="selection.isSelected(row)">
                                            </mat-checkbox>
                                        </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="opendoc">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let row" class="table-launch-icon">
                                        <a class="inactive" [routerLink]="['../../usersdoc', row.id ]">
                                            <mat-icon>launch</mat-icon>
                                        </a>
                                    </td>   
                                </ng-container>

                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef> id </th>
                                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <span (click)="setSort('name')" class="sortheader">Имя
                                            <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='name'" class="material-icons sortarrow">arrow_upward</i>
                                            <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='name'" class="material-icons sortarrow">arrow_downward</i>
                                        </span>
                                    </th>
                                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="status_account">
                                    <th mat-header-cell *matHeaderCellDef> 
                                    <span (click)="setSort('status_account_name')" class="sortheader">Статус аккаунта
                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='status_account_name'" class="material-icons sortarrow">arrow_upward</i>
                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='status_account_name'" class="material-icons sortarrow">arrow_downward</i>
                                    </span>
                                    <td mat-cell *matCellDef="let row"> {{row.status_account_name}} </td>
                                </ng-container>
                                <ng-container matColumnDef="creator">
                                    <th mat-header-cell *matHeaderCellDef> Создатель </th>
                                    <td mat-cell *matCellDef="let row"> {{row.creator}} </td>
                                </ng-container>

                                <ng-container matColumnDef="date_time_created">
                                    <th mat-header-cell *matHeaderCellDef>
                                    <span (click)="setSort('date_time_created_sort')" class="sortheader"> Дата создания 
                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='date_time_created_sort'" class="material-icons sortarrow">arrow_upward</i>
                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='date_time_created_sort'" class="material-icons sortarrow">arrow_downward</i>
                                    </span>
                                    <td mat-cell *matCellDef="let row"> {{row.date_time_created}} </td>
                                </ng-container>
                       
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>



              
                    <div class="flex">
                        <div class="col-sm">
                            <p> Найдено: {{size}}, страница {{pagenum}} из {{listsize}}</p>
                        </div>
                        <span  class="emptyspace"></span><!-- разделитель -->
                        <div class="col-sm-auto justify-content-end">
                            <ul class="pagination" style="padding-right: 0px">
                            <!-- maxpage:{{maxpage}} -->
                                <ng-container *ngFor="let page of receivedPagesList; index as i">
                                <ng-container *ngIf="i>2 && listsize>1">
                                    <!-- page:{{page}}<br>
                                    pagenum:{{pagenum}}<br> -->
                                    
                                    <ng-container *ngIf="i==3 && pagenum>1">
                                            <li><a (click)="setPage(0)"><mat-icon class="pagearrow active">first_page</mat-icon></a>  </li>                               
                                    </ng-container>
                                    <ng-container *ngIf="i==3 && pagenum==1">
                                            <li><mat-icon class="pagearrow inactive">first_page</mat-icon></li>                               
                                    </ng-container>
                                    
                                        <mat-chip-list>
                                            <ng-container *ngIf="page==pagenum;else templateElse">
                                                <li><mat-chip style="margin: 8px;" selected>
                                                    {{page}}               
                                                </mat-chip></li>
                                            </ng-container>
                                            <ng-template #templateElse >
                                                <li><mat-chip  style="margin: 8px;"  (click)="setPage(page-1)">
                                                    {{page}}               
                                                </mat-chip></li>
                                            </ng-template>
                                        </mat-chip-list>
                                    <ng-container *ngIf="pagenum < listsize && page==maxpage">
                                        <li><a (click)="setPage(listsize-1)"><mat-icon class="pagearrow active">last_page</mat-icon></a></li>
                                    </ng-container>
                                    <ng-container *ngIf="pagenum == listsize && page==maxpage">
                                        <li><mat-icon class="pagearrow inactive">last_page</mat-icon></li>
                                    </ng-container>
                                <!-- pagenum - Страница, которая сейчас выбрана в пагинаторе
                                    listsize - Последняя страница в пагинации (но не в пагинаторе. т.е. в пагинаторе может быть 1.2.3.4.5 а listsize =10)
                                    maxpage - Последняя страница в пагинации 
                                    page -    Страница пагинатора в текущем цикле -->


                                </ng-container>
                                
                                </ng-container>
                            </ul>  
                        </div>
                    </div> 
                </div> 
            </div>  
        </div>
    </mat-card-content>
</mat-card>
