
<div *ngIf="isLoggedIn; else loggedOut">
    Logged in. Please wait...
</div>  
  
<mat-card *ngIf="!isLoggedIn;" class="login-mat-card">
                <div class="lang-select"
                    [matMenuTriggerFor]="addDocMenu">
                    <span>{{language}}</span><div class="arrow-wrap"><i class="material-icons" style="font-size: 18px;">arrow_drop_down</i></div>
                </div>
                <mat-menu #addDocMenu="matMenu" yPosition="below" xPosition="before">
                    <button mat-menu-item (click)="setLanguage('en')">
                        <span>English</span>
                    </button>
                    <button mat-menu-item (click)="setLanguage('ru')">
                        <span>Русский</span>
                    </button>
                </mat-menu>
                
    <mat-card-title class="text-center">

        <div class="container" style="margin: -9px 0 0 -10px;">
            <div class="row" style="margin-bottom: 28px;">
                <div class="col-3">
                    <a class="navbar-brand" href="/">
                        <img src="assets_/images/logo-2.svg" style="width:100%" alt="Logo" />
                    </a>
                </div>
                <div class="col-6">
                    
                </div>
                <div class="col-3">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                    {{'user.card.authorization' | transloco}}
                </div>
                <div class="col-4">
                </div>
            </div>
        </div>
      
    </mat-card-title>
    <mat-card-content>
        <div class="version" (click)="displayVerson=!displayVerson;">
            <span [ngClass]="{'versions-incomp':!isVersionsCompatible()}" >ver. {{getVersionToDisplay()}}</span>
            <mat-card *ngIf="displayVerson;" class="version-mat-card">
                <div class="container" style="width: 150px !important;">
                    <div class="row">
                        <div class="col-6">
                            <span class="version-info">Frontend: </span>
                        </div>
                        <div class="col-6">
                            <span class="version-info">{{frontendVersion}}</span>
                        </div>
                        <div class="col-6">
                            <span class="version-info">Backend: </span>
                        </div>
                        <div class="col-6">
                            <span class="version-info">{{settingsGeneral.backendVersion}}</span>
                        </div>
                        <div class="col-6">
                            <span class="version-info">Database: </span>
                        </div>
                        <div class="col-6">
                            <span class="version-info">{{settingsGeneral.databaseVersion}}</span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
            <form [formGroup]="loginform" class="login-form">
  
                <mat-form-field>
                    <input matInput 
                    placeholder="{{'user.field.login' | transloco}}" 
                    formControlName="username" 
                    type="text"    
                    [ngClass]="{'is-invalid':loginform.get('username').touched && loginform.get('username').invalid}"
                    />
                    <mat-hint *ngIf="loginform.get('username').touched && loginform.get('username').invalid">
                        <i *ngIf="loginform.get('username').errors.required" class="form-invalid">{{'user.error.enter_login' | transloco}}</i>
                        <i *ngIf="loginform.get('username').errors.minlength" class="form-invalid">{{'user.error.login_mst_cnt' | transloco}}</i>
                    </mat-hint>
                    <mat-hint *ngIf="emptyLogin && !loginform.get('username').touched">
                        <i *ngIf="loginform.get('username').errors.required" class="form-invalid">{{'user.error.enter_login' | transloco}}</i>
                    </mat-hint>
                </mat-form-field>
                
                <mat-form-field>
                    <input matInput 
                    placeholder="{{'user.field.password' | transloco}}" 
                    formControlName="password"
                    [type]="'password'"   
                    [ngClass]="{'is-invalid':loginform.get('password').touched && loginform.get('password').invalid}" 
                    />
                    <mat-hint *ngIf="loginform.get('password').touched && loginform.get('password').invalid ">
                        <i *ngIf="loginform.get('password').errors.required" class="form-invalid">{{'user.error.enter_pwd' | transloco}}</i>
                    </mat-hint>
                    <mat-hint *ngIf="emptyPassword && !loginform.get('password').touched">
                        <i *ngIf="loginform.get('password').errors.required" class="form-invalid">{{'user.error.enter_pwd' | transloco}}</i>
                    </mat-hint>
                </mat-form-field>  
  
                <div   style="width:100%; text-align: center;">
                    {{settingsGeneral.showInSignin}}
                </div>

                <button mat-button mat-raised-button color="primary" style="margin-top: 20px;" (click)="onSubmit()">{{'user.btn.enter' | transloco}}</button>
                <div *ngIf="isLoginFailed" class="form-invalid">
                    {{'user.error.not_logged' | transloco}}: {{errorMessage?errorMessage:('user.error.no_bd_srvr_cn' | transloco)}}
                </div>
            </form>
        
            <hr />
            <div   style="width:100%;">
                <div 
                    style="display: inline-block; text-align: left;width:50%;">
                    <a *ngIf="settingsGeneral.showRegistrationLink" routerLink="../../signup">{{'user.btn.registration' | transloco}}</a>
                </div>
                <div
                    style="display: inline-block; text-align: right;width:50%;">
                    <a *ngIf="settingsGeneral.showForgotLink" routerLink="../../restore">{{'user.btn.forgot_pass' | transloco}}</a>
                </div>
            </div>
  
  
    </mat-card-content>
  </mat-card>
  
  
  
  <ng-template #loggedOut>
  
  </ng-template>