

<!-- <div style="text-align:center">
    <h2>Using Solid Icons</h2>
    <fa-icon [icon]="['fas', 'square']"></fa-icon>
    <br />
    <fa-icon [icon]="['fas', 'check-square']"></fa-icon>
  </div>
  <hr />
  <div style="text-align:center">
    <h2>Using Regular Icons</h2>
    <fa-icon [icon]="['far', 'square']"></fa-icon>
    <br />
    <fa-icon [icon]="['far', 'check-square']"></fa-icon>
  </div>
  <hr />
  <div style="text-align:center">
    <h2>Using Brand Icons</h2>
    <fa-icon [icon]="envelope"></fa-icon>
    <br />
    <fa-icon [icon]="github"></fa-icon>
    <br />
    <fa-icon [icon]="phone"></fa-icon>
  </div> -->
<div cdkDropList (cdkDropListDropped)="dropContact($event)">
    <mat-card   appearance="outlined"   *ngFor="let contact of formContacts.get('onlineSchedulingContactsList').controls;let i = index" 
                [formGroup]="contact"
                cdkDrag
                class="contact-card">
        <mat-card-header class="contact-header">
            <mat-card-title class="top-bar container-fluid contact-title" style="margin: 0px 0px 8px 0px !important;">
                <div class="row"> 
                    <mat-form-field id="toggle"
                        class="mat-form-field-100" 
                        style="margin-top:-9px">
                        <mat-slide-toggle
                            class="contact-toggle"
                            formControlName="display_in_os"
                            matTooltip="{{'modules.tip.display_in_os' | transloco}}">
                        </mat-slide-toggle>
                        <input matInput hidden/>
                    </mat-form-field>
                    <div cdkDragHandle class="handler"  [style.display]="editability?'block':'none'">
                        <mat-icon   matTooltip="{{('docs.tip.move' | transloco)}}" 
                                    class="nav-icon"
                                    *ngIf="formContacts.get('onlineSchedulingContactsList').controls.length>1">
                                    swap_vertical_circle
                        </mat-icon>
                    </div>
                    <div class="del-icon"  [style.display]="editability?'block':'none'">
                        <mat-icon   (click)="deleteContact(i)"
                                    matTooltip="{{('docs.tip.delete' | transloco)}}"    
                                    class="nav-icon">cancel
                        </mat-icon>
                    </div>
                </div>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content class="input-form" >
            <div class="row">
                <div class="col-xl-6  col-lg-12">
                    <mat-form-field class="mat-form-field-100">
                        <mat-label>{{('modules.field.contact_type' | transloco)}} </mat-label>
                        <mat-select 
                        formControlName="contact_type"
                        #contact_type
                        >
                            <mat-option 
                            *ngFor="let contcatType of contcatTypes;"
                            value="{{contcatType.value}}"
                            >
                            <fa-icon [icon]="contcatType.icon" style="margin-right:4px;"></fa-icon>
                            {{['telephone','email'].includes(contcatType.value)?('docs.field.'+contcatType.value | transloco):contcatType.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xl-6  col-lg-12">
                    <mat-form-field class="mat-form-field-100">
                        <mat-label>{{('modules.field.location_os' | transloco)}} </mat-label>
                        <mat-select formControlName="location_os">
                            <mat-option 
                            value="vertical" 
                            matTooltip="{{'modules.tip.vertical_list' | transloco}}"
                            matTooltipPosition="left">
                            {{'modules.list.vertical_list' | transloco}}
                            </mat-option>
                            <mat-option 
                            value="horizontal" 
                            matTooltip="{{'modules.tip.horizontal_icons' | transloco}}"
                            matTooltipPosition="left">
                            {{'modules.list.horizontal_icons' | transloco}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6  col-lg-12">
                    <mat-form-field class="mat-form-field-100">
                        <mat-label>{{('docs.field.additional' | transloco)}}</mat-label>
                        <input  matInput
                                placeholder="{{'docs.field.name' | transloco}}"
                                [readonly]=!editability
                                #additional
                                maxlength="100"
                                formControlName="additional"/>
                        <mat-hint align="end" *ngIf="additional.value.length>90">{{additional.value.length}} / 100</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-xl-6  col-lg-12">
                    <mat-form-field class="mat-form-field-100">
                        <mat-label>{{('modules.field.contact_value' | transloco)}} <span *ngIf="contact_value.value==''" class="star">*</span></mat-label>
                        <input  matInput
                                [placeholder]="getContactPlaceholder(getControlTablefield().controls[i].get('contact_type').value)"
                                [readonly]=!editability
                                #contact_value
                                [ngClass]="{'is-invalid':getControlTablefield().controls[i].get('contact_value').invalid && getControlTablefield().controls[i].get('contact_value').touched}"
                                maxlength="1000"
                                formControlName="contact_value"/>
                        <mat-hint align="end" *ngIf="contact_value.value.length>950">{{contact_value.value.length}} / 1000</mat-hint>
                        <mat-hint align="start" *ngIf="getControlTablefield().controls[i].get('contact_value').touched">
                            <i *ngIf="getControlTablefield().controls[i].get('contact_value').value==''" class="form-invalid">{{('docs.error.field_miss' | transloco)}}</i>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <mat-form-field style="display: none">
                <input   matInput
                        placeholder="output_order"
                        formControlName="output_order"/>
            </mat-form-field>
            <p *cdkDragPreview></p>
        </mat-card-content>
    </mat-card>
</div>
<div class="add-button" [style.display]="editability ?'block':'none'">
    <div class="center hand" style="width:100%; height: 38px;">
        <button matTooltip="{{('docs.tip.add_cnt_prsn' | transloco)}}" mat-mini-fab color="primary" (click)="addNewContact()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
<!-- <pre>
    {{formContacts.get('onlineSchedulingContactsList').value | json}}
</pre> -->