:host{
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

table {width: 100%;}
li {list-style: none;}
.flex{ display: flex; }

.center-align{
    display: flex;
    justify-content: center;
}
.card{
    width:100%;
    /* max-width: 1000px; */
    /* margin-top: 10px; */
}
.internal-card{
    margin: 10px 0 10px 0;
}
.invisible{display:none;}

.card-name{ flex-grow: 1; }

.button{
    margin-left: 10px;
}
.mat-form-field-100{
    width:100%
}
.input-form{
    display: flex;
    flex-direction: column;
}
.slideWidth100{
    width:100%;
    margin:-8.5px 0 0 0;
}

.slideWidth50margin8{
    width:50%; 
    margin:-8.5px 5px 0 0;
}

tr.mat-mdc-footer-row {
    font-weight: bold;
  }
.form-invalid{
    color: red;
}
.div-foto{
    width: 100%;
    max-width: 150px;
    padding-left: 6px;
    margin-bottom:0px;
    overflow: hidden;
}
.small-padding{
    padding-right: 3px; 
    padding-left: 3px;
}

.hand
{
    cursor: pointer;
}
 
.center {
    display: flex;
    justify-content: center;
}
 
.inactive{
    /* color:gray; */
    color: rgba(0,0,0,.54);
    text-decoration: none;
}
.min-heigth{
    line-height: 22px;
    height: 22px;
    min-width: 35px;
    padding: 0px;
    color:rgb(100, 100, 100);
}
.icon{
    color: rgba(0,0,0,.54); 
    cursor: pointer;
}
.field-box-drag {
    /* border: 1px solid rgb(221, 221, 221); */
    width:100%; 
    margin-bottom: 10px;
    height:50px;
    /* background-color: #cfc; */
    display: flex;
    justify-content: space-between;
}
.img-wrapper{
    flex-grow: 1; 
    width: 100%;
    display: table-cell; 
    vertical-align: middle;
    height: 50px;border: 1px solid white;
}
.drag-box-with-handler{
    border: 2px solid rgb(255, 0, 0);
    padding: 3px;
    /* width:600px; 
    height:200px; */
}
.field-box{
    padding: 3px;
    margin: 5px;
    width:100%; 
    height:30px;
    display: flex;
}
.drag-box-wrapper{
    border: 2px solid rgb(61, 58, 255);
    padding: 3px;
    margin: 5px;
    width:360px; 
    height:30px;
}    
.cdk-drag-animating {
        transition: transform 300ms ease;
}
.cdk-drag-placeholder {
        background: white;
        border: dotted 1px #999;
        transition: transform 500ms ease;
}
.cdk-drag-preview {
        box-shadow: 0 3px 3px -3px #0084ff;
}