<mat-spinner 
strokeWidth="3" 
class="spinner"
[diameter]="50"
*ngIf="gettingTableData"
></mat-spinner>
<mat-drawer-container [ngClass]="{doc_container: mode=='standart',doc_container_select_mode: mode=='select'}" autosize  *transloco="let t">
    <mat-drawer #drawer class="categories-sidenav" mode="side" opened  *ngIf="allowToView">
        
            <div class="category-toolbar-search flex">
                <span style="flex-grow: 1;"></span>
                    <div>
                        <form  class="form-horizontal" method="post" action="">
                            <mat-form-field>
                                <input matInput         
                                    placeholder="{{t('menu.top.search')}}" 
                                    [(ngModel)]="sendingQueryForm.searchCategoryString" 
                                    type="text"  

                                    name="search_input" 
                                    style="width:100%"  
                                />
                                <button matSuffix mat-icon-button aria-label="search"  type="submit" (click)="searchCategory()">
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                        </form>
                    </div>
                <span style="flex-grow: 1;"></span>
            </div>
            
            <div class="category-toolbar-icons flex">
                <span style="flex-grow: 1;"></span>
                    <div>
                            <button 
                            mat-icon-button  
                            (click)="resetSelectedCategory();" 
                            matTooltip="{{t('menu.tip.to_root')}}"
                            [disabled]="+sendingQueryForm.selectedNodeId==0 && sendingQueryForm.searchCategoryString==''"
                            color="primary">
                                <mat-icon>home</mat-icon>
                            </button>
                            <button 
                            mat-icon-button  
                            *ngIf="allowCategoryCreate"
                            (click)="clickBtnAddCategory()" 
                            matTooltip="{{t('menu.tip.new_categ')}}"
                            color="primary">
                                <mat-icon>create_new_folder</mat-icon>
                            </button>
                            <button 
                            mat-icon-button 
                            *ngIf="allowCategoryUpdate"
                            (click)="clickBtnEditCategory()" 
                            matTooltip="{{t('menu.tip.edit_categ')}}" 
                            color="primary" 
                            [disabled]="!(+sendingQueryForm.selectedNodeId>0)">
                                <mat-icon>edit</mat-icon>
                            </button>
<!-- недействительна если: (кол-во корневых директорий<2 И нет выбранной директории) ИЛИ 
                            (выбранная директория есть И кол-во детей у нее <2)                             -->
                            <button 
                            mat-icon-button 
                            (click)="changeOrderOfCategories()" 
                            matTooltip="{{t('menu.tip.order_categ')}}" 
                            *ngIf="allowCategoryUpdate" 
                            [disabled]="(+numRootCategories<2 && +sendingQueryForm.selectedNodeId==0) ||
                            (+sendingQueryForm.selectedNodeId>0 && numChildsOfSelectedCategory<2)"
                            color="primary">
                                <mat-icon>swap_vertical_circle</mat-icon>
                            </button> 
                            <button 
                            mat-icon-button 
                            (click)="clickBtnDeleteFileCategory()" 
                            *ngIf="allowCategoryDelete" 
                            matTooltip="{{t('menu.tip.del_categ')}}" 
                            color="primary"
                            [disabled]="!(+sendingQueryForm.selectedNodeId>0)">
                                <mat-icon>delete_forever</mat-icon>
                            </button>
                    </div>
                <span style="flex-grow: 1;"></span>
            </div>
            <mat-divider></mat-divider>

            <mat-tree [dataSource]="treeDataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <button mat-icon-button disabled></button>
                    <span class="node" [ngClass]="{selected_node:node.id==sendingQueryForm.selectedNodeId}" (click)="selectNode(node)">{{node.name}}
                        <i 
                            *ngIf = "node.owner"
                            class="node-owner" 
                            [ngClass]="{selected_node_owner:node.id==sendingQueryForm.selectedNodeId}">
                            {{node.owner}}
                        </i>
                    </span>
                </mat-tree-node>
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                    </button>
                    <span class="node" [ngClass]="{selected_node:node.id==sendingQueryForm.selectedNodeId}" (click)="selectNode(node)">{{node.name}}
                        <i 
                            *ngIf = "node.owner"
                            class="node-owner" 
                            [ngClass]="{selected_node_owner:node.id==sendingQueryForm.selectedNodeId}">
                            {{node.owner}}
                        </i>
                    </span>
                </mat-tree-node>
            </mat-tree>
    </mat-drawer>
    <div class="categories-sidenav-content" style="overflow: hidden;">
        <mat-card appearance="outlined" class="card">
            <mat-card-header>
                <mat-card-title class="top-bar container-fluid"> 
                    <div style="display: flex; flex-wrap: wrap;" id="topBlock">
                        <div class="emptyspace flex"><span>{{cu.cap(t('menu.docs.files'))}}</span>
                            <span [style.display]="sendingQueryForm.trash?'block':'none'">&nbsp;{{t('menu.top.in_bin')}}</span>
                        </div>                    
                        <div class="separator"></div><!-- !!! -->
                        <button 
                            mat-raised-button 
                            matTooltip="{{t('menu.tip.upload')}}"
                            [style.display]="visBtnAdd==true?'flex':'none'"
                            (click)="clickBtnFileUplioad()" 
                            color="primary"
                            class="button small-button">
                            <i class="material-icons">cloud_upload</i>
                        </button>
                        <button 
                            [matMenuTriggerFor]="addDocMenu"
                            mat-raised-button 
                            matTooltip="{{t('menu.tip.prod_actions')}}"                        
                            *ngIf="selection.selected.length>0 && !sendingQueryForm.trash"
                            color="primary"
                            (submit)="false"
                            type="button"
                            class="button"
                            style="width: 142px;height: 36px;min-width: 38px;">
                            <i class="material-icons">add_task</i>&nbsp;&nbsp;{{t('menu.top.btn_actions')}}<i class="material-icons">arrow_drop_down</i>
                        </button>
                        <mat-menu #addDocMenu="matMenu" yPosition="below" xPosition="before">
                            <button mat-menu-item *ngIf="allowToUpdate && selection.selected.length>0 && !sendingQueryForm.trash" (click)="openDialogFileCategoriesSelect()" matTooltip="{{t('menu.tip.ch_cat_prod')}}" matTooltipPosition="left"><mat-icon style="width: 30px;">rule</mat-icon><span>{{t('menu.menu.categories')}}</span></button>
                            <button mat-menu-item [matMenuTriggerFor]="shareExMenu" *ngIf="allowToUpdate && selection.selected.length>0 && !sendingQueryForm.trash"><mat-icon style="width: 30px;">share</mat-icon><span>{{t('menu.menu.share_ex')}}</span></button>
                            <button 
                                [matMenuTriggerFor]="usersList"
                                matTooltipPosition="left"
                                [style.display]="(sendingQueryForm.trash || mode!='standart')?'none':'flex'"
                                *ngIf="allowToUpdate && selection.selected.length>0"
                                mat-menu-item>
                                <mat-icon style="width: 30px;">person</mat-icon><span>{{t('menu.top.btn_ch_owner')}}</span>
                            </button>
                            <button 
                                matTooltip="{{t('menu.tip.delete_to_bin')}}"
                                matTooltipPosition="left"
                                [style.display]="(sendingQueryForm.trash || mode!='standart')?'none':'flex'"
                                (click)="clickBtnDelete()" 
                                *ngIf="allowToDelete && selection.selected.length>0"
                                mat-menu-item>
                                <mat-icon style="width: 30px;">delete_forever</mat-icon><span>{{t('menu.top.btn_delete')}}</span>
                            </button>
                        </mat-menu>
                        <mat-menu #shareExMenu="matMenu" yPosition="below" xPosition="before">
                            <button mat-menu-item (click)="setFilesExternalAccess(true)"><span>{{t('menu.menu.share_ex_y')}}</span></button>
                            <button mat-menu-item (click)="setFilesExternalAccess(false)"><span>{{t('menu.menu.share_ex_n')}}</span></button>
                        </mat-menu>
                        <mat-menu #usersList="matMenu" yPosition="below" xPosition="before">
                            <button 
                            *ngFor="let user of receivedUsersList"
                            mat-menu-item 
                            (click)="changeOwner(user.id)">
                            <span>{{user.name}}</span></button>
                        </mat-menu>
                        <!-- <div [style.display]="visBtnAdd==true?'block':'none'" class="col-sm-auto justify-content-center" style="margin-bottom:10px">
                            <button mat-raised-button (click)="clickBtnFileUplioad()" matTooltip="Загрузить файлы на сервер" color="primary"><i class="material-icons">cloud_upload</i> Загрузить</button>
                        </div> -->
                        
                        <button 
                            mat-raised-button 
                            matTooltip="{{t('menu.tip.restore_f_bin')}}"
                            matTooltipPosition="left"
                            [style.display]="(visBtnRecover==true && selection.selected.length)?'flex':'none'"
                            (click)="clickBtnRecover()" 
                            color="accent"
                            class="button small-button">
                            <i class="material-icons">restore_from_trash</i>
                        </button>

                        <!-- <div [style.display]="(visBtnRecover==true && selection.selected.length)?'block':'none'" class="col-sm-auto justify-content-center" style="margin:0px 10px 10px 0px">
                            <button mat-raised-button (click)="clickBtnRecover()" color="accent"><i class="material-icons">restore_from_trash</i> Восстановить</button>
                        </div> -->
                        
                        <button 
                            mat-raised-button 
                            matTooltip="{{t('menu.tip.select_files')}}"
                            [style.display]="(checkedList.length>0 && mode=='select')?'flex':'none'"
                            [mat-dialog-close]=checkedList 
                            cdkFocusInitial 
                            color="primary"
                            class="button small-button">
                            <i class="material-icons">done</i>
                        </button>
                        <!--<div [style.display]="(checkedList.length>0 && mode=='select')?'block':'none'" style="margin:0px 0px 10px 10px">
                            <button  mat-raised-button [mat-dialog-close]=checkedList cdkFocusInitial color="primary"><i class="material-icons">done</i>
                                <span> {{t('docs.tip.select')}}</span>
                            </button>
                        </div> -->
                        
                        
                        <!-- <div *ngIf="allowToDelete && selection.selected.length>0" [style.display]="(sendingQueryForm.trash || mode!='standart')?'none':'block'" style="margin:0px 0px 10px 10px">
                            <button  mat-raised-button (click)="clickBtnDelete()" color="warn"><i class="material-icons">delete_forever</i>
                                <span> Удалить</span>
                            </button>
                        </div> -->
                        
                        <button 
                            mat-raised-button 
                            matTooltip="{{t('menu.tip.delete_perman')}}"
                            [style.display]="(allowToDeleteFromTrash && selection.selected.length && sendingQueryForm.trash && selection.selected.length>0)?'flex':'none'"
                            (click)="clickBtnDeleteFromTrash()" 
                            color="warn"
                            class="button small-button">
                            <i class="material-icons">delete_forever</i>
                        </button>
                        <!-- <div  [style.display]="(allowToDeleteFromTrash && selection.selected.length)?'block':'none'">
                            <button *ngIf="allowToDeleteFromTrash" [style.display]="(allowToDeleteFromTrash && selection.selected.length && sendingQueryForm.trash && selection.selected.length>0)?'block':'none'" mat-raised-button (click)="clickBtnDeleteFromTrash()" color="warn"><i class="material-icons">delete_forever</i>
                                <span> Удалить окончательно</span>
                            </button>
                        </div> -->
                        <button 
                            mat-raised-button 
                            matTooltip="{{t('menu.tip.empty_bin')}}"
                            [style.display]="(sendingQueryForm.trash && +size>0)?'flex':'none'"
                            (click)="clickBtnClearTrash()" 
                            *ngIf="allowToClearTrash"
                            color="warn"
                            class="button small-button">
                            <i class="material-icons">delete_sweep</i>
                        </button>
                        <!-- <div *ngIf="allowToClearTrash" [style.display]="(sendingQueryForm.trash && +size>0)?'block':'none'"  style="margin:0px 0px 10px 10px">
                            <button mat-raised-button (click)="clickBtnClearTrash()" color="warn"><i class="material-icons">delete_sweep</i>
                                <span> Очистить корзину</span>
                            </button>
                        </div> -->
                        <button 
                                matTooltip="{{t('menu.dialogs.close_window')}}"
                                mat-raised-button 
                                *ngIf="mode=='select'"
                                matDialogClose
                                color="accent"
                                class="button small-button">
                                <i class="material-icons">close</i>
                        </button>
                    </div>
                </mat-card-title>
            </mat-card-header>
                    <mat-card-content>
                        <div class="card  w-100">
                            <div class="card-body">
                                <form  class="form-horizontal" method="post" action="" style="margin-bottom: 0px;">
                                        
                                    <div class="form-group" style="display: none;">
                                        <label class="control-label col-sm-2" for="SortColumn">SelectedNodeId</label>
                                        <input [(ngModel)]="sendingQueryForm.selectedNodeId" type="text" class="form-control" id="SelectedNodeId" name="SelectedNodeId" value="">
                                    </div>
                                    
                                    <div id="hidden" style="display: none;" class="row">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="offset">offset</label>
                                            <input [(ngModel)]="sendingQueryForm.offset" value="" type="text" class="form-control" id="offset" name="offSet">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="SortColumn">SortColumn</label>
                                            <input [(ngModel)]="sendingQueryForm.sortColumn" type="text" class="form-control" id="SortColumn" name="SortColumn" value="">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="SortAsc">SortAsc</label>
                                            <input [(ngModel)]="sendingQueryForm.sortAsc" type="text" class="form-control" id="SortAsc" name="SortAsc" value="">
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field style="width: 85px !important; min-width: 85px;" class="num-of-rows">
                                            <mat-label>{{cu.cap(t('menu.docs.files'))}}</mat-label>
                                            <mat-select [(value)]="sendingQueryForm.result" (selectionChange)="setNumOfPages()" class="form-control" id="selectRowsPerPage" name="result">                           
                                                <mat-option  *ngFor="let num of numRows" [value]="num.value">
                                                        {{num.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        
                                        <mat-form-field style="margin-left: 10px; min-width: 250px;">
                                            <mat-label>{{t('menu.top.company')}}</mat-label>
                                            <mat-select  [(value)]="sendingQueryForm.companyId" [disabled]="mode=='select'" (selectionChange)="onCompanySelection()">                          
                                                <mat-option  *ngFor="let rt of receivedCompaniesList" [value]="rt.id">
                                                        {{rt.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <div class="flex" *ngIf="sendingQueryForm.selectedNodeName" style="margin-left: 10px; max-width: 250px;">
                                            <mat-form-field  style="margin-left: 10px; width: 100%;">
                                                <mat-label>{{t('menu.top.category')}}</mat-label>
                                                <input matInput
                                                [(ngModel)]="sendingQueryForm.selectedNodeName" 
                                                type="text" 
                                                [readonly]=true
                                                class="form-control"
                                                id="SelectedNodeName" 
                                                name="SelectedNodeName" 
                                                value="" >
                                                <button matSuffix mat-icon-button aria-label="Clear" (click)="resetSelectedCategory();">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                        <button  
                                            class="filter-button"
                                            matTooltip="{{t('docs.button.refresh')}}"
                                            (click)="getTable()"  
                                            type="button"
                                            matSuffix mat-icon-button>
                                            <mat-icon>refresh</mat-icon>
                                        </button>
                                        <div  class="emptyspace flex evenly"  style="text-align: center; width: 70%; overflow: hidden;">
                                            <span [ngClass]="{selected_mode_button: viewMode=='table',deselected_mode_button: viewMode=='grid'}"  (click)="setViewMode('table')" matTooltip="{{t('menu.tip.as_table')}}"><i class="material-icons">view_list</i></span>
                                            <span [ngClass]="{selected_mode_button: viewMode=='grid', deselected_mode_button: viewMode=='table'}"  (click)="setViewMode('grid')" matTooltip="{{t('menu.tip.as_icons')}}"><i class="material-icons">view_module</i></span>
                                            <span  *ngIf="allowToRecoverFiles||allowToDeleteFromTrash||allowToClearTrash"[ngClass]="{selected_mode_button: sendingQueryForm.trash, deselected_mode_button: !sendingQueryForm.trash}"  
                                                  (click)="clickShowTrashBtn()" 
                                                  [style.display]="(mode=='standart')?'block':'none'"
                                                  matTooltip="{{sendingQueryForm.trash?t('menu.tip.out_of_bin'):t('menu.tip.in_bin')}}">
                                                  <i class="material-icons">delete_outline</i>
                                            </span>
                                            <span [ngClass]="{selected_mode_button: sendingQueryForm.showOnlyAnonymeAccessFiles, deselected_mode_button: !sendingQueryForm.showOnlyAnonymeAccessFiles}"  
                                                  (click)="clickAnonymeAccessFilesBtn()" 
                                                  [style.display]="(mode=='standart')?'block':'none'"
                                                  matTooltip="{{sendingQueryForm.showOnlyAnonymeAccessFiles?t('menu.tip.dspl_all_file'):t('menu.tip.anonyme')}}">
                                                  <i class="material-icons">present_to_all</i>
                                            </span>
                                        </div>
                                            <mat-form-field>
                                            <input matInput 
                                                placeholder="{{t('menu.top.search')}}" 
                                                [(ngModel)]="sendingQueryForm.searchString" 
                                                type="text"  
                                                name="search_input" 
                                                style="width:100%"/>
                                            <button matSuffix mat-icon-button aria-label="search"  type="submit" (click)="setNumOfPages()">
                                                <mat-icon>search</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </form>

                                <div id="files_form" style="margin: 0 -10px;" *ngIf="allowToView">
                                        <table *ngIf="viewMode=='table'" mat-table [dataSource]="files" class="mat-elevation-z8">
                                                <ng-container matColumnDef="select">
                                                        <th mat-header-cell *matHeaderCellDef style="width: 40px;">
                                                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                                                            style = "margin-right: 10px"
                                                                            id="headCheckbox"
                                                                            [checked]="selection.hasValue() && isAllSelected()"
                                                                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                                            [aria-label]="checkboxLabel()">
                                                            </mat-checkbox>
                                                        </th>
                                                        <td mat-cell *matCellDef="let row">
                                                            <mat-checkbox (click)="$event.stopPropagation()"
                                                                            style = "margin-right: 10px"
                                                                            (change)="$event ? clickTableCheckbox(row) : null"
                                                                            [checked]="selection.isSelected(row)"
                                                                            [aria-label]="checkboxLabel(row)">
                                                            </mat-checkbox>
                                                        </td>
                                                </ng-container>
                                                <ng-container matColumnDef="extention">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                    <span (click)="setSort('extention')" class="sortheader"> {{t('menu.table.type')}}
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='extention'" class="material-icons sortarrow">arrow_upward</i>
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='extention'" class="material-icons sortarrow">arrow_downward</i>
                                                    </span>
                                                    <td mat-cell *matCellDef="let row">
                                                            <a  [routerLink]="['../filesdoc', row.id ]">
                                                                <img class="file_icon" src="../../../../../../assets_/images/ext_icons/{{getIcon(row.extention)}}.png" width=40>
                                                            </a>
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="id">
                                                    <th mat-header-cell *matHeaderCellDef> id </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="original_name">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                    <span (click)="setSort('p.original_name')" class="sortheader"> {{t('menu.table.name')}} 
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='p.original_name'" class="material-icons sortarrow">arrow_upward</i>
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='p.original_name'" class="material-icons sortarrow">arrow_downward</i>
                                                    </span>
                                                    <td mat-cell *matCellDef="let row"> {{row.original_name}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="description">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                    <span (click)="setSort('description')" class="sortheader"> {{t('menu.table.description')}} 
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='description'" class="material-icons sortarrow">arrow_upward</i>
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='description'" class="material-icons sortarrow">arrow_downward</i>
                                                    </span>
                                                    <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="file_size">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                    <span (click)="setSort('file_size')" class="sortheader"> {{t('menu.table.size')}}  
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='file_size'" class="material-icons sortarrow">arrow_upward</i>
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='file_size'" class="material-icons sortarrow">arrow_downward</i>
                                                    </span>
                                                    <td mat-cell *matCellDef="let row"> {{ConvertBytes(row.file_size)}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="creator">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                    <span (click)="setSort('creator')" class="sortheader"> {{t('menu.table.creator')}}  
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='creator'" class="material-icons sortarrow">arrow_upward</i>
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='creator'" class="material-icons sortarrow">arrow_downward</i>
                                                    </span>
                                                    <td mat-cell *matCellDef="let row"> {{row.creator}} </td>
                                                </ng-container>
                
                                                <ng-container matColumnDef="date_time_created">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                    <span (click)="setSort('date_time_created_sort')" class="sortheader"> {{t('menu.table.created')}}  
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='date_time_created_sort'" class="material-icons sortarrow">arrow_upward</i>
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='date_time_created_sort'" class="material-icons sortarrow">arrow_downward</i>
                                                    </span>
                                                    <td mat-cell *matCellDef="let row"> {{row.date_time_created}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="owner">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                    <span (click)="setSort('owner')" class="sortheader"> {{t('menu.table.owner')}}  
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='owner'" class="material-icons sortarrow">arrow_upward</i>
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='owner'" class="material-icons sortarrow">arrow_downward</i>
                                                    </span>
                                                    <td mat-cell *matCellDef="let row"> {{row.owner}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="anonyme_access">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                    <span (click)="setSort('anonyme_access')" class="sortheader"> {{t('menu.table.shared')}} 
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='anonyme_access'" class="material-icons sortarrow">arrow_upward</i>
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='anonyme_access'" class="material-icons sortarrow">arrow_downward</i>
                                                    </span>
                                                    <!-- <td mat-cell *matCellDef="let row"> {{row.anonyme_access==true?t('menu.dialogs.yes'):t('menu.dialogs.no')}} </td> -->
                                                    <td mat-cell *matCellDef="let row"> 
                                                        <mat-chip-listbox>
                                                            <mat-chip-option 
                                                            *ngIf="row.anonyme_access==true" 
                                                            style="color:green">
                                                            {{t('menu.dialogs.yes')}}
                                                            </mat-chip-option>
                                                            <mat-chip-option 
                                                            *ngIf="row.anonyme_access==false"
                                                            style="color:red"
                                                            >
                                                            {{t('menu.dialogs.no')}}
                                                            </mat-chip-option>
                                                        </mat-chip-listbox>
                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                                
                                                <!-- Part "Data not founded" -->
                                                <ng-container matColumnDef="data_not_found">
                                                    <td mat-footer-cell *matFooterCellDef colspan="13" class="text-center">
                                                        {{t('menu.msg.dt_not_fnd')}}
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="nocolumn">
                                                    <td mat-footer-cell *matFooterCellDef colspan="13" style="display: none;"></td>
                                                </ng-container>
                                                <tr mat-footer-row 
                                                *matFooterRowDef="[files.length==0?'data_not_found':'nocolumn']" 
                                                [ngStyle]="(files.length==0 && !gettingTableData)?{}:{'display': 'none'}"></tr>
                                                <!-- End of Part "Data not founded" -->        
                                        </table>





                                        <div class="card-blocks"  *ngIf="viewMode=='grid'">
                                            <div *ngFor="let block of files; let i = index"  class="card-block">
                                                <mat-card appearance="outlined" class="grid-card">
                                                    <div *ngIf="block.anonyme_access" matTooltip="{{t('menu.tip.ext_access')}}" class="grid-card-info"><mat-icon>share</mat-icon></div>
                                                    <div class="iconArea" *ngIf="block.extention.toUpperCase() != '.PNG' && block.extention.toUpperCase() != '.JPG' && block.extention.toUpperCase() != '.JPEG'; else other_content">
                                                        <a *ngIf="mode!='select'" [routerLink]="['../filesdoc', block.id ]">
                                                            <img class="file_icon" src="../../../../../../assets_/images/ext_icons/{{getIcon(block.extention)}}.png" width=120>
                                                        </a>
                                                        <img *ngIf="mode=='select'" class="file_icon" src="../../../../../../assets_/images/ext_icons/{{getIcon(block.extention)}}.png" width=120>
                                                    </div>
                                                    <ng-template #other_content>
                                                        <div class="iconArea">
                                                                <a *ngIf="mode!='select'" [routerLink]="['../filesdoc', block.id ]"><img class="file_icon" [src]="block.image" width=120></a>
                                                                <img *ngIf="mode=='select'" class="file_icon" [src]="block.image" width=120>
                                                        </div>
                                                    </ng-template>
                                                    <mat-card-content class="grid-card-content">
                                                        <mat-checkbox 
                                                            style="white-space: nowrap;"
                                                            (click)="$event.stopPropagation()"
                                                            (change)="$event ? clickTableCheckbox(block) : null"
                                                            [checked]="selection.isSelected(block)"
                                                            matTooltip={{block.original_name}}
                                                            [aria-label]="checkboxLabel(block)">
                                                            {{block.original_name}}
                                                            
                                                        </mat-checkbox>
                                                            <i                                                             
                                                                matTooltip="{{t('docs.field.owner')}}"
                                                                *ngIf = "block.owner"
                                                                class="file-owner">
                                                                {{block.owner}}
                                                            </i>
                                                    </mat-card-content>
                                                </mat-card>
                                            </div> 
                                        </div>





                                    <div class="flex">
                                        <div class="col-sm">
                                            <p> {{t('menu.bottom.founded')}}: {{size}}, {{t('menu.bottom.page')}} {{pagenum}}  {{t('menu.bottom.of')}} {{listsize}}</p>
                                        </div>
                                        <span  class="emptyspace"></span><!-- разделитель -->
                                        <div class="col-sm-auto justify-content-end" style="margin-right:10px;">
                                            <ul class="pagination" style="padding-right: 0px">
                                                <ng-container *ngFor="let page of receivedPagesList; index as i">
                                                    <ng-container *ngIf="i>2 && listsize>1">
                                                        <ng-container *ngIf="i==3 && pagenum>1">
                                                                <li><a (click)="setPage(0)"><mat-icon class="pagearrow active">first_page</mat-icon></a>  </li>                               
                                                        </ng-container>
                                                        <ng-container *ngIf="i==3 && pagenum==1">
                                                                <li><mat-icon class="pagearrow inactive">first_page</mat-icon></li>                               
                                                        </ng-container>
                                                        
                                                            <mat-chip-listbox>
                                                                <ng-container *ngIf="page==pagenum;else templateElse">
                                                                    <li><mat-chip-option style="margin: 8px;" selected>
                                                                        {{page}}               
                                                                    </mat-chip-option></li>
                                                                </ng-container>
                                                                <ng-template #templateElse >
                                                                    <li><mat-chip-option  style="margin: 8px;"  (click)="setPage(page-1)">
                                                                        {{page}}               
                                                                    </mat-chip-option></li>
                                                                </ng-template>
                                                            </mat-chip-listbox>
                                                        <ng-container *ngIf="pagenum < listsize && page==maxpage">
                                                            <li><a (click)="setPage(listsize-1)"><mat-icon class="pagearrow active">last_page</mat-icon></a></li>
                                                        </ng-container>
                                                        <ng-container *ngIf="pagenum == listsize && page==maxpage">
                                                            <li><mat-icon class="pagearrow inactive">last_page</mat-icon></li>
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                            </ul>  
                                        </div>
                                    </div> 
                                </div>
                            </div>  
                        </div>
                    </mat-card-content>
        </mat-card>
    </div>

</mat-drawer-container>


