:host{
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

table {width: 100%;}

.flex{ display: flex; }

.card{
    width:100%;
}


/******* опции *******/
.emptyspace{ flex-grow: 1;}
li {list-style: none;}
.div-100{
    width:100%;
    text-align: center;
}
.card-name{ flex-grow: 1; }
.options-button{
 margin: 5px 15px 0
}
/**********************/
.emptyspace{ flex-grow: 1;}
.searchcategory{
    width:170px;
    margin-top: 5px;
    margin-left: 5px;}
.num-of-rows{flex-grow: 0;}

.company-select{   
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 400px;
}
.depatrment-select{flex-grow: 1;}

.pagination {
    display: flex;
    padding-left: 10px;
    list-style: none;
    border-radius: .25rem;
}
.status-name{
    margin: 5px;
    color: black;
    max-width: 210px;
}
.active{
    color:rgb(27, 27, 27);
}

.inactive{
    color:gray;
}

.pagearrow{
    font-size: 40px;
    margin: 0px 15px 0px 0px;
    cursor: default;
}
.truncate-text {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
.showchilds{
    font-size: 18px;
    cursor: default;
}

.darkcell{
    background: rgb(206, 206, 206);
}

.sortarrow{
    font-size: 14px;
    cursor: default;
}

.sortheader{
    cursor: default;
}
.doc-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width:100%;
    border: 0px solid black;
  }
.doc-container-select-mode {
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
  border: 0px solid black;
}
.categories-sidenav-content {
display: flex;
/* height: 100%; */
/* align-items: center; */
justify-content: center;
}

.categories-sidenav {
padding: 0px;
min-width:150px;
}
.category-toolbar-icon {
    padding: 0 0;

  }
.category-toolbar-search {
    flex: 1 0 1;
  }
.category-toolbar-icons {
    margin-top: -20px;
    flex: 1 0 1;
  }

  .node  {
    cursor: pointer;
    margin-right: 10px;
}

.selected_node  {
    border: 4px solid #673ab7;
    border-radius: 5px;
    background-color: #673ab7;
    color: white;
}
.category-toolbar-spacer {
flex: 1 1 auto;

}
/*Данные не найдены*/
.spinner{
    position: absolute;
    top: 7%;
    left: 50%;
    margin-left: -25px;
    margin-top: 100px;
    z-index: 100;
}

