<mat-card class="card" *transloco="let t">
    <div class="icon-panel">
        <mat-icon   matTooltip='Настройки отчёта'    
                    (click)="onClickMenuIcon()"
                    class="nav-icon">menu
        </mat-icon>
    </div>
    <mat-card-title class="flex">
        <div class="card-name">{{reportTypeName}}: {{moneyFormat(calculatedSum)}} руб.</div>

    </mat-card-title>
    
    <mat-card-content class="input-form">
        <form [formGroup]="queryForm" *ngIf="showSettingsForm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <section style="margin-top:15px"  matTooltip='Временной отрезок, за который необходимо посмотреть данные'>
                            <span class="field-name">Время</span>
                            <mat-button-toggle-group 
                            formControlName="periodType"
                            (change)="onPeriodChange();getVolumesReportData()">
                            <mat-button-toggle value="day">День</mat-button-toggle>
                            <mat-button-toggle value="week">Неделя</mat-button-toggle>
                            <mat-button-toggle value="month">Месяц</mat-button-toggle>
                            <mat-button-toggle value="year">Год</mat-button-toggle>
                            <mat-button-toggle value="period">Период</mat-button-toggle>
                            </mat-button-toggle-group>
                        </section>

                        

                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-12">
                        <!-- <p>Выбран период - {{periodType.value}}</p> -->
                        <section style="margin-top:15px" *ngIf="units.length>1" matTooltip='Временной отрезок, за который отвечает один столбец графика'>
                            <span class="field-name">Интервал</span>
                            <mat-button-toggle-group formControlName="unit" >
                            <mat-button-toggle *ngFor="let un of units" [value]="un.id" (change)="setXAxisName();getVolumesReportData();">{{un.name}}</mat-button-toggle>
                            </mat-button-toggle-group>
                        </section>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-4 col-12">
                        <!-- <div class="container-fluid"> -->
                            <div class="row">
                                <div class="col-xl-6 col-lg-12">
                                    <mat-form-field style="margin-top: 10px; width: 100%;">
                                        <input  matInput 
                                                formControlName="dateFrom"
                                                placeholder="С даты"
                                                [matDatepicker]="dpFrom"
                                                (click)="onClickDates()"
                                                [readonly]="queryForm.get('periodType').value!='period'"
                                                (dateChange)="onDateChange('dateFrom', $event);getVolumesReportData()"
                                                />
                                                <mat-datepicker-toggle matSuffix [for]="dpFrom" *ngIf="queryForm.get('periodType').value=='period'"></mat-datepicker-toggle>
                                        <mat-datepicker #dpFrom></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-12">
                                    <mat-form-field style="margin-top: 10px; width: 100%;">
                                        <input  matInput 
                                                formControlName="dateTo"
                                                placeholder="По дату"
                                                [matDatepicker]="dpTo"
                                                (click)="onClickDates()"
                                                [readonly]="queryForm.get('periodType').value!='period'"
                                                (dateChange)="onDateChange('dateTo', $event);getVolumesReportData()"
                                                />
                                                <mat-datepicker-toggle 
                                                matSuffix [for]="dpTo" 
                                                *ngIf="queryForm.get('periodType').value=='period'"></mat-datepicker-toggle>
                                        <mat-datepicker #dpTo></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>
                    <div class="col-md-4 col-12">
                        
                        <mat-form-field  style="margin-top: 10px; width: 100%;"  #autocompleteDepartmentsField>
                            <mat-label>{{t('docs.field.department')}}</mat-label>
                            <input  type="text" 
                                    matInput [formControl]="departmentControl" 
                                    [matAutocomplete]="autoDepartments"
                                    [readonly]="+queryForm.get('departmentId').value>0" 
                                    #elementDepartmentsInput>

                            <button mat-button 
                                    type="button"
                                    *ngIf="+queryForm.get('departmentId').value>0" 
                                    matTooltip='Очистить форму поиска отделения'
                                    matSuffix mat-icon-button 
                                    (click)="resetDepartmentFormSearch(); removeFocus(autocompleteDepartmentsField, elementDepartmentsInput);getVolumesReportData()">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-autocomplete #autoDepartments="matAutocomplete" [displayWith]="displayFn" (optionSelected)="setDepartmentId();getVolumesReportData()">
                                <mat-option *ngFor="let option of filteredDepartments | async" [value]="option">
                                    {{option.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                    </div>
                    <div class="col-md-4 col-12">
                        
                        <mat-form-field  style="margin-top: 10px; width: 100%;"  #autocompleteEmployeeField>
                            <mat-label>Сотрудник</mat-label>
                            <input  type="text" 
                                    matInput [formControl]="employeeControl" 
                                    [matAutocomplete]="autoEmployee"
                                    (click)="onClickEmployee();"
                                    [readonly]="+queryForm.get('employeeId').value>0 || +queryForm.get('departmentId').value==0" 
                                    #elementEmployeeInput>
                            <button mat-button 
                                    type="button"
                                    *ngIf="+queryForm.get('employeeId').value>0" 
                                    matTooltip='Очистить форму поиска сотрудника'
                                    matSuffix mat-icon-button 
                                    (click)="resetEmployeeFormSearch(); removeFocus(autocompleteEmployeeField, elementEmployeeInput);getVolumesReportData()">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-autocomplete #autoEmployee="matAutocomplete" [displayWith]="displayFn" (optionSelected)="setEmployeeId();getVolumesReportData()">
                                <mat-option *ngFor="let option of filteredEmployee | async" [value]="option">
                                    {{option.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                    </div>
                </div>

                



                





                <div class="row" >
                    <div class="col-4">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Тип отчёта</mat-label>
                            <mat-select formControlName="type"
                                        (selectionChange)="setReportName();"
                                       >
                                <mat-option value="sell">Объемы продаж</mat-option>
                                <!-- <mat-option value="buy">Объемы закупок</mat-option> -->
                                
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Отчёт по</mat-label>
                            <mat-select formControlName="reportOn"
                                        (selectionChange)="reportOnChange();getVolumesReportData()"
                                       >
                                <mat-option value="categories">Категориям</mat-option>
                                <mat-option value="products">Товарам и услугам</mat-option>
                                
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="slideWidth100">
                            <mat-slide-toggle (change)="onSwitchAllSlideToggle();" formControlName="all">Все {{(queryForm.get('reportOn').value=='categories')?'категории':'товары и услуги'}}</mat-slide-toggle>
                            <input matInput hidden/>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row" *ngIf="!queryForm.get('all').value">
                    <div class="col-4">
                        <mat-form-field class="slideWidth100" [matTooltip]="'Разбивать значения графика по выбранным '+(queryForm.get('reportOn').value=='categories'?'категориям':'товарам и услугам')+'. На каждый временной отрезок будет представлено несколько значений выбранных категорий по отдельности (иначе эти значения суммируются)'">
                            <mat-slide-toggle [disabled]="this.selectedObjects.length<2" (change)="onSwitchWithSeparationSlideToggle()" formControlName="withSeparation">С разбивкой</mat-slide-toggle>
                            <input matInput hidden/>
                        </mat-form-field>
                    </div>
                    <div class="col-4" *ngIf="queryForm.get('reportOn').value=='categories'">
                        <mat-form-field class="slideWidth100" matTooltip="Включить в отчёт дочерние подкатегории у выбранных категорий.">
                            <mat-slide-toggle [disabled]="this.selectedObjects.length==0" (change)="onSwitchWithSeparationSlideToggle()" formControlName="includeChilds">С подкатегориями</mat-slide-toggle>
                            <input matInput hidden/>
                        </mat-form-field>
                    </div>
                </div>


                <div class="row" *ngIf="!queryForm.get('all').value">
                    <div class="col-12">
                        <mat-form-field class="chip-list" appearance="fill">
                            <mat-label>Выбранные {{queryForm.get('reportOn').value=='categories'?'категории':'товары и услуги'}}</mat-label>
                            <mat-chip-list #chipList aria-label="Selected objects">
                                <mat-chip
                                    *ngFor="let object of selectedObjects"
                                    [selectable]="selectable"
                                    [removable]="removable"
                                    (removed)="remove(object)">
                                    {{object.name}}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <button matTooltip="{{t('docs.tip.select')}}" mat-mini-fab color="primary" style="position: absolute; right: 0px; width: 30px; height: 30px;margin-bottom: 5px;" (click)="openDialogProductCategoriesSelect()">
                                    <mat-icon style="font-size: 18px; line-height: 0.5;height: 20px;width: 20px;">add</mat-icon>
                                </button>
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12" style="height:370px">
                    <ngx-charts-bar-vertical-2d
                        [scheme]="colorScheme"
                        [results]="multi"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [legendTitle]="legendTitle"
                        [barPadding]=3
                        [groupPadding]=3
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)">
                    </ngx-charts-bar-vertical-2d>
                </div>
            </div>
        </div>
    </mat-card-content> 
</mat-card>    


<!-- <code><pre>{{departmentControl.value | json}}</pre></code> -->
<!-- <code><pre>{{queryForm.value | json}}</pre></code> -->