<div id="outer">
        <mat-toolbar 
        class="toolbar transparent"
        *ngIf="currentView=='main'"
        id="toolbar"
        [style.max-width]="panel_max_width+panel_max_width_uq">
                <div class="toolbar-inner-wrapper">
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                        <mat-icon>menu</mat-icon>
                        </button>
                        <span></span>
                        <span class="toolbar-spacer"></span>
                </div>
        </mat-toolbar>
        <div 
        id="inner"
        [style.background-color]="onlineSchedulingSettings.stl_background_color"
        [style.max-width]="panel_max_width+panel_max_width_uq"
        [ngStyle]="{'background-image': 'url(' + 'http://localhost:4200/api/public/getFile/a8db1ad9-c64-2024-10-19-14-16-37-322_encrypted.jpg' + ')'}"

        
        >

                

                <div class="sections">
                
                        <section 
                        class="hero-section"
                        *ngIf="currentView=='main'">

                                <div class="hero-image"
                                style="
                                        background-image: url('http://localhost:4200/api/public/getFile/3a98e9ef-e94-2024-10-19-12-27-51-404_encrypted.jpg');
                                        height: 150px;
                                ">
                                        <!-- <div class="hero-text">
                                        <h1>Imagination</h1>
                                        <h3>Beauty nails studio</h3>
                                        </div> -->
                                </div>

                                <div href="https://twitter.com/twcloudchen" class="circle"
                                [style.border-style]="'solid'"
                                [style.border-color]="'#ffffff'"
                                [style.border-width]="'8px'"
                                [style.left]="'50%'"
                                [style.width] = "'150px'"
                                [style.height] = "'150px'"
                                [style.top]="'147px'"
                                [ngStyle]="{'background-image': 'url(' + 'http://localhost:4200/api/public/getFile/5ee0c59c-d9b-2024-10-19-13-59-45-158_encrypted.jpg' + ')'}"
                                
                                style="    
                                position: absolute;
                                transform: translate(-50%, -50%);
                                border-radius: 50%;
                                "
                                >
                                </div>

                        </section>


                        <!-- <mat-accordion 
                        id="topaccordeon" 
                        class="department-panel-headers-align" 
                        *ngIf="currentView=='main'"
                        multi>

                                <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                        <mat-panel-title> {{selectedDepartment.department_name}} </mat-panel-title>
                                        <span class="department-address">
                                                {{selectedDepartment.department_address}}
                                        </span>
                                        </mat-expansion-panel-header>
                                        <form [formGroup]="formBaseInformation" *ngIf="receivedDepartmentsWithPartsList.length>1">
                                                <mat-form-field class="company-select" style="width:100%">
                                                        <mat-label>Branch</mat-label>
                                                        <mat-select 
                                                        (selectionChange)="onDepartmentSelect()"
                                                        formControlName="departmentId">                          
                                                                <mat-option  *ngFor="let rdl of receivedDepartmentsWithPartsList" [value]="rdl.department_id">
                                                                        {{rdl.department_name}}
                                                                </mat-option>
                                                        </mat-select>
                                                </mat-form-field>
                                        </form> -->



                                        <!-- <div style="width:100%; padding: 0;">
						<iframe style="border:0; height: 250px; width: 100%;" loading="lazy" class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2947.1992393145356!2d18.753389514991305!3d42.380901941778575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134c2d813d6eed01%3A0x7fd4258ebda47356!2z0JDQstGC0L7RgdC10YDQstC40YEgVHJpIFRvbmE!5e0!3m2!1sru!2sru!4v1492598871822" frameborder="0"  allowfullscreen></iframe>
					</div> -->


                                        <!-- <p>{{panel_max_width+panel_max_width_uq}}</p>
                                        <p>Company URL: {{company}}</p>
                                        <p (click)="setDynamicStyle()">Language ID: {{lang}}</p> -->
                                        
                                <!-- </mat-expansion-panel>



                        </mat-accordion> -->


                        <section 
                        class="about-section"
                        [style.margin-top]= "'70px'"
                        *ngIf="currentView=='main'"
                        >
                                <div 
                                [style.max-width]="'80%'"
                                [style.font-size]="'24px'"
                                [style.font-style]="'normal'"
                                [style.font-weight]="'600'"
                                [style.color]="'teal'"
                                [style.margin]="'6px auto'"
                                >
                                {{onlineSchedulingSettings.company_name}}
                                </div>
                                <div 
                                [style.max-width]="'75%'"
                                [style.font-size]="'14px'"
                                [style.font-style]="'italic'"
                                [style.margin]="'auto'"
                                [style.color]="'#752b59'"
                                [innerHTML]="onlineSchedulingSettings.company_about | sanitizedHtml"
                                >

                                </div>
                        </section>


                        <section class="menu-section"
                                *ngIf="currentView=='main'">

                                <div class="scheduling-block">

                                        <div class="main-menu-row">
                                                <div class="main-menu-item" (click)="clickBtnSelectSpecialist()">
                                                        <button 
                                                        mat-mini-fab 
                                                        class="main-select-icon"
                                                        >
                                                                <mat-icon>person</mat-icon>
                                                        </button>
                                                        <div matListItemTitle class="main-select-text">
                                                                {{onlineSchedulingSettings.txt_btn_select_specialist}}
                                                        </div>
                                                        <span class="mat-expansion-indicator main-menu-arrow" style="transform: rotate(270deg);"></span>
                                                </div>
                                        </div>
                                        <div class="main-menu-row">
                                                <div class="main-menu-item" (click)="clickBtnSelectTime()">
                                                        <button 
                                                        mat-mini-fab 
                                                        class="main-select-icon"
                                                        >
                                                                <mat-icon>today</mat-icon>
                                                        </button>
                                                        <div matListItemTitle class="main-select-text">
                                                                {{onlineSchedulingSettings.txt_btn_select_time}}
                                                        </div>
                                                        <span class="mat-expansion-indicator main-menu-arrow" style="transform: rotate(270deg);"></span>
                                                </div>
                                        </div>
                                        <div class="main-menu-row">
                                                <div class="main-menu-item" (click)="clickBtnSelectServices()">
                                                        <button 
                                                        mat-mini-fab 
                                                        class="main-select-icon"
                                                        >
                                                                <mat-icon>checklist</mat-icon>
                                                        </button>
                                                        <div matListItemTitle class="main-select-text">
                                                                {{onlineSchedulingSettings.txt_btn_select_services}}
                                                        </div>
                                                        <span class="mat-expansion-indicator main-menu-arrow" style="transform: rotate(270deg);"></span>
                                                </div>
                                        </div>
                                </div>


                                <div class="contacts-block" *ngIf="onlineSchedulingSettings.onlineSchedulingContactsList.length>0">
                                        <ng-container *ngFor="let contact of onlineSchedulingSettings.onlineSchedulingContactsList; index as i">
                                                <div class="main-menu-row"  *ngIf="contact.location_os=='vertical'">
                                                        <a                                                 
                                                        class="contacts-link"
                                                        target="_blank"
                                                        [style.color]="onlineSchedulingSettings.stl_color_text"
                                                        href="{{getContactLink(contact.contact_type, contact.contact_value)}}"
                                                        >
                                                                <div class="main-menu-item" *ngIf="contact.location_os=='vertical'">
                                                                        
                                                                                <button 
                                                                                mat-mini-fab 
                                                                                class="main-select-icon"
                                                                                >
                                                                                        <fa-icon [icon]="getContactIcon(contact.contact_type)" style="font-size: 23px; line-height: 1pt;"></fa-icon>
                                                                                </button>
                                                                                <div class="main-select-text" >
                                                                                        {{contact.contact_value}}
                                                                                </div>
                                                                        
                                                                        <!-- <span class="mat-expansion-indicator main-menu-arrow" style="transform: rotate(270deg);"></span> -->
                                                                </div>
                                                        </a>                                                        
                                                </div>
                                        </ng-container>

                                </div>
                                <div class="contacts-line" [style.margin-top]="'25px'">
                                
                                        <ng-container *ngFor="let contact of onlineSchedulingSettings.onlineSchedulingContactsList; index as i">
                                                <a 
                                                *ngIf="contact.location_os=='horizontal'"
                                                class="contacts-link"
                                                target="_blank"
                                                [style.color]="onlineSchedulingSettings.stl_color_text"
                                                href="{{getContactLink(contact.contact_type, contact.contact_value)}}"
                                                >
                                                        <div class="horizontal-contact-item">
                                                                        
                                                                <button 
                                                                mat-mini-fab 
                                                                class="main-select-icon"
                                                                >
                                                                        <fa-icon [icon]="getContactIcon(contact.contact_type)" style="font-size: 23px; line-height: 1pt;"></fa-icon>
                                                                </button>
                                                        
                                                        <!-- <span class="mat-expansion-indicator main-menu-arrow" style="transform: rotate(270deg);"></span> -->
                                                        </div>
                                                </a>
                                        </ng-container>

                                </div>

                                <div class="powered-logo-part">
                                        <span class="powered-logo">
                                                <a href="https://erphy.me" target="_blank">Powered by ERPHY</a>
                                        </span>
                                </div>

                        </section>

                        <section class="screen-section"
                        *ngIf="currentView=='specialist'">

                                <div 
                                class="page-title"
                                >
                                        <span 
                                        class="page-title-text"
                                        [style.color]="onlineSchedulingSettings.stl_color_text">
                                                {{onlineSchedulingSettings.txt_btn_select_specialist}}
                                        </span>
                                        <span></span>
                                        <span class="toolbar-spacer"></span>
                                        <button 
                                        mat-mini-fab 
                                        class="example-icon"
                                        (click)="clickBtnToMainScreen()">
                                        <mat-icon>arrow_back_ios_new</mat-icon>
                                        </button>
                                </div>

                                <div class="main-menu-row">
                                        <div class="main-menu-item" (click)="onSelectAnyEmployee()">
                                                <button 
                                                mat-mini-fab 
                                                class="main-select-icon"
                                                >
                                                        <mat-icon>person</mat-icon>
                                                </button>
                                                <div matListItemTitle class="main-select-text">
                                                        {{onlineSchedulingSettings.txt_any_specialist}}
                                                </div>
                                                <mat-icon
                                                class="checkbox"
                                                [style.color]="onlineSchedulingSettings.stl_selected_elements_color"
                                                >{{selectedEmployeeId==0?'radio_button_checked':'radio_button_unchecked'}}</mat-icon>
                                        </div>
                                </div>

                                <ng-container *ngFor="let employee of allEmployeesList; index as i">

                                        <div class="main-menu-row">
                                                <div class="main-menu-item">
                                                        <div 
                                                        class="main-menu-item-pale"
                                                        (click)="openOsDialog('employee_reason',employee)"
                                                        [style.background-color]="onlineSchedulingSettings.stl_background_color"
                                                        *ngIf="!employee.available_by_departament || !employee.available_by_selected_services"
                                                        >
                                                        </div>
                                                        <button 
                                                        mat-mini-fab 
                                                        class="main-select-icon"
                                                        >
                                                                <mat-icon>person</mat-icon>
                                                        </button>
                                                        <div matListItemTitle 
                                                        class="specialist-name"
                                                        [style.color]="(employee.available_by_departament && employee.available_by_selected_services && employee.available_by_time) ? onlineSchedulingSettings.stl_color_text:((!employee.available_by_departament || !employee.available_by_selected_services)?onlineSchedulingSettings.stl_color_text:'gainsboro')"
                                                        (click)="onSelectEmployee(employee)">
                                                                {{employee.name}}
                                                        </div>
                                                        <span 
                                                        class="specialist-jobtitle"
                                                        (click)="onSelectEmployee(employee)"
                                                        [style.color]="onlineSchedulingSettings.stl_job_title_color">
                                                                {{employee.jobtitle_name}}
                                                                <!-- <br>{{employee.available_by_departament}} {{employee.available_by_selected_services}} {{employee.available_by_time}}  -->
                                                        </span>
                                                        <mat-icon
                                                        class="checkbox"
                                                        (click)="onSelectEmployee(employee)"
                                                        [style.color]="(employee.available_by_departament && employee.available_by_selected_services && employee.available_by_time) ? onlineSchedulingSettings.stl_selected_elements_color:((!employee.available_by_departament || !employee.available_by_selected_services)?onlineSchedulingSettings.stl_color_text:'gainsboro')"

                                                        >{{(employee.available_by_departament && employee.available_by_selected_services && employee.available_by_time)?(selectedEmployeeId==employee.id?'radio_button_checked':'radio_button_unchecked'):'help'}}</mat-icon>
                                                </div>

                                                <div class="main-menu-nearest-time">
                                                        {{onlineSchedulingSettings.txt_nearest_app_time}}: {{getNearestTimeWord(employee.id)}}
                                                </div>

                                                <div class="main-menu-nearest-slots">
                                                        <mat-chip-set style="width: calc(100% + 50px);">
                                                                <mat-chip 
                                                                [ngClass]="{'selected':isUserTimeSlotSelected(slot, employee.id)}"
                                                                *ngFor="let slot of getNearestUserSlots(employee.id)"
                                                                (click)="setSelectedDateTimeAndEmployee(slot, employee)">
                                                                        {{getTimeFromSlot(slot)}}
                                                                </mat-chip>
                                                        </mat-chip-set>
                                                </div>
                                        </div>               


                                </ng-container>
                        </section>

                        <section class="screen-section"
                        *ngIf="currentView=='services'">
                                <div 
                                class="page-title"
                                >
                                        <span 
                                        class="page-title-text"
                                        [style.color]="onlineSchedulingSettings.stl_color_text">
                                                {{onlineSchedulingSettings.txt_btn_select_services}}
                                        </span>
                                <span></span>
                                <span class="toolbar-spacer"></span>
                                <button 
                                mat-mini-fab 
                                class="example-icon"
                                (click)="clickBtnToMainScreen()">
                                <mat-icon>arrow_back_ios_new</mat-icon>
                                </button>
                                </div>                                
                                <div 
                                class="categories-row"
                                >
                                        <div 
                                        class="categories-list"
                                        >                                                
                                                <mat-chip-set style="width: max-content;">
                                                        <mat-chip
                                                        (click)="goCategoriesHighLevel()"
                                                        *ngIf="selectedCategoryId!=0;">
                                                                <mat-icon style="margin-top: 5px;">arrow_upward</mat-icon>
                                                        </mat-chip>
                                                        <mat-chip 
                                                        [ngClass]="{'selected':isCategorySelected(category.id)}"
                                                        *ngFor="let category of getCurrentLevelCategories();"
                                                        (click)="setSelectedCategoryId(category.id)">
                                                                {{category.name}}
                                                        </mat-chip>
                                                </mat-chip-set> 
                                        </div>                                        
                                        <div
                                        class="categories-name"
                                        [style.color]="onlineSchedulingSettings.stl_color_buttons"
                                        >
                                                <span >{{getSelectedCategoryName()}}</span>
                                        </div>                                        
                                </div>
                                <div class="services-block">      
                                        <ng-container *ngFor="let service of allServicesList; index as i">
                                                <div class="service-row" *ngIf="selectedCategoryId == 0 || service.categories.includes(selectedCategoryId)">
                                                        <div class="service-item">
                                                                <div matListItemTitle 
                                                                [style.color]="(service.available_by_selected_employee && service.available_by_departament && service.available_by_employees_who_available_by_selected_services) ? onlineSchedulingSettings.stl_color_text:'gainsboro'"
                                                                class="service-name"
                                                                (click)="onSelectService(service)">
                                                                        {{service.name}}
                                                                </div>
                                                                <span 
                                                                class="service-price"                                                                
                                                                [style.color]="(service.available_by_selected_employee && service.available_by_departament && service.available_by_employees_who_available_by_selected_services) ? onlineSchedulingSettings.stl_job_title_color:'gainsboro'">
                                                                        {{service.price}}
                                                                </span>
                                                                <mat-icon
                                                                class="service-checkbox"
                                                                (click)="onSelectService(service)"
                                                                [style.color]="(service.available_by_selected_employee && service.available_by_departament && service.available_by_employees_who_available_by_selected_services) ? onlineSchedulingSettings.stl_selected_elements_color:'gainsboro'"
                                                                >{{(service.available_by_selected_employee && service.available_by_departament && service.available_by_employees_who_available_by_selected_services)?(selectedServicesIds.includes(service.id)?'check_box':'check_box_outline_blank'):'help_center'}}</mat-icon>
                                                        </div>        
                                                </div>                   
                                        </ng-container>
                                </div>
                        </section>

                        <section class="screen-section"
                        *ngIf="currentView=='time'">

                                <div 
                                class="page-title"
                                >
                                        <span 
                                        class="page-title-text"
                                        [style.color]="onlineSchedulingSettings.stl_color_text">
                                                {{onlineSchedulingSettings.txt_btn_select_time}}
                                        </span>
                                <span></span>
                                <span class="toolbar-spacer"></span>
                                <button 
                                mat-mini-fab
                                class="example-icon"
                                (click)="clickBtnToMainScreen()">
                                <mat-icon>arrow_back_ios_new</mat-icon>
                                </button>
                                </div>
                                
                                <div 
                                class="dates-block"
                                >
                                        <mat-calendar #calendar 
                                                [(selected)]="selected"
                                                [dateFilter]="myFilter"
                                                (selectedChange)="matCalendarOnclickDay($event)">
                                        </mat-calendar>

                                        
                                </div>

                                <div class="time-block" style="position: relative;">
                                        <!-- -{{viewDate}}- -->

                                        <mat-chip-set 
                                        class="time-mat-chip-set"
                                        [style.background-color]="onlineSchedulingSettings.stl_background_color">
                                                <ng-container *ngFor="let slot of resultTimeSlotsList">
                                                        <mat-chip *ngIf="isDateEqualsViewDate(slot.start)"
                                                        [ngClass]="{'selected':isTimeSlotSelected(slot.start)}"                                                        
                                                        (click)="setSelectedDateTime(slot.start)"
                                                        style="width: calc(25% - 8px); margin-top: 10px;"
                                                        >
                                                                {{getTimeFromSlot(slot.start)}}
                                                        </mat-chip>
                                                </ng-container>
                                                
                                        </mat-chip-set>

                                        <div class="no-timeslot">
                                                <span
                                                [style.color]="onlineSchedulingSettings.stl_color_text"
                                                >There are no time slots available for the selected date.</span>
                                        </div>
                                        
                                </div>

                        </section>
                </div>


                <!-- <code><pre>{{onlineSchedulingSettings | json }}</pre></code> -->
                


        </div>
        <div class="action-button-wrapper" *ngIf="['time','specialist'].includes(currentView) && selectedServicesIds.length==0 && selectedDateTime!='' && selectedEmployeeId!=null">
                <button 
                mat-fab 
                extended
                class="action-button"
                (click)="onClickBtnSelectServices()"
                >
                        <mat-icon>checklist</mat-icon>
                        {{onlineSchedulingSettings.txt_btn_select_services}}
                </button>                
        </div>
        <div class="action-button-wrapper" *ngIf="['specialist','services'].includes(currentView) && ((currentView=='specialist' && selectedDateTime=='' && selectedEmployeeId!=null) || (currentView=='services' && selectedServicesIds.length>0 && selectedEmployeeId!=null))">
                <button 
                mat-fab 
                extended
                class="action-button"
                (click)="onClickBtnSelectTime()"
                >
                        <mat-icon>today</mat-icon>
                        {{onlineSchedulingSettings.txt_btn_select_time}}
                </button>
                
        </div>
        <div class="action-button-wrapper" *ngIf="['time','services'].includes(currentView) && ((currentView=='time' && selectedEmployeeId==null && selectedDateTime!='') || (currentView=='services' && selectedServicesIds.length>0 && selectedEmployeeId==null))">
                <button 
                mat-fab 
                extended
                class="action-button"
                (click)="onClickBtnSelectEmployee()"
                >
                        <mat-icon>person</mat-icon>
                        {{onlineSchedulingSettings.txt_btn_select_specialist}}
                </button>
                
        </div>
        <div class="action-button-wrapper" *ngIf="['specialist','time','services'].includes(currentView) && (selectedDateTime!='' && selectedEmployeeId!=null && selectedServicesIds.length>0)">
                <button 
                mat-fab 
                extended
                class="action-button"
                (click)="onClickBtnReady()"
                >
                        <mat-icon>done</mat-icon>
                        {{onlineSchedulingSettings.txt_btn_create_order}}
                </button>
                
        </div>
</div>
