.dialog-body{
    padding:16px;
}

.header{
    text-align: center;
}

.reason{
    display: table;
    line-height: 1.5;
    margin-bottom: 15px;
}

.explanation{
    text-align: left;
}

.reason-icon{
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    display: table-cell;
    vertical-align: top;
}

.reason-text{
    display: table-cell;
    vertical-align: top;
}

.explanation ul{
    padding-inline-start: 20px;
}

.close-icon{
    margin: 0px 10px;
    font-size: 35px;
}
.top{
    width:100%;
    text-align: right;
}