<div class="container-fluid" *transloco="let t">
    <div class="row">
        <div class="col-12">
            <form #form="ngForm" [formGroup]="formSearch">
                <mat-card class="internal-card">
                    
                    <div class="flex card" style="padding: 0px 15px; font-size: 20px;">
                        <div class="card-name">
                            {{readonly?t('modules.card.prods_of_mov'):t('modules.card.srch_prodcts')}}
                        </div>
                        <div>
                            <button 
                                mat-raised-button 
                                *ngIf="!readonly"
                                matTooltip="{{t('modules.tip.selct_prodcts')}}"
                                (click)="openDialogProductCategoriesSelect('products')" 
                                style="margin-bottom: 10px;"
                                color="primary"
                                type="button"
                                class="button">
                                <i class="material-icons">local_grocery_store</i> {{t('modules.button.prods')}}
                            </button>
                            <button  
                                mat-raised-button 
                                (click)="addProductRow()" 
                                *ngIf="!readonly"
                                type="submit"
                                style="margin-bottom: 10px;"
                                [disabled]="(!formSearch.valid)||indivisibleErrorOfSearchForm"
                                color="primary"
                                matTooltip="{{t('modules.tip.to_list')}}"
                                class="button">
                                <i class="material-icons">playlist_add</i> {{t('modules.button.to_list')}}
                            </button>
                        </div>
                    </div>
                    <mat-card-content class="input-form">
                        <div class="container-fluid" [hidden]="readonly">
                            <div class="row">
                                <div class="col-lg-1  col-md-12 small-padding center-align">
                                    <div class="div-foto hand"> 
                                        <img *ngIf="productImageName" matTooltip="{{t('modules.tip.opn_image')}}" (click)="showImage(productImageName)" [src]="imageToShow" width=100%>
                                        <img *ngIf="!productImageName" src="{{thumbImageAddress}}" width=100% style="cursor:default">
                                    </div>          
                                </div>
                                <div class="col-lg-11  col-md-12 small-padding">
                                    <div class="col-12 ">    
                                        <div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">
                                            <div class="row">
                                                <div class="col-lg-4  col-md-12">    
                                                    <mat-form-field  style="display: none">
                                                        <input  matInput
                                                        placeholder="product_id"
                                                        #product_id
                                                        formControlName="product_id" [readonly]=true/>
                                                    </mat-form-field>
                                                    <mat-form-field  class="mat-form-field-100">
                                                        <mat-label>{{t('modules.field.prod_srch')}}</mat-label>
                                                        <input  matInput 
                                                        #productSearchField
                                                        placeholder="{{t('modules.field.input_name')}}" 
                                                        [matAutocomplete]="auto3" 
                                                        [formControl]="searchProductCtrl"
                                                        [readonly]="formSearchReadOnly"
                                                        (input)="canAutocompleteQuery=true; checkEmptyProductField();"
                                                        (change)="canAutocompleteQuery=false; checkEmptyProductField();">
                                                        <!-- <button mat-button 
                                                        [matMenuTriggerFor]="productInfo"
                                                        type="button"
                                                        *ngIf="formSearchReadOnly" 
                                                        matTooltip='Показать информацию о товаре'
                                                        matSuffix mat-icon-button>
                                                        <mat-icon>info</mat-icon>
                                                        </button>
                                                        <mat-menu #productInfo="matMenu" xPosition="before">
                                                            <button mat-menu-item>Кол-во на складе: {{+shortInfoAboutProductArray[0]}} {{formSearch.get('edizm').value}}</button>
                                                            <button mat-menu-item>Последнее изменение кол-ва: {{+shortInfoAboutProductArray[1]}} {{formSearch.get('edizm').value}}</button>
                                                            <button mat-menu-item>Дата последнего изменения кол-ва: {{(shortInfoAboutProductArray[2]==null?'нет':shortInfoAboutProductArray[2])}}</button>
                                                            <button mat-menu-item (click)="setPrice(shortInfoAboutProductArray[5])">Последняя закупочная цена: {{+shortInfoAboutProductArray[5]}} руб.</button>
                                                            <button mat-menu-item (click)="setPrice(shortInfoAboutProductArray[3])">Средняя закупочная цена: {{+shortInfoAboutProductArray[3]}} руб.</button>
                                                            <button mat-menu-item (click)="setPrice(shortInfoAboutProductArray[4])">Средняя себестоимость: {{+shortInfoAboutProductArray[4]}} руб.</button>
                                                        </mat-menu> -->
                                                        <button mat-button 
                                                        type="button"
                                                        (click)="openProductCard(formSearch.get('product_id').value)"
                                                        *ngIf="formSearchReadOnly" 
                                                        matTooltip="{{t('modules.tip.opn_prod_card')}}"
                                                        matSuffix mat-icon-button >
                                                            <mat-icon>launch</mat-icon>
                                                        </button>
                                                        <!-- <button mat-button 
                                                        type="button"
                                                        *ngIf="!formSearchReadOnly" 
                                                        matTooltip="{{t('modules.tip.add_new_prod')}}"
                                                        matSuffix mat-icon-button 
                                                        (click)="openDialogCreateProduct();">
                                                            <mat-icon>add</mat-icon>
                                                        </button> -->

                                                        <button mat-button 
                                                        type="button"
                                                        *ngIf="formSearchReadOnly" 
                                                        matTooltip="{{t('modules.tip.clr_srch_form')}}"
                                                        matSuffix mat-icon-button 
                                                        (click)="formSearchReadOnly=false;resetFormSearch();">
                                                            <mat-icon>close</mat-icon>
                                                        </button>
                                                        <mat-autocomplete #auto3="matAutocomplete">
                                                            <ng-container *ngIf="!isProductListLoading && filteredProducts.length>1" style="width:320px;">
                                                                <span  *ngFor="let value of filteredProducts"  class="flex" style="border: 0px solid ;margin: 4px 0;">
                                                                    <mat-option style="padding:0px 5px; flex-grow: 1;" [value]="value.name">
                                                                        <div (click)="onSelectProduct(value)">
                                                                            <span class="internal-card">{{value.name}}</span>
                                                                        </div>
                                                                    </mat-option>
                                                                    <mat-chip-list class="mat-chip-list">
                                                                        <mat-chip 
                                                                            *ngIf="value.total>0" 
                                                                            matTooltip="{{t('modules.tip.instock_th_dp')}}"
                                                                            style="margin:12px 5px;flex-grow: 0;">
                                                                            <span style="color:green; font-weight: bold">{{value.total-value.reserved}}</span>
                                                                        </mat-chip>
                                                                        <mat-chip 
                                                                            *ngIf="value.total==0" 
                                                                            matTooltip="{{t('modules.tip.nostock_th_dp')}}"
                                                                            style="background-color: #e0e0e0; margin:12px 5px;flex-grow: 0;">
                                                                            <span style="color:rgb(122, 0, 0); font-weight: bold">{{value.total-value.reserved}}</span>
                                                                        </mat-chip>
                                                                    </mat-chip-list>
                                                                </span>
                                                            </ng-container>
                                                        </mat-autocomplete>
                                                    </mat-form-field>
                                                    <mat-progress-bar *ngIf="isProductListLoading" mode="indeterminate"></mat-progress-bar>
                                                </div>
                                                <div class="col-lg-8 col-md-12">
                                                    <div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">
                                                        <div class="row">
                                                            <div class="col-lg-1 col-md-12" style="min-width: 120px;"> 
                                                                <mat-form-field  class="mat-form-field-100">
                                                                    <mat-label>{{t('modules.field.count')}}</mat-label>
                                                                    <input  matInput 
                                                                            #product_count
                                                                            [placeholder]="placeholderActualBalance"
                                                                            formControlName="product_count"
                                                                            (input)="checkProductCountInForm();calcSumPriceOfProduct()"
                                                                            (change)="checkProductCountInForm();calcSumPriceOfProduct()"
                                                                            (keypress)="numberOnlyPlusDotAndComma($event);"
                                                                            [readonly]="+formSearch.get('product_id').value==0?true:false"/>
                                                                    <span matSuffix>{{formSearch.get('edizm').value}}</span>
                                                                    <mat-hint  align="start">
                                                                        <i *ngIf="formSearch.get('product_count').invalid && formSearch.get('product_count').errors.pattern" class="form-invalid">{{t('modules.error.price_format',{int:6,fract:3})}} </i>
                                                                        <i *ngIf="formSearch.get('product_count').value!=null && (+formSearch.get('product_count').value==0) && formSearch.get('product_count').value!=''" class="form-invalid">{{t('modules.error.more_than',{num:0})}}</i>
                                                                        <i *ngIf="(formSearch.get('product_count').value==null || formSearch.get('product_count').value=='') && +this.formSearch.get('product_id').value>0" class="form-invalid">{{t('docs.error.field_miss')}}</i>
                                                                        <i *ngIf="indivisibleErrorOfSearchForm" class="form-invalid">{{t('modules.error.mst_be_integr')}}</i>
                                                                        <i *ngIf="(+formSearch.get('product_count').value>+formSearch.get('available').value)&&!indivisibleErrorOfSearchForm" class="form-invalid">Доступно {{+formSearch.get('available').value}} {{formSearch.get('edizm').value}}</i>
                                                                    </mat-hint>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-lg-1 col-md-12" style="min-width: 120px;"> 
                                                                <mat-form-field class="mat-form-field-100">
                                                                    <input  matInput 
                                                                            placeholder="{{t('modules.field.price')}}{{formSearch.get('edizm').value==''?'':' '+t('modules.field.for')+' 1'}}{{formSearch.get('edizm').value}}"
                                                                            formControlName="product_price"
                                                                            (input)="checkProductPriceInForm();calcSumPriceOfProduct()"
                                                                            (change)="checkProductPriceInForm();calcSumPriceOfProduct()"
                                                                            (keypress)="numberOnlyPlusDotAndComma($event)"
                                                                            [readonly]="+formSearch.get('product_id').value==0?true:false"/>
                                                                    <span matSuffix>{{accountingCurrency}}</span>
                                                                    <mat-hint align="start">
                                                                        <i *ngIf=" formSearch.get('product_price').invalid && formSearch.get('product_price').errors.pattern && formSearch.get('product_price').value>0 && formSearch.get('product_price').touched" class="form-invalid">{{t('modules.error.price_format',{int:7,fract:2})}}</i>
                                                                        <i *ngIf="(formSearch.get('product_price').value==null || formSearch.get('product_price').value=='') && formSearch.get('product_price').value!='0' && +this.formSearch.get('product_id').value>0 && formSearch.get('product_price').touched" class="form-invalid">{{t('docs.error.field_miss')}}</i>
                                                                        <i *ngIf="formSearch.get('product_price').value=='0' && formSearch.get('product_price').touched" class="form-invalid">{{t('modules.error.more_than',{num:0})}}</i>
                                                                        <i *ngIf="formSearch.get('product_price').value<0 && formSearch.get('product_price').value!=''" class="form-invalid">{{t('modules.error.more_than',{num:0})}}</i>
                                                                    </mat-hint>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-lg-1 col-md-12" style="min-width: 120px;">
                                                                <mat-form-field class="mat-form-field-100">
                                                                    <input  matInput matTooltip="{{t('modules.tip.avail_to_mov')}} {{department_from}}"
                                                                            placeholder="{{t('modules.field.available')}}"
                                                                            formControlName="available"
                                                                            [readonly]=true
                                                                            />
                                                                    <span matSuffix>{{formSearch.get('edizm').value}}</span>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-lg-1  col-md-12" style="min-width: 120px;">
                                                                <mat-form-field class="mat-form-field-100">
                                                                    <input  matInput matTooltip="{{t('modules.tip.total_dep_frm')}} {{department_from}}"
                                                                            placeholder="{{t('modules.field.remains')}}"
                                                                            formControlName="total"
                                                                            [readonly]=true
                                                                            />
                                                                    <span matSuffix>{{formSearch.get('edizm').value}}</span>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-lg-1  col-md-12" style="min-width: 120px;">
                                                                <mat-form-field class="mat-form-field-100">
                                                                    <input  matInput matTooltip="{{t('modules.tip.resrv_dep_frm')}} {{department_from}}"
                                                                            placeholder="{{t('modules.field.reserved')}}"
                                                                            formControlName="reserved"
                                                                            [readonly]=true
                                                                            />
                                                                            <span matSuffix>
                                                                                {{formSearch.get('edizm').value}}
                                                                                <button mat-button 
                                                                                    type="button"
                                                                                    (click)="openDialogProductReserves(formSearch.get('product_id').value )"
                                                                                    *ngIf="+formSearch.get('product_id').value>0" 
                                                                                    matTooltip="{{t('modules.tip.inf_res_dep_f')}}"
                                                                                    matSuffix mat-icon-button>
                                                                                    <mat-icon>info</mat-icon>
                                                                                </button>
                                                                            </span>
                                                                            
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-lg-1  col-md-12" style="min-width: 120px;">
                                                                <mat-form-field class="mat-form-field-100">
                                                                    <input  matInput 
                                                                            placeholder="{{t('modules.field.sum')}}"
                                                                            formControlName="product_sumprice"
                                                                            [readonly]=true
                                                                            />
                                                                    <span matSuffix>{{accountingCurrency}}</span>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">

                            <mat-spinner 
                                strokeWidth="3" 
                                class="spinner"
                                style="margin-top:110px;"
                                [diameter]="44"
                                *ngIf="gettingTableData"
                                ></mat-spinner>
                            <div class="row" *ngIf="getControlTablefield().value.length>0" style="margin-right:0;margin-left:0;">
                                
                                <table mat-table #_table  [dataSource]="getControlTablefield().value" 
                                [formGroup]="formBaseInformation" 
                                [trackBy]="trackByIndex" 
                                style="margin-top: 20px;" 
                                class="mat-elevation-z8">

                                    <ng-container matColumnDef="select" [formArrayName]="'movingProductTable'">
                                        <th mat-header-cell *matHeaderCellDef class="checkbox-col">
                                            <mat-checkbox   (change)="masterToggle()"
                                                            
                                                            [checked]="selection.hasValue()"
                                                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                                            </mat-checkbox>
                                        </th>
                                        <td mat-cell class="checkbox-col" *matCellDef="let row; let i = index" [formGroupName]="i"> 
                                            <mat-checkbox   (click)="$event.stopPropagation()"
                                                            *ngIf="showCheckbox(row)"
                                                            
                                                            (change)="$event ? clickTableCheckbox(row) : null"
                                                            [checked]="selection.isSelected(row)">
                                            </mat-checkbox>
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef></td>
                                    </ng-container>

                                    <ng-container matColumnDef="index" [formArrayName]="'movingProductTable'">
                                        <th mat-header-cell *matHeaderCellDef> index </th>
                                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"> 
                                            <span>{{i}}</span>
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef> </td>uj
                                    </ng-container>

                                    <ng-container matColumnDef="row_id" [formArrayName]="'movingProductTable'">
                                        <th mat-header-cell *matHeaderCellDef> row_id </th>
                                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"> 
                                            <span>{{row.row_id}}</span>
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef> </td>
                                    </ng-container>
                                    <ng-container matColumnDef="product_id" [formArrayName]="'movingProductTable'">
                                        <th mat-header-cell *matHeaderCellDef> product_id </th>
                                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"> 
                                            <span>{{row.product_id}}</span>
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef> </td>
                                    </ng-container>
                                    <ng-container matColumnDef="name" [formArrayName]="'movingProductTable'">
                                        <th mat-header-cell *matHeaderCellDef>{{t('modules.col.name')}}</th>
                                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"> 
                                            <span matTooltip="{{t('modules.tip.opn_prod_card')}}" class="hand" (click)="openProductCard(row.product_id)">{{row.name}}</span>
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef> {{t('modules.col.total')}}: {{getControlTablefield().value.length}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="product_count" [formArrayName]="'movingProductTable'">    
                                        <th mat-header-cell *matHeaderCellDef class="cell-padding width-80">
                                            <span 
                                                style="cursor: default;"
                                                matTooltip="{{t('modules.tip.amnt_mov_prod')}}">
                                                {{t('modules.col.qnt')}}
                                            </span>
                                        </th>
                                        <td mat-cell *matCellDef="let row; let i = index" 
                                        class="cell-padding width-120"
                                        [formGroupName]="i"
                                        
                                        [matTooltip]="((getControlTablefield().controls[i].get('product_count').value>(getControlTablefield().controls[i].get('available').value)&&getControlTablefield().controls[i].get('is_material').value) && !readonly &&!(getControlTablefield().controls[i].get('product_count').invalid && getControlTablefield().controls[i].get('product_count').errors.pattern)) ? 'Количество товара больше доступного количетсва' : ''"
                                        [ngStyle]="   ((getControlTablefield().controls[i].get('product_count').value>(getControlTablefield().controls[i].get('available').value)&&getControlTablefield().controls[i].get('is_material').value) && !readonly &&!(getControlTablefield().controls[i].get('product_count').invalid && getControlTablefield().controls[i].get('product_count').errors.pattern))?{'background-color': '#ffe4e1'}:{'background-color': 'white'}"
                                        >
                                            <input matInput 
                                                class="table-field-editable quantity-field"
                                                [ngClass]="{'table-field-editable':!readonly}"
                                                [readonly]=readonly
                                                style="width:  95%;"
                                                placeholder=""
                                                formControlName="product_count"
                                                (keyup)="onChangeProductCount(i);"
                                                (keypress)="numberOnlyPlusDotAndComma($event)"
                                            />
                                            <span matSuffix>{{row.edizm}}</span>
                                            <control-messages  class="table-form-invalid" [control]="getControlTablefield().controls[i].get('product_count')"></control-messages>
                                            <mat-hint align="start">
                                                <i *ngIf="  getControlTablefield().controls[i].get('product_count').value =='0'" class="table-form-invalid">
                                                            {{t('modules.error.more_than',{num:0})}}
                                                </i>
                                                <i *ngIf="  getControlTablefield().controls[i].get('product_count').value !='' && 
                                                            getControlTablefield().controls[i].get('indivisible').value && 
                                                            !isInteger(parseFloat(getControlTablefield().controls[i].get('product_count').value))"  class="table-form-invalid">
                                                            {{t('modules.error.mst_be_integr')}}
                                                </i>
                                                <i *ngIf="getControlTablefield().controls[i].get('product_count').invalid && getControlTablefield().controls[i].get('product_count').errors.pattern" class="table-form-invalid">{{t('docs.error.price_format',{int:7,fract:3})}}</i>
                                            </mat-hint>
                                        <td mat-footer-cell *matFooterCellDef class="cell-padding width-120"></td>
                                    </ng-container>
                                    <ng-container matColumnDef="product_price" [formArrayName]="'movingProductTable'">
                                        <th mat-header-cell *matHeaderCellDef style="width: 80px;">
                                            <span 
                                                style="cursor: default;"
                                                matTooltip="{{t('modules.tip.price')}}">
                                                {{t('modules.col.price')}}, {{accountingCurrency}}
                                            </span>
                                        </th>
                                        <td mat-cell 
                                        *matCellDef="let row; let i = index" 
                                        [formGroupName]="i"
                                        [ngStyle]="(+getControlTablefield().controls[i].get('product_price').value==0)?{'background-color': '#ffe4e1'}:{'background-color': 'white'}"
                                        >
                                            <input matInput 
                                                [ngClass]="{'table-field-editable':!readonly}"
                                                [readonly]=readonly
                                                style="width: 95%;"
                                                placeholder=""
                                                formControlName="product_price"
                                                (keyup)="onChangeProductPrice(i);"
                                                (keypress)="numberOnlyPlusDotAndComma($event)"
                                            />
                                            <control-messages  class="table-form-invalid" [control]="getControlTablefield().controls[i].get('product_price')"></control-messages>
                                            <mat-hint align="start" >
                                                <i *ngIf="getControlTablefield().controls[i].get('product_price').invalid && getControlTablefield().controls[i].get('product_price').errors.pattern" class="table-form-invalid">{{t('docs.error.price_format',{int:7,fract:2})}}</i>
                                            </mat-hint>
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef></td>
                                    </ng-container>
                                    <ng-container matColumnDef="available" [formArrayName]="'movingProductTable'">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <span 
                                                style="cursor: default;"
                                                matTooltip="{{t('modules.tip.avl_on_depart')}}">
                                                {{t('modules.col.available')}}
                                            </span>
                                        </th>
                                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"> 
                                            <span class="quantity-field" *ngIf="getControlTablefield().controls[i].get('is_material').value">{{row.available}}</span> <span *ngIf="getControlTablefield().controls[i].get('is_material').value" matSuffix>{{row.edizm}}</span>
                                        </td>                                        
                                        <td mat-footer-cell *matFooterCellDef></td>
                                    </ng-container>
                                    <ng-container matColumnDef="reserved" [formArrayName]="'movingProductTable'">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <span 
                                                style="cursor: default;"
                                                matTooltip="{{t('modules.tip.qtt_dep_from')}}">
                                                {{t('modules.col.reserved')}}
                                            </span>
                                        </th>
                                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"> 
                                            <span 
                                                style="cursor: pointer;"
                                                class="quantity-field"
                                                *ngIf="getControlTablefield().controls[i].get('is_material').value"
                                                (click)="openDialogProductReserves(row.product_id)"
                                                matTooltip="{{t('modules.tip.inf_res_dep_f')}}">
                                                {{row.reserved}} 
                                            </span> <span *ngIf="getControlTablefield().controls[i].get('is_material').value" matSuffix>{{row.edizm}}</span>
                                            
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef></td>
                                    </ng-container>
                                    <ng-container matColumnDef="total" [formArrayName]="'movingProductTable'">
                                        <th mat-header-cell *matHeaderCellDef>{{t('modules.col.remains')}}</th>
                                        <!-- <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"> {{row.total}} </td> -->
                                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"> <span class="quantity-field">{{row.total}}</span> <span matSuffix>{{row.edizm}}</span> </td>
                                        <td mat-footer-cell *matFooterCellDef></td>
                                        <td mat-footer-cell *matFooterCellDef></td>
                                    </ng-container>
                                    <ng-container matColumnDef="product_sumprice" [formArrayName]="'movingProductTable'">
                                        <th mat-header-cell *matHeaderCellDef>{{t('modules.col.sum')}}, {{accountingCurrency}}</th>
                                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"> {{row.product_sumprice}} </td>
                                        <td mat-footer-cell *matFooterCellDef> {{totalProductSumm}}</td>
                                        <td mat-footer-cell *matFooterCellDef></td>
                                    </ng-container>
                                    <ng-container matColumnDef="product_netcost">
                                        <th mat-header-cell *matHeaderCellDef>{{t('modules.col.cost_per_unit')}}, {{accountingCurrency}}</th>
                                        <td mat-cell *matCellDef="let row">{{row.product_netcost}}</td>
                                        <td mat-footer-cell *matFooterCellDef></td>
                                    </ng-container>
                                    <ng-container matColumnDef="delete" [formArrayName]="'movingProductTable'">
                                        <th mat-header-cell *matHeaderCellDef style="width: 30px;"><mat-icon style="cursor: default" (click)="clearTable()" matTooltip="{{t('modules.tip.del_frm_tabl_')}}">close</mat-icon></th>
                                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                                            <mat-icon matTooltip="{{t('modules.tip.del_frm_table')}}" style="cursor: default" (click)="deleteProductRow(row,i)">delete_forever</mat-icon>
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef></td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr> 
                                </table>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </form>
        </div>
        <!-- <code><pre>{{formBaseInformation.get('movingProductTable').value | json}}</pre></code> -->
    </div>
</div>
