:host{
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

table {width: 100%;}

li {list-style: none;}

.flex{ display: flex; }

.center-align{
    display: flex;
    justify-content: center;
}

.card{
    width:100%;
}
.subtitle{
    margin-top:-10px;
}
.internal-card{
    padding: 0;
    margin: 10px 0 10px 0;
}
.expansion-card-top{
    margin: 10px 0 10px 0;
}
.invisible{display:none;}

.card-name{ flex-grow: 1; }

.button{
    margin-left: 10px;
}

.mat-form-field-100{
    width:100%
}

.input-form{
    display: flex;
    flex-direction: column;
}

 
.priceTypeName{
    position: absolute;
    left: 56px;
    top: 15px;
    flex: 0 0 0%;
    font-size: 11px;
    color: gray;
    z-index: 1000;
}
.slideWidth100{
    width:100%;
    /* margin:-8.5px 0 0 0; */
}
.highlighted{
    background: rgba(0,0,0,.12);
}
.field-name {
    position: absolute;
    cursor: pointer;
    top: -12px;
    left: 0px;
    color: rgba(0,0,0,.54);
    font-size: 11px;
    z-index: 1000;
}

.slideWidth50left{
    width:50%; 
    padding-right: 10px;
}
.slideWidth50right{
    width:50%; 
    padding-left: 10px;
}
tr.mat-mdc-footer-row {
    font-weight: bold;
}

.form-invalid{
    color: red;
}
 
.table-field-editable{
    border-bottom: 1px lightgray dotted;
}
.div-foto{
    width: 100%;
    max-width: 80px;
    padding-left: 6px;
    margin-bottom:0px;
    overflow: hidden;
}





/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
::ng-deep td  .mat-select-arrow { /*прячем стрелку mat-select НДС в таблице товаров*/
    border-top: 0px;
}

div#status {
    margin-top: -14px;
    flex-grow: 20;
    width: 200px;
}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep div#status .mat-form-field-underline{
    height: 0px !important;
}
/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
::ng-deep div#status .mat-select-arrow{
    border-top: 0px !important;
}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep div#status .mat-form-field-wrapper{
    padding-bottom: 0;
}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep div#status .mat-form-field-underline{
    display:none;
}
::ng-deep .statuseslist {
    min-width: 250px !important;
}
::ng-deep .department-list {
    min-width: 350px !important;
}
/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
::ng-deep div#pricetype .mat-button-ripple.mat-ripple, .mat-button-focus-overlay {
    position: relative;
    left: -12px;
    top: 5px;
    flex: 0 0 0%;
    z-index: 1000;
}
.small-padding{
    padding-right: 3px; 
    padding-left: 3px;
}
.hand
{
    cursor: pointer;
}
 
.center {
    display: flex;
    justify-content: center;
}
.right {
    display: flex;
    justify-content: flex-end;
}
 
.inactive{
    color: rgba(0,0,0,.54);
    text-decoration: none;
}
.min-heigth{
    line-height: 22px;
    height: 22px;
    min-width: 35px;
    padding: 0px;
    color:rgb(100, 100, 100);
}
.e-radio-group {
    display: flex;
    flex-direction: column;
    margin: 0px 0 0 -6px;
} 
.e-radio-button {
    margin: 5px;
}

.mat-chip-list{
    position: absolute;
    right: 5px;
}
.bold {
    font-weight: bold;
 }
.plusMinusEnable{
    color: black;
    cursor: pointer;
    font-size:14px;
    margin-left: -2px;
}
div#costPrice .material-icons {
    line-height:0 !important;
    vertical-align: middle;
}
div#costPrice input {
    margin-left: 19px;
}

/*-------------- спиннер ---------------------------*/
.spinner{
    position: absolute;
    top: 0%;
    left: 50%;
    margin-left: -22px;
    margin-top: 78px;
}
.spinner-kkm{
    position: absolute;
    top: 40%; left: 50%;
    margin-left: -25px;
    /* margin-top: 100px; */
    z-index: 1000;
}
/*--------------- стили для статуса------------------*/
/*для цветного круга в статусах*/
 

  

   

/*название статуса*/
.status-name {
    display: inline-block;
    line-height: 20px;
} 

::ng-deep .mat-expansion-panel-header{
    display: flex;
    /* flex-direction: row; */
    font-size: 12px !important;
    align-items: baseline !important;
    padding: 0 12px !important;
}
  
::ng-deep .mat-expansion-panel-header-title{
    font-size: 20px !important;
    margin-top: 10px;
    flex-grow: 0 !important;
}
::ng-deep .mat-expansion-panel-header-description{
    margin: 5px 0 5px;
    flex-grow: 1 !important;
}
::ng-deep .mat-expansion-panel-body {
    padding: 0 15px 10px !important;
}