<div class="cal-week-view" role="grid" style="user-select:none">

  <!-- Table header with Days -->
  <div class="cal-day-headers">
    <div
      class="cal-header"
      [class.cal-today]="(viewPeriodName!='resources_day')?isDayToday(day):isDayOfHourToday() && isHourNow(getHeaderTime(i, true))"
      (click)="onClickHeaderDay(day.date);"
      *ngFor="let day of weekDays; let i = index; trackBy: trackByDay"
      tabindex="0"
      style="cursor: pointer;"
    >
      <b *ngIf="viewPeriodName!='resources_day'">{{ day.dayOfMonth }}</b>
      <b *ngIf="viewPeriodName=='resources_day'">{{ getHeaderTime(i, false) }}</b> 
      <b *ngIf="viewPeriodName=='resources_day' && timeFormat=='12'" style="font-size: x-small;">&nbsp;{{getAmPm(i)}}</b>
    </div>
  </div>


  <div class="cal-time-events"></div>

  <ng-container
    *ngFor="let department of departmentsWithParts; trackBy: trackByDepartment"
  >
    <ng-container *ngIf="isDepartmentsHasSelectedDepPartsWithResources(department.department_id)">
      <div class="department-container">  
        <div
          class="cal-header department-name-row"
        >
          <b>{{ department.department_name }}</b>
        </div>
        <div class="deppart-block" *ngFor="let deppart of department.parts; trackBy: trackByDepPart">
          
          <ng-container *ngIf="deppart.resources.length>0 && selectedDepparts.includes(deppart.id)">

            <div class="cal-header deppart-name-row" 
            [ngStyle]="(deppart.is_active)?{}:{'color': 'lightgray'}"
            matTooltip="{{deppart.is_active?'':'docs.list.noactive' | transloco}}">
              {{deppart.name}}
            </div>
          
          

            <div mwldroppable="" class="cal-all-day-events" *ngFor="let resource of deppart.resources; trackBy: trackByResource.bind(this, deppart.id)" [ngClass]="{'not-enought-resources': (isNotEnoughtResources(deppart.id,resource.resource_id,resource.resource_qtt))}">
              <div #calDayColumns class="cal-day-columns"><!--style="z-index: 10;"-->
                <div class="cal-time-label-column resource-name" 
                 >
                    <span matTooltip="{{resource.name}} ({{resource.resource_qtt}}) {{resource.description}}"
                    [ngStyle]="(deppart.is_active)?{}:{'color': 'lightgray'}"
                    (click)="getResourceServicesList(resource.resource_id, deppart.id )"
                    style="cursor:pointer"
                    [matMenuTriggerFor]="resource_services_menu"
                    >{{resource.name}}</span>
                    <span class="amount-resource" style="top: -3px;" matTooltip="{{'modules.tip.amnt_res' | transloco}}">{{resource.resource_qtt}}</span>
                </div>
                



                <!-- 11111111111111 -->
                <!-- <ng-container *ngIf="viewPeriodName!='resources_day'; else resourcesDays1">
                  <div #container
                    class="cal-day-column"
                    *ngFor="let day of days; trackBy: trackByResourceDay.bind(this, resource.resource_id)"
                    mwlDroppable
                    dragOverClass="cal-drag-over"
                    (drop)="eventDropped_($event, day.date, true, deppart.id)"
                    (dragEnter)="dateDragEnter(day.date)"
                  >
                    <mwl-calendar-week-view-hour-segment
                      [style.height.px]="hourSegmentHeight"
                      [segmentHeight]="hourSegmentHeight"
                      [segment]="day"
                      [locale]="locale"
                      [customTemplate]="hourSegmentTemplate"
                      [isTimeLabel]="true"
                      (mousedown)="emitObjectOfDraggingToCreateEvent({id: resource.resource_id, name: resource.name, usedQuantity: 1}, deppart, (getDayColumnWidth(container)))"
                    >
                    </mwl-calendar-week-view-hour-segment>
                    <hr *ngIf="!deppart.is_active">
                  </div>
                </ng-container>
                <ng-template #resourcesDays1>
                  <mwl-calendar-week-view-hour-segment
                    class="cal-day-column"
                    *ngFor="let segment of weekDays; trackBy: trackByHourSegment"
                    [style.height.px]="hourSegmentHeight"
                    [segment]="segment"
                    [segmentHeight]="hourSegmentHeight"
                    [locale]="locale"
                    [customTemplate]="hourSegmentTemplate"
                    [isTimeLabel]="true"
                    (mousedown)="emitObjectOfDraggingToCreateEvent({id: resource.resource_id, name: resource.name, usedQuantity: 1}, deppart, getDayColumnWidth(calDayColumns)-100)"
                  >
                  </mwl-calendar-week-view-hour-segment>
                </ng-template> -->



                <mat-menu #resource_services_menu="matMenu" xPosition="after">
                  <mat-spinner 
                      strokeWidth="3" 
                      class="spinner"
                      style="top:0px; left:30px"
                      [diameter]="50"
                      *ngIf="resourceServicesListLoading"></mat-spinner>
                  
                  <ng-container *ngIf="resourceServicesList.length>1; else oneCard" >

                  
                    <div *ngFor="let service of resourceServicesList">
                      <button mat-menu-item [matMenuTriggerFor]="menu">{{ service.name }}</button>
                      <mat-menu #menu>
                        <mat-card class="serviceinfo-card" appearance="outlined">
                          <mat-card-header>
                            <mat-card-title-group>
                              <mat-card-title>
                                <a class="service-card-header-name" target="_blank" href="/ui/productsdoc/{{service.id}}">{{service.name}}</a>
                              </mat-card-title>
                              <mat-card-subtitle [innerHTML]="service.description"></mat-card-subtitle>
                              <img mat-card-sm-image *ngIf="service.imageFile" matTooltip="{{('modules.tip.opn_image' | transloco)}}" (click)="showImage(service.imageFile)" [src]="'/api/public/getFile/'+service.imageFile" width=100%>
                              <img mat-card-sm-image *ngIf="!service.imageFile" src="assets_/images/no_foto.jpg" width=100% style="cursor:default">
                            </mat-card-title-group>
                          </mat-card-header>
                          <mat-card-content>
                            <ul style="margin-top: 15px; padding: 0;">
                              <li *ngFor="let attribute of service.attributesList; let even = even; let odd = odd" [style.display]="'block'" class="row-striped" [ngClass]="{ odd: odd, even: even }">
                                <div class="row">
                                  <div class="col-4">
                                    <span [matTooltip]="attribute.description">{{attribute.name}}</span>
                                  </div>
                                  <div class="col-8">
                                    <ul style="padding: 0;">
                                      <li *ngFor="let term of attribute.termsList" [style.display]="'block'">
                                        <span 
                                        [matTooltip]="term.description">{{term.name}}</span>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </li>
                          </ul>
                          </mat-card-content>
                        </mat-card>
                      </mat-menu>
                    </div>
                  </ng-container>
                  <ng-template #oneCard>
                    <mat-card class="serviceinfo-card" appearance="outlined" *ngIf="resourceServicesList.length==1;">
                      <mat-card-header>
                        <mat-card-title-group>
                          <mat-card-title>
                            <a class="service-card-header-name" target="_blank" href="/ui/productsdoc/{{resourceServicesList[0].id}}">{{resourceServicesList[0].name}}</a>
                            </mat-card-title>
                          <mat-card-subtitle [innerHTML]="resourceServicesList[0].description"></mat-card-subtitle>
                          <img mat-card-sm-image *ngIf="resourceServicesList[0].imageFile" matTooltip="{{('modules.tip.opn_image' | transloco)}}" (click)="showImage(resourceServicesList[0].imageFile)" [src]="'/api/public/getFile/'+resourceServicesList[0].imageFile" width=100%>
                          <img mat-card-sm-image *ngIf="!resourceServicesList[0].imageFile" src="assets_/images/no_foto.jpg" width=100% style="cursor:default">
                        </mat-card-title-group>
                      </mat-card-header>
                      <mat-card-content>
                        <ul style="margin-top: 15px; padding: 0;">
                          <li *ngFor="let attribute of resourceServicesList[0].attributesList; let even = even; let odd = odd" [style.display]="'block'" class="row-striped" [ngClass]="{ odd: odd, even: even }">
                            <div class="row">
                              <div class="col-4">
                                <span [matTooltip]="attribute.description">{{attribute.name}}</span>
                              </div>
                              <div class="col-8">
                                <ul style="padding: 0;">
                                  <li *ngFor="let term of attribute.termsList" [style.display]="'block'">
                                    <span 
                                    [matTooltip]="term.description">{{term.name}}</span>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </li>
                      </ul>
                      </mat-card-content>
                    </mat-card>
                  </ng-template>
                </mat-menu>
              </div>
              

              <!-- <span *ngIf="allDayEventRowsByDeppartsAndResourcesId.size>0">{{allDayEventRowsByDeppartsAndResourcesId.get(deppart.id+'_'+resource.resource_id).length}}</span> -->
<!-- 1-{{allDayEventRowsByDeppartsAndResourcesId.get(deppart.id+'_'+resource.resource_id).length}} -->
              <div
              *ngFor="let eventRow of allDayEventRowsByDeppartsAndResourcesId.get(deppart.id+'_'+resource.resource_id); trackBy: trackByRowId"
              #eventRowContainer
              class="cal-events-row"
              style="display: flex; height: 36px;"
              >
              
              <!-- /* border:1px solid red; background-color: antiquewhite;" */ -->





                <ng-container *ngIf="viewPeriodName!='resources_day'; else resourcesDays2" >
                  <div 
                    class="cal-day-column time-in-cell-wrapper"
                    style="height: 36px;"
                    #segmentElement
                    *ngFor="let day of days; trackBy: trackByResourceDay.bind(this, resource.resource_id)"
                    mwlDroppable
                    dragOverClass="cal-drag-over"
                    (drop)="eventDropped_($event, day.date, true, deppart.id)"
                    (dragEnter)="dateDragEnter(day.date)"
                  >
                  <div 
                    class="time-in-cell"
                    >{{getDate(day.date)}}</div>
                    <mwl-calendar-week-view-hour-segment
                      style="flex-grow: 1; height: 100%;z-index: 10;"
                      [segment]="day"
                      [locale]="locale"
                      [customTemplate]="hourSegmentTemplate"
                      [isTimeLabel]="true"
                      (mousedown)="emitObjectOfDraggingToCreateEvent({id: resource.resource_id, name: resource.name, usedQuantity: 1}, deppart, getDayColumnWidth(eventRowContainer), day.date, segmentElement)"
                    >
                    </mwl-calendar-week-view-hour-segment>
                    <hr *ngIf="!deppart.is_active">
                  </div>
                </ng-container>
                <ng-template 
                  #resourcesDays2 
                  >
                  <div 
                    class="cal-day-column time-in-cell-wrapper" 
                    *ngFor="let segment of weekDays; trackBy: trackByHourSegment"
                    #segmentElement>
                    <div 
                    class="time-in-cell"
                    >{{getTimeWIthFormat(segment.date)}}</div>
                    <mwl-calendar-week-view-hour-segment
                      style="flex-grow: 1; height: 100%;z-index: 10;"
                      [segment]="segment"
                      [locale]="locale"
                      [customTemplate]="hourSegmentTemplate"
                      [isTimeLabel]="true"
                      (mousedown)="emitObjectOfDraggingToCreateEvent({id: resource.resource_id, name: resource.name, usedQuantity: 1}, deppart, getDayColumnWidth(eventRowContainer), segment.date, segmentElement)"
                    >
                    </mwl-calendar-week-view-hour-segment>
                  </div>
                </ng-template>

              










                <div
                  *ngFor="
                    let allDayEvent of eventRow.row;
                    trackBy: trackByWeekAllDayEvent
                  "
                  #event
                  class="cal-event-container"
                  [class.cal-starts-within-week]="!allDayEvent.startsBeforeWeek"
                  [class.cal-ends-within-week]="!allDayEvent.endsAfterWeek"
                  [ngClass]="allDayEvent.event?.cssClass"
                  [style.width.%]="(100 / days.length) * allDayEvent.span"
                  [style.marginLeft.%]="
                    rtl ? null : (100 / days.length) * allDayEvent.offset
                  "
                  [style.marginRight.%]="
                    rtl ? (100 / days.length) * allDayEvent.offset : null
                  "


                  [class.cal-draggable]="allDayEvent.event.draggable && allDayEventResizes.size === 0"

                
                  

                >


<!-- !!!  to make draggable and resizeable put this into the tag above and uncomment divs with class="cal-resize-handle" !!!
                  
                  mwlResizable
                  [resizeCursors]="resizeCursors"
                  [resizeSnapGrid]="{ left: dayColumnWidth, right: dayColumnWidth }"
                  [validateResize]="validateResize"
                  (resizeStart)="
                    allDayEventResizeStarted(eventRowContainer, allDayEvent, $event)
                  "
                  (resizing)="
                    allDayEventResizing(allDayEvent, $event, dayColumnWidth)
                  "
                  (resizeEnd)="allDayEventResizeEnded(allDayEvent)"
  
  
  
                  mwlDraggable
                  dragActiveClass="cal-drag-active"
                  [dropData]="{ event: allDayEvent.event, calendarId: calendarId }"
                  [dragAxis]="{
                    x: allDayEvent.event.draggable && allDayEventResizes.size === 0,
                    y:
                      !snapDraggedEvents &&
                      allDayEvent.event.draggable &&
                      allDayEventResizes.size === 0
                  }"
                  [dragSnapGrid]="snapDraggedEvents ? { x: dayColumnWidth } : {}"
                  [validateDrag]="validateDrag"
                  [touchStartLongPress]="{ delay: 300, delta: 30 }"
                  (dragStart)="
                    dragStarted(eventRowContainer, event, allDayEvent, false)
                  "
                  (dragging)="allDayEventDragMove()"
                  (dragEnd)="dragEnded(allDayEvent, $event, dayColumnWidth)"    
                 -->

                  <!-- <div
                    class="cal-resize-handle cal-resize-handle-before-start"
                    *ngIf="
                      allDayEvent.event?.resizable?.beforeStart &&
                      !allDayEvent.startsBeforeWeek
                    "
                    mwlResizeHandle
                    [resizeEdges]="{ left: true }"
                  ></div> -->
                  <mwl-calendar-week-view-event
                    [locale]="locale"
                    [weekEvent]="allDayEvent"
                    [customTemplate]="eventTemplate1"
                    [eventActionsTemplate]="eventActionsTemplate"
                    [daysInWeek]="daysInWeek"
                  >
                  </mwl-calendar-week-view-event>
                  <!-- <div
                    class="cal-resize-handle cal-resize-handle-after-end"
                    *ngIf="
                      allDayEvent.event?.resizable?.afterEnd &&
                      !allDayEvent.endsAfterWeek
                    "
                    mwlResizeHandle
                    [resizeEdges]="{ right: true }"
                  >
                  </div> -->


                  <ng-template #eventTemplate1>
                    <div class="cal-event"
                    style="padding-left: 0px;
                    margin-top: 2px;
                    cursor: default;
                    z-index:100;
                    overflow: hidden;
                    margin-left: 0;
                    margin-right: 0;">
                      <div class="info-and-open"
                      [matTooltip]="allDayEvent.event.title"
                      (click)="eventClicked.emit({
                          event: allDayEvent.event,
                          sourceEvent: $event.sourceEvent
                        })">

                      </div>
                      <button mat-icon-button
                              class="status-button"
                              [matTooltip]="allDayEvent.event.meta.statusName+getAdditionalState(allDayEvent.event.meta)"
                              (click)="oldStatusType = allDayEvent.event.meta.statusType" 
                              [matMenuTriggerFor]="statuses_menu">
                              <mat-icon
                              [style.color]="allDayEvent.event.meta.statusColor"
                              style="height: 22px;
                              width: 22px;
                              font-size: 22px;
                              color: rgb(0, 138, 210);
                              position: absolute;
                              top: -1px;
                              left: -1.5px;"
                              >{{allDayEvent.event.meta.completed?'check_circle':'circle'}}</mat-icon>
                              <mat-icon 
                              *ngIf="showPaidSubicon(allDayEvent.event.meta)"
                              [ngClass]="{
                                paid:getPayedClass(allDayEvent.event.meta) == 'paid',
                                paid_part:getPayedClass(allDayEvent.event.meta) == 'paid_part'
                              }">
                              {{getPayedClass(allDayEvent.event.meta) == 'paid'?'arrow_drop_down':'expand_more'}}
                              </mat-icon>
                              
                              <mat-icon 
                              *ngIf="showShippedSubicon(allDayEvent.event.meta)"
                              [ngClass]="{
                                shipped:getShippedClass(allDayEvent.event.meta) == 'shipped',
                                shipped_part:getShippedClass(allDayEvent.event.meta) == 'shipped_part'
                              }">
                              {{getShippedClass(allDayEvent.event.meta) == 'shipped'?'arrow_drop_up':'expand_less'}}
                                
                              </mat-icon>
                      </button>
                      
                      <span class="cal-event-title"
                      [matTooltip]="(dragActive || timeEventResizes.size > 0)?'':allDayEvent.event.title"
                          aria-hidden="true"(click)="eventClicked.emit({
                            event: allDayEvent.event,
                            sourceEvent: $event.sourceEvent
                          })"
                         >
                        {{allDayEvent.event.title}}
                      </span>
                      
                      <span class="amount-resource hidden" matTooltip="{{'modules.tip.amnt_res' | transloco}}">{{getAmountOfEventUsedResource(allDayEvent.event.id,resource.resource_id)}}</span>

                    </div>
                  </ng-template>
                  <mat-menu #statuses_menu="matMenu" xPosition="after">
                    <div style="width: 200px;">
                        <ul style="margin: 0px; padding: 8px;">
                            <li *ngFor="let status of statusesList" [style.display]="'flex'" (click)="emitChangeStatus(allDayEvent.event.id, status.id, oldStatusType)">
                              <div class="circle-list"
                              [style.background-color]="status.color"
                              [style.cursor]="'pointer'">
                              </div>
                              <span class="status-list-name">{{status.name}}</span>
                            </li>
                        </ul>
                    </div>
                  </mat-menu>







                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>

<!-- 1--<code><pre>{{getResourceEventsRows(1)}}</pre></code>--1 -->
  <!-- --<code><pre>{{resourceServicesList | json}}</pre></code>-- -->
  <!-- daysInWeek - {{daysInWeek}}<br> -->
  <!-- dayColumnWidth - {{dayColumnWidth}}<br> -->
  <!-- snapDraggedEvents - {{snapDraggedEvents}}<br> -->
  <!-- <code><pre>{{departmentsWithParts | json}}</pre></code> -->

  <!-- <code><pre>{{days | json}}</pre></code>  -->
  <!-- <code><pre>{{events | json}}</pre></code> -->
</div>