.cal-time-events{
    margin-top: 30px;
}
.deppart-block{
    /* border-bottom: 1px solid lightgray; */
}
.department-name-row{
    /* border-bottom: 1px solid #e1e1e1; */
    text-align: center;
    color: white;
    background-color: #673ab7;
    padding: 5px;
    border-radius: 4px;
    margin-right:2px;
}
.deppart-name-row{
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
    text-decoration: none;
    padding: 14px 0 3px;
    font-size: 16px;
}
.cal-events-row{
    margin-left: 100px!important;
}
.cal-all-day-events{
  min-height: 36px;
  border-bottom: solid 1px #e1e1e1;
  border-top: 0 !important;
  padding-top: 0px !important;
  position: relative !important;
}

.not-enought-resources{
    background-color:#ffe1df;
    border: 1px solid darkred !important;
}
.cal-week-view .cal-all-day-events .cal-day-columns {
    /* border-left: 1px solid lightgray;
    border-right: 2px solid lightgray; */
}

.cal-drag-over {
    background-color: rgb(239, 239, 239) !important;
  }
.cal-today {
    background-color: #e8fde7;
}
.cal-week-view .cal-day-headers {
    padding-left: 100px !important;
}
.cal-week-view .cal-time-label-column {
    width: 100px !important;
}
.cal-week-view .cal-day-headers .cal-header {
    padding:5px 0 !important;
}

.department-container:not(:first-child){
    margin-top:10px;
    /* border-top: 1px solid #e1e1e1; */
}
.department-container:last-child{
    margin-bottom:50px;
}
.amount-resource{
    margin-top: 4px !important;
    padding: 1.5px 3px !important;
    position: absolute !important;
    line-height: 0.8;
    right: 1px;
    top: -1px;
    background-color: #673ab7;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    border:1px solid white;
    border-radius: 10px;
    cursor:default;
}
.resource-name{
    justify-content: start!important;
    position: relative;
    overflow: hidden;
    padding-left: 3px;
}
.cal-time-events{
    border: unset!important;
}

.circle-list{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    position: relative;
    left: 5px;
  }
  .status-list-name{
      position: relative; top: -6px;left: 9px;line-height: 30px;cursor: pointer;
  }
  button.status-button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5.5px;
    left: 7px;
    padding: 0;
  }
  .drag-button {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 7px;
    font-size: 16px;
    color: #8e72cb;
    right: 1px;
    line-height: 15px;
    padding: 0;
    display: none;
  }
  /* .cal-event:hover > .drag-button {
    display: block;
  } */
  .cal-event:hover > .amount-resource {
    display: block;
  }  
  ::ng-deep button.status-button .mat-mdc-button-touch-target{
    display:none!important;
  }
  ::ng-deep.mat-mdc-menu-panel {
    max-width:fit-content !important;
  }
  .serviceinfo-card{
    width:350px;
    margin-top: -8px;
    margin-bottom: -8px;
  }
  .serviceinfo-card mat-card-title{
    margin-bottom: 0px !important;
    position: relative;
    width: 230px;
    height: 100px;
    overflow: hidden;
  }
  .serviceinfo-card mat-card-subtitle{
    position: static; width: 325px;
  }
  .serviceinfo-card mat-card-header img{
    position: absolute;
    top: 23px;
    right: 14px;
  }
  .serviceinfo-card mat-card-content{
    font-size: 14px;
  }
  ::ng-deep .serviceinfo-card .mat-mdc-card-header-text{
    width: 0;
  }
  .row-striped.even {
    background-color: #ffffff;
  }
  
  .row-striped.odd {
    background-color: #efefef;
  }
  /* cal-event{ */
    /* padding-left: 0px;
    margin-top: 2px;
    cursor: default;
    overflow: hidden;
    margin-left: 0;
    margin-right: 0; */
  /* } */
  .cal-event-title{
    line-height: 26px;
    cursor: default;
    position: unset;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 30px;
  }
  .cal-event-container{
    overflow: hidden;
  }
  .info-and-open{
    width: 7px;
    height: 28px;
    position: absolute;
    top: 2px;
    left: 1px;
  }
  hr {
    border: 0;
    height: 4px;
    background: #eee;
    margin: 0;
    position: absolute;
    top: calc(50% - 2px);
    width: 100%;
}
 .time-in-cell-wrapper{
  display: flex;
  height: 36px;
  position: relative;
  z-index:0;
}
  .time-in-cell-wrapper:hover > .time-in-cell {
    display: block;
    z-index:0;
  }
  .hidden{
    display:none;
  }
.time-in-cell{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  padding: 6px 0;
  color: darkgray;
  font-size: 15px;
  font-weight: 900;
  z-index:0;  
  display:none;
} 
.service-card-header-name{
  text-decoration: none;
  cursor:pointer;
  color: #000 !important;
}

.paid{
  width: 22px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 1px;
  left: -2.5px;
}
.shipped{
  width: 22px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: -5px;
  left: -2.5px;
}
.paid_part{
  width: 22px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: -1.5px;
}
.shipped_part{
  width: 22px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: -1px;
  left: -1.5px;
}