<mat-card class="card for-sticky-header" *transloco="let t" style="padding: 15px !important;">
    <mat-card-title class="flex">
        <div class="card-name">{{t('docs.docs.set_templates')}}</div>
        <button 
            (click)="applyTemplates()"
            matTooltip="{{t('docs.tip.save')}}"
            mat-raised-button 
            color="primary"
            class="button small-button"
            [disabled]="(!formBaseInformation.valid)"
            >
            <i class="material-icons">save</i>
        </button>
        <button 
            (click)="onNoClick()"
            matTooltip="{{t('docs.tip.close')}}"
            mat-raised-button 
            color="accent"
            class="button small-button">
            <i class="material-icons">close</i>
        </button>
    </mat-card-title>
    <mat-card-content > 
        <div class="card">
            <mat-spinner 
            strokeWidth="3" 
            class="spinner"
            [diameter]="50"
            *ngIf="gettingData"
            ></mat-spinner>
            <form [formGroup]="formBaseInformation">
                <div cdkDropList (cdkDropListDropped)="dropTemplate($event)" style="margin-top:40px">
                    <mat-card   *ngFor="let template of formBaseInformation.get('templatesList').controls;let i = index" 
                                [formGroup]="template"
                                cdkDrag
                                style="background-color: #f7f7f7; margin-top:5px">
                        <div cdkDragHandle  [style.display]="editability?'block':'none'">
                            <mat-icon   matTooltip="{{t('docs.tip.move')}}"
                                        class="handler" 
                                        *ngIf="formBaseInformation.get('templatesList').controls.length>1">
                                        swap_vertical_circle
                            </mat-icon>
                        </div>
                        <div  [style.display]="editability?'block':'none'">
                            <mat-icon   (click)="deleteTemplate(i)" 
                                        class="del-icon" 
                                        matTooltip="{{t('docs.tip.delete')}}">
                                        cancel
                            </mat-icon>
                        </div>
                        <mat-card-content class="input-form" >

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-sm-1"> 
                                        <mat-form-field [style.display]="'none'">
                                            <input  matInput
                                                placeholder="Template file on the disk"
                                                [readonly]=true
                                                formControlName="file_name"/>
                                        </mat-form-field>                                        
                                        <mat-form-field [style.display]="'none'">
                                            <input   matInput
                                                    placeholder="file_id"                                        
                                                    [readonly]=true
                                                    #file_id
                                                    formControlName="file_id"/>
                                        </mat-form-field>
                                        <!-- <mat-form-field [style.display]="'none'">
                                            <input   matInput
                                                    placeholder="name"
                                                    [readonly]=true
                                                    #name
                                                    formControlName="name"/>
                                        </mat-form-field> -->
                                        <mat-form-field [style.display]="'none'">
                                            <input   matInput
                                                    placeholder="company_id"
                                                    [readonly]=true
                                                    #company_id
                                                    formControlName="company_id"/>
                                        </mat-form-field>
                                        <mat-form-field [style.display]="'none'">
                                            <input   matInput
                                                    placeholder="document_id"
                                                    [readonly]=true
                                                    #document_id
                                                    formControlName="document_id"/>
                                        </mat-form-field>
                                        <mat-form-field [style.display]="'none'">
                                            <input matInput placeholder="id" formControlName="id"/>
                                        </mat-form-field>
                                        
                                        <mat-form-field [style.display]="'none'">
                                            <input   matInput
                                                    placeholder="output_order"
                                                    formControlName="output_order"/>
                                        </mat-form-field>


                                        <mat-form-field id="toggle"
                                            class="mat-form-field-100" 
                                            style="margin-top:-9px">
                                            <mat-slide-toggle 
                                                formControlName="is_show"
                                                matTooltip="{{t('modules.tip.show_prnt_tmp')}}">
                                            </mat-slide-toggle>
                                            <input matInput hidden/>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6"> 
                                        <mat-form-field class="mat-form-field-100">
                                            <mat-label>{{t('modules.field.templ_name')}} <span *ngIf="getControlTablefield().controls[i].get('name').value==''" class="star">*</span></mat-label>
                                            <input  matInput
                                                    formControlName="name"
                                                    [ngClass]="{'is-invalid':getControlTablefield().controls[i].get('name').invalid && getControlTablefield().controls[i].get('name').touched}"
                                                    maxlength="200"/>
                                            <mat-hint align="start" >
                                                <i *ngIf="getControlTablefield().controls[i].get('name').invalid && getControlTablefield().controls[i].get('name').touched" class="table-form-invalid">{{t('docs.error.field_miss')}}</i>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-5"> 
                                        <mat-form-field class="mat-form-field-100">
                                            <mat-label>{{t('modules.field.templ_file')}} <span *ngIf="getControlTablefield().controls[i].get('file_original_name').value==''" class="star">*</span></mat-label>
                                            <div *ngIf="editability && +file_id.value==0" class="add-file">
                                                <mat-icon   
                                                    matTooltip="{{t('modules.tip.select_file')}}"
                                                    class="add_circle"
                                                    (click)="addFileInField(getControlTablefield().controls[i].get('output_order').value)">
                                                    add_circle
                                                </mat-icon>
                                            </div>
                                            <div style="min-width:70px;">
                                                <mat-icon 
                                                        *ngIf="editability && file_id.value"
                                                        class="del-file"
                                                        (click)="deleteFileInField(getControlTablefield().controls[i].get('output_order').value)"
                                                        matTooltip="{{t('docs.tip.del_file')}}"
                                                        >
                                                    <mat-icon>delete_forever</mat-icon>
                                                </mat-icon>
                                            </div>
                                            <input  matInput
                                                    [ngClass]="{'is-invalid':getControlTablefield().controls[i].get('file_original_name').invalid && getControlTablefield().controls[i].get('file_original_name').touched}"
                                                    style="cursor: pointer;"
                                                    [readonly]=true
                                                    (click)="openFileCard(file_id.value)"
                                                    formControlName="file_original_name"/>
                                                <mat-hint align="start" >
                                                    <i *ngIf="getControlTablefield().controls[i].get('file_original_name').invalid && getControlTablefield().controls[i].get('file_original_name').touched" class="table-form-invalid">{{t('docs.error.field_miss')}}</i>
                                                </mat-hint>
                                        </mat-form-field>
                                        <p *cdkDragPreview></p>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="div-100" [style.display]="editability"> 
                    <div class="center hand" style="width:100%; height: 38px;text-align: center; padding: 7px;">
                        <button matTooltip="{{t('modules.tip.add_template')}}" 
                                mat-mini-fab color="primary" 
                                [disabled]="(!formBaseInformation.valid)" 
                                (click)="addNewTemplate()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>

            </form>
        </div>
        <!-- <code><pre>{{formBaseInformation.value | json}}</pre></code> -->
    </mat-card-content> 
</mat-card>
    