:host{
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

.login-form{
    display: flex;
    flex-direction: column;

}

.login-mat-card{
    
    width:100%;
    max-width: 500px;
    margin-top: 200px;
}

.form-invalid{
    color: red;
}


.lang-select{
    position: absolute;
    right: 32px;
    top: 9px;
    font-size: small;
    cursor: pointer;
}
.arrow-wrap{
    position: absolute;
    top: -1px;
    right: -5px;
    width: 5px;
    height: 5px;
}