:host{
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

table {width: 100%;}

.flex{ display: flex; }

.card{
    width:100%;
}
.company-select{   
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 400px;
}
.emptyspace{ flex-grow: 1; }

.num-of-rows{flex-grow: 0;}

.depatrment-select{flex-grow: 1;}

.pagination {
    display: flex;
    padding-left: 10px;
    list-style: none;
    border-radius: .25rem;
}

.active{
    color:rgb(27, 27, 27);
}

.inactive{
    color:gray;
}

.pagearrow{
    font-size: 40px;
    margin: 0px 15px 0px 0px;
    cursor: default;
}

.showchilds{
    font-size: 18px;
    cursor: default;
}

.darkcell{
    background: rgb(206, 206, 206);
}

.sortarrow{
    font-size: 14px;
    cursor: default;
}

.sortheader{
    cursor: default;
}
/******* опции *******/
.emptyspace{ flex-grow: 1;}
li {list-style: none;}
.div-100{
    width:100%;
    text-align: center;
}
.card-name{ flex-grow: 1; }
.options-button{
 margin: 5px 15px 0
}
/*Данные не найдены*/
.spinner{
    position: absolute;
    top: 7%;
    left: 50%;
    margin-left: -25px;
    margin-top: 100px;
    z-index: 100;
}