<mat-card class="card" *transloco="let t">
    <mat-card-title class="flex">
        <div class="card-name">{{t('modules.card.settings')}}</div>
        <button 
            (click)="onNoClick()"
            matTooltip="{{t('modules.tip.cls_sttng_wnd')}}"
            mat-raised-button 
            color="accent"
            class="button small-button">
            <i class="material-icons">close</i> 
        </button>
    </mat-card-title>
    <mat-card-content > 
        <div class="card">
            <mat-spinner 
            strokeWidth="3" 
            class="spinner"
            [diameter]="50"
            *ngIf="gettingData"
            ></mat-spinner>
            <form [formGroup]="settingsForm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12"> 
                            <mat-form-field  class="mat-form-field-100">
                                <!-- <mat-label>{{t('docs.field.company')}}{{settingsForm.get('companyId').value==null?'*':''}}</mat-label> -->
                                <mat-label>{{t('modules.field.company')}}  <span *ngIf="settingsForm.get('companyId').value==null" class="star">*</span> </mat-label>
                                <mat-select formControlName="companyId"  (selectionChange)="onCompanyChange()" matTooltip="{{t('modules.tip.comp_def')}}">
                                    
                                    <mat-option *ngFor="let cmp of receivedCompaniesList" 
                                                [value]="cmp.id">
                                                {{cmp.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint  align="start" *ngIf="settingsForm.get('companyId').touched && settingsForm.get('companyId').invalid">
                                    <i class="form-invalid">{{t('modules.error.field_miss')}}</i>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12"> 
                            <mat-form-field  class="mat-form-field-100">
                                <mat-label>{{t('docs.field.department')}}</mat-label>
                                <mat-select formControlName="departmentId"  matTooltip="{{t('modules.tip.dep_def')}}">
                                    <mat-option *ngFor="let department of receivedDepartmentsList" 
                                                [value]="department.id">
                                                {{department.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field style="display: none">
                                <input  matInput
                                        placeholder="customerId"
                                        formControlName="customerId"/>
                            </mat-form-field>
                            <mat-form-field class="mat-form-field-100"> 
                                <input  matInput 
                                placeholder="{{settingsForm.get('customerId').value==''?t('modules.field.customer_srch'):t('modules.field.customer')}}"
                                [matAutocomplete]="auto4" 
                                [formControl]="searchCustomerCtrl"
                                matTooltip="{{t('modules.tip.def_customer')}}"
                                (input)="canCagentAutocompleteQuery=true; checkEmptyCagentField();"
                                (change)="canCagentAutocompleteQuery=false; checkEmptyCagentField();">
                                <mat-autocomplete #auto4="matAutocomplete">
                                <ng-container *ngIf="!isCagentListLoading" style="width:320px;">
                                    <mat-option style="padding:0px" *ngFor="let value of filteredCagents" [value]="value.name">
                                    <div (click)="onSelectCagent(value.id,value.name)">
                                        <span style="margin:10px;"><b>{{value.name}}</b></span>
                                    </div>
                                    </mat-option>
                                </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-progress-bar *ngIf="isCagentListLoading" mode="indeterminate"></mat-progress-bar>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12"> 
                            <mat-form-field   class="mat-form-field-100">
                                <input  matInput
                                        placeholder="{{t('modules.field.retsale_name')}}"
                                        matTooltip="{{t('modules.tip.retsale_name')}}"
                                        formControlName="name"/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12"> 
                            <mat-form-field  class="mat-form-field-100">
                                <mat-label>{{t('modules.field.pricing')}}</mat-label>
                                <mat-select formControlName="pricingType"  matTooltip="{{t('modules.tip.pricing_def')}}">
                                    <mat-option value="priceType">
                                        {{t('modules.list.price_type')}}
                                    </mat-option>
                                    <mat-option value="avgCostPrice">
                                        {{t('modules.list.av_cost')}}
                                    </mat-option>
                                    <mat-option value="lastPurchasePrice">
                                        {{t('modules.list.last_p_price')}}
                                    </mat-option>
                                    <mat-option value="avgPurchasePrice">
                                        {{t('modules.list.avg_p_price')}}
                                    </mat-option>
                                    <mat-option value="manual">
                                        {{t('modules.list.manual')}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12"> 
                            <mat-form-field  class="mat-form-field-100">
                                <mat-label>{{t('modules.field.prior_price')}}</mat-label>
                                <mat-select formControlName="priorityTypePriceSide" matTooltip="{{t('modules.tip.prior_pr_type')}}">
                                    <mat-option value="sklad"
                                                matTooltip="{{t('modules.tip.depart_pt')}}">
                                        {{t('modules.list.department')}} {{getPriceTypesNameById(department_type_price_id)}}
                                    </mat-option>
                                    <mat-option value="cagent"
                                                matTooltip="{{t('modules.tip.cagent_pt')}}">
                                        {{t('modules.list.customer')}} {{getPriceTypesNameById(cagent_type_price_id)}}
                                    </mat-option>
                                    <mat-option value="defprice"
                                                matTooltip="{{t('modules.tip.def_price_pt')}}">
                                        {{t('modules.list.default_price')}} {{getPriceTypesNameById(default_type_price_id)}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-9">
                            <mat-form-field  class="mat-form-field-100">
                                <span   class="material-icons" 
                                        [ngClass]="{plusMinusEnable: settingsForm.get('plusMinus').value=='plus',
                                        plusMinusDisable: settingsForm.get('plusMinus').value=='minus'}"
                                        (click)="clickPlusMinus('plus')">
                                    add_box
                                </span>
                                <span   class="material-icons"
                                        [ngClass]="{plusMinusEnable: settingsForm.get('plusMinus').value=='minus',
                                        plusMinusDisable: (settingsForm.get('plusMinus').value=='plus' || !settingsForm.get('plusMinus'))}"
                                        (click)="clickPlusMinus('minus')">
                                    indeterminate_check_box
                                </span>

                                <input  matInput
                                        (keypress)="numberOnlyPlusDot($event)"
                                        style="margin: 0 0 -2px 9px; width: 50%;"
                                        placeholder="{{priceUpDownFieldName}}"
                                        formControlName="changePrice"/>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field  class="mat-form-field-100">
                                <mat-select formControlName="changePriceType">
                                    <mat-option value="procents">
                                    %
                                    </mat-option>
                                    <mat-option value="currency">
                                    {{t('modules.list.money')}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-checkbox formControlName="hideTenths" matTooltip="{{t('modules.tip.no_fractals')}}">{{t('modules.field.no_fractals')}}</mat-checkbox>
                        </div>
                        <div class="col-6">
                            <mat-checkbox formControlName="autoAdd"  matTooltip="{{t('modules.tip.auto_add')}}">{{t('modules.field.auto_add')}}</mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-checkbox formControlName="autocreateOnCheque" matTooltip="{{t('modules.tip.autocr_retail')}}">{{t('modules.field.autocreate')}}</mat-checkbox>
                        </div>
                        <div class="col-6">
                            <mat-checkbox formControlName="showKkm"  matTooltip="{{t('modules.tip.show_sl')}}">{{t('modules.field.sales_regstr')}}</mat-checkbox>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-12">
                            <mat-checkbox formControlName="saveSettings">Сохранять настройки после расценки</mat-checkbox>
                        </div>
                    </div> -->
                    <div class="row" *ngIf="settingsForm.get('statusIdOnAutocreateOnCheque').value">
                        <div class="col-12"> 
                            <div class = "circle-in-selected" [style.background-color]="status_color"></div>
                            <mat-form-field  class="mat-form-field-100"  matTooltip="{{t('modules.tip.compl_status')}}">
                                <mat-label>{{t('modules.field.compl_status')}}</mat-label>
                                <mat-select     style="padding: 5px 0 5px 25px;" 
                                                formControlName="statusIdOnAutocreateOnCheque"
                                                (selectionChange)="setStatusColor();">
                                    <mat-option *ngFor="let status of receivedStatusesList" 
                                                [value]="status.id"
                                                matTooltip={{status.description}}>
                                                <div style="display: inline;line-height: 20px;">
                                                    <div class = "circle-wrapper">
                                                        <div class = "circle-in-list" [style.background-color]="status.color"></div>
                                                    </div>
                                                    <div class = "status-name">{{status.name}}</div>
                                                </div>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                
                <mat-divider></mat-divider>
                
                <div class="row">
                    <button 
                    (click)="applyPrice()"
                    class="apply-button"
                    matTooltip="{{t('modules.tip.save_n_close')}}"
                    mat-raised-button 
                    color="primary"
                    [disabled]="(!settingsForm.valid)"
                    >
                    <i class="material-icons">done</i> {{t('modules.button.save_n_close')}} 
                </button>
                </div>

            </form>
        </div>
        <!-- <code><pre>{{settingsForm.value | json}}</pre></code> -->
    </mat-card-content> 
</mat-card>
    