::ng-deep .cal-time-events{
    margin-top: 30px;
}

.spinner{
    position: absolute;
    top: 7%;
    left: 50%;
    margin-left: -25px;
    margin-top: 100px;
    z-index: 100;
}

.cal-week-view .cal-time-events .cal-day-column {
    margin-right: 10px;
  }

.cal-week-view .cal-hour, .cal-week-view .break-container {
    width: calc(100% + 10px)!important;
}
.circle{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    position: absolute;
    top: 7px;
    left: 5px;
}
.circle-list{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    position: relative;
    left: 5px;
}
.status-list-name{
    position: relative; top: -6px;left: 9px;line-height: 30px;cursor: pointer;
}
button.demo-button {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 7px;
    left: 5px;
    padding: 0;
  }
.drag-button {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 7px;
    font-size: 16px;
    color: #8e72cb;
    right: 1px;
    line-height: 15px;
    padding: 0;
    display: none;
  }
  .cal-event:hover > .drag-button {
    display: block;
  }
::ng-deep button.demo-button .mat-mdc-button-touch-target{
    display:none!important;
  }