::ng-deep .cal-time-events{
    margin-top: 45px;
}

.spinner{
    position: absolute;
    top: 7%;
    left: 50%;
    margin-left: -25px;
    margin-top: 100px;
    z-index: 100;
}

.cal-week-view .cal-time-events .cal-day-column {
    margin-right: 10px;
  }

.cal-week-view .cal-hour, .cal-week-view .break-container {
    width: calc(100% + 10px)!important;
}

.circle-list{
  width: 16px;
  height: 16px;
  border-radius: 8px;
  position: relative;
  left: 5px;
}
.status-list-name{
    position: relative; top: -6px;left: 9px;line-height: 30px;cursor: pointer;
}
button.status-button {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 4px;
  left: 4px;
  padding: 0;
}
.drag-button {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 7px;
  font-size: 16px;
  color: #8e72cb;
  right: 1px;
  line-height: 15px;
  padding: 0;
  display: none;
}
.cal-event:hover > .drag-button {
  display: block;
}
::ng-deep button.status-button .mat-mdc-button-touch-target{
  display:none!important;
}
.cal-event-title{
  line-height: 26px;
  cursor: default;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-fio-container{
  height: 20px;
  font-weight: 600;
}
.user-jobtitle{
  width: 100%;
  text-align: center;
  height: 15px;
  color: rgb(121, 121, 121);
  /* font-style: italic; */
  line-height: 1;
  font-size: 14px;
}
.paid{
  width: 22px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 1px;
  left: -2.5px;
}
.shipped{
  width: 22px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: -5px;
  left: -2.5px;
}
.paid_part{
  width: 22px;
  font-size: 13px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 7px;
  left: -1.5px;
}
.shipped_part{
  width: 22px;
  font-size: 13px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0px;
  left: -1.5px;
}