
<div class="cal-week-view" role="grid" *ngIf="users.length>0">

    <!-- Table header with Users names -->
    <div class="cal-day-headers" role="row">
      <div
        class="cal-header"
        style="height: 45px;"
        *ngFor="let user of users; trackBy: trackByUserId"
        tabindex="0"
        role="columnheader"
      >
        <div class="user-fio-container">
         {{ user.name }}
        </div>
        <div class="user-jobtitle">
          {{ user.jobtitle }}
        </div>
      </div>
    </div>
    
    <!-- Main block with bar of hours and columns contained users events  -->
    <div
      class="cal-time-events"
      mwlDroppable
      (dragEnter)="dragEnter('time')"
      (dragLeave)="dragLeave('time')"
    > 

      <!-- Time bar -->
      <div class="cal-time-label-column" *ngIf="view.hourColumns.length > 0">
        <div
          *ngFor="
            let hour of view.hourColumns[0].hours;
            trackBy: trackByHour;
            let odd = odd
          "
          class="cal-hour"
          [class.cal-hour-odd]="odd"
        >
          <mwl-calendar-week-view-hour-segment
            *ngFor="let segment of hour.segments; trackBy: trackByHourSegment"
            [style.height.px]="hourSegmentHeight"
            [segment]="segment"
            [segmentHeight]="hourSegmentHeight"
            [locale]="locale"
            [customTemplate]="hourSegmentTemplate"
            [isTimeLabel]="true"
          >
          </mwl-calendar-week-view-hour-segment>
        </div>
      </div>
      <!-- End of Time bar -->

      <!-- Columns with events and breaks block -->
      
      <div
        class="cal-day-columns"
        [class.cal-resize-active]="timeEventResizes.size > 0"
        #dayColumns
      >
        
        
      
        <!-- Start of events in this column -->
        <div
          class="cal-day-column"
          *ngFor="let column of view.hourColumns;   let i = index; trackBy: trackByHourColumn"
        >

        <!-- Current time horizontal line -->
          <mwl-calendar-week-view-current-time-marker
            [columnDate]="column.date"
            [dayStartHour]="dayStartHour"
            [dayStartMinute]="dayStartMinute"
            [dayEndHour]="dayEndHour"
            [dayEndMinute]="dayEndMinute"
            [hourDuration]="hourDuration"
            [hourSegments]="hourSegments"
            [hourSegmentHeight]="hourSegmentHeight"
            [customTemplate]="currentTimeMarkerTemplate"
          ></mwl-calendar-week-view-current-time-marker>

          <!-- Events block -->

          <!-- This div is event wrapper -->
          <div
            *ngFor="let timeEvent of column.events; trackBy: trackByWeekTimeEvent"
            #event
            class="cal-event-container"
            [class.cal-draggable]="
              timeEvent.event.draggable && timeEventResizes.size === 0
            "
            [class.cal-starts-within-day]="!timeEvent.startsBeforeDay"
            [class.cal-ends-within-day]="!timeEvent.endsAfterDay"
            [ngClass]="timeEvent.event.cssClass"
            [hidden]="timeEvent.height === 0 && timeEvent.width === 0"
            [style.top.px]="timeEvent.top"
            [style.height.px]="timeEvent.height"
            [style.left.%]="timeEvent.left"
            [style.width.%]="timeEvent.width"
            mwlResizable
            [resizeSnapGrid]="{
              left: dayColumnWidth,
              right: dayColumnWidth,
              top: eventSnapSize || hourSegmentHeight,
              bottom: eventSnapSize || hourSegmentHeight
            }"
            [validateResize]="validateResize"
            [allowNegativeResizes]="true"
            (resizeStart)="timeEventResizeStarted(dayColumns, timeEvent, $event)"
            (resizing)="timeEventResizing(timeEvent, $event)"
            (resizeEnd)="timeEventResizeEnded(timeEvent)"
            
          >


            <div
              class="cal-resize-handle cal-resize-handle-before-start"
              *ngIf="
                timeEvent.event?.resizable?.beforeStart &&
                !timeEvent.startsBeforeDay && !timeEvent.event.meta.completed
              "
              mwlResizeHandle
              [resizeEdges]="{
                left: true,
                top: true
              }"
            ></div>
            <mwl-calendar-week-view-event
              [locale]="locale"
              [weekEvent]="timeEvent"
              [customTemplate]="eventTemplate1"
              [column]="column"
            >
            </mwl-calendar-week-view-event>



            <ng-template #eventTemplate1>
              <div class="cal-event" style="padding-left: 25px; cursor:default">
                <!-- <button mat-icon-button
                        class="status-button"
                        [matTooltip]="timeEvent.event.meta.statusName"
                        (click)="oldStatusType = timeEvent.event.meta.statusType" 
                        [matMenuTriggerFor]="!timeEvent.event.meta.completed?statuses_menu:null">
                        <mat-icon
                        [style.color]="timeEvent.event.meta.statusColor"
                        style="height: 22px; width: 22px;font-size: 22px;"
                        >{{timeEvent.event.meta.completed?'check_circle':
                        (isAllSumEqual(timeEvent.event.meta)?'circle':'incomplete_circle')}}</mat-icon>
                </button> -->
                <button mat-icon-button
                  class="status-button"
                  [matTooltip]="timeEvent.event.meta.statusName+getAdditionalState(timeEvent.event.meta)"
                  (click)="oldStatusType = timeEvent.event.meta.statusType" 
                  [matMenuTriggerFor]="statuses_menu">
                  <mat-icon
                    [style.color]="timeEvent.event.meta.statusColor"
                    style="height: 22px;
                    width: 22px;
                    font-size: 22px;
                    color: rgb(0, 138, 210);
                    position: absolute;
                    top: -1px;
                    left: -1.5px;"
                    >{{timeEvent.event.meta.completed?'check_circle':'circle'}}
                  </mat-icon>
                  <mat-icon 
                    *ngIf="showPaidSubicon(timeEvent.event.meta)"
                    [ngClass]="{
                      paid:getPayedClass(timeEvent.event.meta) == 'paid',
                      paid_part:getPayedClass(timeEvent.event.meta) == 'paid_part'
                    }">
                    {{getPayedClass(timeEvent.event.meta) == 'paid'?'arrow_drop_down':'expand_more'}}
                  </mat-icon>                              
                  <mat-icon 
                    *ngIf="showShippedSubicon(timeEvent.event.meta)"
                    [ngClass]="{
                      shipped:getShippedClass(timeEvent.event.meta) == 'shipped',
                      shipped_part:getShippedClass(timeEvent.event.meta) == 'shipped_part'
                    }">
                    {{getShippedClass(timeEvent.event.meta) == 'shipped'?'arrow_drop_up':'expand_less'}}                                
                  </mat-icon>
                </button>
                <mat-icon 
                *ngIf="!timeEvent.event.meta.completed"
                class="drag-button"
                mwlDraggable
                dragActiveClass="cal-drag-active"
                [dropData]="{ event: timeEvent.event, calendarId: calendarId }"
                [dragAxis]="{
                  x: timeEvent.event.draggable && timeEventResizes.size === 0,
                  y: timeEvent.event.draggable && timeEventResizes.size === 0
                }"
                [dragSnapGrid]="
                  snapDraggedEvents
                    ? { x: dayColumnWidth, y: eventSnapSize || hourSegmentHeight }
                    : {}
                "
                [ghostDragEnabled]="!snapDraggedEvents"
                [validateDrag]="validateDrag"
                (dragStart)="dragStarted(dayColumns, event, timeEvent, true)"
                (dragging)="dragMove(timeEvent, $event)"
                (dragEnd)="dragEnded(timeEvent, $event, dayColumnWidth, true)"
                >drag_indicator</mat-icon>
                <span class="cal-event-title"
                [matTooltip]="(dragActive || timeEventResizes.size > 0)?'':timeEvent.event.title"
                    aria-hidden="true"(click)="eventClicked.emit({
                      event: timeEvent.event,
                      sourceEvent: $event.sourceEvent
                    })"
                   >
                  {{timeEvent.event.title}}
                </span>
              </div>
            </ng-template>

            <mat-menu #statuses_menu="matMenu" xPosition="after">
              <div style="width: 200px;">
                  <ul style="margin: 0px; padding: 8px;">
                      <li *ngFor="let status of statusesList" [style.display]="'flex'" (click)="emitChangeStatus(timeEvent.event.id, status.id, oldStatusType)">
                        <div class="circle-list"
                        [style.background-color]="status.color"
                        [style.cursor]="'pointer'">
                        </div>
                        <span class="status-list-name">{{status.name}}</span>
                      </li>
                  </ul>
              </div>
            </mat-menu>
            <div
              class="cal-resize-handle cal-resize-handle-after-end"
              *ngIf="
                timeEvent.event?.resizable?.afterEnd && !timeEvent.endsAfterDay && !timeEvent.event.meta.completed
              "
              mwlResizeHandle
              [resizeEdges]="{
                right: true,
                bottom: true
              }"
            ></div>
            
          </div>
          <!-- End of Events block -->




          <!-- Breaks block -->
          <div 
            *ngFor="let breakEvent of view.hourColumns_[i].events;"
            #break_
            class="cal-event-container break-container"

            [hidden]="breakEvent.height === 0 && breakEvent.width === 0"
            [style.top.px]="breakEvent.top"
            [style.height.px]="breakEvent.height"
            [style.left.%]="breakEvent.left"
            [style.width.%]="breakEvent.width"

          >

            <mwl-calendar-week-view-event
              [locale]="locale"
              [weekEvent]="breakEvent"
              [customTemplate]="eventTemplate"
              [eventTitleTemplate]="eventTitleTemplate"
              [eventActionsTemplate]="eventActionsTemplate"
              [column]="column"
            >
            </mwl-calendar-week-view-event>
          </div>


          <!-- End of Breaks block -->



          



          <!-- Hour segments -->
          <div 
            *ngFor="let hour of column.hours; trackBy: trackByHour; let odd = odd"
            class="cal-hour"
            [class.cal-hour-odd]="odd"
            (mousedown)="emitUserOfDraggingToCreateEvent(i)"
          >
            <mwl-calendar-week-view-hour-segment
              *ngFor="let segment of hour.segments; trackBy: trackByHourSegment"
              [style.height.px]="hourSegmentHeight"
              [segment]="segment"
              [segmentHeight]="hourSegmentHeight"
              [locale]="locale"
              [customTemplate]="hourSegmentTemplate"
              (mwlClick)="
                hourSegmentClicked.emit({
                  date: segment.date,
                  sourceEvent: $event
                })
              "
              [clickListenerDisabled]="hourSegmentClicked.observers.length === 0"
              mwlDroppable
              [dragOverClass]="
                !dragActive || !snapDraggedEvents ? 'cal-drag-over' : null
              "
              dragActiveClass="cal-drag-active"
              (drop)="eventDropped($event, segment.date, false)"
            >
            </mwl-calendar-week-view-hour-segment>
          </div>
        </div>
        <!-- End of column -->

        


      </div>
      <!-- End of Columns with events and breaks block -->
    </div>   
    <!-- End of Main block with bar of hours and columns contained users events  -->
    <!-- <code><pre>{{users | json }}</pre></code> -->
    <!-- <code><pre>{{breaks | json}}</pre></code> -->
    <!-- <code><pre>{{days | json}}</pre></code>  -->
  </div>