<mat-card appearance="outlined" class="card" *transloco="let t">
    <div class="icon-panel">
        <mat-icon   matTooltip="{{'modules.kpi.reprt_settggs' | transloco}}"    
                    (click)="onClickMenuIcon()"
                    class="nav-icon">menu
        </mat-icon>
    </div>
        <mat-card-title class="flex" style="height: 30px;">
                <div class="emptyspace">{{'modules.kpi.prod_remains' | transloco}}</div>
                
            </mat-card-title>
            <mat-card-content>
                <div class="card  w-100">
                    <div class="card-body">
                        <form  class="form-horizontal"  *ngIf="showSettingsForm" id="formControl" method="post" action="" style="margin-bottom: 0px;">
                            <div class="form-group" style="display: none;">
                                <label class="control-label col-sm-2" for="SortColumn">SelectedNodeId</label>
                                <input [(ngModel)]="sendingQueryForm.selectedNodeId" type="text" class="form-control" id="SelectedNodeId" name="SelectedNodeId" value="">
                            </div>
                            
                            <div id="hidden" style="display: none;" class="row">
                                <!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> -->
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="offset">offset</label>
                                    <input [(ngModel)]="sendingQueryForm.offset" value="" type="text" class="form-control" id="offset" name="offSet">
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="SortColumn">SortColumn</label>
                                    <input [(ngModel)]="sendingQueryForm.sortColumn" type="text" class="form-control" id="SortColumn" name="SortColumn" value="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="SortAsc">SortAsc</label>
                                    <input [(ngModel)]="sendingQueryForm.sortAsc" type="text" class="form-control" id="SortAsc" name="SortAsc" value="">
                                </div>
                            </div>
                            
                            
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-1 col-12">
                                        <mat-form-field style="width:50px;" class="num-of-rows">
                                            <mat-label>{{t('menu.top.rows')}}</mat-label>
                                            <mat-select [(value)]="sendingQueryForm.result" (selectionChange)="setNumOfPages()" class="form-control" id="selectRowsPerPage" name="result">                           
                                                <mat-option  *ngFor="let num of numRows" [value]="num.value">
                                                        {{num.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6 col-12">    
                                        <mat-form-field  style="margin-left: 10px; width: 100%">
                                            <mat-label>{{t('menu.top.department')}}</mat-label>
                                            <mat-select  [(value)]="sendingQueryForm.departmentId" (selectionChange)="onDepartmentSelection()">
                                                <mat-option *ngIf="departmentsList && departmentsList.length>1" value="0" selected>{{t('menu.top.all_acc_depar')}}</mat-option>                          
                                                <mat-option  *ngFor="let rdl of departmentsList" [value]="rdl.id">
                                                        {{rdl.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>   
                                    </div>
                                    <div class="col-lg-1 col-12">

                                        <button
                                        style="margin-left: 10px" 
                                        [matMenuTriggerFor]="oper"
                                        type="button"
                                        matTooltip="{{t('menu.tip.select_opt')}}"
                                        matSuffix mat-icon-button>
                                        <mat-icon>list_alt</mat-icon>
                                        </button>
                                        <mat-menu #oper="matMenu" xPosition="before">
                                            <div style="width: 480px;">
                                                <ul>
                                                    <li *ngFor="let row of optionsIds">
                                                            <mat-checkbox
                                                            (click)="$event.stopPropagation()"
                                                            (change)="$event ? clickFilterOptionsCheckbox(row) : null"
                                                            [checked]="selectionFilterOptions.isSelected(row)"
                                                            >{{t(row.name)}}</mat-checkbox>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="div-100"> 
                                                <div style="width:100%; height: 38px; padding-bottom: 15px;">
                                                    <button matTooltip="{{t('menu.tip.apply_filters')}}" mat-mini-fab color="primary" (click)="setNumOfPages()">
                                                        <mat-icon>done</mat-icon>
                                                    </button>
                                                </div>
                                            </div> 
                                        </mat-menu>

                                    </div>
                                    <div class="col-lg-4 col-12">
                                        <mat-form-field class="emptyspace"
                                        style="width:100%"  >
                                                <input matInput 
                                                placeholder="{{t('menu.top.search')}}" 
                                                [(ngModel)]="sendingQueryForm.searchString" 
                                                type="text"  
                                                id="search_input" 
                                                name="search_input" 
                                                style="width:100%"  
                                                />
                                                <button matSuffix mat-icon-button aria-label="search"  type="submit" (click)="setNumOfPages()">
                                                    <mat-icon>search</mat-icon>
                                                </button>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                           
                        </form>
                        <div id="result_form" *ngIf="allowToView">
        
                                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                
                                        <ng-container matColumnDef="id">
                                            <th mat-header-cell *matHeaderCellDef> id </th>
                                            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef>
                                            <span (click)="setSort('p.name')" class="sortheader"> {{t('menu.table.name')}}  
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='p.name'" class="material-icons sortarrow">arrow_upward</i>
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='p.name'" class="material-icons sortarrow">arrow_downward</i>
                                            </span>
                                            <td mat-cell *matCellDef="let row"> 
                                                <a class="inactive" [routerLink]="['../productsdoc', row.id ]">
                                                    {{row.name}}
                                                </a>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="article">
                                            <th mat-header-cell *matHeaderCellDef>
                                            <span (click)="setSort('p.article')" class="sortheader"> {{t('menu.table.sku')}}  
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='p.article'" class="material-icons sortarrow">arrow_upward</i>
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='p.article'" class="material-icons sortarrow">arrow_downward</i>
                                            </span>
                                            <td mat-cell *matCellDef="let row"> {{row.article}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="quantity">
                                            <th mat-header-cell *matHeaderCellDef>
                                            <span (click)="setSort('quantity')" class="sortheader"> {{t('menu.table.quantity')}}
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='quantity'" class="material-icons sortarrow">arrow_upward</i>
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='quantity'" class="material-icons sortarrow">arrow_downward</i>
                                            </span>
                                            <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="min_quantity">
                                            <th mat-header-cell *matHeaderCellDef>
                                            <span (click)="setSort('min_quantity')" class="sortheader"> {{t('menu.table.min_remains')}} 
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='min_quantity'" class="material-icons sortarrow">arrow_upward</i>
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='min_quantity'" class="material-icons sortarrow">arrow_downward</i>
                                            </span>
                                            <td mat-cell *matCellDef="let row"> 
                                                <mat-chip-listbox>
                                                    <mat-chip-option 
                                                    *ngIf="row.min_quantity==-1" 
                                                    matTooltip="{{t('menu.tip.m_rem_d_depar')}}">
                                                        {{t('menu.top.rem_various')}}
                                                    </mat-chip-option>
                                                    <mat-chip-option 
                                                    *ngIf="+row.min_quantity==0"
                                                    matTooltip="{{t('menu.tip.m_rem_not_set')}} {{sendingQueryForm.departmentId=='0'?t('menu.tip._for_no_depth'):t('menu.tip._for_th_depth')}}"
                                                    >
                                                        {{t('menu.top.rem_not_set')}}
                                                    </mat-chip-option>
                                                    <mat-chip-option 
                                                    *ngIf="+row.min_quantity>0"
                                                    matTooltip="{{sendingQueryForm.departmentId=='0'?t('menu.tip.m_rem_for_all'):t('menu.tip.m_rem_in_dep')}}" 
                                                    >
                                                        {{row.min_quantity}}
                                                    </mat-chip-option>
                                                </mat-chip-listbox>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="estimate_quantity">
                                            <th mat-header-cell *matHeaderCellDef>
                                            <span (click)="setSort('estimate_quantity')" class="sortheader"> {{t('menu.table.eval')}} 
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='estimate_quantity'" class="material-icons sortarrow">arrow_upward</i>
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='estimate_quantity'" class="material-icons sortarrow">arrow_downward</i>
                                            </span>
                                            <td mat-cell *matCellDef="let row"> 
                                                <mat-chip-listbox>
                                                    <mat-chip-option 
                                                    *ngIf="row.estimate_quantity==2" 
                                                    matTooltip="{{t('menu.tip.prod_quantity')}} {{sendingQueryForm.departmentId=='0'?t('menu.tip._in_all_depth'):t('menu.tip._in_this_dept')}} {{t('menu.tip.m_th_min_rem')}}">
                                                        {{t('menu.top.enough')}}
                                                    </mat-chip-option>
                                                    <mat-chip-option 
                                                    *ngIf="row.estimate_quantity==1"
                                                    matTooltip="{{t('menu.tip.prod_quantity')}} {{sendingQueryForm.departmentId=='0'?t('menu.tip._in_all_depth'):t('menu.tip._in_this_dept')}} {{t('menu.tip.lol_min_rem')}}"
                                                    color="accent" 
                                                    selected>
                                                        {{t('menu.top.few')}}
                                                    </mat-chip-option>
                                                    <mat-chip-option 
                                                    *ngIf="row.estimate_quantity==0"
                                                    matTooltip="{{sendingQueryForm.departmentId=='0'?cu.cap(t('menu.tip.in_some_depth')):cu.cap(t('menu.tip._in_this_dept'))}} {{t('menu.tip.no_goods')}}" 
                                                    color="warn" 
                                                    selected>
                                                        {{t('menu.top.not_available')}}
                                                    </mat-chip-option>
                                                </mat-chip-listbox>

                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            <div class="flex">
                                <div class="col-sm">
                                    <p> {{t('menu.bottom.founded')}}: {{size}}, {{t('menu.bottom.page')}} {{pagenum}}  {{t('menu.bottom.of')}} {{listsize}}</p> <!--+++-->                                </div>
                                    <span  class="emptyspace"></span><!-- разделитель -->
                                    <div class="col-sm-auto justify-content-end">
                                        <ul class="pagination" style="padding-right: 0px">
                                            <ng-container *ngFor="let page of receivedPagesList; index as i">
                                                <ng-container *ngIf="i>2 && listsize>1">
                                                    <ng-container *ngIf="i==3 && pagenum>1">
                                                            <li><a (click)="setPage(0)"><mat-icon class="pagearrow active">first_page</mat-icon></a>  </li>                               
                                                    </ng-container>
                                                    <ng-container *ngIf="i==3 && pagenum==1">
                                                            <li><mat-icon class="pagearrow inactive">first_page</mat-icon></li>                               
                                                    </ng-container>
                                                    
                                                        <mat-chip-listbox>
                                                            <ng-container *ngIf="page==pagenum;else templateElse">
                                                                <li><mat-chip-option style="margin: 8px;" selected>
                                                                    {{page}}               
                                                                </mat-chip-option></li>
                                                            </ng-container>
                                                            <ng-template #templateElse >
                                                                <li><mat-chip-option  style="margin: 8px;"  (click)="setPage(page-1)">
                                                                    {{page}}               
                                                                </mat-chip-option></li>
                                                            </ng-template>
                                                        </mat-chip-listbox>
                                                    <ng-container *ngIf="pagenum < listsize && page==maxpage">
                                                        <li><a (click)="setPage(listsize-1)"><mat-icon class="pagearrow active">last_page</mat-icon></a></li>
                                                    </ng-container>
                                                    <ng-container *ngIf="pagenum == listsize && page==maxpage">
                                                        <li><mat-icon class="pagearrow inactive">last_page</mat-icon></li>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </ul>  
                                    </div>
                                </div> 
                            </div> 
                    </div>  
                </div>
            </mat-card-content>
</mat-card>

