<mat-card class="card" *transloco="let t">
    <div class="icon-panel">
        <mat-icon   matTooltip='Настройки отчёта'    
                    (click)="onClickMenuIcon()"
                    class="nav-icon">menu
        </mat-icon>
    </div>
        <mat-card-title class="flex" style="height: 30px;">
                <div class="emptyspace">Товарные остатки</div>
                
            </mat-card-title>
            <mat-card-content>
                <div class="card  w-100">
                    <div class="card-body">
                        <form  class="form-horizontal"  *ngIf="showSettingsForm" id="formControl" method="post" action="" style="margin-bottom: 0px;">
                            <div class="form-group" style="display: none;">
                                <label class="control-label col-sm-2" for="SortColumn">SelectedNodeId</label>
                                <input [(ngModel)]="sendingQueryForm.selectedNodeId" type="text" class="form-control" id="SelectedNodeId" name="SelectedNodeId" value="">
                            </div>
                            
                            <div id="hidden" style="display: none;" class="row">
                                <!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> -->
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="offset">offset</label>
                                    <input [(ngModel)]="sendingQueryForm.offset" value="" type="text" class="form-control" id="offset" name="offSet">
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="SortColumn">SortColumn</label>
                                    <input [(ngModel)]="sendingQueryForm.sortColumn" type="text" class="form-control" id="SortColumn" name="SortColumn" value="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="SortAsc">SortAsc</label>
                                    <input [(ngModel)]="sendingQueryForm.sortAsc" type="text" class="form-control" id="SortAsc" name="SortAsc" value="">
                                </div>
                            </div>
                            
                            
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-1 col-12">
                                        <mat-form-field style="width:50px;" class="num-of-rows">
                                            <mat-label>Строк</mat-label>
                                            <mat-select [(value)]="sendingQueryForm.result" (selectionChange)="setNumOfPages()" class="form-control" id="selectRowsPerPage" name="result">                           
                                                <mat-option  *ngFor="let num of numRows" [value]="num.value">
                                                        {{num.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6 col-12">    
                                        <mat-form-field  style="margin-left: 10px; width: 100%">
                                            <mat-label>{{t('docs.field.department')}}</mat-label>
                                            <mat-select  [(value)]="sendingQueryForm.departmentId" (selectionChange)="onDepartmentSelection()">
                                                <mat-option *ngIf="departmentsList && departmentsList.length>1" value="0" selected>Все доступные отделения</mat-option>                          
                                                <mat-option  *ngFor="let rdl of departmentsList" [value]="rdl.id">
                                                        {{rdl.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>   
                                    </div>
                                    <div class="col-lg-1 col-12">

                                        <button mat-button
                                        style="margin-left: 10px" 
                                        [matMenuTriggerFor]="oper"
                                        type="button"
                                        matTooltip='Выбрать опции для фильтра'
                                        matSuffix mat-icon-button>
                                        <mat-icon>list_alt</mat-icon>
                                        </button>
                                        <mat-menu #oper="matMenu" xPosition="before">
                                            <div style="width: 480px;">
                                                <ul>
                                                    <li *ngFor="let row of optionsIds">
                                                            <mat-checkbox
                                                            (click)="$event.stopPropagation()"
                                                            (change)="$event ? clickFilterOptionsCheckbox(row) : null"
                                                            [checked]="selectionFilterOptions.isSelected(row)"
                                                            >{{row.name}}</mat-checkbox>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="div-100"> 
                                                <div style="width:100%; height: 38px; padding-bottom: 15px;">
                                                    <button matTooltip="Применить фильтры" mat-mini-fab color="primary" (click)="setNumOfPages()">
                                                        <mat-icon>done</mat-icon>
                                                    </button>
                                                </div>
                                            </div> 
                                        </mat-menu>

                                    </div>
                                    <div class="col-lg-4 col-12">
                                        <mat-form-field class="emptyspace"
                                        style="width:100%"  >
                                                <input matInput 
                                                placeholder="Поиск..." 
                                                [(ngModel)]="sendingQueryForm.searchString" 
                                                type="text"  
                                                id="search_input" 
                                                name="search_input" 
                                                style="width:100%"  
                                                />
                                                <button mat-button matSuffix mat-icon-button aria-label="search"  type="submit" (click)="setNumOfPages()">
                                                    <mat-icon>search</mat-icon>
                                                </button>
                                        </mat-form-field>
                                        <!-- <button mat-button (click)="getData()"  type="submit" id="btn" style="min-width: 20px; padding: 0px;"><mat-icon>search</mat-icon></button> -->
                                    </div>
                                </div>
                            </div>
                           
                        </form>
                        <div id="result_form" *ngIf="allowToView">
        
                                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                
                                        <ng-container matColumnDef="id">
                                            <th mat-header-cell *matHeaderCellDef> id </th>
                                            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef>
                                            <span (click)="setSort('p.name')" class="sortheader"> Наименование 
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='p.name'" class="material-icons sortarrow">arrow_upward</i>
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='p.name'" class="material-icons sortarrow">arrow_downward</i>
                                            </span>
                                            <td mat-cell *matCellDef="let row"> 
                                                <a class="inactive" [routerLink]="['../../productsdoc', row.id ]">
                                                    {{row.name}}
                                                </a>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="article">
                                            <th mat-header-cell *matHeaderCellDef>
                                            <span (click)="setSort('p.article')" class="sortheader"> Артикул 
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='p.article'" class="material-icons sortarrow">arrow_upward</i>
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='p.article'" class="material-icons sortarrow">arrow_downward</i>
                                            </span>
                                            <td mat-cell *matCellDef="let row"> {{row.article}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="not_buy">
                                            <th mat-header-cell *matHeaderCellDef>
                                            <span (click)="setSort('not_buy')" class="sortheader"> Закуп 
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='not_buy'" class="material-icons sortarrow">arrow_upward</i>
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='not_buy'" class="material-icons sortarrow">arrow_downward</i>
                                            </span>
                                            <td mat-cell *matCellDef="let row"> 
                                                <mat-chip-list>
                                                    <mat-chip 
                                                    *ngIf="row.not_buy==false" 
                                                    matTooltip="Товар закупается"
                                                    style="color:green">
                                                        Да
                                                    </mat-chip>
                                                    <mat-chip 
                                                    *ngIf="row.not_buy==true"
                                                    matTooltip="Товар не закупается"
                                                    style="color:red"
                                                    >
                                                        Нет
                                                    </mat-chip>
                                                </mat-chip-list>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="not_sell">
                                            <th mat-header-cell *matHeaderCellDef>
                                            <span (click)="setSort('not_sell')" class="sortheader"> В продаже 
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='not_sell'" class="material-icons sortarrow">arrow_upward</i>
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='not_sell'" class="material-icons sortarrow">arrow_downward</i>
                                            </span>
                                            <td mat-cell *matCellDef="let row"> 
                                                <mat-chip-list>
                                                    <mat-chip 
                                                    *ngIf="row.not_sell==false" 
                                                    matTooltip="Товар в продаже"
                                                    style="color:green">
                                                        Да
                                                    </mat-chip>
                                                    <mat-chip 
                                                    *ngIf="row.not_sell==true"
                                                    matTooltip="Товар снят с продажи"
                                                    style="color:red"
                                                    >
                                                        Нет
                                                    </mat-chip>
                                                </mat-chip-list>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="quantity">
                                            <th mat-header-cell *matHeaderCellDef>
                                            <span (click)="setSort('quantity')" class="sortheader"> Кол-во
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='quantity'" class="material-icons sortarrow">arrow_upward</i>
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='quantity'" class="material-icons sortarrow">arrow_downward</i>
                                            </span>
                                            <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="min_quantity">
                                            <th mat-header-cell *matHeaderCellDef>
                                            <span (click)="setSort('min_quantity')" class="sortheader"> Мин.<br>остаток 
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='min_quantity'" class="material-icons sortarrow">arrow_upward</i>
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='min_quantity'" class="material-icons sortarrow">arrow_downward</i>
                                            </span>
                                            <td mat-cell *matCellDef="let row"> 
                                                <mat-chip-list>
                                                    <mat-chip 
                                                    *ngIf="row.min_quantity==-1" 
                                                    matTooltip="Минимальный остаток разный в зависимости от отдления">
                                                        Разный
                                                    </mat-chip>
                                                    <mat-chip 
                                                    *ngIf="+row.min_quantity==0"
                                                    matTooltip="Минимальный остаток не задан {{sendingQueryForm.departmentId=='0'?'ни для одного из отделений':'для данного отделения'}}"
                                                    >
                                                        Не задан
                                                    </mat-chip>
                                                    <mat-chip 
                                                    *ngIf="+row.min_quantity>0"
                                                    matTooltip="{{sendingQueryForm.departmentId=='0'?'Минимальный остаток одинаковый для всех отделений':'Минимальный остаток в выбранном отделении'}}" 
                                                    >
                                                        {{row.min_quantity}}
                                                    </mat-chip>
                                                </mat-chip-list>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="estimate_quantity">
                                            <th mat-header-cell *matHeaderCellDef>
                                            <span (click)="setSort('estimate_quantity')" class="sortheader"> Оценка<br>остатков 
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='estimate_quantity'" class="material-icons sortarrow">arrow_upward</i>
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='estimate_quantity'" class="material-icons sortarrow">arrow_downward</i>
                                            </span>
                                            <td mat-cell *matCellDef="let row"> 
                                                <mat-chip-list>
                                                    <mat-chip 
                                                    *ngIf="row.estimate_quantity==2" 
                                                    matTooltip="Количество товара {{sendingQueryForm.departmentId=='0'?'во всех доступных вам отделениях ':'в выбранном отделении'}} больше минимального остатка">
                                                        Достаточно
                                                    </mat-chip>
                                                    <mat-chip 
                                                    *ngIf="row.estimate_quantity==1"
                                                    matTooltip="Количество товара {{sendingQueryForm.departmentId=='0'?'в одном из доступных вам отделений ':'в выбранном отделении'}} меньше либо равно минимальному остатку"
                                                    color="accent" 
                                                    selected>
                                                        Мало
                                                    </mat-chip>
                                                    <mat-chip 
                                                    *ngIf="row.estimate_quantity==0"
                                                    matTooltip="{{sendingQueryForm.departmentId=='0'?'В одном или нескольких доступных вам отделениях ':'В выбранном отделении'}} товар отсутствует" 
                                                    color="warn" 
                                                    selected>
                                                        Отсутствует
                                                    </mat-chip>
                                                </mat-chip-list>

                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="creator">
                                            <th mat-header-cell *matHeaderCellDef>
                                            <span (click)="setSort('creator')" class="sortheader"> Создатель 
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='creator'" class="material-icons sortarrow">arrow_upward</i>
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='creator'" class="material-icons sortarrow">arrow_downward</i>
                                            </span>
                                            <td mat-cell *matCellDef="let row"> {{row.creator}} </td>
                                        </ng-container>
        
                                        <ng-container matColumnDef="date_time_created">
                                            <th mat-header-cell *matHeaderCellDef>
                                            <span (click)="setSort('date_time_created_sort')" class="sortheader"> Дата создания 
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='date_time_created_sort'" class="material-icons sortarrow">arrow_upward</i>
                                                <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='date_time_created_sort'" class="material-icons sortarrow">arrow_downward</i>
                                            </span>
                                            <td mat-cell *matCellDef="let row"> {{row.date_time_created}} </td>
                                        </ng-container>
                                
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            <div class="flex">
                                <div class="col-sm">
                                    <p> Найдено: {{size}}, страница {{pagenum}} из {{listsize}}</p>
                                </div>
                                <span  class="emptyspace"></span><!-- разделитель -->
                                <div class="col-sm-auto justify-content-end">
                                    <ul class="pagination" style="padding-right: 0px">
                                        <ng-container *ngFor="let page of receivedPagesList; index as i">
                                            <ng-container *ngIf="i>2 && listsize>1">
                                                <ng-container *ngIf="i==3 && pagenum>1">
                                                        <li><a (click)="setPage(0)"><mat-icon class="pagearrow active">first_page</mat-icon></a>  </li>                               
                                                </ng-container>
                                                <ng-container *ngIf="i==3 && pagenum==1">
                                                        <li><mat-icon class="pagearrow inactive">first_page</mat-icon></li>                               
                                                </ng-container>
                                                
                                                    <mat-chip-list>
                                                        <ng-container *ngIf="page==pagenum;else templateElse">
                                                            <li><mat-chip style="margin: 8px;" selected>
                                                                {{page}}               
                                                            </mat-chip></li>
                                                        </ng-container>
                                                        <ng-template #templateElse >
                                                            <li><mat-chip  style="margin: 8px;"  (click)="setPage(page-1)">
                                                                {{page}}               
                                                            </mat-chip></li>
                                                        </ng-template>
                                                    </mat-chip-list>
                                                <ng-container *ngIf="pagenum < listsize && page==maxpage">
                                                    <li><a (click)="setPage(listsize-1)"><mat-icon class="pagearrow active">last_page</mat-icon></a></li>
                                                </ng-container>
                                                <ng-container *ngIf="pagenum == listsize && page==maxpage">
                                                    <li><mat-icon class="pagearrow inactive">last_page</mat-icon></li>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </ul>  
                                </div>
                            </div> 
                        </div> 
                    </div>  
                </div>
            </mat-card-content>
</mat-card>

