<div *ngIf="currentFileUpload" class="progress" >
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
          aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
          {{progress.percentage}}%</div>
</div>
<div class="center" style="width:100%; height: 38px;">111
    <button mat-icon-button color="primary" onclick="document.getElementById('fileToUpload').click()">
        <mat-icon>add</mat-icon>
    </button>
    <input id="fileToUpload" type="file" style="display:none;"  (change)="selectFile($event)"> 
</div>



