:host{
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

table {width: 100%;}
li {list-style: none;}
.flex{ display: flex; }

.card{
    width:100%;
    max-width: 1000px;
}
.invisible{display:none;}

.card-name{ flex-grow: 1; }

.button{
    margin-left: 10px;
}

.input-form{
    display: flex;
    flex-direction: column;
}

.field-box{
    padding: 3px;
    margin: 5px;
    width:100%; 
    height:30px;
    display: flex;
    }
.drag-box-wrapper{
border: 2px solid rgb(61, 58, 255);
padding: 3px;
margin: 5px;
width:360px; 
height:30px;
}    
.cdk-drag-animating {
    transition: transform 300ms ease;
}
.cdk-drag-placeholder {
    background: #ccc;
    border: dotted 1px #999;
    transition: transform 500ms ease;
}
.cdk-drag-preview {
    box-shadow: 0 3px 3px -3px #0084ff;
}

.box-list{
    /* border: 2px solid rgb(255, 0, 0); */
    padding: 3px;
    /* width:800px; 
    height:400px; */
}    
.field-box-drag{
border: 2px solid rgb(221, 221, 221);
padding: 3px;
margin: 5px;
width:100%; 
height:30px;
display: flex;
cursor:move;
}