<div  *ngIf="authorized" style="width:100%; height: 100%">  
  <div class="sidebar">
    <div class="logo-details">
      <i class="material-icons unselectable" (click)="menuClick($event)">menu</i>
      <a href="/ui/dashboard"><span class="logo-name">ДОКИО</span></a>
    </div>
    <ul class="nav-links">
      <li *ngIf="hasPermission(183)">
        <div class="icon-link" (click)="arrowClick($event,1)">
          <a>
            <i class="material-icons unselectable" (click)="arrowClick($event,3)">add_shopping_cart</i>
            <span class="link_name unselectable" (click)="arrowClick($event,3)">Закупки</span>
          </a>
          <i class="material-icons arrow unselectable" (click)="arrowClick($event,2)">arrow_drop_down</i>
        </div>
        <ul class="sub-menu">
          <li>
            <a class="link-name">
              <span class="unselectable">Закупки</span></a>
          </li>
          <li *ngIf="hasPermission(183)">
            <a routerLink="acceptance">
              <span class="unselectable">Приёмки</span></a>
          </li>
          <li *ngIf="hasPermission(360)">
            <a routerLink="returnsup">
              <span class="unselectable">Возврат поставщику</span></a>
          </li>
        </ul>
      </li>
      <li *ngIf="hasPermission(344)||hasPermission(279)||hasPermission(252)||hasPermission(404)">
        <div class="icon-link" (click)="arrowClick($event,1)">
          <a>
            <i class="material-icons unselectable" (click)="arrowClick($event,3)">payments</i>
            <span class="link_name unselectable" (click)="arrowClick($event,3)">Продажи</span>
          </a>
          <i class="material-icons arrow unselectable" (click)="arrowClick($event,2)">arrow_drop_down</i>
        </div>
        <ul class="sub-menu">
          <li>
            <a class="link-name">
              <span class="unselectable">Продажи</span></a>
          </li>
          <li *ngIf="hasPermission(344)">
            <a routerLink="return">
              <span class="unselectable">Возвраты покупателей</span></a>
          </li>
          <li *ngIf="hasPermission(279)">
            <a routerLink="customersorders">
              <span class="unselectable">Заказы покупателей</span></a>
          </li>
          <li *ngIf="hasPermission(252)">
            <a routerLink="shipment">
              <span class="unselectable">Отгрузки</span></a>
          </li>
          <li *ngIf="hasPermission(404)">
            <a routerLink="invoiceout">
              <span class="unselectable">Счета покупателям</span></a>
          </li>
        </ul>
      </li>
      <li *ngIf="hasPermission(308)||hasPermission(70)">
        <div class="icon-link" (click)="arrowClick($event,1)">
          <a>
            <i class="material-icons unselectable" (click)="arrowClick($event,3)">card_travel</i>
            <span class="link_name unselectable" (click)="arrowClick($event,3)">Розница</span>
          </a>
          <i class="material-icons arrow unselectable" (click)="arrowClick($event,2)">arrow_drop_down</i>
        </div>
        <ul class="sub-menu">
          <li>
            <a class="link-name">
              <span class="unselectable">Розница</span></a>
          </li>
          <li *ngIf="hasPermission(308)">
            <a routerLink="retailsales">
              <span class="unselectable">Розничные продажи</span></a>
          </li>
          <li *ngIf="hasPermission(70)">
            <a routerLink="traderesults">
              <span class="unselectable">Итоги смен</span></a>
          </li>
        </ul>
      </li>
      <li *ngIf="hasPermission(328)||hasPermission(231)||hasPermission(238)||hasPermission(328)||hasPermission(215)||hasPermission(199)||hasPermission(376)">
        <div class="icon-link" (click)="arrowClick($event,1)">
          <a>
            <i class="material-icons unselectable" (click)="arrowClick($event,3)">widgets</i>
            <span class="link_name unselectable" (click)="arrowClick($event,3)">Товары</span>
          </a>
          <i class="material-icons arrow unselectable" (click)="arrowClick($event,2)">arrow_drop_down</i>
        </div>
        <ul class="sub-menu">
          <li>
            <a class="link-name">
              <span class="unselectable">Товары</span></a>
          </li>
          <li *ngIf="hasPermission(160)">
            <a routerLink="products">
              <span class="unselectable">Товары и услуги</span></a>
          </li>
          <li *ngIf="hasPermission(231)">
            <a routerLink="remains">
              <span class="unselectable">Товарные остатки</span></a>
          </li>
          <li *ngIf="hasPermission(238)">
            <a routerLink="prices">
              <span class="unselectable">Цены</span></a>
          </li>
          <li *ngIf="hasPermission(328)">
            <a routerLink="inventory">
              <span class="unselectable">Инвентаризации</span></a>
          </li>
          <li *ngIf="hasPermission(215)">
            <a routerLink="writeoff">
              <span class="unselectable">Списания</span></a>
          </li>
          <li *ngIf="hasPermission(199)">
            <a routerLink="posting">
              <span class="unselectable">Оприходования</span></a>
          </li>
          <li *ngIf="hasPermission(376)">
            <a routerLink="moving">
              <span class="unselectable">Перемещения</span></a>
          </li>
        </ul>
      </li>
      <li *ngIf="hasPermission(108)||hasPermission(117)||hasPermission(126)||hasPermission(295)">
        <div class="icon-link" (click)="arrowClick($event,1)">
          <a>
            <i class="material-icons unselectable" (click)="arrowClick($event,3)">menu_book</i>
            <span class="link_name unselectable" (click)="arrowClick($event,3)">Справочники</span>
          </a>
          <i class="material-icons arrow unselectable" (click)="arrowClick($event,2)">arrow_drop_down</i>
        </div>
        <ul class="sub-menu">
          <li>
            <a class="link-name">
              <span class="unselectable">Справочники</span></a>
          </li>
          <li *ngIf="hasPermission(108)">
            <a routerLink="productgroups">
              <span class="unselectable">Группы товаров</span></a>
          </li>
          <li *ngIf="hasPermission(117)">
            <a routerLink="edizm">
              <span class="unselectable">Ед. измерения</span></a>
          </li>
          <li *ngIf="hasPermission(126)">
            <a routerLink="cagents">
              <span class="unselectable">Контрагенты</span></a>
          </li>
          <li *ngIf="hasPermission(295)">
            <a routerLink="kassa">
              <span class="unselectable">Кассы онлайн</span></a>
          </li>
          <li *ngIf="hasPermission(90)">
            <a routerLink="pricetypes">
              <span class="unselectable">Типы цен</span></a>
          </li>
          <li *ngIf="hasPermission(268)">
            <a routerLink="statuses">
              <span class="unselectable">Статусы документов</span></a>
          </li>
        </ul>
      </li>
      <li *ngIf="hasPermission(143)">
        <div class="icon-link" (click)="arrowClick($event,1)">
          <a>
            <i class="material-icons unselectable" (click)="arrowClick($event,3)">description</i>
            <span class="link_name unselectable" (click)="arrowClick($event,3)">Документы</span>
          </a>
          <i class="material-icons arrow unselectable" (click)="arrowClick($event,2)">arrow_drop_down</i>
        </div>
        <ul class="sub-menu">
          <li>
            <a class="link-name">
              <span class="unselectable">Документы</span></a>
          </li>
          <li *ngIf="hasPermission(143)">
            <a routerLink="files">
              <span class="unselectable">Файлы</span></a>
          </li>
        </ul>
      </li>
      <li *ngIf="hasPermission(85)">
        <div class="icon-link" (click)="arrowClick($event,1)">
          <a>
            <i class="material-icons unselectable" (click)="arrowClick($event,3)">summarize</i>
            <span class="link_name unselectable" (click)="arrowClick($event,3)">Отчёты</span>
          </a>
          <i class="material-icons arrow unselectable" (click)="arrowClick($event,2)">arrow_drop_down</i>
        </div>
        <ul class="sub-menu">
          <li>
            <a class="link-name">
              <span class="unselectable">Отчёты</span></a>
          </li>
          <li *ngIf="hasPermission(85)">
            <a routerLink="traderesults-report">
              <span class="unselectable">Итоги смен</span></a>
          </li>
        </ul>
      </li>
      <li *ngIf="hasPermission(17)||hasPermission(18)||hasPermission(19)||hasPermission(28)">
        <div class="icon-link" (click)="arrowClick($event,1)">
          <a>
            <i class="material-icons unselectable" (click)="arrowClick($event,3)">settings</i>
            <span class="link_name unselectable" (click)="arrowClick($event,3)">Настройки</span>
          </a>
          <i class="material-icons arrow unselectable" (click)="arrowClick($event,2)">arrow_drop_down</i>
        </div>
        <ul class="sub-menu">
          <li>
            <a class="link-name">
              <span class="unselectable">Настройки</span></a>
          </li>
          <li *ngIf="hasPermission(18)">
            <a routerLink="companies">
              <span class="unselectable">Предприятия</span></a>
          </li>
          <li *ngIf="hasPermission(17)">
            <a routerLink="departments">
              <span class="unselectable">Отделения</span></a>
          </li>
          <li *ngIf="hasPermission(19)">
            <a routerLink="users">
              <span class="unselectable">Пользователи</span></a>
          </li>
          <li *ngIf="hasPermission(28)">
            <a routerLink="usergroup">
              <span class="unselectable">Группы пользователей</span></a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="profile-details">
      <div class="name-job">
        <div class="profile_name">
          {{userInfo.name}}
        </div>
      </div>
      <div class="power-btn"><a class="nav-link" href="#" (click)="logout()"><mat-icon>power_settings_new</mat-icon></a></div>
    </div>
  </div>
    
  <section class="home-section">
    <router-outlet  *ngIf="authorized" style="width:100%; height: 100%"></router-outlet>
  </section>



      
  
      

