<mat-toolbar class="ui-header flex">
    <div class="itm3"><a style="cursor: pointer;" (click)="sidenav.toggle()"><mat-icon style="font-size: 35px;margin-top: 5px;">menu</mat-icon></a></div>
        <div class="logo itm1"><a routerLink="dashboard"><img style="width:140px" src="../../../assets/images/logo.png"></a></div>
        <div class="itm itm2">{{info.username}}</div> 
        <div class="itm itm3"><a class="nav-link" href="#" (click)="logout()"><mat-icon>power_settings_new</mat-icon></a></div>
    </mat-toolbar>
<mat-sidenav-container class="ui-container">

  <mat-sidenav #sidenav mode="side" opened class="ui-sidenav"
               fixedInViewport="false" fixedTopGap="0"
               fixedBottomGap="0">







              <ul class="cd-accordion-menu animated">
                <li class="has-children">
                <input type="checkbox" name ="group-1" id="group-1" checked>
                <label for="group-1">Торговля</label>
                  <ul>
                    <li class="has-children">
                      <input type="checkbox" name ="sub-group-1" id="sub-group-1">
                      <label for="sub-group-1">Операции</label>
                      <ul>
                        <li class="nav-item" *ngIf="hasPermission(252)">
                          <a class="nav-link" routerLink="shipment">
                            <mat-icon class="nav-icon">local_shipping</mat-icon><span class="docname">Отгрузка</span></a>
                        </li>
                        <li class="nav-item" *ngIf="hasPermission(183)">
                          <a class="nav-link" routerLink="acceptance">
                            <mat-icon class="nav-icon">system_update_alt</mat-icon><span class="docname">Приёмка</span></a>
                        </li>
                        <li class="nav-item" *ngIf="hasPermission(199)">
                          <a class="nav-link" routerLink="posting">
                            <mat-icon class="nav-icon">library_add</mat-icon><span class="docname">Оприходование</span></a>
                        </li>
                        <li class="nav-item" *ngIf="hasPermission(215)">
                          <a class="nav-link" routerLink="writeoff">
                            <mat-icon class="nav-icon">cancel_presentation</mat-icon><span class="docname">Списание</span></a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item" *ngIf="hasPermission(70)">
                      <a class="nav-link" routerLink="traderesults">
                        <mat-icon class="nav-icon">done</mat-icon><span class="docname">Итоги смен</span></a>
                    </li>
                    <li class="nav-item" *ngIf="hasPermission(160)">
                      <a class="nav-link" routerLink="products">
                          <mat-icon class="nav-icon">local_grocery_store</mat-icon><span class="docname">Товары и услуги</span></a>
                    </li>
                    <li class="nav-item" *ngIf="hasPermission(231)">
                      <a class="nav-link" routerLink="remains">
                          <mat-icon class="nav-icon">widgets</mat-icon><span class="docname">Товарные остатки</span></a>
                    </li>
                    <li class="nav-item" *ngIf="hasPermission(238)">
                      <a class="nav-link" routerLink="prices">
                          <mat-icon class="nav-icon">account_balance_wallet</mat-icon><span class="docname">Цены</span></a>
                    </li>
                    <li class="nav-item" *ngIf="hasPermission(279)">
                      <a class="nav-link" routerLink="customersorders">
                          <mat-icon class="nav-icon">speaker_notes</mat-icon><span class="docname">Заказы покупателей</span>
                      </a>
                    </li>
                    <li class="nav-item" *ngIf="hasPermission(245)">
                      <a class="nav-link" routerLink="sites">
                          <mat-icon class="nav-icon">language</mat-icon><span class="docname">Сайты</span></a>
                    </li>
                  </ul>
                </li>
            
                <!-- <li class="has-children">
                  <input type="checkbox" name ="group-2" id="group-2" checked>
                  <label for="group-2">Склад</label>
                  <ul>
                    
                  </ul>
                </li> -->
            
                <li class="has-children">
                  <input type="checkbox" name ="group-3" id="group-3">
                  <label for="group-3">Документы</label>
                  <ul>
                    <li class="nav-item" *ngIf="hasPermission(143)">
                      <a class="nav-link" routerLink="files">
                          <mat-icon class="nav-icon">description</mat-icon><span class="docname">Файлы</span></a>
                    </li>
                  </ul>
                </li>
            
                <li class="has-children">
                  <input type="checkbox" name ="group-6" id="group-6">
                  <label for="group-6">Справочники</label>
                  <ul>
                    <li class="nav-item" *ngIf="hasPermission(108)">
                      <a class="nav-link" routerLink="productgroups">
                          <mat-icon class="nav-icon">apps</mat-icon><span class="docname">Группы товаров</span></a>
                    </li>
                    <li class="nav-item" *ngIf="hasPermission(117)">
                      <a class="nav-link" routerLink="edizm">
                          <mat-icon class="nav-icon">accessibility_new</mat-icon><span class="docname">Ед. измерения</span></a>
                    </li>
                    <li class="nav-item" *ngIf="hasPermission(126)">
                      <a class="nav-link" routerLink="cagents">
                          <mat-icon class="nav-icon">sync_alt</mat-icon><span class="docname">Контрагенты</span></a>
                    </li>
                    <li class="nav-item" *ngIf="hasPermission(90)">
                      <a class="nav-link" routerLink="pricetypes">
                          <mat-icon class="nav-icon">signal_cellular_alt</mat-icon><span class="docname">Типы цен</span></a>
                    </li>
                    <li class="nav-item" *ngIf="hasPermission(268)">
                      <a class="nav-link" routerLink="statuses">
                          <mat-icon class="nav-icon">traffic</mat-icon><span class="docname">Статусы док-тов</span></a>
                    </li>
                  </ul>
                </li>

                <li class="has-children">
                  <input type="checkbox" name ="group-4" id="group-4">
                  <label for="group-4">Отчёты</label>
            
                  <ul>
                    <li class="nav-item" *ngIf="hasPermission(85)">
                      <a class="nav-link" routerLink="traderesults-report">
                          <mat-icon class="nav-icon">toc</mat-icon><span class="docname">Итоги смен - отчёт</span></a>
                    </li>
                  </ul>
                </li>

                <li class="has-children">
                  <input type="checkbox" name ="group-5" id="group-5">
                  <label for="group-5">Настройки</label>
                  <ul>
                    <li class="nav-item" *ngIf="hasPermission(18)">
                      <a class="nav-link" routerLink="companies">
                          <mat-icon class="nav-icon">view_stream</mat-icon><span class="docname">Предприятия</span></a>
                    </li>
                    <li class="nav-item" *ngIf="hasPermission(17)">
                      <a class="nav-link" routerLink="departments">
                          <mat-icon class="nav-icon">view_module</mat-icon><span class="docname">Отделения</span></a>
                    </li>
                    <li class="nav-item" *ngIf="hasPermission(19)">
                      <a class="nav-link" routerLink="users">
                          <mat-icon class="nav-icon">account_circle</mat-icon><span class="docname">Пользователи</span></a>
                    </li>
                    <li class="nav-item" *ngIf="hasPermission(28)">
                      <a class="nav-link" routerLink="usergroup">
                          <mat-icon class="nav-icon">group</mat-icon><span class="docname">Группы пользователей</span></a>
                    </li>
                  </ul>
                </li>

              </ul> 






  </mat-sidenav>
  
  <mat-sidenav-content>
        
    <router-outlet style="height: 100%"></router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-toolbar class="example-footer">Footer</mat-toolbar> -->
