 .logo {       
    font-size: 2.5rem;     
    color: rgb(58, 0, 134);     
    margin: 5px;     
    padding: 15px; }
  a:link { text-decoration: none } 
  a:visited { text-decoration: none } 
  a:active { text-decoration: none }
  
  .itm {        
    font-size: 1rem;         
    margin: 5px;     
    padding: 5px; }
  .itm1{ flex-grow: 1; }
  .ui-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;}
  .ui-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;}
  
  .ui-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: #2f353a;
  }
  .flex{ display: flex; 
         justify-content: center;
  }
  
  .ui-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  
  
  .nav-icon {
    display: inline-block;
    width: 1.09375rem;
    margin: -5px .3rem -5px 0;
    font-size: 1.1rem;
    color: #20a8d8;
    text-align: center;
    position: relative;
    top: 2px;
  }
  body {
    font-size: 0.8rem;
    font-family: "Jaldi", sans-serif;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }