<div  *ngIf="authorized" style="width:100%; height: 100%">  
  <div class="sidebar" *transloco="let t">
    <div class="logo-details">
      <i class="material-icons unselectable" (click)="menuClick()">menu</i>
      <a routerLink="dashboard"><span class="logo-name"><img *ngIf="showLogo" src="assets_/images/logo.svg" style="width:160px" alt="Logo" /></span></a>
    </div>
    <ul class="nav-links">
      <li *ngIf="hasPermission(183)||hasPermission(360)||hasPermission(424)||hasPermission(444)||hasPermission(528)">
        <div class="icon-link" (click)="arrowClick($event,1)">
          <a>
            <i class="material-icons unselectable" (click)="arrowClick($event,3)">add_shopping_cart</i>
            <span class="link_name unselectable" id="purchases" (click)="arrowClick($event,3)">{{t('sidebar.menu.headers.purchases')}}</span>
          </a>
          <i class="material-icons arrow unselectable" (click)="arrowClick($event,2)">arrow_drop_down</i>
        </div>
        <ul class="sub-menu">
          <li>
            <a class="link-name">
              <span class="unselectable">{{t('sidebar.menu.headers.purchases')}}</span></a>
          </li>
          <li *ngIf="hasPermission(424)">
            <a routerLink="ordersup">
              <span class="unselectable" id="ordersup">{{t('sidebar.menu.items.ordersup')}}</span></a>
          </li>
          <li *ngIf="hasPermission(444)">
            <a routerLink="invoicein">
              <span class="unselectable" id="invoicein">{{t('sidebar.menu.items.invoicein')}}</span></a>
          </li>
          <li *ngIf="hasPermission(183)">
            <a routerLink="acceptance">
              <span class="unselectable" id="acceptance">{{t('sidebar.menu.items.acceptance')}}</span></a>
          </li>
          <li *ngIf="hasPermission(360)">
            <a routerLink="returnsup">
              <span class="unselectable" id="returnsup">{{t('sidebar.menu.items.returnsup')}}</span></a>
          </li>
          <li *ngIf="hasPermission(528)">
            <a routerLink="vatinvoicein">
              <span class="unselectable" id="vatinvoicein">{{t('sidebar.menu.items.vatinvoicein')}}</span></a>
          </li>
        </ul>
      </li>
      <li *ngIf="hasPermission(344)||hasPermission(279)||hasPermission(252)||hasPermission(404)||hasPermission(486)">
        <div class="icon-link" (click)="arrowClick($event,1)">
          <a>
            <i class="material-icons unselectable" (click)="arrowClick($event,3)">credit_card</i>
            <span class="link_name unselectable" id="sales" (click)="arrowClick($event,3)">{{t('sidebar.menu.headers.sales')}}</span>
          </a>
          <i class="material-icons arrow unselectable" (click)="arrowClick($event,2)">arrow_drop_down</i>
        </div>
        <ul class="sub-menu">
          <li>
            <a class="link-name">
              <span class="unselectable">{{t('sidebar.menu.headers.sales')}}</span></a>
          </li>
          <li *ngIf="hasPermission(279)">
            <a routerLink="customersorders">
              <span class="unselectable" id="customersorders">{{t('sidebar.menu.items.customersorders')}}</span></a>
          </li>
          <li *ngIf="hasPermission(404)">
            <a routerLink="invoiceout">
              <span class="unselectable" id="invoiceout">{{t('sidebar.menu.items.invoiceout')}}</span></a>
          </li>
          <li *ngIf="hasPermission(252)">
            <a routerLink="shipment">
              <span class="unselectable" id="shipment">{{t('sidebar.menu.items.shipment')}}</span></a>
          </li>
          <li *ngIf="hasPermission(344)">
            <a routerLink="return">
              <span class="unselectable" id="return">{{t('sidebar.menu.items.return')}}</span></a>
          </li>
          <li *ngIf="hasPermission(486)">
            <a routerLink="vatinvoiceout">
              <span class="unselectable" id="vatinvoiceout">{{t('sidebar.menu.items.vatinvoiceout')}}</span></a>
          </li>
        </ul>
      </li>
      <li *ngIf="hasPermission(308)||hasPermission(70)||hasPermission(559)||hasPermission(562)||hasPermission(295)||hasPermission(567)||hasPermission(575)">
        <div class="icon-link" (click)="arrowClick($event,1)">
          <a>
            <i class="material-icons unselectable" (click)="arrowClick($event,3)">shopping_bag</i>
            <span class="link_name unselectable" id="retail" (click)="arrowClick($event,3)">{{t('sidebar.menu.headers.retail')}}</span>
          </a>
          <i class="material-icons arrow unselectable" (click)="arrowClick($event,2)">arrow_drop_down</i>
        </div>
        <ul class="sub-menu">
          <li>
            <a class="link-name">
              <span class="unselectable">{{t('sidebar.menu.headers.retail')}}</span></a>
          </li>
          <li *ngIf="hasPermission(308)">
            <a routerLink="retailsales">
              <span class="unselectable" id="retailsales">{{t('sidebar.menu.items.retailsales')}}</span></a>
          </li>
          <li *ngIf="hasPermission(559)">
            <a routerLink="shifts">
              <span class="unselectable" id="shifts">{{t('sidebar.menu.items.shifts')}}</span></a>
          </li>
          <li *ngIf="hasPermission(562)">
            <a routerLink="receipts">
              <span class="unselectable" id="receipts">{{t('sidebar.menu.items.receipts')}}</span></a>
          </li>
          <li *ngIf="hasPermission(295)">
            <a routerLink="kassa">
              <span class="unselectable" id="kassa">{{t('sidebar.menu.items.kassa')}}</span></a>
          </li>
          <li *ngIf="hasPermission(567)">
            <a routerLink="withdrawal">
              <span class="unselectable" id="withdrawal">{{t('sidebar.menu.items.withdrawal')}}</span></a>
          </li>
          <li *ngIf="hasPermission(575)">
            <a routerLink="depositing">
              <span class="unselectable" id="depositing">{{t('sidebar.menu.items.depositing')}}</span></a>
          </li>
          <li *ngIf="hasPermission(70)">
            <a routerLink="traderesults">
              <span class="unselectable" id="traderesults">{{t('sidebar.menu.items.traderesults')}}</span></a>
          </li>
        </ul>
      </li>
      <li *ngIf="hasPermission(328)||hasPermission(231)||hasPermission(238)||hasPermission(328)||hasPermission(215)||hasPermission(199)||hasPermission(376)">
        <div class="icon-link" (click)="arrowClick($event,1)">
          <a>
            <i class="material-icons unselectable" (click)="arrowClick($event,3)">widgets</i>
            <span class="link_name unselectable" id="goods" (click)="arrowClick($event,3)">{{t('sidebar.menu.headers.goods')}}</span>
          </a>
          <i class="material-icons arrow unselectable" (click)="arrowClick($event,2)">arrow_drop_down</i>
        </div>
        <ul class="sub-menu">
          <li>
            <a class="link-name">
              <span class="unselectable">{{t('sidebar.menu.headers.goods')}}</span></a>
          </li>
          <li *ngIf="hasPermission(160)">
            <a routerLink="products">
              <span class="unselectable" id="products">{{t('sidebar.menu.items.products')}}</span></a>
          </li>
          <li *ngIf="hasPermission(231)">
            <a routerLink="remains">
              <span class="unselectable" id="remains">{{t('sidebar.menu.items.remains')}}</span></a>
          </li>
          <li *ngIf="hasPermission(238)">
            <a routerLink="prices">
              <span class="unselectable" id="prices">{{t('sidebar.menu.items.prices')}}</span></a>
          </li>
          <li *ngIf="hasPermission(328)">
            <a routerLink="inventory">
              <span class="unselectable" id="inventory">{{t('sidebar.menu.items.inventory')}}</span></a>
          </li>
          <li *ngIf="hasPermission(199)">
            <a routerLink="posting">
              <span class="unselectable" id="posting">{{t('sidebar.menu.items.posting')}}</span></a>
          </li>
          <li *ngIf="hasPermission(215)">
            <a routerLink="writeoff">
              <span class="unselectable" id="writeoff">{{t('sidebar.menu.items.writeoff')}}</span></a>
          </li>
          <li *ngIf="hasPermission(376)">
            <a routerLink="moving">
              <span class="unselectable" id="moving">{{t('sidebar.menu.items.moving')}}</span></a>
          </li>
        </ul>
      </li>
      <li *ngIf="hasPermission(464)||hasPermission(475)||hasPermission(506)||hasPermission(517)||hasPermission(539)||hasPermission(583)||hasPermission(586)||hasPermission(589)">
        <div class="icon-link" (click)="arrowClick($event,1)">
          <a>
            <i class="material-icons unselectable" (click)="arrowClick($event,3)">payments</i>
            <span class="link_name unselectable" id="money" (click)="arrowClick($event,3)">{{t('sidebar.menu.headers.money')}}</span>
          </a>
          <i class="material-icons arrow unselectable" (click)="arrowClick($event,2)">arrow_drop_down</i>
        </div>
        <ul class="sub-menu">
          <li>
            <a class="link-name">
              <span class="unselectable">{{t('sidebar.menu.headers.money')}}</span></a>
          </li>
          <li *ngIf="hasPermission(464)">
            <a routerLink="paymentin">  
              <span class="unselectable" id="paymentin">{{t('sidebar.menu.items.paymentin')}}</span></a>
          </li>
          <li *ngIf="hasPermission(506)">
            <a routerLink="paymentout">
              <span class="unselectable" id="paymentout">{{t('sidebar.menu.items.paymentout')}}</span></a>
          </li>
          <li *ngIf="hasPermission(475)">
            <a routerLink="orderin">
              <span class="unselectable" id="orderin">{{t('sidebar.menu.items.orderin')}}</span></a>
          </li>
          <li *ngIf="hasPermission(517)">
            <a routerLink="orderout">
              <span class="unselectable" id="orderout">{{t('sidebar.menu.items.orderout')}}</span></a>
          </li>
          <li *ngIf="hasPermission(539)">
            <a routerLink="correction">
              <span class="unselectable" id="correction">{{t('sidebar.menu.items.correction')}}</span></a>
          </li>
          <li *ngIf="hasPermission(589)">
            <a routerLink="profitloss">
              <span class="unselectable" id="profitloss">{{t('sidebar.menu.items.profitloss')}}</span></a>
          </li>
          <li *ngIf="hasPermission(583)">
            <a routerLink="mutualpayment">
              <span class="unselectable" id="mutualpayment">{{t('sidebar.menu.items.mutualpayment')}}</span></a>
          </li>
          <li *ngIf="hasPermission(586)">
            <a routerLink="moneyflow">
              <span class="unselectable" id="moneyflow">{{t('sidebar.menu.items.moneyflow')}}</span></a>
          </li>
        </ul>
      </li>
      <li *ngIf="hasPermission(692)||hasPermission(683)||hasPermission(662)||hasPermission(143)||hasPermission(108)||hasPermission(268)||hasPermission(117)||hasPermission(126)||hasPermission(497)||hasPermission(550)||hasPermission(635)||hasPermission(90)||hasPermission(644)||hasPermission(653)">
        <div class="icon-link" (click)="arrowClick($event,1)">
          <a>
            <i class="material-icons unselectable" (click)="arrowClick($event,3)">menu_book</i>
            <span class="link_name unselectable" id="registries" (click)="arrowClick($event,3)">{{t('sidebar.menu.headers.registries')}}</span>
          </a>
          <i class="material-icons arrow unselectable" (click)="arrowClick($event,2)">arrow_drop_down</i>
        </div>
        <ul class="sub-menu">
          <li>
            <a class="link-name">
              <span class="unselectable">{{t('sidebar.menu.headers.registries')}}</span></a>
          </li>
          <li *ngIf="hasPermission(653)">
            <a routerLink="accounts">
              <span class="unselectable" id="accounts">{{t('sidebar.menu.items.accounts')}}</span></a>
          </li>
          <li *ngIf="hasPermission(550)">
            <a routerLink="boxoffice">
              <span class="unselectable" id="boxoffice">{{t('sidebar.menu.items.boxoffice')}}</span></a>
          </li>
          <li *ngIf="hasPermission(126)">
            <a routerLink="cagents">
              <span class="unselectable" id="cagents">{{t('sidebar.menu.items.cagents')}}</span></a>
          </li>
          <li *ngIf="hasPermission(644)">
            <a routerLink="currencies">
              <span class="unselectable" id="currencies">{{t('sidebar.menu.items.currencies')}}</span></a>
          </li>
          <li *ngIf="hasPermission(268)">
            <a routerLink="statuses">
              <span class="unselectable" id="statuses">{{t('sidebar.menu.items.statuses')}}</span></a>
          </li>
          <li *ngIf="hasPermission(497)">
            <a routerLink="expenditure">
              <span class="unselectable" id="expenditure">{{t('sidebar.menu.items.expenditure')}}</span></a>
          </li>
          <li *ngIf="hasPermission(143)">
            <a routerLink="files">
              <span class="unselectable" id="files">{{t('sidebar.menu.items.files')}}</span></a>
          </li>
          <li *ngIf="hasPermission(692)">
            <a routerLink="jobtitles">
              <span class="unselectable" id="jobtitles">{{t('sidebar.menu.items.jobtitles')}}</span></a>
          </li>
          <li *ngIf="hasPermission(90)">
            <a routerLink="pricetypes">
              <span class="unselectable" id="pricetypes">{{t('sidebar.menu.items.pricetypes')}}</span></a>
          </li>          
          <li *ngIf="hasPermission(662)">
            <a routerLink="productattributes">  
              <span class="unselectable" id="prodattr">{{t('sidebar.menu.items.prodattr')}}</span></a>
          </li>
          <li *ngIf="hasPermission(108)">
            <a routerLink="productgroups">
              <span class="unselectable" id="productgroups">{{t('sidebar.menu.items.productgroups')}}</span></a>
          </li>
          <li *ngIf="hasPermission(683)">
            <a routerLink="resources">
              <span class="unselectable" id="resources">{{t('sidebar.menu.items.resources')}}</span></a>
          </li>
          <li *ngIf="hasPermission(635)">
            <a routerLink="taxes">
              <span class="unselectable" id="taxes">{{t('sidebar.menu.items.taxes')}}</span></a>
          </li>
          <li *ngIf="hasPermission(117)">
            <a routerLink="edizm">
              <span class="unselectable" id="edizm">{{t('sidebar.menu.items.edizm')}}</span></a>
          </li>
        </ul>
      </li>
      <li *ngIf="hasPermission(701)||hasPermission(17)||hasPermission(18)||hasPermission(19)||hasPermission(28)||hasPermission(671)||hasPermission(680)">
        <div class="icon-link" (click)="arrowClick($event,1)">
          <a>
            <i class="material-icons unselectable" (click)="arrowClick($event,3)">settings</i>
            <span class="link_name unselectable" id="settings" (click)="arrowClick($event,3)">{{t('sidebar.menu.headers.settings')}}</span>
          </a>
          <i class="material-icons arrow unselectable" (click)="arrowClick($event,2)">arrow_drop_down</i>
        </div>
        <ul class="sub-menu">
          <li>
            <a class="link-name">
              <span class="unselectable">{{t('sidebar.menu.headers.settings')}}</span></a>
          </li>
          <li *ngIf="hasPermission(18)">
            <a routerLink="companies">
              <span class="unselectable" id="companies">{{t('sidebar.menu.items.companies')}}</span></a>
          </li>
          <li *ngIf="hasPermission(17)">
            <a routerLink="departments">
              <span class="unselectable" id="departments">{{t('sidebar.menu.items.departments')}}</span></a>
          </li>
          <li *ngIf="hasPermission(701)">
            <a routerLink="employeescdl">
              <span class="unselectable" id="employeescdl">{{t('sidebar.menu.items.employeescdl')}}</span></a>
          </li> 
          <li *ngIf="hasPermission(671)">
            <a routerLink="stores">
              <span class="unselectable" id="stores">{{t('sidebar.menu.items.stores')}}</span></a>
          </li>
          <li *ngIf="hasPermission(680)">
            <a routerLink="subscription">
              <span class="unselectable" id="subscription">{{t('sidebar.menu.items.subscription')}}</span></a>
          </li>          
          <li *ngIf="hasPermission(19)">
            <a routerLink="users">
              <span class="unselectable" id="users">{{t('sidebar.menu.items.users')}}</span></a>
          </li>
          <li *ngIf="hasPermission(28)">
            <a routerLink="usergroup">
              <span class="unselectable" id="usergroup">{{t('sidebar.menu.items.usergroup')}}</span></a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="profile-details">
      <div class="name-job">
        <div class="profile_name">
          {{userInfo.name}}
        </div>
        <div>
          <!-- <button (click)="setLanguage('en');setLocale('en-us');">en</button>
          <button (click)="setLanguage('ru');setLocale('ru');">ru</button>
          <button (click)="setLanguage('fr')">fr</button>
          <button (click)="setLanguage('ja')">ja</button> -->
        </div>
      </div>
      <div class="user-settings-btn" (click)="openDialogSettings()"><mat-icon style="font-size: 22px;height: 27px;">settings</mat-icon></div>
      <div class="power-btn"><a class="nav-link" href="#" (click)="logout()"><mat-icon>power_settings_new</mat-icon></a></div>
    </div>
  </div>
    
  <section class="home-section">
    <router-outlet  
    *ngIf="authorized && isSettingsLoaded" 
    style="width:100%; height: 100%"
    (activate)="onOutletLoaded($event)"
    
    
    ></router-outlet>
  </section>



      
  
      

