<mat-card appearance="outlined" class="card" *transloco="let t">
    <mat-card-header>
        <mat-card-title class="flex">
            <div class="card-name">{{idTypes=='categories'?('modules.card.cat_select' | transloco):('modules.card.prods_select' | transloco)}}</div>
            <button 
                mat-raised-button 
                (click)="applySelect()"
                color="primary"
                matTooltip="{{t('docs.tip.select')}}"
                class="button small-button">
                <i class="material-icons">done</i>
            </button>
            <button 
                (click)="onNoClick()"
                matTooltip="{{t('docs.tip.close')}}"
                mat-raised-button 
                color="accent"
                class="button small-button">
                <i class="material-icons">close</i>
            </button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-drawer-container class="doc-container" autosize>
            <p *ngIf="!allowToView && showNotEnoughPermissionsMessage">{{'modules.err.ne_rght_prod' | transloco}}<br>-{{'modules.err._rght_all_com' | transloco}},<br>-{{'modules.err._rght_my_com' | transloco}}</p>
            <mat-drawer #drawer class="categories-sidenav" mode="side" opened *ngIf="allowToView" >
                
                    <div class="category-toolbar-search flex">
                        <span style="flex-grow: 1;"></span>
                            <div>
                                <form  class="form-horizontal" method="post" action="">
                                    <mat-form-field>
                                        <input matInput 
                                            placeholder="{{t('menu.top.search')}}" 
                                            [(ngModel)]="sendingQueryForm.searchCategoryString" 
                                            type="text"  
                                            id="search_input" 
                                            name="search_input" 
                                        />
                                        <button matSuffix mat-icon-button aria-label="search"  type="submit" (click)="searchCategory()">
                                            <mat-icon>search</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </form>
                            </div>
                        <span style="flex-grow: 1;"></span>
                    </div>

                    <mat-tree [dataSource]="treeDataSource" [treeControl]="treeControl">
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                            <button mat-icon-button disabled></button>
                            <span class="node" [ngClass]="{selected_node:node.id==sendingQueryForm.selectedNodeId}" (click)="selectNode(node)">{{node.name}}</span>
                            <button *ngIf="idTypes=='categories'" 
                                    mat-icon-button 
                                    style="margin-left: -10px;" 
                                    (click)="addCategory(node)" 
                                    matTooltip="{{t('docs.tip.select')}}"
                                    matTooltipPosition="right">
                                    <mat-icon>
                                        add
                                    </mat-icon>
                            </button>
                        </mat-tree-node>
                        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                            <button mat-icon-button 
                                    matTreeNodeToggle
                                    [attr.aria-label]="'toggle ' + node.name">
                                    <mat-icon class="mat-icon-rtl-mirror">
                                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                    </mat-icon>
                            </button>
                            <span   class="node" 
                                    [ngClass]="{selected_node:node.id==sendingQueryForm.selectedNodeId}" 
                                    (click)="selectNode(node)">
                                {{node.name}}
                            </span>
                            <button mat-icon-button  
                                    *ngIf="idTypes=='categories'" 
                                    style="margin-left: -10px;" 
                                    (click)="addCategory(node)"
                                    matTooltip="{{t('docs.tip.select')}}"
                                    matTooltipPosition="right">
                                <mat-icon>
                                    add
                                </mat-icon>
                            </button>
                        </mat-tree-node>
                    </mat-tree>
            </mat-drawer>
            <div class="categories-sidenav-content">
                <mat-card appearance="outlined" class="card"  *ngIf="idTypes=='products'">
                    <mat-card-content>
                        <div class="card  w-100">
                            <div class="card-body">
                                <form  class="form-horizontal" id="formControl" method="post" action="" style="margin-bottom: 0px;">
                                    <div class="form-group" style="display: none;">
                                        <label class="control-label col-sm-2" for="SortColumn">SelectedNodeId</label>
                                        <input [(ngModel)]="sendingQueryForm.selectedNodeId" type="text" class="form-control" id="SelectedNodeId" name="SelectedNodeId" value="">
                                    </div>
                                    
                                    <div id="hidden" style="display: none;" class="row">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="offset">offset</label>
                                            <input [(ngModel)]="sendingQueryForm.offset" value="" type="text" class="form-control" id="offset" name="offSet">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="SortColumn">SortColumn</label>
                                            <input [(ngModel)]="sendingQueryForm.sortColumn" type="text" class="form-control" id="SortColumn" name="SortColumn" value="">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="SortAsc">SortAsc</label>
                                            <input [(ngModel)]="sendingQueryForm.sortAsc" type="text" class="form-control" id="SortAsc" name="SortAsc" value="">
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <div class="flex" *ngIf="sendingQueryForm.selectedNodeName" style="margin-left: 10px; width: 200px;">
                                            <mat-form-field class="emptyspace">
                                                <input matInput 
                                                placeholder="{{t('menu.top.category')}}" 
                                                [(ngModel)]="sendingQueryForm.selectedNodeName" 
                                                type="text" 
                                                [readonly]=true
                                                class="form-control"
                                                id="SelectedNodeName" 
                                                name="SelectedNodeName" 
                                                value="">
                                                <button matSuffix mat-icon-button aria-label="Clear" (click)="resetSelectedCategory(true);">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                        <span  class="emptyspace"></span>
                                        <div class="flex">
                                            <mat-form-field class="emptyspace">
                                                    <input matInput 
                                                    placeholder="{{t('menu.top.search')}}" 
                                                    [(ngModel)]="sendingQueryForm.searchString" 
                                                    type="text"  
                                                    id="search_input" 
                                                    name="search_input" 
                                                    style="width:150px"  
                                                    />
                                                    <button matSuffix mat-icon-button aria-label="search"  type="submit" (click)="setNumOfPages()">
                                                        <mat-icon>search</mat-icon>
                                                    </button>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </form>
                                <div id="result_form" *ngIf="allowToView">
                
                                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    
                                                <ng-container matColumnDef="opendoc">
                                                    <th mat-header-cell *matHeaderCellDef></th>
                                                    <td mat-cell *matCellDef="let row" class="table-launch-icon">
                                                        
                                                            <mat-icon style="cursor: pointer;"  matTooltip="{{t('docs.tip.select')}}" (click) = "addProduct(row)">add</mat-icon>
                                                    </td>   
                                                </ng-container>
                        
                                                <ng-container matColumnDef="id">
                                                    <th mat-header-cell *matHeaderCellDef> id </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="name">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                    <span (click)="setSort('p.name')" class="sortheader"> {{t('menu.table.name')}} 
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='p.name'" class="material-icons sortarrow">arrow_upward</i>
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='p.name'" class="material-icons sortarrow">arrow_downward</i>
                                                    </span>
                                                    <td mat-cell *matCellDef="let row" > <span [matTooltip]="row.description">{{row.name}}</span></td>
                                                </ng-container>
                                                <ng-container matColumnDef="article">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                    <span (click)="setSort('p.article')" class="sortheader"> {{t('menu.table.sku')}} 
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='p.article'" class="material-icons sortarrow">arrow_upward</i>
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='p.article'" class="material-icons sortarrow">arrow_downward</i>
                                                    </span>
                                                    <td mat-cell *matCellDef="let row"> {{row.article}} </td>
                                                </ng-container>
                                    
                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>
                                    <div class="flex">
                                        <div class="col-sm">
                                            <p> {{t('menu.bottom.founded')}}: {{size}}, {{t('menu.bottom.page')}} {{pagenum}}  {{t('menu.bottom.of')}} {{listsize}}</p>
                                        </div>
                                        <span  class="emptyspace"></span><!-- разделитель -->
                                        <div class="col-sm-auto justify-content-end">
                                            <ul class="pagination" style="padding-right: 0px">
                                                <ng-container *ngFor="let page of receivedPagesList; index as i">
                                                    <ng-container *ngIf="i>2 && listsize>1">
                                                        <ng-container *ngIf="i==3 && pagenum>1">
                                                                <li><a (click)="setPage(0)"><mat-icon class="pagearrow active">first_page</mat-icon></a>  </li>                               
                                                        </ng-container>
                                                        <ng-container *ngIf="i==3 && pagenum==1">
                                                                <li><mat-icon class="pagearrow inactive">first_page</mat-icon></li>                               
                                                        </ng-container>
                                                        
                                                            <mat-chip-listbox>
                                                                <ng-container *ngIf="page==pagenum;else templateElse">
                                                                    <li><mat-chip-option style="margin: 8px;" selected>
                                                                        {{page}}               
                                                                    </mat-chip-option></li>
                                                                </ng-container>
                                                                <ng-template #templateElse >
                                                                    <li><mat-chip-option  style="margin: 8px;"  (click)="setPage(page-1)">
                                                                        {{page}}               
                                                                    </mat-chip-option></li>
                                                                </ng-template>
                                                            </mat-chip-listbox>
                                                        <ng-container *ngIf="pagenum < listsize && page==maxpage">
                                                            <li><a (click)="setPage(listsize-1)"><mat-icon class="pagearrow active">last_page</mat-icon></a></li>
                                                        </ng-container>
                                                        <ng-container *ngIf="pagenum == listsize && page==maxpage">
                                                            <li><mat-icon class="pagearrow inactive">last_page</mat-icon></li>
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                            </ul>  
                                        </div>
                                    </div>
                                </div> 
                            </div>  
                        </div>
                        
                    </mat-card-content>
                </mat-card>
                
            </div>
            <mat-card appearance="outlined" class="card" *ngIf="selectedObjects.length>0">
                <mat-card-title class="flex">
                    <div class="card-name" style="font-size: 20px;">{{idTypes=='categories'?('modules.card.cat_selectd' | transloco):('modules.card.prods_selectd' | transloco)}}</div>
                </mat-card-title>
                <mat-card-content>
                    <div class="chip-list" appearance="fill">
                        <mat-chip-listbox #chipList aria-label="Selected objects">
                            <mat-chip-option
                            *ngFor="let object of selectedObjects"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="remove(object)">
                            {{object.name}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip-option>
                        </mat-chip-listbox>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-drawer-container>
    </mat-card-content>


</mat-card>