<mat-card appearance="outlined" class="card" *transloco="let t">
    <mat-card-title class="flex">
        <div class="card-name">{{t('modules.card.settings')}}</div>
        <button 
            (click)="onNoClick()"
            matTooltip="{{t('modules.tip.cls_sttng_wnd')}}"
            mat-raised-button 
            color="accent"
            class="button small-button">
            <i class="material-icons">close</i>
        </button>
    </mat-card-title>
    <mat-card-content > 
        <div class="card">
            <mat-spinner 
            strokeWidth="3" 
            class="spinner"
            [diameter]="50"
            *ngIf="gettingData"
            ></mat-spinner>
            <form [formGroup]="settingsForm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12"> 

                            <mat-form-field style="display: none;" >
                                <input   matInput
                                        placeholder="language"
                                        formControlName="languageId"/>
                            </mat-form-field>
                            <mat-form-field class="mat-form-field-100">
                                <mat-label>{{t('modules.field.language')}} <span *ngIf="settingsForm.get('languageName').value==0||settingsForm.get('languageName').value==null" class="star">*</span></mat-label>
                                <input matInput
                                    type="text"
                                    formControlName="languageName" 
                                    [matAutocomplete]="lg" 
                                    (input)="checkEmptyFields('languageId','languageName');"
                                    (change)="checkEmptyFields('languageId','languageName');">
                                <button
                                    type="button"
                                    class="clear-button"
                                    (click)="clearField('languageName');checkEmptyFields('languageId','languageName');"
                                    matTooltip="{{t('modules.tip.clr_srch')}}"
                                    matSuffix mat-icon-button>
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-autocomplete #lg="matAutocomplete">
                                <mat-option *ngFor="let option of filteredSpravSysLanguages | async" [value]="option.name">
                                    <div (click)="settingsForm.get('languageId').setValue(option.id)">
                                        <span style="margin:10px;">{{option.name}}</span>
                                    </div>
                                </mat-option>
                                </mat-autocomplete>
                                <mat-hint  align="start" *ngIf="settingsForm.get('languageName').touched && settingsForm.get('languageId').invalid">
                                    <i class="form-invalid">{{t('modules.error.field_miss')}}</i>
                                </mat-hint>
                            </mat-form-field>

                            <mat-form-field style="display: none;" >
                                <input   matInput
                                        placeholder="locale"
                                        formControlName="localeId"/>
                            </mat-form-field>
                            <mat-form-field class="mat-form-field-100">
                                <mat-label>{{t('modules.field.locale')}} <span *ngIf="settingsForm.get('localeName').value==0||settingsForm.get('localeName').value==null" class="star">*</span></mat-label>
                                <input matInput
                                    type="text"
                                    formControlName="localeName" 
                                    [matAutocomplete]="lc" 
                                    (input)="checkEmptyFields('localeId','localeName');"
                                    (change)="checkEmptyFields('localeId','localeName');">
                                <button
                                    type="button"
                                    class="clear-button"
                                    (click)="clearField('localeName');checkEmptyFields('localeId','localeName');"
                                    matTooltip="{{t('modules.tip.clr_srch')}}"
                                    matSuffix mat-icon-button>
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-autocomplete #lc="matAutocomplete">
                                <mat-option *ngFor="let option of filteredSpravSysLocales | async" [value]="option.name">
                                    <div (click)="settingsForm.get('localeId').setValue(option.id)">
                                        <span style="margin:10px;">{{option.name}}</span>
                                    </div>
                                </mat-option>
                                </mat-autocomplete>
                                <mat-hint  align="start" *ngIf="settingsForm.get('localeName').touched && settingsForm.get('localeId').invalid">
                                    <i class="form-invalid">{{t('modules.error.field_miss')}}</i>
                                </mat-hint>
                            </mat-form-field>
                            <mat-form-field  class="mat-form-field-100">
                                <mat-label>{{t('modules.field.time_format')}}</mat-label>
                                <mat-select  
                                    formControlName="timeFormat"
                                >                          
                                    <mat-option 
                                        value="12" 
                                    >
                                            9:15 PM
                                    </mat-option>                     
                                    <mat-option 
                                        value="24"
                                    >
                                            21:15
                                    </mat-option>                                                 
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field style="display: none;" >
                                <input   matInput
                                        placeholder="Timezone"
                                        formControlName="timeZoneId"/>
                            </mat-form-field>
                            <mat-form-field class="mat-form-field-100">
                                <mat-label>{{t('modules.field.timezone')}} <span *ngIf="settingsForm.get('timeZoneName').value==0||settingsForm.get('timeZoneName').value==null" class="star">*</span></mat-label>
                                <input matInput
                                    type="text"
                                    formControlName="timeZoneName" 
                                    [matAutocomplete]="tz" 
                                    (input)="checkEmptyFields('timeZoneId','timeZoneName');"
                                    (change)="checkEmptyFields('timeZoneId','timeZoneName');">
                                <button 
                                    type="button"
                                    class="clear-button"
                                    (click)="clearField('timeZoneName'); checkEmptyFields('timeZoneId','timeZoneName');"
                                    matTooltip="{{t('modules.tip.clr_srch')}}"
                                    matSuffix mat-icon-button>
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-autocomplete #tz="matAutocomplete">
                                <mat-option *ngFor="let option of filteredSpravSysTimeZones | async" [value]="option.name">
                                    <div (click)="settingsForm.get('timeZoneId').setValue(option.id)">
                                        <span style="margin:10px;">{{option.name}}</span>
                                    </div>
                                </mat-option>
                                </mat-autocomplete>
                                <mat-hint  align="start" *ngIf="settingsForm.get('timeZoneName').touched && settingsForm.get('timeZoneId').invalid">
                                    <i class="form-invalid">{{t('modules.error.field_miss')}}</i>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                
                <mat-divider></mat-divider>
                
                <div class="row">
                    <button 
                        (click)="applySettings()"
                        class="apply-button"
                        matTooltip="{{t('modules.tip.save_n_close')}}"
                        mat-raised-button 
                        color="primary"
                        id="save_user_settings_btn"
                        [disabled]="(!settingsForm.valid)"
                        >
                        <i class="material-icons">done</i> {{t('modules.button.save_n_close')}} 
                    </button>
                </div>

            </form>
        </div>
        <!-- <code><pre>{{settingsForm.value | json}}</pre></code> -->
    </mat-card-content> 
</mat-card>
    