
/*-------------- Блок ККТ --------------------------*/
.icon-panel {
    cursor: default;
    position: absolute;
    top: 6px;
    right: 10px;
    width: 20px;
    height: 20px;
    color: #585858;
    z-index: 1000;
}
.operation_name{
    position: absolute;
    left: 18px;
    top: 37px;
    flex: 0 0 0%;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
::ng-deep .mat-card-actions {
    margin: 0px 5px -8px !important;
    padding: 0px 0 !important;
    font-size: x-small !important;
    color: rgba(0,0,0,.8);
    position: absolute;
    bottom: 12px;
}
.paytype-button-row {
    display: table-cell;
    width: 100%px;
    margin: 8px 8px 8px 0;
  }
::ng-deep .mat-stroked-button{
    line-height: 20px !important;
    width: 33.33%;
    font-size: 12px !important;
    margin: 0 2px !important;
    overflow: hidden !important;
}
.selectedPaymentType{
    background-color: #673ab745;
    border-color: rgba(0,0,0,.54);
}
.prices_input{
    font-size: x-large;
    margin: -9px 0 -3px 0;
}
.smallBlock{
    min-height: 270px;
}
.mediumBlock{
    min-height: 450px;
}
.settingsBlock{
    min-height: 535px;
}
.operation_block{
    padding: 0 20px;
}
.operation_block_name{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.7);
}
.test-result-header{
    font-weight: bold;
}
.test-result-row{
    font-weight:normal;
    display:block;
}
.test-result-block{
    text-align: left;
    margin:10px;
}
.conn-test-result{
    text-align: center; 
    margin:-10px 0 10px;
    color: rgba(0, 0, 0, 0.7);
}
.cashier-fio{
    position: absolute;
    left: 18px;
    top: 34px;
    flex: 0 0 0%;
    color: rgba(0,0,0,.54);
    font-size: 11px;
    z-index: 1000;
}