<mat-spinner 
strokeWidth="3" 
class="spinner"
[diameter]="44"
*ngIf="isUpdatingDraggedOrResizedEvent"
></mat-spinner>
<div class="container-fluid">
    <div class="row" style="position: sticky;top: 0;z-index: 100;">
        <div class="col-12" style="padding-right:0;padding-left:0;">
            <mat-toolbar style="background: #fff; border-bottom: solid 1px #e1e1e1;">
                
                <div class="toolbar-left toolbar-inner-space">
                    <button (click)="drawercalendar.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                    </button>
                    <span>{{cu.cap('menu.docs.calendar' | transloco)}}</span>
                </div>

                <div class="toolbar-center toolbar-inner-space">                    
                    <div class="toolbar-center-start">
                        <div style="margin-right:15px">
                            <button 
                                mat-stroked-button 
                                style="font-size:14px!important; font-family: Roboto, sans-serif!important;"
                                style="width:unset;height: 100%;"
                                color="primary"
                                (click)="onClickTodayButton()"
                                mwlCalendarToday
                                [(viewDate)]="viewDate"
                                matTooltip="{{day_today}}"
                                >{{'menu.top.btn_today' | transloco}}
                            </button>
                        </div>                        
                        <button 
                        mat-icon-button
                        type="button" 
                        class="mat-calendar-previous-button mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base" 
                        style="width: 40px; height: 40px; padding: 8px;"
                        ng-reflect-disabled="false" 
                        mwlCalendarPreviousView
                        [view]="nextPrevButtonView"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()"
                        (click)="onClickPreviousButton()"
                        aria-label="Previous day">
                            <span class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple">
                            </span>
                            <span class="mat-mdc-focus-indicator">
                            </span>
                            <span matripple="" 
                            class="mat-ripple 
                            mat-mdc-button-ripple"
                            ng-reflect-disabled="false" 
                            ng-reflect-centered="true" 
                            >
                            </span>
                            <span class="mat-mdc-button-touch-target">
                            </span>
                        </button>
                        <button 
                        mat-icon-button
                        type="button" 
                        class="mat-calendar-next-button mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base" 
                        style="width: 40px; height: 40px; padding: 8px;"
                        ng-reflect-disabled="false" 
                        mwlCalendarNextView
                        [view]="nextPrevButtonView"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()"
                        (click)="onClickNextButton()"
                        aria-label="Next day">
                            <span class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple">
                            </span>
                            <span class="mat-mdc-focus-indicator">
                            </span>
                            <span matripple="" 
                            class="mat-ripple 
                            mat-mdc-button-ripple"
                            ng-reflect-disabled="false" 
                            ng-reflect-centered="true" 
                            >
                            </span>
                            <span class="mat-mdc-button-touch-target">
                            </span>
                        </button>
                        <!-- <span style="line-height: 40px;margin-left: 20px; font-size: 14px;"> -->
                        <span style="line-height: 40px;margin-left: 20px;" *ngIf="locale!=undefined && weekStartsOn!=undefined && (view=='week' || view=='resources_week')">
                            <!-- viewDate-{{viewDate}}, -->
                            <!-- locale-{{locale}}<br> -->
                            <!-- weekStartsOn-{{weekStartsOn}} -->
                           {{wordsToUpperCase( viewDate_ | calendarDate:('weekViewTitle'):locale:weekStartsOn )}}
                            <!-- {{viewDate | calendarDate:('dayViewTitle'):locale}} -->

                        </span>
                        <span style="line-height: 40px;margin-left: 20px;" *ngIf="locale!=undefined && weekStartsOn!=undefined && view!='week' && view!='resources_week'">
                            {{wordsToUpperCase( viewDate | calendarDate:(getNextPrevButtonView() + 'ViewTitle'):locale )}}
                        </span>
                    </div>
                    <div class="toolbar-center-delimitter">
                    </div>
                    <div class="toolbar-center-end">
                    <mat-button-toggle-group>
                        <button mat-icon-button class="group-button" matTooltip="{{'docs.tip.user_settings' | transloco}}" (click)="openDialogSettings()">
                            <mat-icon>settings</mat-icon>
                        </button>
                        <button mat-icon-button class="group-button" (click)="isPageReloadingRequest=true;afterChangeFiltersApiCalls()" matTooltip="{{'docs.button.refresh' | transloco}}">
                            <mat-icon>refresh</mat-icon>
                        </button>
                        <button mat-icon-button class="group-button" (click)="onClickDisplayCancelledButton()" matTooltip="{{'docs.field.displ_cancl' | transloco}}" [ngStyle]="(settingsForm.get('displayCancelled').value)?{'background-color':'#e0e0e0'}:{}">
                            <mat-icon>disabled_visible</mat-icon>
                        </button>
                    </mat-button-toggle-group>
                    <mat-button-toggle-group style="margin-left: 15px;">
                        <mat-button-toggle (click)="setView(CalendarView.Month)" [ngStyle]="(view=='month')?{'background-color':'#e0e0e0'}:{}" matTooltip="{{'docs.tip.month' | transloco}}">
                            <mat-icon>view_comfy</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle (click)="setView(CalendarView.Scheduler);refreshView()" [ngStyle]="(view=='scheduler')?{'background-color':'#e0e0e0'}:{}" matTooltip="{{'docs.tip.sceduler' | transloco}}">
                            <mat-icon>view_week</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle (click)="onResourcesButtonClick()" [ngStyle]="(view=='resources_month'||view=='resources_day'||view=='resources_week')?{'background-color':'#e0e0e0'}:{}" matTooltip="{{'docs.tip.res_usg' | transloco}}">
                            <mat-icon>segment</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    <mat-button-toggle-group style="margin-left: 15px;">
                        <mat-button-toggle [disabled]="view=='month'||view=='scheduler'" (click)="onSelectResourcesViewode('month')" [class.gray]="view=='month'||view=='scheduler'" [ngStyle]="(view=='resources_month')?{'background-color':'#e0e0e0'}:{'background-color':'#fff'}" matTooltip="{{'docs.tip.res_month' | transloco}}">
                            <mat-icon>calendar_month</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle [disabled]="view=='month'||view=='scheduler'" (click)="onSelectResourcesViewode('week')" [class.gray]="view=='month'||view=='scheduler'" [ngStyle]="(view=='resources_week')?{'background-color':'#e0e0e0'}:{'background-color':'#fff'}" matTooltip="{{'docs.tip.res_week' | transloco}}">
                            <mat-icon>date_range</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle [disabled]="view=='month'||view=='scheduler'" (click)="onSelectResourcesViewode('day')" [class.gray]="view=='month'||view=='scheduler'" [ngStyle]="(view=='resources_day')?{'background-color':'#e0e0e0'}:{'background-color':'#fff'}" matTooltip="{{'docs.tip.res_day' | transloco}}">
                            <mat-icon>today</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    </div>
                </div>
<div>
    <!-- <span>locale:{{locale}}</span> -->
    <!-- <span>timeFormat:{{timeFormat}}</span><br>
    
    <span>timeFormatCdf:{{cdf.timeFormat}}</span> -->
</div>



            </mat-toolbar>

        </div>
    </div>
    <div class="row">
        <div class="col-12" style="padding-right:0;padding-left:0;">
            <mat-drawer-container class="doc-container" style="min-height: 700px;background-color: white;" autosize *transloco="let t">
                <mat-drawer #drawercalendar class="categories-sidenav" mode="side" opened style="width:280px;position: fixed; top: 65px;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12" style="padding-right:0;padding-left:0;">
                                <mat-calendar #calendar 
                                [(selected)]="selected" 
                                (selectedChange)="matCalendarOnclickDay($event)">
                            </mat-calendar>
                            </div>
                        </div>
                        <form class="form-horizontal" [formGroup]="queryForm">
                            <div class="row">
                                <div class="col-12">
                                    <mat-form-field class="mat-form-field-100">
                                        <mat-label>{{t('docs.field.employees')}}</mat-label>
                                        <mat-select
                                            panelClass="department-list"
                                            formControlName="employees"
                                            #mySelect
                                            multiple>
                                            <div class="button-row">
                                                <button 
                                                    mat-icon-button 
                                                    [disabled]="!editability"
                                                    matTooltip="{{t('docs.tip.select_all')}}" 
                                                    class="btn-gray-color"
                                                    (click)="selectAllCheckList('employees','queryForm')"
                                                >
                                                <mat-icon>fact_check</mat-icon>
                                                </button>
                                                <button 
                                                    mat-icon-button 
                                                    [disabled]="!editability"
                                                    matTooltip="{{t('docs.tip.unselect_all')}}" 
                                                    class="btn-gray-color"
                                                    (click)="unselectAllCheckList('employees','queryForm')">
                                                <mat-icon>ballot</mat-icon>
                                                </button>
                                            </div>
                                            <mat-optgroup 
                                                *ngFor="let jobtitle of receivedJobtitlesWithEmployeesList;"
                                            >
                                                <span class="optgroup-name">{{jobtitle.name}}</span>
                                                <button 
                                                    mat-icon-button 
                                                    [disabled]="!editability"
                                                    matTooltip="{{t('docs.tip.select_all_onejt')}}" 
                                                    class="btn-gray-color"
                                                    (click)="selectAllEmployeesOneJobtitle(jobtitle.id,'queryForm')"
                                                >
                                                <mat-icon>fact_check</mat-icon>
                                                </button>
                                                <button 
                                                    mat-icon-button 
                                                    [disabled]="!editability"
                                                    matTooltip="{{t('docs.tip.unselect_all_onejt')}}" 
                                                    class="btn-gray-color"
                                                    (click)="unselectAllEmployeesOneJobtitle(jobtitle.id,'queryForm')">
                                                <mat-icon>ballot</mat-icon>
                                                </button>
                                                <mat-option *ngFor= "let employee of jobtitle.employees;"
                                                    style="width: 100%;"
                                                    [value]="employee.id"
                                                >
                                                    {{employee.name}}
                                                    <button
                                                        mat-icon-button 
                                                        [disabled]="!editability"
                                                        [matMenuTriggerFor]="employee_info"
                                                        class="btn-gray-color btn-option-info"
                                                        (click)="informationButtonClicked=true; getEmployeeServiceNamesList(employee.id)"
                                                    > 
                                                    <mat-icon
                                                        style="border-radius: 50%;
                                                        background-image: url(/assets_/images/other/info_icon.png);
                                                        background-position: center top;
                                                        background-size: 100% auto;"
                                                    ></mat-icon>
                                                    </button>
                                                </mat-option>
                                            </mat-optgroup>
                                        </mat-select>
                                        <mat-menu #employee_info="matMenu" xPosition="after">
                                            <div style="width: 300px;">
                                                <ul  style="margin: 0px; padding: 12px;">
                                                    <li *ngFor="let name of servicesList">
                                                        <span style="position: relative; top: -6px;left: 3px;">{{name}}</span>
                                                    </li>
                                                </ul>
                                                <span *ngIf="servicesList.length==0" style="position: relative;top:-8px;left:10px;">{{t('docs.msg.no_srvcs_this_empl')}}</span>
                                            </div>
                                        </mat-menu>
                                    </mat-form-field>
                                    <mat-form-field class="mat-form-field-100">
                                        <mat-label>{{t('docs.field.dep_parts')}} <span *ngIf="queryForm.get('depparts').value.length==0" class="star">*</span></mat-label>
                                        <mat-select
                                            panelClass="department-list"
                                            formControlName="depparts"
                                            #mySelect
                                            multiple>
                                            <div class="button-row">
                                                <button 
                                                    mat-icon-button 
                                                    [disabled]="!editability"
                                                    matTooltip="{{t('docs.tip.select_all')}}" 
                                                    class="btn-gray-color"
                                                    (click)="selectAllCheckList('depparts','queryForm')"
                                                >
                                                <mat-icon>fact_check</mat-icon>
                                                </button>
                                                <button 
                                                    mat-icon-button 
                                                    [disabled]="!editability"
                                                    matTooltip="{{t('docs.tip.unselect_all')}}" 
                                                    class="btn-gray-color"
                                                    (click)="unselectAllCheckList('depparts','queryForm')">
                                                <mat-icon>ballot</mat-icon>
                                                </button>
                                            </div>
                                            <mat-optgroup 
                                                *ngFor="let department of receivedDepartmentsWithPartsList;"
                                            >
                                                <span class="optgroup-name">{{department.department_name}}</span>
                                                <button 
                                                    mat-icon-button 
                                                    [disabled]="!editability"
                                                    matTooltip="{{t('docs.tip.select_all_onedep')}}" 
                                                    class="btn-gray-color"
                                                    (click)="selectAllDepPartsOneDep(department.department_id,'queryForm')"
                                                >
                                                <mat-icon>fact_check</mat-icon>
                                                </button>
                                                <button 
                                                    mat-icon-button 
                                                    [disabled]="!editability"
                                                    matTooltip="{{t('docs.tip.unselect_all_onedep')}}" 
                                                    class="btn-gray-color" 
                                                    (click)="unselectAllDepPartsOneDep(department.department_id,'queryForm')">
                                                <mat-icon>ballot</mat-icon>
                                                </button>
                                                <mat-option *ngFor= "let part of department.parts;"
                                                    style="width: 100%;"
                                                    [value]="part.id"
                                                    [matTooltip]="part.description"
                                                    [matTooltipPosition]="'right'"
                                                >
                                                    {{part.name}}
                                                    <button
                                                        mat-icon-button 
                                                        [disabled]="!editability"
                                                        [matMenuTriggerFor]="deppart_info"
                                                        class="btn-gray-color btn-option-info"
                                                        (click)="informationButtonClicked=true; getDeppartServicesNamesList(part.id)"
                                                    > 
                                                    <mat-icon
                                                        style="border-radius: 50%;
                                                        background-image: url(/assets_/images/other/info_icon.png);
                                                        background-position: center top;
                                                        background-size: 100% auto;"
                                                    ></mat-icon>
                                                    </button>
                                                </mat-option>
                                            </mat-optgroup>
                                        </mat-select>
                                        <mat-menu #deppart_info="matMenu" xPosition="after">
                                            <div style="width: 300px;">
                                                <ul  style="margin: 0px; padding: 12px;">
                                                    <li *ngFor="let name of servicesList">
                                                        <span style="position: relative; top: -6px;left: 3px;">{{name}}</span>
                                                    </li>
                                                </ul>
                                                <span *ngIf="servicesList.length==0" style="position: relative;top:-8px;left:10px;">{{t('docs.msg.no_srvcs_this_part')}}</span>
                                            </div>
                                        </mat-menu>
                                    </mat-form-field>
                                    <mat-accordion style="margin-top:30px;">
                                        <mat-expansion-panel style="border:0px solid white; box-shadow: unset;margin-top: 20px;">
                                            <mat-expansion-panel-header style="/*height: 20px;*/padding: 2px;">
                                                <mat-panel-title>
                                                    {{t('docs.tab.advanced')}}
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <mat-form-field class="mat-form-field-100">
                                                <mat-label>{{t('menu.top.company')}}</mat-label>
                                                <mat-select formControlName="companyId"
                                                [disabled]="!editability"
                                                (selectionChange)="onCompanySelection()">                          
                                                    <mat-option  *ngFor="let rt of receivedCompaniesList" [value]="rt.id">
                                                            {{rt.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-drawer>
                <ng-template #customCellTemplate let-day="day" let-locale="locale">
                    <div class="cal-cell-top" [style]="'min-height: '+calendarDayHeight+'px; position: relative;overflow:hidden;'">
                    <span class="cal-day-badge" 
                    *ngIf="day.badgeTotal > 0"
                        >{{ day.badgeTotal }}</span
                    >
                    <span class="cal-day-number"
                        >{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
                    >
                        <div class="add-event-day-area" [style]="'height: '+(day.badgeTotal > 0?dayHeaderHeight:calendarDayHeight)+'px;'">
                            <button mat-stroked-button class="add-event-day-button" (click)="dayEventClicked=true; onDayAddEventBtnClick(day.date)">
                                <span class="material-icons">
                                    add
                                </span>
                            </button>
                        </div>
                        <div *ngIf="day.events.length > 0" [style]="'height: '+(calendarDayHeight-dayHeaderHeight)+'px;'" class="day-events-container">
                            <div  *ngFor="let event of day.events; let i = index"
                                    [style]="'width: '+(calendar_area.offsetWidth/7-2)+'px;'"
                                    class="day-event wrapoff"
                                    [ngStyle]="((i+1)>maxNumberDayDisplayedEvents)?{'display':'none'}:{}"
                                    >
                                    <button mat-icon-button
                                            class="status-button"
                                            [matTooltip]="event.meta.statusName"
                                            (click)="dayEventClicked=true;oldStatusType = event.meta.statusType" 
                                            [matMenuTriggerFor]="!event.meta.completed?statuses_menu:null">
                                            <mat-icon
                                        [style.color]="event.meta.statusColor"
                                        style="    height: 16px;
                                        width: 16px;
                                        font-size: 16px;
                                        color: rgb(0, 0, 0);
                                        position: absolute;
                                        top: -1px;
                                        left: -1px;"
                                        >{{event.meta.completed?'check_circle':'circle'}}</mat-icon>
                                    </button>
                                    <span 
                                    class="cal-event-title cut-string" 
                                    (click)="dayAddEventBtnClicked=true; onMonthViewEventClick(event)"
                                    [matTooltip]="event.title"
                                    matTooltipPosition="right"
                                    >{{event.title}}
                                    </span>
                                    <mat-menu #statuses_menu="matMenu" xPosition="after">
                                        <div style="width: 200px;">
                                            <ul style="margin: 0px; padding: 8px;">
                                                <li *ngFor="let status of receivedStatusesList" [style.display]="'flex'" (click)="changeStatus(event.id, status.id, oldStatusType)">
                                                <div class="circle-list"
                                                [style.background-color]="status.color"
                                                [style.cursor]="'pointer'">
                                                </div>
                                                <span class="status-list-name">{{status.name}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </mat-menu>
                            </div>
                        </div>
                        <div class="day-bottom" *ngIf="day.badgeTotal>maxNumberDayDisplayedEvents">
                            <span
                            [matMenuTriggerFor]="and_plus_menu"
                            >{{t('docs.tip.and_plus', {amnt:day.badgeTotal-maxNumberDayDisplayedEvents})}}</span>
                            <mat-menu #and_plus_menu="matMenu" xPosition="after">
                                <div 
                                [style]="'width: '+(calendar_area.offsetWidth/7-2)+'px; overflow: hidden'" 
                                (click)="$event.stopPropagation();">
                                    <div  *ngFor="let event of day.events; let i = index"
                                    [style]="'width: '+(calendar_area.offsetWidth/7-2)+'px;'"
                                    class="day-event"
                                    [ngStyle]="((i+1)<=maxNumberDayDisplayedEvents)?{'display':'none'}:{}"
                                    >
                                    <button mat-icon-button
                                            class="status-button"
                                            [matTooltip]="event.meta.statusName"
                                            style="top:4px;"
                                            (click)="dayEventClicked=true;oldStatusType = event.meta.statusType" 
                                            [matMenuTriggerFor]="!event.meta.completed?statuses_menu_lvl2:null">
                                            <mat-icon
                                        [style.color]="event.meta.statusColor"
                                        style="    height: 16px;
                                        width: 16px;
                                        font-size: 16px;
                                        color: rgb(0, 0, 0);
                                        position: absolute;
                                        top: -1px;
                                        left: -1px;"
                                        >{{event.meta.completed?'check_circle':'circle'}}</mat-icon>
                                    </button>
                                    <span 
                                    class="cal-event-title cut-string"
                                    style="position: relative; top: -1px;"
                                    [matTooltip]="event.title"
                                    matTooltipPosition="right"  
                                    (click)="dayAddEventBtnClicked=true; onMonthViewEventClick(event)"
                                    >{{event.title}}
                                    </span>
                                    <mat-menu #statuses_menu_lvl2="matMenu" xPosition="after">
                                        <div style="width: 200px;" >
                                            <ul style="margin: 0px; padding: 8px;">
                                                <li *ngFor="let status of receivedStatusesList" [style.display]="'flex'" (click)="changeStatus(event.id, status.id, oldStatusType)">
                                                <div class="circle-list"
                                                [style.background-color]="status.color"
                                                [style.cursor]="'pointer'">
                                                </div>
                                                <span class="status-list-name">{{status.name}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </mat-menu>
                            </div>
                                </div>
                            </mat-menu>
                        </div>
                    </div>
                </ng-template>
                    
                
                <ng-template
                    #weekViewHourSegmentTemplate
                    let-segment="segment"
                    let-locale="locale"
                    let-segmentHeight="segmentHeight"
                    let-isTimeLabel="isTimeLabel"
                    >
                    <div
                        #segmentElement
                        class="cal-hour-segment"
                        [style.height.px]="segmentHeight"
                        [class.cal-hour-start]="segment.isStart"
                        [class.cal-after-hour-start]="!segment.isStart"
                        [ngClass]="segment.cssClass"
                        (mousedown)="prepareToDragCreate(segment, $event, segmentElement, 'vertical')"
                    >
                        <div class="cal-time" *ngIf="isTimeLabel">
                        {{ segment.date | calendarDate:'weekViewHour':locale }}
                        </div>
                    </div>
                </ng-template>

                
                <ng-template
                    #resourcesViewSegmentTemplate
                    let-segment="segment"
                    let-locale="locale"
                    let-segmentHeight="segmentHeight"
                    let-day="day"
                    >
                    <div
                        #segmentElement
                        [style.height.px]="segmentHeight"
                        [class.cal-hour-start]="segment.isStart"
                        [class.cal-after-hour-start]="!segment.isStart"
                        class="cal-hour-segment"
                        
                    >
                    </div>
                    <!-- (mousedown)="prepareToDragCreate(segment, $event, segmentElement, 'horizontal')" -->
                </ng-template>


                <div #calendar_area class="categories-sidenav-content" style="overflow: hidden; min-height: 400px;">
                    <mat-spinner 
                    strokeWidth="3" 
                    class="spinner"
                    [diameter]="50"
                    *ngIf="isPageReloadingRequest||isPageReloading||initialLoading"
                    ></mat-spinner>
                    <div 
                    *ngIf="users.length==0 && !isPageReloading && !initialLoading && view=='scheduler' && queryForm.get('employees').value.length==0"
                    class="no_linked_docs">
                        <span>{{t('docs.tip.empl_no_slced')}}</span>
                    </div>
                        <mwl-calendar-month-view
                            *ngIf="view=='month'"
                            [viewDate]="viewDate"
                            [refresh]="refresh"
                            [events]="events"
                            [locale]="localeAngular"
                            [activeDayIsOpen]="activeDayIsOpen"
                            (dayClicked)=" angularCalendarOnClickDay($event.day.date); dayClicked($event.day)"
                            (eventClicked)="onHandleClickedEvent('Clicked', $event.event)"
                            [cellTemplate]="customCellTemplate"
                        ></mwl-calendar-month-view>
                        <mwl-day-view-scheduler
                            *ngIf="view=='scheduler'"
                            [viewDate]="viewDate"
                            [refresh]="refresh"
                            [events]="events"
                            [hourSegmentTemplate]="weekViewHourSegmentTemplate"
                            [weekStartsOn]="weekStartsOn"
                            [users]="users"
                            [breaks]="breaks"
                            (eventTimesChanged)="eventTimesChanged($event)"
                            (onEventDragged)="onEventDragged($event,'onEventResizedVert')"
                            (onEventResized)="onEventResized($event, 'onEventDraggedVert')"                                
                            [locale]="localeAngular" 
                            [statusesList]="receivedStatusesList"
                            (hourSegmentClicked)="onClickSchedulerHoour($event)"
                            (eventClicked)="onHandleClickedEvent('Clicked', $event.event)"
                            (userOfCurrentColumn)="setUserOfDraggingToCreateEvent($event.user)"
                            (statusClickedToChange)="changeStatus($event.docId, $event.statusId, $event.statusType)"
                            [hourDuration]="hourDuration"
                            [hourSegments]="hourSegments"
                            [dayStartHour]="dayStartHour"
                            [dayEndHour]="dayEndHour"
                            [dayStartMinute]="dayStartMinute"
                            [dayEndMinute]="dayEndMinute"
                        ></mwl-day-view-scheduler>                            
                        <mwl-depparts-and-resources
                            *ngIf="view=='resources_week' || view=='resources_month' || view=='resources_day'"
                            
                            (refreshView)="refreshView()"
                            (changeDateByHeaderDayClick) = "angularCalendarOnClickDay($event)"
                            (eventClicked)="onHandleClickedEvent('Clicked', $event.event)"
                            (objectOfCurrentResource)="setObjectOfDraggingToCreateEvent($event)"
                            [weekDays]="currentMonthDaysArray"
                            [events]="events"
                            [viewPeriodName]="view"
                            (eventTimesChanged)="eventTimesChanged($event)"
                            (onEventDragged)="onEventDragged($event,'onEventResizedHoriz')"
                            (onEventResized)="onEventResized($event, 'onEventDraggedHoriz')"          
                            [statusesList]="receivedStatusesList"
                            [viewDate]="viewDate"
                            [startOfPeriod]="startOfPeriod"
                            (statusClickedToChange)="changeStatus($event.docId, $event.statusId, $event.statusType)"
                            [endOfPeriod]="endOfPeriod"
                            [snapDraggedEvents]="false"
                            [hourSegmentTemplate]="resourcesViewSegmentTemplate"
                            [refresh]="refresh"
                            [timeFormat]="timeFormat"
                            precision="minutes"
                            [departmentsWithParts]="receivedDepartmentsWithPartsList"
                            [selectedDepparts]="queryForm.get('depparts').value"
                        ></mwl-depparts-and-resources>
                </div>    
            </mat-drawer-container>
        </div>
    </div>
    <!-- <code><pre>{{queryForm.value | json}}</pre></code> -->
    <!-- 1--<code><pre>{{users | json}}</pre></code>--1 -->
    <!-- usersOfEvents-<code><pre>{{usersOfEvents | json}}</pre></code> -->
    <!-- <code><pre>startOfPeriod-{{startOfPeriod}}</pre></code> -->
    <!-- <code><pre>endOfPeriod-{{endOfPeriod}}</pre></code> -->
</div>


