:host{
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

table {width: 100%;}

.flex{ display: flex; }

.card{
    width:100%;
    /* max-width: 1000px; */
    /* margin-top: 10px; */
}

/******* опции *******/
.emptyspace{ flex-grow: 1;}
li {list-style: none;}
.div-100{
    width:100%;
    text-align: center;
}
.card-name{ flex-grow: 1; }
.options-button{
 margin: 5px 15px 0
}
/**********************/
.emptyspace{ flex-grow: 1;}

.spinner{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    width: 100px !important;
    height: 100px !important;
    z-index: 100;
}
.example-spacer {
    flex: 1 1 auto;
}
.break {
    flex-basis: 100%;
    height: 0;
}
::ng-deep .mat-calendar-body-label{
    opacity: 0;
}
::ng-deep .mat-calendar-body-label[colspan="7"]{
    display: none;
}
::ng-deep .mat-calendar-table-header-divider::after {
    background: white;
}
::ng-deep .mat-drawer-side {
    border-right: solid 1px white;
}
.toolbar-left{
        padding-right: 30px;
        box-sizing: border-box;
        -webkit-flex: 1 0 auto;
        -webkit-box-flex: 1;
        flex: 1 0 auto;
}
.toolbar-center{
    -webkit-flex: 1 1 100%;
    -webkit-box-flex: 1;
    flex: 1 1 100%;
}
.toolbar-center-start{
    white-space: nowrap;
    text-align: right;
    min-width: auto !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.toolbar-center-delimitter{
    flex: 1 1 100%;
}
.toolbar-center-end{
    min-width: auto !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.toolbar-inner-space {
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-user-select: none;
}
/* calendar */
::ng-deep .cal-day-headers{
    position: fixed;
    top: 64px;
    z-index: 1000;
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    /* width: fill-available; */
    background-color: white;
}
/* Filters  */
.mat-form-field-100{
    width:100%
}
.btn-option-info{
    position: absolute;
    top: 0px;
    right: 0px;
}
::ng-deep .mat-expansion-panel-body{
    padding:0!important;
}
::ng-deep .mat-expansion-panel-header-title {
    margin-top: 0px;
}
::ng-deep .cal-month-view .cal-day-badge {
    margin-top: 2px!important;
    /* left: -2px!important; */
    /* position: relative!important; */
    padding: 4px 7px!important;
    /* float: right!important; */
    position: absolute!important;
    right: 2px;
    top: 0px;
}
::ng-deep .cal-month-view .cal-day-number {
    float: none;
}
::ng-deep .cal-month-view .cal-day-cell.cal-today .cal-day-number {
    font-size: 1.2em;
    background-color: #673ab7;
    padding: 3px 2px 0;
    opacity: 1 !important;
    color: white;
    border-radius: 56%;
    display: inline-block;
    letter-spacing: -0.6px;
    margin: 1px !important;
    width: 26px;
    text-align: center;
    height: 26px;
}
::ng-deep .cal-month-view .cal-day-cell.cal-today {
    background-color: unset;
}

/* ::ng-deep .cal-month-view .cal-cell-row .cal-cell:hover {
    background-color: unset !important;
} */
.cal-cell-top:hover > .add-event-day-area {
    display: flex;
}
/* ::ng-deep .cal-event-container{
    min-height: 30px;
} */
.day-event{
    white-space: nowrap;
    background-color: cadetblue;
    color: white;
    border-radius: 3px;
    padding: 1px 4px;
    margin-top:2px;
    font-size: 13px;
    height: 18px;
}
.day-events-container{
    width: 100%;
    /* border: 1px dotted #673ab7; */
    position: absolute;
    bottom: 0;
}
.day-bottom{
    width: 100%;
    /* border: 1px dotted #673ab7; */
    position: absolute;
    bottom: 0;
    height: 14px;
    text-align:center;
    line-height: 10px;
    padding:2px;
    opacity: 0.8;
    font-size: 13px;
}
.add-event-day-area{
    width:100%;
    /* border: 1px dotted red; */
    /* text-align:center;     */
    position: absolute;
    top: 0;
    background-color: unset;
    display: none;
    align-items: center;
    justify-content: center;
}
.add-event-day-button{
    padding: 0;
    min-width: 36px;
    width: 36px!important;
    height: 36px;
    color: rgba(76, 76, 76, 0.3)!important;
    border-radius: 50%;
    border: 1px solid rgba(76, 76, 76, 0.3);
}
/* .add-event-day-area:hover {
    background-color: #ededed !important;
} */
::ng-deep .break-container .cal-event{
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 52%)!important;
    background-size: 1em 1em!important;
    background-color: #fff!important;
    background-attachment: fixed!important;
    opacity: 50%!important;
    border-radius: 0!important;
    border: 1px solid gray!important;
}
::ng-deep .break-container{
    z-index: 0!important;
}
.gray {
    color: lightgray!important;
}
::ng-deep .cal-event-title{
    -moz-user-select: none!important;
    -khtml-user-select: none!important;
    -webkit-user-select: none!important;
    user-select: none!important;
}
.no_linked_docs{
    position: absolute; 
    top: 13%;left:calc(50% - 130px);
    width:260px;height:150px; 
    border-radius: 10px; 
    padding-top: 90px;
    display: flex;
    text-align:center;
    line-height: 20pt;
    padding: 50px 20px;
    justify-content: center;
    background-color: #f5f5f5; 
    border:1px solid rgb(88, 88, 88);
}
.mat-mdc-outlined-button {
    font-size: 14px !important;
}
.circle-list{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    position: relative;
    left: 5px;
  }
  .status-list-name{
      position: relative; top: -6px;left: 9px;line-height: 30px;cursor: pointer;
  }
  button.status-button {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 1px;
    left: 2px;
    padding: 0;
  }
  /* .drag-button {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 7px;
    font-size: 16px;
    color: #8e72cb;
    right: 1px;
    line-height: 15px;
    padding: 0;
    display: none;
  } */
  .cal-event:hover > .drag-button {
    display: block;
  }
  ::ng-deep button.status-button .mat-mdc-button-touch-target{
    display:none!important;
  }
  .cal-event-title{
    margin-left: 14px;
    color: #673ab7!important;
  }
  .day-event{
    position: relative;
    background-color: #ffffff00!important;

  }
  ::ng-deep mwl-calendar-open-day-events{
    display:none!important;
  }
  .cut-string{
    display: block;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
/*  .wrapoff {
	white-space: nowrap!important;
	overflow: hidden!important;
	position: relative!important;
    background-color: white;
}
 .wrapoff:after {
	content: "..." !important;
    position: absolute !important;
    right: 0 !important;
    color: black;
    top: 0 !important;
    background-color: inherit;
}
mwl-calendar-month-cell:hover > .wrapoff {
    background-color: #ededed;
  } */