<div class="container-fluid">
    <div class="row" style="position: sticky;top: 0;z-index: 100;">
        <div class="col-12" style="padding-right:0;padding-left:0;">
            <mat-toolbar style="background: #fff; border-bottom: solid 1px #e1e1e1;">
                
                <div class="toolbar-left toolbar-inner-space">
                    <button (click)="drawercalendar.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                    </button>
                    <span>{{'menu.docs.calendar' | transloco}}</span>
                    <!-- -{{showDocumntsField}}- -->
                    <!-- -{{calendarDayHeight}}-{{dayEventClicked}} -->
                </div>

                <div class="toolbar-center toolbar-inner-space">
                    
                    <div class="toolbar-center-start">

                        <div style="margin-right:15px">
                            <button 
                                mat-stroked-button 
                                color="primary"
                                (click)="onClickTodayButton()"
                                mwlCalendarToday
                                [(viewDate)]="viewDate"
                                matTooltip="{{day_today}}"
                                >{{'menu.top.btn_today' | transloco}}
                            </button>
                        </div>
                        
                        <button 
                        mat-icon-button
                        type="button" 
                        class="mat-calendar-previous-button mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base" 
                        style="width: 40px; height: 40px; padding: 8px;"
                        ng-reflect-disabled="false" 
                        mwlCalendarPreviousView
                        [view]="nextPrevButtonView"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()"
                        (click)="onClickPreviousButton()"
                        aria-label="Previous day">
                            <span class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple">

                            </span>
                            <span class="mat-mdc-focus-indicator">

                            </span>
                            <span matripple="" 
                            class="mat-ripple 
                            mat-mdc-button-ripple"
                            ng-reflect-disabled="false" 
                            ng-reflect-centered="true" 
                            >
                            </span>
                            <span class="mat-mdc-button-touch-target">

                            </span>
                        </button>
                        <button 
                        mat-icon-button
                        type="button" 
                        class="mat-calendar-next-button mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base" 
                        style="width: 40px; height: 40px; padding: 8px;"
                        ng-reflect-disabled="false" 
                        mwlCalendarNextView
                        [view]="nextPrevButtonView"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()"
                        (click)="onClickNextButton()"
                        aria-label="Next day">
                            <span class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple">

                            </span>
                            <span class="mat-mdc-focus-indicator">

                            </span>
                            <span matripple="" 
                            class="mat-ripple 
                            mat-mdc-button-ripple"
                            ng-reflect-disabled="false" 
                            ng-reflect-centered="true" 
                            >
                            </span>
                            <span class="mat-mdc-button-touch-target">

                            </span>
                        </button>
                        <!-- <span style="line-height: 40px;margin-left: 20px; font-size: 14px;"> -->
                        <span style="line-height: 40px;margin-left: 20px;" *ngIf="locale!=undefined && weekStartsOn!=undefined && (view=='week' || view=='resources_week')">
                            <!-- viewDate-{{viewDate}}, -->
                            <!-- locale-{{locale}}<br> -->
                            <!-- weekStartsOn-{{weekStartsOn}} -->
                           {{wordsToUpperCase( viewDate_ | calendarDate:('weekViewTitle'):locale:weekStartsOn )}}
                            <!-- {{viewDate | calendarDate:('dayViewTitle'):locale}} -->

                        </span>
                        <span style="line-height: 40px;margin-left: 20px;" *ngIf="locale!=undefined && weekStartsOn!=undefined && view!='week' && view!='resources_week'">
                            {{wordsToUpperCase( viewDate | calendarDate:(getNextPrevButtonView() + 'ViewTitle'):locale )}}
                        </span>
                    </div>
                    <div class="toolbar-center-delimitter">
                    </div>
                    <div class="toolbar-center-end">
                    <mat-button-toggle-group>
                        <mat-button-toggle (click)="setView(CalendarView.Month)" [ngStyle]="(view=='month')?{'background-color':'#e0e0e0'}:{}" matTooltip="{{'docs.tip.month' | transloco}}">
                            <mat-icon>view_comfy</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle (click)="setView(CalendarView.Scheduler);refreshView()" [ngStyle]="(view=='scheduler')?{'background-color':'#e0e0e0'}:{}" matTooltip="{{'docs.tip.sceduler' | transloco}}">
                            <mat-icon>view_week</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle (click)="onResourcesButtonClick()" [ngStyle]="(view=='resources_month'||view=='resources_day'||view=='resources_week')?{'background-color':'#e0e0e0'}:{}" matTooltip="{{'docs.tip.res_usg' | transloco}}">
                            <mat-icon>segment</mat-icon>
                        </mat-button-toggle>
                        <!-- <mat-button-toggle value="justify" disabled aria-label="Text align justify">
                            <mat-icon>format_align_justify</mat-icon>
                        </mat-button-toggle> -->
                    </mat-button-toggle-group>
                    <mat-button-toggle-group style="margin-left: 15px;">
                        <mat-button-toggle [disabled]="view=='month'||view=='scheduler'" (click)="onSelectResourcesViewode('month')" [class.gray]="view=='month'||view=='scheduler'" [ngStyle]="(view=='resources_month')?{'background-color':'#e0e0e0'}:{'background-color':'#fff'}" matTooltip="{{'docs.tip.res_month' | transloco}}">
                            <mat-icon>calendar_month</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle [disabled]="view=='month'||view=='scheduler'" (click)="onSelectResourcesViewode('week')" [class.gray]="view=='month'||view=='scheduler'" [ngStyle]="(view=='resources_week')?{'background-color':'#e0e0e0'}:{'background-color':'#fff'}" matTooltip="{{'docs.tip.res_week' | transloco}}">
                            <mat-icon>date_range</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle [disabled]="view=='month'||view=='scheduler'" (click)="onSelectResourcesViewode('day')" [class.gray]="view=='month'||view=='scheduler'" [ngStyle]="(view=='resources_day')?{'background-color':'#e0e0e0'}:{'background-color':'#fff'}" matTooltip="{{'docs.tip.res_day' | transloco}}">
                            <mat-icon>today</mat-icon>
                        </mat-button-toggle>
                        <!-- <mat-button-toggle value="justify" disabled aria-label="Text align justify">
                            <mat-icon>format_align_justify</mat-icon>
                        </mat-button-toggle> -->
                    </mat-button-toggle-group>
                    <!-- <button      
                        [matMenuTriggerFor]="addDocMenu"
                        mat-stroked-button 
                        style="margin: 0 10px; width: 129px;height: 36px;min-width: 38px;"
                        color="primary"
                        (submit)="false"
                        type="button">
                        <span>
                            {{'menu.top.'+view | transloco}}
                        </span>
                        <i class="material-icons">arrow_drop_down</i>
                    </button> -->
                        <!-- <button mat-menu-item (click)="console('viewDate on click button', viewDate);">1</button> -->
                    <mat-menu #addDocMenu="matMenu" yPosition="below" xPosition="before" style="min-width: 240px;">
                        <button mat-menu-item (click)="
                        console('viewDate before change view', viewDate);
                        setView(CalendarView.Day);
                        console('viewDate after change view', viewDate);
                        refreshView()">
                            <span>{{'menu.top.day' | transloco}}</span>
                        </button>
                        <button mat-menu-item (click)="viewDate_ = getAlternateDay(viewDate); setView(CalendarView.Week)">
                            <span>{{'menu.top.week' | transloco}}</span>
                        </button>
                        <button mat-menu-item (click)="setView(CalendarView.Month)">
                            <span>{{'menu.top.month' | transloco}}</span>
                        </button>
                        <button mat-menu-item (click)="setView(CalendarView.Scheduler);refreshView()">
                            <span>{{'menu.top.scheduler' | transloco}}</span>
                        </button>
                        <button mat-menu-item (click)="setView(CalendarView.ResourcesDay); checkIsNeedToLoadData(); refreshView()">
                            <span>{{'menu.top.day' | transloco}}</span>
                        </button>
                        <button mat-menu-item (click)="setView(CalendarView.ResourcesWeek); checkIsNeedToLoadData(); viewDate_ = getAlternateDay(viewDate); refreshView()">
                            <span>{{'menu.top.week' | transloco}}</span>
                        </button>
                        <button mat-menu-item (click)="setView(CalendarView.ResourcesMonth); checkIsNeedToLoadData(); refreshView()">
                            <span>{{'menu.top.month' | transloco}}</span>
                        </button>
                    </mat-menu>
                    </div>
                </div>
<div>
    <!-- <span>locale:{{locale}}</span> -->
    <!-- <span>timeFormat:{{timeFormat}}</span><br>
    
    <span>timeFormatCdf:{{cdf.timeFormat}}</span> -->
</div>



            </mat-toolbar>

        </div>
    </div>
    <div class="row">
        <div class="col-12" style="padding-right:0;padding-left:0;">
            <mat-drawer-container class="doc-container" style="min-height: 700px;background-color: white;" autosize *transloco="let t">
                <mat-drawer #drawercalendar class="categories-sidenav" mode="side" opened style="width:280px;position: fixed; top: 65px;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12" style="padding-right:0;padding-left:0;">
                                <mat-calendar #calendar 
                                [(selected)]="selected" 
                                (selectedChange)="matCalendarOnclickDay($event)">
                            </mat-calendar>
                            </div>
                        </div>
                        <form class="form-horizontal" [formGroup]="queryForm">
                            <div class="row">
                                <div class="col-12">
                                    <mat-form-field id="docs" class="mat-form-field-100" *ngIf="showDocumntsField">
                                        <mat-label>{{t('docs.field.documents')}}</mat-label>
                                        <mat-select  
                                            formControlName="documents"
                                            [disabled]=!editability
                                            multiple
                                        >                          
                                            <mat-option style="width: 259px;"
                                                [value]=59
                                            >
                                                    <span>{{t('docs.list.'+companySettings.booking_doc_name_variation+'s')}}</span><!-- like 'appointmentS'-->
                                            </mat-option>                                            
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="mat-form-field-100">
                                        <mat-label>{{t('docs.field.job_titles')}}</mat-label>
                                        <mat-select
                                            panelClass="department-list"
                                            formControlName="jobtitles"
                                            [disabled]="!editability"
                                            #select
                                            multiple>
                                            <div class="button-row">
                                                <button 
                                                    mat-icon-button 
                                                    matTooltip="{{t('docs.tip.select_all')}}" 
                                                    class="btn-gray-color"
                                                    (click)="selectAllCheckList('jobtitles','queryForm')"
                                                >
                                                    <mat-icon>fact_check</mat-icon>
                                                </button>
                                                <button 
                                                    mat-icon-button 
                                                    matTooltip="{{t('docs.tip.unselect_all')}}" 
                                                    class="btn-gray-color"
                                                    (click)="unselectAllCheckList('jobtitles','queryForm')">
                                                    <mat-icon>ballot</mat-icon>
                                                </button>
                                            </div>
                                            <mat-option
                                                *ngFor= "let jt of receivedJobtitlesList;"
                                                [value]="jt.jobtitle_id"
                                                [matTooltip]="jt.description"
                                                [matTooltipPosition]="'right'"
                                            >
                                                {{jt.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="mat-form-field-100">
                                        <mat-label>{{t('docs.field.dep_parts')}} <span *ngIf="queryForm.get('depparts').value.length==0" class="star">*</span></mat-label>
                                        <mat-select
                                            panelClass="department-list"
                                            formControlName="depparts"
                                            #mySelect
                                            multiple>
                                            <div class="button-row">
                                                <button 
                                                    mat-icon-button 
                                                    [disabled]="!editability"
                                                    matTooltip="{{t('docs.tip.select_all')}}" 
                                                    class="btn-gray-color"
                                                    (click)="selectAllCheckList('depparts','queryForm')"
                                                >
                                                <mat-icon>fact_check</mat-icon>
                                                </button>
                                                <button 
                                                    mat-icon-button 
                                                    [disabled]="!editability"
                                                    matTooltip="{{t('docs.tip.unselect_all')}}" 
                                                    class="btn-gray-color"
                                                    (click)="unselectAllCheckList('depparts','queryForm')">
                                                <mat-icon>ballot</mat-icon>
                                                </button>
                                            </div>
                                            <mat-optgroup 
                                                *ngFor="let department of receivedDepartmentsWithPartsList;"
                                            >
                                                <span class="optgroup-name">{{department.department_name}}</span>
                                                <button 
                                                    mat-icon-button 
                                                    [disabled]="!editability"
                                                    matTooltip="{{t('docs.tip.select_all_onedep')}}" 
                                                    class="btn-gray-color"
                                                    (click)="selectAllDepPartsOneDep(department.department_id,'queryForm')"
                                                >
                                                <mat-icon>fact_check</mat-icon>
                                                </button>
                                                <button 
                                                    mat-icon-button 
                                                    [disabled]="!editability"
                                                    matTooltip="{{t('docs.tip.unselect_all_onedep')}}" 
                                                    class="btn-gray-color" 
                                                    (click)="unselectAllDepPartsOneDep(department.department_id,'queryForm')">
                                                <mat-icon>ballot</mat-icon>
                                                </button>
                                                    <mat-option *ngFor= "let part of department.parts;"
                                                        style="width: 100%;"
                                                        [value]="part.id"
                                                        [matTooltip]="part.description"
                                                        [matTooltipPosition]="'right'"
                                                    >
                                                        {{part.name}}
                                                        <button
                                                            mat-icon-button 
                                                            [disabled]="!editability"
                                                            [matMenuTriggerFor]="deppart_info"
                                                            class="btn-gray-color btn-option-info"
                                                            (click)="getDeppartServicesNamesList(part.id)"
                                                        > 
                                                        <mat-icon
                                                            style="border-radius: 50%;
                                                            background-image: url(/assets_/images/other/info_icon.png);
                                                            background-position: center top;
                                                            background-size: 100% auto;"
                                                        ></mat-icon>
                                                        </button>
                                                    </mat-option>
                                                    
                                                    
                                                <!-- </span> -->
                                            </mat-optgroup>
                                        </mat-select>
                                        <mat-menu #deppart_info="matMenu" xPosition="after">
                                            <div style="width: 300px;">
                                                <ul  style="margin: 0px; padding: 12px;">
                                                    <li *ngFor="let name of servicesList">
                                                        <span style="position: relative; top: -6px;left: 3px;">{{name}}</span>
                                                    </li>
                                                </ul>
                                                <span *ngIf="servicesList.length==0" style="position: relative;top:-8px;left:10px;">{{t('docs.msg.no_srvcs_this_part')}}</span>
                                            </div>
                                        </mat-menu>
                                    </mat-form-field>
                                    <mat-accordion style="margin-top:30px;">
                                        <mat-expansion-panel style="border:0px solid white; box-shadow: unset;margin-top: 20px;">
                                            <mat-expansion-panel-header style="/*height: 20px;*/padding: 2px;">
                                                <mat-panel-title>
                                                Additional
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <mat-form-field class="mat-form-field-100">
                                                <mat-label>{{t('menu.top.company')}}</mat-label>
                                                <mat-select formControlName="companyId"
                                                [disabled]="!editability"
                                                (selectionChange)="onCompanySelection()">                          
                                                    <mat-option  *ngFor="let rt of receivedCompaniesList" [value]="rt.id">
                                                            {{rt.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-drawer>
                
                    <ng-template #customCellTemplate let-day="day" let-locale="locale">
                        <div class="cal-cell-top" [style]="'min-height: '+calendarDayHeight+'px; position: relative;overflow:hidden;'">
                        <span class="cal-day-badge" 
                        *ngIf="day.badgeTotal > 0"
                            >{{ day.badgeTotal }}</span
                        >
                        <span class="cal-day-number"
                            >{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
                        >
                            <div class="add-event-day-area" [style]="'height: '+(day.badgeTotal > 0?dayHeaderHeight:calendarDayHeight)+'px;'">
                                <button mat-stroked-button class="add-event-day-button" (click)="dayEventClicked=true; onDayAddEventBtnClick(day.date)">
                                    <span class="material-icons">
                                        add
                                    </span>
                                </button>
                            </div>
                            <div *ngIf="day.events.length > 0" [style]="'height: '+(calendarDayHeight-dayHeaderHeight)+'px;'" class="day-events-container">
                                <div  *ngFor="let ev of day.events; let i = index"
                                        [style]="'width: '+(calendar_area.offsetWidth/7-2)+'px;'"
                                        class="day-event"
                                        [ngStyle]="((i+1)>maxNumberDayDisplayedEvents)?{'display':'none'}:{}"
                                        (click)="dayAddEventBtnClicked=true; onEventClick(ev)">
                                        {{ev.title}}
                                </div>
                            </div>
                            <div class="day-bottom" *ngIf="day.badgeTotal>maxNumberDayDisplayedEvents">
                                <span>... и ещё {{day.badgeTotal-maxNumberDayDisplayedEvents}}</span>
                            </div>

                        </div>
                        <!-- <small style="margin: 5px"
                        >There are {{ day.events.length }} events on this day</small
                        > -->
                    </ng-template>
                    <div #calendar_area class="categories-sidenav-content" style="overflow: hidden;">
                        <!-- weekStartsOn:{{weekStartsOn}} -->
                            <!-- <mwl-day-view-scheduler
                                [viewDate]="viewDate"
                                [refresh]="refresh"
                                [events]="events"
                                [users]="users"
                                (eventTimesChanged)="eventTimesChanged($event)"
                                (userChanged)="userChanged($event)"
                                [locale]="localeAngular" 
                                (hourSegmentClicked)="angularCalendarOnClickDay($event.date)"
                                (eventClicked)="handleEvent('Clicked', $event.event)"
                            ></mwl-day-view-scheduler> -->
                            <!-- <mwl-calendar-day-view
                                [viewDate]="viewDate"
                                [refresh]="refresh"
                                [events]="events"
                                [locale]="localeAngular" 
                                (hourSegmentClicked)="angularCalendarOnClickDay($event.date)"
                                (eventClicked)="handleEvent('Clicked', $event.event)"
                            ></mwl-calendar-day-view> -->
                            <!-- <mwl-calendar-week-view
                            *ngIf="view=='week'"
                            [viewDate]="viewDate"
                            precision="minutes"
                            [refresh]="refresh"
                            [events]="events"
                            [locale]="localeAngular"
                            (dayHeaderClicked)="angularCalendarOnClickDay($event.day.date);"
                            (hourSegmentClicked)="angularCalendarOnClickDay($event.date)"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            ></mwl-calendar-week-view> -->
                            <!-- <mwl-calendar-month-view
                                [viewDate]="viewDate"
                                [refresh]="refresh"
                                [events]="events"
                                [locale]="localeAngular"
                                [activeDayIsOpen]="activeDayIsOpen"
                                (dayClicked)=" angularCalendarOnClickDay($event.day.date); dayClicked($event.day)"
                                (eventClicked)="handleEvent('Clicked', $event.event)"
                                [cellTemplate]="customCellTemplate"
                            ></mwl-calendar-month-view> -->


                            <mwl-calendar-month-view
                            *ngIf="view=='month'"
                            [viewDate]="viewDate"
                            [refresh]="refresh"
                            [events]="events"
                            [locale]="localeAngular"
                            [activeDayIsOpen]="activeDayIsOpen"
                            (dayClicked)=" angularCalendarOnClickDay($event.day.date); dayClicked($event.day)"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            [cellTemplate]="customCellTemplate"
                            ></mwl-calendar-month-view>
                            <mwl-calendar-week-view
                            *ngIf="view=='week'"
                            [viewDate]="viewDate"
                            [refresh]="refresh"
                            [events]="events"
                            [locale]="localeAngular"
                            (dayHeaderClicked)="angularCalendarOnClickDay($event.day.date);"
                            (hourSegmentClicked)="angularCalendarOnClickDay($event.date)"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            ></mwl-calendar-week-view>
                            <mwl-calendar-day-view
                            *ngIf="view=='day'"
                            [viewDate]="viewDate"
                            [refresh]="refresh"
                            [events]="events"
                            [locale]="localeAngular" 
                            (hourSegmentClicked)="angularCalendarOnClickDay($event.date)"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            ></mwl-calendar-day-view>
                            <mwl-day-view-scheduler
                                *ngIf="view=='scheduler'"
                                [viewDate]="viewDate"
                                [refresh]="refresh"
                                [events]="events"
                                [users]="users"
                                [breaks]="breaks"
                                (eventTimesChanged)="eventTimesChanged($event)"
                                (userChanged)="userChanged($event)"
                                [locale]="localeAngular" 
                                (hourSegmentClicked)="angularCalendarOnClickDay($event.date)"
                                (eventClicked)="handleEvent('Clicked', $event.event)"
                            ></mwl-day-view-scheduler>
                            
                            <mwl-depparts-and-resources
                                *ngIf="view=='resources_week' || view=='resources_month' || view=='resources_day'"
                                (eventTimesChanged)="eventTimesChanged($event)"
                                (refreshView)="refreshView()"
                                (changeDateByHeaderDayClick) = "angularCalendarOnClickDay($event)"
                                (eventClicked)="handleEvent('Clicked', $event.event)"
                                [weekDays]="currentMonthDaysArray"
                                [events]="events"
                                [viewPeriodName]="view"
                                [viewDate]="viewDate"
                                [startOfPeriod]="startOfPeriod"
                                [endOfPeriod]="endOfPeriod"
                                [snapDraggedEvents]="false"
                                [refresh]="refresh"
                                [timeFormat]="timeFormat"
                                precision="minutes"
                                [departmentsWithParts]="receivedDepartmentsWithPartsList"
                                [selectedDepparts]="queryForm.get('depparts').value"
                            ></mwl-depparts-and-resources>
                    

                        <!-- <div [ngSwitch]="view">

                            <mwl-calendar-month-view
                                *ngSwitchCase="CalendarView.Month"
                                [viewDate]="viewDate"
                                [refresh]="refresh"
                                [events]="events"
                                [locale]="localeAngular"
                                [activeDayIsOpen]="activeDayIsOpen"
                                (dayClicked)=" angularCalendarOnClickDay($event.day.date); dayClicked($event.day)"
                                (eventClicked)="handleEvent('Clicked', $event.event)"
                                [cellTemplate]="customCellTemplate"
                            ></mwl-calendar-month-view>
                            <mwl-calendar-week-view
                                *ngSwitchCase="CalendarView.Week"
                                [viewDate]="viewDate"
                                [refresh]="refresh"
                                [events]="events"
                                [locale]="localeAngular"
                                (dayHeaderClicked)="angularCalendarOnClickDay($event.day.date);"
                                (hourSegmentClicked)="angularCalendarOnClickDay($event.date)"
                                (eventClicked)="handleEvent('Clicked', $event.event)"
                            ></mwl-calendar-week-view>
                            <mwl-calendar-day-view
                                *ngSwitchCase="CalendarView.Day"
                                [viewDate]="viewDate"
                                [refresh]="refresh"
                                [events]="events"
                                [locale]="localeAngular" 
                                (hourSegmentClicked)="angularCalendarOnClickDay($event.date)"
                                (eventClicked)="handleEvent('Clicked', $event.event)"
                            ></mwl-calendar-day-view>
                            <mwl-day-view-scheduler
                                *ngSwitchCase="CalendarView.Scheduler"
                                [viewDate]="viewDate"
                                [refresh]="refresh"
                                [events]="events"
                                [users]="users"
                                [breaks]="breaks"
                                (eventTimesChanged)="eventTimesChanged($event)"
                                (userChanged)="userChanged($event)"
                                [locale]="localeAngular" 
                                (hourSegmentClicked)="angularCalendarOnClickDay($event.date)"
                                (eventClicked)="handleEvent('Clicked', $event.event)"
                            ></mwl-day-view-scheduler>

                        </div> -->
                    </div>

            </mat-drawer-container>
        </div>
    </div>
    <!-- <code><pre>{{queryForm.value | json}}</pre></code> -->
    <!-- 1--<code><pre>{{breaks | json}}</pre></code>--1 -->
    <!-- <code><pre>startOfPeriod-{{startOfPeriod}}</pre></code> -->
    <!-- <code><pre>endOfPeriod-{{endOfPeriod}}</pre></code> -->
</div>


