:host{
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

table {width: 100%;}
li {list-style: none;}
.flex{ display: flex; }

.card{
    width:100%;
    /*max-width: 1000px;*/
    /* margin-top: 10px; */
}
.invisible{display:none;}
.table-field-editable{
    border-bottom: 1px lightgray dotted;
}
.card-name{ flex-grow: 1; }
.add_circle {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: -5px;
    color: #585858;
    z-index: 1000;
}
.btn-option-info{
    position: absolute;
    top: 0px;
    right: 0px;
}
.jobtitle{
    color: gray;
    display: block;
    position: relative;
    font-size: 12px;
    font-style: italic;
    line-height: 12px;
    bottom: 18px;
    left: 50px;
    width:calc(100% - 50px);
}
::ng-deep .employees-list-option .mdc-list-item__primary-text{
    display: inline-block;
    margin-top: -15px;
}

.button{
    margin-left: 10px;
}

.input-form{
    display: flex;
    flex-direction: column;
}
.slideWidth100{
    width:100%;
    /* margin:-8.5px 0 0 0; */
}

.slideWidth50margin8{
    width:50%; 
    margin:-8.5px 5px 0 0;
}
.active{
    color:rgb(27, 27, 27);
}

.inactive{
    color:gray;
}

.pagearrow{
    font-size: 40px;
    margin: 0px 15px 0px 0px;
    cursor: default;
}

.showchilds{
    font-size: 18px;
    cursor: default;
}


.sortarrow{
    font-size: 14px;
    cursor: default;
}

.sortheader{
    cursor: default;
}
.doc-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width:100%;
    border: 0px solid black;
  }
  
.categories-sidenav-content {
display: flex;
/* height: 100%; */
/* align-items: center; */
justify-content: center;
}

.categories-sidenav {
padding: 0px;
min-width:150px;
}
.category-toolbar-icon {
    padding: 0 0;

  }
.category-toolbar-search {
    flex: 1 0 1;
  }
.category-toolbar-icons {
    margin-top: 0px;
    flex: 1 0 1;
  }

.node  {
    cursor: pointer;
    margin-top: 3px;
    margin-right: 10px;
}

.selected_node  {
    border: 4px solid #673ab7;
    border-radius: 5px;
    background-color: #673ab7;
    color: white;
}

.category-toolbar-spacer {
flex: 1 1 auto;

}

.card-block{
    width:100%;
    margin: 0 0 10px;
    /* display: flex; */
}
.div-foto{
    width:100%;
    min-height: 280px;
    max-height: 500px;
    margin-bottom:15px;
    overflow: hidden;
}
.img{
    margin: auto;
    object-fit: contain; /*cover - заполнит всё, но залезет за границы*/
    max-height: 500px;
    width:100%;
    transition: 0.3s ease;
}
 
.div-100{
    width:100%;
    text-align: center;
}
.drawer-container {
    width: 100%;
    height: 600px;
    border: 1px solid #555;
}
.mat-drawer{
    /* width:200px; */
    max-width: 300px;
}
.mat-form-field-100{
    width:100%
}
.drawer-settings{
    padding: 20px;
    max-width: 400px;
}
.mat-drawer-row{
    margin-right: 0px !important; 
    margin-left: 0px !important;    
    cursor: pointer;
}
.drawer-menu{
    padding: 15px;
    border-bottom: 1px solid gray;
    width: 100%;
}
.drawer-menu-selected{
    background-color: #f5f5f5;
}
.field-box{
padding: 3px;
margin: 5px;
width:100%; 
height:30px;
display: flex;
}
.drag-box-wrapper{
/* border: 2px solid rgb(61, 58, 255);
padding: 3px;
margin: 5px;
width:360px; 
height:30px; */
}    

.cdk-drag-animating {
    transition: transform 300ms ease;
}
.cdk-drag-placeholder {
    background: white;
    border: dotted 1px #999;
    transition: transform 500ms ease;
}
.cdk-drag-preview {
    box-shadow: 0 3px 3px -3px #0084ff;
}
/* .box-handler{
	border: 2px solid #1E90FF;
	padding: 3px;
    margin: 5px;
    width:60px; 
    height:20px;
    cursor:move;
    }
.drag-box-with-handler{
    border: 2px solid rgb(255, 0, 0);
    padding: 3px;
    }
*/
.field-box-drag {
    width:100%; 
    margin-bottom: 10px;
    height:50px;
    display: flex;
    justify-content: space-between;
} 
::ng-deep .cdk-drag{
    padding:0px !important;
}
::ng-deep .field-box-drag{
    padding:0px !important;
}
/*---------- DRAG n DROP -------------*/

.handler {
    cursor: move;
    position: absolute;
    top: 6px;
    right: 40px;
    width: 20px;
    height: 20px;
    color: #585858;
    z-index: 1000;
  }
  .del-icon {
    cursor: default;
    position: absolute;
    top: 6px;
    right: 10px;
    width: 20px;
    height: 20px;
    color: #585858;
    z-index: 1000;
    }
.cdk-drag-placeholder {
    background: white;
    transition: transform 500ms ease;
    padding: 20px;
    border: 3px solid rgb(43, 43, 43);
    z-index: 999;
  }

.cdk-drag-animating {
transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
}

.thumb_image{
    height: 100%;
    max-width: 100%;
}
.img-wrapper{
    flex-grow: 1; 
    max-width: 70%;
    display: table-cell; 
    vertical-align: middle;
    height: 50px;border: 1px solid white;
}
.hv :hover
{
    background-color:rgb(248, 248, 248);
    cursor: pointer;
}

.hand
{
    cursor: pointer;
}
.store-category-icon{
    margin-right: 5px;
    margin-left: -2px;
    display: inherit;
    font-size: 14px;
    line-height: 2;
    color: rgba(0,0,0,.26);
}
.store-category{
    margin-left: -18px;
}
.progress-bar-striped, .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}
.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.hint {
    position: absolute;
    left: 5px;
    right: auto;
    bottom: -15px;
    font-size: 14px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: grey; 
  }

  .card-title{
    margin: 0 -16px 10px;
  }
  
.form-invalid{
    color: red;
}
.doc_container_select_mode { /*для открытия документа в окне*/
    left: 0;
    top: 0;
    height: 100%;
    width:100%;
    border: 0px solid black;
  }

.doc_container {/*для открытия документа в нормальном режиме*/
position: absolute;
left: 0;
top: 0;
height: 100%;
width:100%;
border: 0px solid black;
  }
.icon{
    color: rgba(0,0,0,.54); 
    cursor: pointer; 
    margin:12px 0px 0px 10px;
}

/*Данные не найдены*/
.spinner{
    position: absolute;
    top: 7%;
    left: 50%;
    margin-left: -25px;
    margin-top: 100px;
    z-index: 100;
}

/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
::ng-deep #product_properties .no-underline .mat-form-field-underline{
    visibility: hidden;
}
/*----------- table form -----------*/
.form-invalid{
    color: red;
}
 
.table-field-editable{
    border-bottom: 1px lightgray dotted;
}

