<mat-spinner 
strokeWidth="3" 
class="spinner"
[diameter]="50"
*ngIf="gettingTableData"
></mat-spinner>
<mat-drawer-container class="doc-container" autosize>
    <mat-drawer #drawer class="categories-sidenav" mode="side" opened *ngIf="allowToView">
        
            <div class="category-toolbar-search flex">
                <span style="flex-grow: 1;"></span>
                    <div>
                        <form  class="form-horizontal" method="post" action="">
                            <mat-form-field>
                                <input matInput 
                                    placeholder="Поиск..." 
                                    [(ngModel)]="sendingQueryForm.searchCategoryString" 
                                    type="text"  
                                    id="search_input" 
                                    name="search_input" 
                                    style="width:100%"  
                                />
                                <button mat-button matSuffix mat-icon-button aria-label="search"  type="submit" (click)="searchCategory()">
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                        </form>
                    </div>
                <span style="flex-grow: 1;"></span>
            </div>
            
            <div class="category-toolbar-icons flex">
                <span style="flex-grow: 1;"></span>
                    <div>
                            <button 
                            mat-icon-button  
                            (click)="resetSelectedCategory(true);" 
                            matTooltip="Вернуться в корневую категорию" 
                            [disabled]="+sendingQueryForm.selectedNodeId==0 && sendingQueryForm.searchCategoryString==''"
                            color="primary">
                                <mat-icon>home</mat-icon>
                            </button>
                            <button 
                            mat-icon-button  
                            *ngIf="allowCategoryCreate"
                            (click)="clickBtnAddCategory()" 
                            matTooltip="Создать новую категорию" 
                            color="primary">
                                <mat-icon>create_new_folder</mat-icon>
                            </button>
                            <button 
                            mat-icon-button 
                            (click)="clickBtnEditCategory()" 
                            *ngIf="allowCategoryUpdate"
                            matTooltip="Редактировать директорию" 
                            color="primary" 
                            [disabled]="!(+sendingQueryForm.selectedNodeId>0)">
                                <mat-icon>edit</mat-icon>
                            </button>
<!-- недействительна если: (кол-во корневых директорий<2 И нет выбранной директории) ИЛИ 
                            (выбранная директория есть И кол-во детей у нее <2)                             -->
                            <button 
                            mat-icon-button 
                            (click)="changeOrderOfCategories()" 
                            *ngIf="allowCategoryUpdate"
                            matTooltip="Поменять порядок категорий" 
                            [disabled]="(+numRootCategories<2 && +sendingQueryForm.selectedNodeId==0) ||
                            (+sendingQueryForm.selectedNodeId>0 && numChildsOfSelectedCategory<2)"
                            color="primary">
                                <mat-icon>swap_vertical_circle</mat-icon>
                            </button> 
                            <button 
                            mat-icon-button 
                            (click)="clickBtnDeleteProductCategory()"
                            *ngIf="allowCategoryDelete" 
                            matTooltip="Удалить категорию" 
                            color="primary"
                            [disabled]="!(+sendingQueryForm.selectedNodeId>0)">
                                <mat-icon>delete_forever</mat-icon>
                            </button>
                    </div>
                <span style="flex-grow: 1;"></span>
            </div>
            <mat-divider></mat-divider>

            <mat-tree [dataSource]="treeDataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <button mat-icon-button disabled></button>
                    <span class="node" [ngClass]="{selected_node:node.id==sendingQueryForm.selectedNodeId}" (click)="selectNode(node)">{{node.name}}</span>
                    <!-- <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button> -->
                </mat-tree-node>
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                    </button>
                    <span class="node" [ngClass]="{selected_node:node.id==sendingQueryForm.selectedNodeId}" (click)="selectNode(node)">{{node.name}}</span>
                </mat-tree-node>
            </mat-tree>
    </mat-drawer>
    <div class="categories-sidenav-content">
        <mat-card class="card">
                <mat-card-title class="flex" style="height: 30px;">
                        <div class="emptyspace">Товары и услуги</div>


                        <button 
                        mat-button 
                        [matMenuTriggerFor]="addDocMenu"
                        mat-raised-button 
                        matTooltip='Действия над выбранными товарами и услугами'
                        
                        *ngIf="selection.selected.length>0"
                        color="primary"
                        (submit)="false"
                        type="button"
                        class="button"
                        style="width: 142px;height: 36px;min-width: 38px;">
                        <i class="material-icons">add_task</i>&nbsp;&nbsp;Действия<i class="material-icons">arrow_drop_down</i>
                        </button>
                        <mat-menu #addDocMenu="matMenu" yPosition="below" xPosition="before">
                            <button mat-menu-item *ngIf="allowToCreate && selection.selected.length==1" (click)="clickBtnDuplicateProduct()" matTooltip='Дублировать выбранный товар'><mat-icon>control_point_duplicate</mat-icon><span>Дублировать</span></button>
                            <button mat-menu-item *ngIf="allowToUpdate && selection.selected.length>0" (click)="openDialogProductCategoriesSelect()" matTooltip='Изменить категории у выбранных товаров'><mat-icon>rule</mat-icon><span>Категории</span></button>
                            <button mat-menu-item *ngIf="allowToDelete && selection.selected.length>0" (click)="clickBtnDelete()" matTooltip='Удалить выбранные товары'><mat-icon>delete_forever</mat-icon><span>Удалить</span></button>
                        </mat-menu>
                        <div [style.display]="visBtnAdd==true?'block':'none'" class="col-sm-auto justify-content-center" style="margin-bottom:10px">
                            <a [routerLink]="['../../productsdoc', '']">
                                <button mat-raised-button  color="primary"><i class="material-icons">add_circle_outline</i> Создать</button>
                            </a>   
                        </div>
                        
                    </mat-card-title>
                    <mat-card-content>
                        <div class="card  w-100">
                            <div class="card-body">
                                <form  class="form-horizontal" id="formControl" method="post" action="" style="margin-bottom: 0px;">
                                    <div class="form-group" style="display: none;">
                                        <label class="control-label col-sm-2" for="SortColumn">SelectedNodeId</label>
                                        <input [(ngModel)]="sendingQueryForm.selectedNodeId" type="text" class="form-control" id="SelectedNodeId" name="SelectedNodeId" value="">
                                    </div>
                                    
                                    <div id="hidden" style="display: none;" class="row">
                                        <!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> -->
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="offset">offset</label>
                                            <input [(ngModel)]="sendingQueryForm.offset" value="" type="text" class="form-control" id="offset" name="offSet">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="SortColumn">SortColumn</label>
                                            <input [(ngModel)]="sendingQueryForm.sortColumn" type="text" class="form-control" id="SortColumn" name="SortColumn" value="">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="SortAsc">SortAsc</label>
                                            <input [(ngModel)]="sendingQueryForm.sortAsc" type="text" class="form-control" id="SortAsc" name="SortAsc" value="">
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field style="width:80px;" class="num-of-rows">
                                            <mat-label>Строк в таблице</mat-label>
                                            <mat-select [(value)]="sendingQueryForm.result" (selectionChange)="setNumOfPages()" class="form-control" id="selectRowsPerPage" name="result">                           
                                                <mat-option  *ngFor="let num of numRows" [value]="num.value">
                                                        {{num.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field style="margin-left: 10px; width: 200px;">
                                            <mat-label>Предприятие</mat-label>
                                            <mat-select  [(value)]="sendingQueryForm.companyId" (selectionChange)="onCompanySelection()">                          
                                                <!-- <mat-option value="0" selected>Все предприятия</mat-option> -->
                                                <mat-option  *ngFor="let rt of receivedCompaniesList" [value]="rt.id">
                                                        {{rt.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div class="flex" *ngIf="sendingQueryForm.selectedNodeName" style="margin-left: 10px; width: 200px;">
                                            <mat-form-field class="emptyspace">
                                                <input matInput 
                                                placeholder="Категория" 
                                                [(ngModel)]="sendingQueryForm.selectedNodeName" 
                                                type="text" 
                                                [readonly]=true
                                                class="form-control"
                                                id="SelectedNodeName" 
                                                name="SelectedNodeName" 
                                                value="">
                                                <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="resetSelectedCategory(true);" matTooltip='Убрать фильтр товаров по категориям' >
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                        <span  class="emptyspace"></span>
                                        <div class="flex">
                                            <mat-form-field class="emptyspace">
                                                    <input matInput 
                                                    placeholder="Поиск..." 
                                                    [(ngModel)]="sendingQueryForm.searchString" 
                                                    type="text"  
                                                    id="search_input" 
                                                    name="search_input" 
                                                    style="width:150px"  
                                                    />
                                                    <button mat-button matSuffix mat-icon-button aria-label="search"  type="submit" (click)="setNumOfPages()">
                                                        <mat-icon>search</mat-icon>
                                                    </button>
                                            </mat-form-field>
                                            <!-- <button mat-button (click)="getData()"  type="submit" id="btn" style="min-width: 20px; padding: 0px;"><mat-icon>search</mat-icon></button> -->
                                                
                                        </div>
                                    </div>
                                </form>
                                <div id="result_form">
                
                                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    
                                                <!--- Note that these columns can be defined in any order.
                                                        The actual rendered columns are set as a property on the row definition" -->
                                                
                                                <!-- Position Column -->
                                                <ng-container matColumnDef="select">
                                                        <th mat-header-cell *matHeaderCellDef style="width: 40px;">
                        
                                                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                                                            id="headCheckbox"
                                                                            [checked]="selection.hasValue() && isAllSelected()"
                                                                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                                            [aria-label]="checkboxLabel()">
                                                            </mat-checkbox>
                                                        </th>
                                                        <td mat-cell *matCellDef="let row" class="table-checkbox">
                                                            <mat-checkbox (click)="$event.stopPropagation()"
                                                                            (change)="$event ? clickTableCheckbox(row) : null"
                                                                            [checked]="selection.isSelected(row)"
                                                                            [aria-label]="checkboxLabel(row)">
                                                            </mat-checkbox>
                                                        </td>
                                                </ng-container>
                                                
                                                <ng-container matColumnDef="opendoc">
                                                    <th mat-header-cell *matHeaderCellDef></th>
                                                    <td mat-cell *matCellDef="let row" class="table-launch-icon">
                                                        <a class="inactive" [routerLink]="['../../productsdoc', row.id ]">
                                                            <mat-icon>launch</mat-icon>
                                                        </a>
                                                    </td>   
                                                </ng-container>
                        
                                                <ng-container matColumnDef="id">
                                                    <th mat-header-cell *matHeaderCellDef> id </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="name">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                    <span (click)="setSort('p.name')" class="sortheader"> Наименование 
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='p.name'" class="material-icons sortarrow">arrow_upward</i>
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='p.name'" class="material-icons sortarrow">arrow_downward</i>
                                                    </span>
                                                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="description">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                    <span (click)="setSort('description')" class="sortheader"> Описание 
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='description'" class="material-icons sortarrow">arrow_upward</i>
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='description'" class="material-icons sortarrow">arrow_downward</i>
                                                    </span>
                                                    <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="article">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                    <span (click)="setSort('p.article')" class="sortheader"> Артикул 
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='p.article'" class="material-icons sortarrow">arrow_upward</i>
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='p.article'" class="material-icons sortarrow">arrow_downward</i>
                                                    </span>
                                                    <td mat-cell *matCellDef="let row"> {{row.article}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="productgroup">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                    <span (click)="setSort('productgroup')" class="sortheader"> Группа 
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='productgroup'" class="material-icons sortarrow">arrow_upward</i>
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='productgroup'" class="material-icons sortarrow">arrow_downward</i>
                                                    </span>
                                                    <td mat-cell *matCellDef="let row"> {{row.productgroup}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="not_buy">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                    <span (click)="setSort('not_buy')" class="sortheader"> Закуп 
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='not_buy'" class="material-icons sortarrow">arrow_upward</i>
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='not_buy'" class="material-icons sortarrow">arrow_downward</i>
                                                    </span>
                                                    <td mat-cell *matCellDef="let row"> 
                                                        <mat-chip-list *ngIf="row.ppr_id==0||row.ppr_id==1">
                                                            <mat-chip 
                                                            *ngIf="row.not_buy==false" 
                                                            matTooltip="Товар закупается"
                                                            style="color:green">
                                                                Да
                                                            </mat-chip>
                                                            <mat-chip 
                                                            *ngIf="row.not_buy==true"
                                                            matTooltip="Товар не закупается"
                                                            style="color:red"
                                                            >
                                                                Нет
                                                            </mat-chip>
                                                        </mat-chip-list>
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="not_sell">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                    <span (click)="setSort('not_sell')" class="sortheader"> В продаже 
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='not_sell'" class="material-icons sortarrow">arrow_upward</i>
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='not_sell'" class="material-icons sortarrow">arrow_downward</i>
                                                    </span>
                                                    <td mat-cell *matCellDef="let row"> 
                                                        <mat-chip-list>
                                                            <mat-chip 
                                                            *ngIf="row.not_sell==false" 
                                                            matTooltip="Товар или услуга продаже"
                                                            style="color:green">
                                                                Да
                                                            </mat-chip>
                                                            <mat-chip 
                                                            *ngIf="row.not_sell==true"
                                                            matTooltip="Снято с продажи"
                                                            style="color:red"
                                                            >
                                                                Нет
                                                            </mat-chip>
                                                        </mat-chip-list>
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="creator">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                    <span (click)="setSort('creator')" class="sortheader"> Создатель 
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='creator'" class="material-icons sortarrow">arrow_upward</i>
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='creator'" class="material-icons sortarrow">arrow_downward</i>
                                                    </span>
                                                    <td mat-cell *matCellDef="let row"> {{row.creator}} </td>
                                                </ng-container>
                
                                                <ng-container matColumnDef="date_time_created">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                    <span (click)="setSort('date_time_created_sort')" class="sortheader"> Дата создания 
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='asc' && this.sendingQueryForm.sortColumn=='date_time_created_sort'" class="material-icons sortarrow">arrow_upward</i>
                                                        <i *ngIf="this.sendingQueryForm.sortAsc=='desc' && this.sendingQueryForm.sortColumn=='date_time_created_sort'" class="material-icons sortarrow">arrow_downward</i>
                                                    </span>
                                                    <td mat-cell *matCellDef="let row"> {{row.date_time_created}} </td>
                                                </ng-container>
                                       
                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                                <!-- !!! Блок "Данные не найдены" -->
                                                <ng-container matColumnDef="data_not_found">
                                                    <td mat-footer-cell *matFooterCellDef colspan="13" class="text-center">
                                                    Данные не найдены
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="nocolumn">
                                                    <td mat-footer-cell *matFooterCellDef colspan="13" style="display: none;"></td>
                                                </ng-container>
                                                <tr mat-footer-row 
                                                *matFooterRowDef="[dataSource.data.length==0?'data_not_found':'nocolumn']" 
                                                [ngStyle]="(dataSource.data.length==0 && !gettingTableData)?{}:{'display': 'none'}"></tr>
                                                <!-- Конец блока "Данные не найдены" -->        
                                        </table>
                                    <div class="flex">
                                        <div class="col-sm">
                                            <p> Найдено: {{size}}, страница {{pagenum}} из {{listsize}}</p>
                                        </div>
                                        <span  class="emptyspace"></span><!-- разделитель -->
                                        <div class="col-sm-auto justify-content-end">
                                            <ul class="pagination" style="padding-right: 0px">
                                                <ng-container *ngFor="let page of receivedPagesList; index as i">
                                                    <ng-container *ngIf="i>2 && listsize>1">
                                                        <ng-container *ngIf="i==3 && pagenum>1">
                                                                <li><a (click)="setPage(0)"><mat-icon class="pagearrow active">first_page</mat-icon></a>  </li>                               
                                                        </ng-container>
                                                        <ng-container *ngIf="i==3 && pagenum==1">
                                                                <li><mat-icon class="pagearrow inactive">first_page</mat-icon></li>                               
                                                        </ng-container>
                                                        
                                                            <mat-chip-list>
                                                                <ng-container *ngIf="page==pagenum;else templateElse">
                                                                    <li><mat-chip style="margin: 8px;" selected>
                                                                        {{page}}               
                                                                    </mat-chip></li>
                                                                </ng-container>
                                                                <ng-template #templateElse >
                                                                    <li><mat-chip  style="margin: 8px;"  (click)="setPage(page-1)">
                                                                        {{page}}               
                                                                    </mat-chip></li>
                                                                </ng-template>
                                                            </mat-chip-list>
                                                        <ng-container *ngIf="pagenum < listsize && page==maxpage">
                                                            <li><a (click)="setPage(listsize-1)"><mat-icon class="pagearrow active">last_page</mat-icon></a></li>
                                                        </ng-container>
                                                        <ng-container *ngIf="pagenum == listsize && page==maxpage">
                                                            <li><mat-icon class="pagearrow inactive">last_page</mat-icon></li>
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                            </ul>  
                                        </div>
                                    </div>
                                </div> 
                            </div>  
                        </div>
                    </mat-card-content>
        </mat-card>
    </div>

</mat-drawer-container>


