<mat-card class="card">
    <mat-card-title class="flex">
        <div class="card-name">{{data.title}}</div>
        
        <button 
            onclick="document.getElementById('fileToUpload').click()" matTooltip="{{'modules.tip.select_upl_fl' | transloco}}"
            mat-raised-button 
            color="primary"
            class="button small-button">
            <i class="material-icons">add_circle_outline</i>
        </button>
        <button 
            (click)="onNoClick()"
            mat-raised-button 
            color="accent"
            class="button small-button">
            <i class="material-icons">close</i>
        </button>
    </mat-card-title>
    <mat-card-content > 
        <form [formGroup]="formBaseInformation">   
            <mat-form-field style="width: 100%">
                <mat-label>{{'modules.field.file_category' | transloco}}</mat-label>
                <mat-select  formControlName="categoryId">        
                    <mat-option [value]="0" selected>{{'modules.list.no_category' | transloco}}</mat-option>
                    <mat-option [value]="data.categoryId" *ngIf="+data.categoryId>0">{{data.categoryName}}</mat-option>
                </mat-select>  
            </mat-form-field>
            <mat-form-field  style="width: 100%">
                <input   matInput
                        placeholder="{{'docs.field.description' | transloco}}"
                        formControlName="description"/>
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <mat-slide-toggle matInput 
                    formControlName="sharedFile"
                    class="example-margin"
                    matTooltip="{{'modules.tip.shared_file' | transloco}}"
                    [checked]="checked">
                    {{'modules.field.shared_file' | transloco}}
                </mat-slide-toggle>
                <textarea matInput hidden></textarea>
            </mat-form-field>
            <div class="div-100"> 
                <div *ngIf="currentFileUpload" class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                         - {{progress.percentage}}%</div>
                </div>
                <div *ngIf="currentFileUpload" class="div-100">
                    {{'modules.field.uploading' | transloco}}: {{uploadingFileName}}
                </div>
                <div class="center" style="width:100%; height: 38px;">
                    <input id="fileToUpload" type="file" style="display:none;"  (change)="selectFile($event)" multiple> 
                </div>
            </div> 
        </form>
    </mat-card-content> 
</mat-card>
    
    
    