<!-- <mat-card class="card"> -->
    <!-- <mat-card-content class="input-form"> -->
        <div class="container-fluid" style="padding-left: 4px; margin:0 -9px 0">
            <div class="row">
                <div class="col-12" style="height:150px">
                    <ngx-charts-number-card
                        [scheme]="colorScheme"
                        [results]="multi"
                        [cardColor]="cardColor"
                        (select)="onSelect($event)">
                    </ngx-charts-number-card>
                   
                </div>
            </div>
        </div>
    <!-- </mat-card-content>  -->
<!-- </mat-card>     -->


<!-- <code><pre>{{departmentControl.value | json}}</pre></code> -->
<!-- <code><pre>{{multi2 | json}}</pre></code> -->