/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }
  
  .basic-container {
    padding: 30px;
  }
  
  .version-info {
    font-size: 8pt;
    float: right;
  }
  
  .text-center{
      text-align: center;
  }

  .table-checkbox{
    padding: 15px 15px 15px 24px !important;
    width:30px;
  }

  .table-launch-icon{
    text-align: center; 
    padding: 5px 0 0 !important;
  }

  .checkbox-col{/*узкая колонка чекбоксов в mat-table*/
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .top-bar {/*закреплённый при перемотке бар с названием документа и кнопками (например Сохранить Выйти)*/
    position: sticky;
    top: 16px;
    z-index: 1000;
    background: white;
  }
  .top-bar-plug{
    position: sticky;
    top: 0px;
    margin-top: -12px;
    height: 16px;
    z-index: 1000;
    background: white;
  }