/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import '@angular/material/prebuilt-themes/pink-bluegrey.css'; */



body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }
  
  .basic-container {
    padding: 30px;
  }
  
  .version-info {
    font-size: 8pt;
    float: right;
  }
  
  .text-center{
      text-align: center;
  }

  .table-checkbox{
    padding: 15px 15px 15px 24px !important;
    width:30px;
  }

  .table-launch-icon{
    text-align: center; 
    padding: 5px 0 0 !important;
  }

  .checkbox-col{/*узкая колонка чекбоксов в mat-table*/
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .top-bar {/*закреплённый при перемотке бар с названием документа и кнопками (например Сохранить Выйти)*/
    position: sticky;
    top: 16px;
    margin-top: -16px;
    z-index: 999;
    /* background: white; */
  }
  #topBlock {    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .for-sticky-header{
    height: 100vh;
    overflow: auto;
    padding-top: 0px !important;
  }
  .star{/*звездочка обязательного поля*/
    color:crimson;
    font-size: 20px;
    font-weight: bold;
    vertical-align:sub;
  }
  .mat-form-field-required-marker{/*звездочка от material design - не показываем*/
    color:white !important; 
    font-size: 0px !important;
  }
  .status{
    border-width: 3px;
    text-align: center;
    height: 95%;
    border-radius: 15px;
    border-style: solid;
    margin: 0px 5px;
  }

  .icon-button{
    padding: 0px !important; 
    min-width: 38px !important;
  }

  .nodetable{
    border: 1px solid black;
}
/*для поля ввода номера документа*/
#cardname .nowrap .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0 !important;
}
.docnumber{
  width:70px; margin-top:-30px
}
/*спиннеры*/
.field-spinner{
  position: absolute !important;
  top: 0%;
  right: 1px;
  margin-left: -12px;
}
.nowrap{
  white-space: nowrap; /* Переносов в тексте нет */
}
#status{/*Для блока статусов документа*/
  padding-left: 10px;
  flex-grow: 40;
  margin-top: -14px;
  max-width: 250px;
}
#topBlock .button{/*Для кнопок верхней панели*/
  margin: 0 5px 5px 0 !important;
}
/*.card .top-bar .row {Для кнопок верхней панели*/
/*   
  position: fixed !important;
  width:fit-content; */
/* background-color: azure;
  top: 6px;
  right: 0px;
  width: 100%;
  height: 20px; */
/* } */
.separator{
  flex-grow: 1;
}
.filter-button{
  margin: 5px 15px 0 !important;
  color:rgba(0,0,0,.87);
}
.balance{/*Вывод баланса (Контрагента, кассы, р. счёта)*/
  position: absolute !important;
  border-radius: 8px 8px 8px 8px !important;
  background-color: white;
  border-width: 0px !important;
  top: -15px;
  right: -2px;
  width: 175px !important;
  cursor: default !important;
  height: 20px;
  font-size:12px;
  line-height: 21px !important;
  margin: 0 2px !important;
  overflow: hidden !important;
}
/* стрелка сортировки в таблицах */
.sortheader .sortarrow{
  position: relative;
  top: 3px;
  left: -3px;
  line-height: 0;
  font-weight: bold;
}
/* mat-tooltip (всплывающая подсказка) */
.mat-tooltip {
  /* background-color: darkblue !important; */
  font-size: 14px !important;
  white-space: pre-line !important;
}
/* маленькие квадратные кнопки в документах (без надписи, только иконка) */
.small-button{
  width: 36px;
  height: 36px;
  min-width: 38px !important;
  padding: 0px !important;
}
/* проведён (кнопка) */
.completed{
  background-color: seagreen !important;
}
.mat-icon{
  overflow: inherit !important;
}
.mat-card-title {
  display: block;
  background-color: white;
  margin-bottom: 28px !important;
}
.quantity-field{
  display: inline-block;
  width: 60px !important;
}
.quantity-field-sm{
  display: inline-block;
  width: 45px !important;
}
.mat-card-header-text {
  margin: 0 16px !important;
}
.mat-card-content {
  margin: 0 6px !important;
} 

.timepicker__header{
  background-color: #673ab7 !important;
}
.clock-face__number > span.active {
  background-color: #673ab7 !important;
  color: #fff;
}
/*linebreaks in mattooltip*/