/* You can add global styles to this file, and also import other style files */
/*@import '../node_modules/@angular/material/legacy-prebuilt-themes/legacy-deeppurple-amber.css';*/
/* @import '@angular/material/legacy-prebuilt-themes/legacy-deeppurple-amber.css'; */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import '@angular/material/prebuilt-themes/pink-bluegrey.css'; */
@import "../node_modules/angular-calendar/css/angular-calendar.css";


body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }
  
  .basic-container {
    padding: 30px;
  }
  
  .version-info {
    font-size: 8pt;
    float: right;
  }
  
  .text-center{
      text-align: center;
  }

  .table-checkbox{
    padding: 0 15px !important;
    width:30px;
  }

  .checkbox-col{/*узкая колонка чекбоксов в mat-table*/
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .top-bar {/*закреплённый при перемотке бар с названием документа и кнопками (например Сохранить Выйти)*/
    position: sticky;
    top: 16px;
    margin-top: -16px;
    z-index: 999;
    
    height: 38px;
    top: 0;
    padding-top: 20px;
    /* background: white; */
  }
  #topBlock {    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 !important;
  }
  .for-sticky-header{
    height: 100vh;
    overflow: auto;
    padding-top: 0px !important;
  }
  .star{/*звездочка обязательного поля*/
    color:crimson;
    font-size: 20px;
    font-weight: bold;
    vertical-align:sub;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-mdc-form-field-required-marker{/*звездочка от material design - не показываем*/
    color:white !important; 
    font-size: 0px !important;
  }
  .status{
    border-width: 3px;
    text-align: center;
    height: 95%;
    border-radius: 15px;
    border-style: solid;
    margin: 0px 5px;
  }

  .icon-button{
    padding: 0px !important; 
    min-width: 38px !important;
  }

  .nodetable{
    border: 1px solid black;
}
/*для поля ввода номера документа*/
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
#cardname .nowrap .docnumber .mat-mdc-form-field-infix {
  padding: 0 !important;
}
.docnumber{
  width:70px; margin-top:-30px
}

#cardname .nowrap .docnumber .mdc-line-ripple, 
#status .mdc-line-ripple, 
#status .mat-mdc-select-arrow,
#toggle .mdc-line-ripple{
  display: none!important;
}

#cardname input[formcontrolname="doc_number"]{
  border-bottom: 1px solid gray;
}

/* Status of document */
.circle-in-selected {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  top: 20px;
}
mat-select[formcontrolname="status_id"] {
  padding: 0px 0px 0px 15px!important;
  position: relative!important;
  top: -6px!important;
}
mat-select[formcontrolname="status_id"] .mat-mdc-select-value{
  margin-left: 15px;
}
.circle-wrapper {
  width: 30px;
  height: 100%;
  vertical-align: sub;
  text-align: center;
  display: inline-block;
}
.circle-in-list {
  width: 20px;
  height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
} 
.circle-in-selected{
  width: 20px;
  height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  top: 18px;
}
/* Status of document end*/
/*спиннеры*/
.field-spinner{
  position: absolute !important;
  top: 0%;
  right: 1px;
  margin-left: -12px;
}
.nowrap{
  white-space: nowrap; /* Переносов в тексте нет */
}
#status{/*Для блока статусов документа*/
  padding-left: 10px;
  flex-grow: 40;
  margin-top: -14px;
  max-width: 250px;
}
#topBlock .button{/*Для кнопок верхней панели*/
  margin: 0 5px 5px 0 !important;
}

.separator{
  flex-grow: 1;
}
.filter-button{
  margin: 5px 15px 0 !important;
  color:rgba(0,0,0,.87);
}
.balance{/*Вывод баланса (Контрагента, кассы, р. счёта)*/
  position: absolute !important;
  border-radius: 8px 8px 8px 8px !important;
  background-color: white;
  border-width: 0px !important;
  letter-spacing: normal;
  top: 0px;
  white-space: nowrap;
  right: -2px;
  width: fit-content !important;
  cursor: default !important;
  height: 20px !important;
  font-size:12px;
  line-height: 21px !important;
  margin: 0 2px !important;
  overflow: hidden !important;
}
/* стрелка сортировки в таблицах */
.sortheader .sortarrow{
  position: relative;
  top: 3px;
  left: -3px;
  line-height: 0;
  font-weight: bold;
}
/* mat-tooltip (всплывающая подсказка) */
.mat-mdc-tooltip {
  /* background-color: darkblue !important; */
  font-size: 14px !important;
  white-space: pre-line !important;
}
/* маленькие квадратные кнопки в документах (без надписи, только иконка) */
.small-button{
  width: 36px;
  height: 36px;
  min-width: 38px !important;
  padding: 0px !important;
}
/* проведён (кнопка) */
.completed{
  background-color: seagreen !important;
}
.mat-icon{
  overflow: inherit !important;
}

.quantity-field{
  display: inline-block;
  width: 60px !important;
}
.quantity-field-sm{
  display: inline-block;
  width: 45px !important;
}
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
/* .mat-card-header-text {
  margin: 0 16px !important;
} */
.mat-mdc-card-content {
  margin: 0 !important;
} 

.timepicker__header{
  background-color: #673ab7 !important;
}
.clock-face__number > span.active {
  background-color: #673ab7 !important;
  color: #fff;
}
.informer{
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1000;
}
.v-center{ /* You sould set parent div's position: relative */
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* After MDC migration */

/* Form-field (Input) */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}
.mdc-text-field{
  padding: 0px!important;
}
.mat-mdc-form-field-hint-wrapper{
  line-height: 12px!important;
  padding:0!important;
}
.mat-mdc-form-field-bottom-align, .mat-mdc-form-field-bottom-align::before {
  height: 14px!important;
  line-height:14px !important;
}/* Form-field (Input) end */

.pagearrow {
  font-size: 40px!important;
  margin: 4px 15px 0px -7px!important;
  cursor: default!important;
}
#result_form div div p{
  margin: 30px 0 0 -10px!important;
}
mat-card-title{
  padding: 0!important;
}
.mat-mdc-menu-panel.mat-mdc-menu-panel{
  /* padding-bottom: 15px!important; */
  max-width: 350px!important;
}

#formControl .mat-mdc-form-field{
  min-width: 60px;
}
#result_form .flex{
  margin-bottom: -15px;
  min-height: 80px;
}
.pagination{
  margin-right: -19px;
}
.mat-mdc-card-title {
  display: block;
  background-color: white;
  /*margin-bottom: 28px !important;*/
  margin: 0px 0px 28px 0px !important;
}
app-products .categories-sidenav-content, app-remains .categories-sidenav-content, app-prices .categories-sidenav-content {
  overflow: hidden;
}
.mat-mdc-card-header-text{
  width:100%;
}
.mat-column-data_not_found{
  text-align: center !important;
}
.table-launch-icon{
  text-align: center;
}
.emptyspace.ng-star-inserted, li.ng-star-inserted{
  overflow:unset;
}
.mdc-tab {
  max-width: 200px;
}
.mat-mdc-form-field-focus-overlay {
  background-color: transparent;
}
.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 0 0 16px !important;
}
.num-of-rows{
  width: 60px !important;
}
.mat-mdc-form-field-icon-suffix, [dir=rtl] .mat-mdc-form-field-icon-prefix {
  padding: 0 !important;
}


/* Mat-datapickeк icon */
mat-datepicker-toggle .mat-mdc-icon-button {
  width: 24px!important;
  height: 24px!important;
  padding: 6px!important;
  top: 0px!important;
  left: 0!important;
}
mat-datepicker-toggle .mat-mdc-icon-button .mat-datepicker-toggle-default-icon{
  position: relative;
  top: -7px;
  left: -3px;
  width: 18px!important;
  height: 18px!important;
}/* Mat-datapickeк icon end */

/* Select list - user can't select if clicking not on the <SPAN> tag */
.mat-mdc-option .mdc-list-item__primary-text {
  line-height: 48px!important;
  width: 100%!important;
  padding-left:10px;
}
/* Select list width will be in accordance with its content 
need to add into providers:
    {
        provide: MAT_SELECT_CONFIG,
        useValue: { overlayPanelClass: 'expandable-overlay-panel' }
    }
*/
.expandable-overlay-panel
{
  min-width: min-content !important;
  /* width: 100% !important; */
  width: unset !important;
}
/*.mat-mdc-option{
  padding: 0!important;
}
.mat-mdc-option .mat-pseudo-checkbox {
  display: none;
}*/
.mat-mdc-option{
  padding-left: 0!important;
  padding-right: 10px!important;
}
.mat-mdc-optgroup .mat-mdc-option {
  padding-left: 32px!important;
}
.mat-mdc-option .mat-pseudo-checkbox-full {
  margin: 8px 8px 8px 12px!important;
}
/* Editable inputs in product tables */
.table-field-editable {
  border-bottom: 1px lightgray dotted!important;
  border-width: 0 0 1px 0!important;
}
.table-field-editable:focus{
  outline: none!important;
  border-bottom: 1px lightgray solid!important;
  border-width: 0 0 1px 0!important;
}
.table-form-invalid {
  color: red;
  font-size: 11px;
  line-height: 1em;
  display: inline-block;
  font-style: italic;
  margin-top: 2px;
}
table input {
  font-family: Roboto, sans-serif;
  font-size: 14px;
}/* Editable inputs in product tables end */
table input[readonly="true"] {
  outline: none!important;
  border-width: 0 !important;
}/* Editable inputs in product tables end */
/* Fields in a search form of product table */
.mat-mdc-form-field-icon-suffix {
  margin-top: 13px;
}
/* Fields in a search form of product table */


/* Table of files  */
.filename-row {
  width:100%; 
  margin-bottom: 10px;
  height:35px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.file-wrapper{
  margin-top: 8px;
}/* Table of files end */

/* Table of products */
.product-table tr td:last-child, .product-table tr th:last-child, .resources-table tr td:last-child, .resources-table tr th:last-child{
  padding: 0 10px !important;
}/* Table of products end */

/* All tables - last row with line in bottom */
.mdc-data-table__row:last-child .mdc-data-table__cell {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;;
}
/* All tables - last row with line in bottom END*/




/* FIELD */
/* .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
  line-height: 30px !important;
}
.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 37px;
} */
.mdc-floating-label--float-above{
  height: 18px!important;
}
.mat-mdc-text-field-wrapper{
  height: 56px!important;
}
/* FIELD end */

.add-cagent {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 0px;
  color: #585858;
  z-index: 1000;
}

/*Products - linked products*/
.chip-list {
  width: 100%;
  min-height: 100px;
}
.chip-list mat-label{
  font-size: small;
  color: gray;
  line-height: 22px;
}
.chip-list .chip-name{
  color: gray;
  position:relative;
  top:20px;
}
.chip-list mat-chip-listbox{
  background-color: #eee;
}
/*Products - linked products end*/

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  flex-basis: unset !important;
}

.mat-expansion-panel-header-title{
  font-size: 20px !important;
}

.mat-mdc-optgroup-label span{
  /* color: #444!important; */
  /* font-weight: 300!important; */
  display: inline-block;
  align-items: center;
}

/* legend (bar names in charts)*/
.legend-title-text{
  white-space: normal;
}/* legend (bar names in charts) end*/

.btn-gray-color{
 color:rgba(0, 0, 0, 0.54)!important;
}
/* Name of optgroup in select lists */
.optgroup-name{
  top: 0px;
  position: relative;
  font-size: 20px;
}
.timepicker-overlay {
  z-index: 10000000 !important;
}
.timepicker-backdrop-overlay {
z-index: 10000000 !important;
}
.group-button, .group-button span.mat-mdc-button-persistent-ripple{
  border-radius: 0 !important;
}
.group-button:not(:first-child) span.mat-mdc-button-persistent-ripple{
  border-left: solid 1px #e0e0e0;
}
.mat-button-toggle-group-appearance-standard{
  display: flex !important;
  height: 50px !important;
  border-radius: 4px !important;
}
.cal-week-view .cal-current-time-marker {
  width: calc(100% + 10px)!important;
}
.cal-event {
  background-color: #f4efff!important;
  border-color: #673ab7!important;
  color: #000!important;
  font-size: 14px!important;
}
table .table-launch-icon a mat-icon.mat-icon-no-color{
  position: relative;
  top: 3px;
}
/* 
.mat-mdc-slide-toggle {
  --mdc-switch-selected-handle-color: #ffbb1c !important;
  --mdc-switch-selected-pressed-handle-color: #ffbb1c !important;
  --mdc-switch-selected-pressed-state-layer-color: #ffbb1c !important;
  --mdc-switch-selected-hover-state-layer-color: #ffbb1c !important;
  --mdc-switch-selected-hover-handle-color: #ffbb1c !important;
  --mdc-switch-selected-focus-state-layer-color: #ffbb1c !important;
  --mdc-switch-selected-focus-handle-color: #ffbb1c !important;
  --mdc-switch-selected-track-color: #e0e0e0 !important;
  --mdc-switch-selected-pressed-track-color: #e0e0e0 !important;
  --mdc-switch-selected-hover-track-color: #e0e0e0 !important;
  --mdc-switch-selected-focus-track-color: #e0e0e0 !important;
} */