<mat-card class="card">
    <mat-card-title class="flex">
        <div class="card-name">Настройки</div>
        <button 
            (click)="onNoClick()"
            matTooltip="Закрыть окно настроек"
            mat-raised-button 
            color="accent"
            class="button">
            <i class="material-icons">close</i> Закрыть 
        </button>
    </mat-card-title>
    <mat-card-content > 
        <div class="card">
            <mat-spinner 
            strokeWidth="3" 
            class="spinner"
            [diameter]="50"
            *ngIf="gettingData"
            ></mat-spinner>
            <form [formGroup]="settingsForm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12"> 
                            <mat-form-field  class="mat-form-field-100">
                                <mat-label> Предприятие  <span *ngIf="settingsForm.get('companyId').value==null" class="star">*</span> </mat-label>
                                <mat-select formControlName="companyId"  (selectionChange)="onCompanyChange()" matTooltip="Предприятие по умолчанию">
                                    
                                    <mat-option *ngFor="let cmp of receivedCompaniesList" 
                                                [value]="cmp.id">
                                                {{cmp.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint  align="start" *ngIf="settingsForm.get('companyId').touched && settingsForm.get('companyId').invalid">
                                    <i class="form-invalid">Предприятие не выбрано.</i>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12"> 
                            <mat-form-field  class="mat-form-field-100">
                                <mat-label>Отделение (основной склад)</mat-label>
                                <mat-select formControlName="departmentId"  matTooltip="Отделение по умолчанию">
                                    <mat-option *ngFor="let department of receivedDepartmentsList" 
                                                [value]="department.id">
                                                {{department.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field style="display: none">
                                <input  matInput
                                        placeholder="customerId"
                                        formControlName="customerId"/>
                            </mat-form-field>
                            <mat-form-field class="mat-form-field-100"> 
                                <input  matInput 
                                placeholder="{{settingsForm.get('customerId').value==''?'Поиск покупателя':'Покупатель'}}"
                                [matAutocomplete]="auto4" 
                                [formControl]="searchCustomerCtrl"
                                matTooltip="Покупатель по умолчанию"
                                (input)="canCagentAutocompleteQuery=true; checkEmptyCagentField();"
                                (change)="canCagentAutocompleteQuery=false; checkEmptyCagentField();">
                                <mat-autocomplete #auto4="matAutocomplete">
                                <ng-container *ngIf="!isCagentListLoading" style="width:320px;">
                                    <mat-option style="padding:0px" *ngFor="let value of filteredCagents" [value]="value.name">
                                    <div (click)="onSelectCagent(value.id,value.name)">
                                        <span style="margin:10px;"><b>{{value.name}}</b></span>
                                    </div>
                                    </mat-option>
                                </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-progress-bar *ngIf="isCagentListLoading" mode="indeterminate"></mat-progress-bar>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-12"> 
                            <mat-form-field   class="mat-form-field-100">
                                <input  matInput
                                        placeholder="Наименование продажи"
                                        matTooltip='Наименование продажи по умолчанию'
                                        formControlName="name"/>
                            </mat-form-field>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-12"> 
                            <mat-form-field  class="mat-form-field-100">
                                <mat-label>Расценивать</mat-label>
                                <mat-select formControlName="pricingType"  matTooltip="Расценка по умолчанию">
                                    <mat-option value="priceType">
                                        По типу цены
                                    </mat-option>
                                    <mat-option value="avgCostPrice">
                                        По ср. себестоимости
                                    </mat-option>
                                    <mat-option value="lastPurchasePrice">
                                        Последняя закупочная цена
                                    </mat-option>
                                    <mat-option value="avgPurchasePrice">
                                        Средняя закупочная цена
                                    </mat-option>
                                    <mat-option value="manual">
                                        Вручную
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12"> 
                            <mat-form-field  class="mat-form-field-100">
                                <mat-label>Приоритет цены</mat-label>
                                <mat-select formControlName="priorityTypePriceSide" 
                                            matTooltip="Приоритет типа цены по умолчанию" 
                                            [disabled]="settingsForm.get('pricingType').value != 'priceType'">
                                    <mat-option value="sklad"
                                                matTooltip='Тип цены склада. Устанавливается в документе "Отделения"'>
                                        Склад {{getPriceTypesNameById(department_type_price_id)}}
                                    </mat-option>
                                    <mat-option value="cagent"
                                                matTooltip='Тип цены покупателя.Устанавливается в справочнике "Контрагенты"'>
                                        Покупатель {{getPriceTypesNameById(cagent_type_price_id)}}
                                    </mat-option>
                                    <mat-option value="defprice"
                                                matTooltip='Тип цены, выбранный в качестве цены по умолчанию в справочнике "Типы цен"'>
                                        Цена по умолчанию {{getPriceTypesNameById(default_type_price_id)}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-9">
                            <mat-form-field  class="mat-form-field-100">
                                <span   class="material-icons" 
                                        [ngClass]="{plusMinusEnable: settingsForm.get('plusMinus').value=='plus',
                                        plusMinusDisable: settingsForm.get('plusMinus').value=='minus'}"
                                        (click)="clickPlusMinus('plus')">
                                    add_box
                                </span>
                                <span   class="material-icons"
                                        [ngClass]="{plusMinusEnable: settingsForm.get('plusMinus').value=='minus',
                                        plusMinusDisable: (settingsForm.get('plusMinus').value=='plus' || !settingsForm.get('plusMinus'))}"
                                        (click)="clickPlusMinus('minus')">
                                    indeterminate_check_box
                                </span>

                                <input  matInput
                                        (keypress)="numberOnlyPlusDot($event)"
                                        style="margin: 0 0 -2px 9px; width: 50%;"
                                        placeholder="{{priceUpDownFieldName}}"
                                        formControlName="changePrice"/>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field  class="mat-form-field-100">
                                <mat-select formControlName="changePriceType">
                                    <mat-option value="procents">
                                    %
                                    </mat-option>
                                    <mat-option value="currency">
                                    руб.
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-checkbox formControlName="hideTenths">Убирать копейки</mat-checkbox>
                        </div>
                        <div class="col-6">
                            <mat-checkbox formControlName="autoAdd"  matTooltip="Автодобавление товара из формы поиска в таблицу товаров">Автодобавление</mat-checkbox>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-6">
                            <mat-checkbox formControlName="autocreate" matTooltip="Автоматически создавать новый документ Отгрузка, если все поля заполнены значениями по умолчанию">Автосоздание</mat-checkbox>
                        </div>
                        <div class="col-6">
                            <mat-checkbox formControlName="showKkm"  matTooltip="Показывать блок работы с онлайн-кассой">Онлайн-касса</mat-checkbox>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-12">
                            <mat-checkbox formControlName="saveSettings">Сохранять настройки после расценки</mat-checkbox>
                        </div>
                    </div>
                    <div class="row" *ngIf="settingsForm.get('statusIdOnComplete').value">
                        <div class="col-12"> 
                            <div class = "circle-in-selected" [style.background-color]="status_color"></div>
                            <mat-form-field  class="mat-form-field-100" style="margin-top: -20px;" matTooltip="Статус, который присвоится документу при успешном проведении">
                                <mat-label>Статус при проведении</mat-label>
                                <mat-select     style="padding: 5px 0 5px 25px;" 
                                                formControlName="statusIdOnComplete"
                                                (selectionChange)="setStatusColor();">
                                    <mat-option *ngFor="let status of receivedStatusesList" 
                                                [value]="status.id"
                                                matTooltip={{status.description}}>
                                                <div style="display: inline;line-height: 20px;">
                                                    <div class = "circle-wrapper">
                                                        <div class = "circle-in-list" [style.background-color]="status.color"></div>
                                                    </div>
                                                    <div class = "status-name">{{status.name}}</div>
                                                </div>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                
                <mat-divider></mat-divider>
                
                <div class="row">
                    <button 
                    (click)="applyPrice()"
                    class="apply-button"
                    matTooltip="Сохранить настройки и закрыть"
                    mat-raised-button 
                    color="primary"
                    [disabled]="(!settingsForm.valid)"
                    >
                    <i class="material-icons">done</i> Сохранить 
                </button>
                </div>

            </form>
        </div>
        <!-- <code><pre>{{settingsForm.value | json}}</pre></code> -->
    </mat-card-content> 
</mat-card>
    