<div class="container-fluid" *transloco="let t">
    <div class="row">
        <div class="col-12">
            <form #form="ngForm" [formGroup]="formSearch">
                <mat-card appearance="outlined" class="internal-card">
                    
                    <div class="flex card" style="padding: 0px 15px; font-size: 20px;">
                        <div class="card-name">
                            {{readonly?t('modules.card.prod_fro_retc'):t('modules.card.srch_prodcts')}}
                        </div>
                        <div>
                            <button 
                                mat-raised-button 
                                *ngIf="!readonly"
                                matTooltip="{{t('modules.tip.selct_prodcts')}}"
                                (click)="openDialogProductCategoriesSelect('products')" 
                                style="margin-bottom: 10px;"
                                color="primary"
                                type="button"
                                class="button">
                                <i class="material-icons">local_grocery_store</i> {{t('modules.button.prods')}}
                            </button>
                            <button  
                                mat-raised-button 
                                (click)="addProductRow()" 
                                *ngIf="!readonly"
                                type="submit"
                                style="margin-bottom: 10px;"
                                [disabled]="(!formSearch.valid)||indivisibleErrorOfSearchForm"
                                color="primary"
                                matTooltip="{{t('modules.tip.to_list')}}"
                                class="button">
                                <i class="material-icons">playlist_add</i> {{t('modules.button.to_list')}}
                            </button>
                        </div>
                    </div>
                    <mat-card-content class="input-form">
                        <div class="container-fluid" [hidden]="readonly">
                            <div class="row">
                                <div class="col-lg-1  col-md-12 small-padding center-align">
                                    <div class="div-foto hand"> 
                                        <img *ngIf="productImageName" matTooltip="{{t('modules.tip.opn_image')}}" (click)="showImage(productImageName)" [src]="imageToShow" width=100%>
                                        <img *ngIf="!productImageName" src="{{thumbImageAddress}}" width=100% style="cursor:default">
                                    </div>          
                                </div>
                                <div class="col-lg-11  col-md-12 small-padding">
                                    <div class="col-12 ">    
                                        <div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">
                                            <div class="row">
                                                <div class="col-lg-4  col-md-12">    
                                                    <mat-form-field  style="display: none">
                                                        <input  matInput
                                                        placeholder="product_id"
                                                        #product_id
                                                        formControlName="product_id" [readonly]=true/>
                                                    </mat-form-field>
                                                    <mat-form-field  class="mat-form-field-100">
                                                        <mat-label>{{t('modules.field.prod_srch')}}</mat-label>
                                                        <input  matInput 
                                                        #productSearchField
                                                        placeholder="{{t('modules.field.input_name')}}" 
                                                        [matAutocomplete]="auto3" 
                                                        [formControl]="searchProductCtrl"
                                                        [readonly]="formSearchReadOnly"
                                                        (input)="canAutocompleteQuery=true; checkEmptyProductField();"
                                                        (change)="canAutocompleteQuery=false; checkEmptyProductField();">
                                                        
                                                        <button
                                                        type="button"
                                                        (click)="openProductCard(formSearch.get('product_id').value)"
                                                        *ngIf="formSearchReadOnly" 
                                                        matTooltip="{{t('modules.tip.opn_prod_card')}}"
                                                        matSuffix mat-icon-button >
                                                            <mat-icon>launch</mat-icon>
                                                        </button>

                                                        <button
                                                        type="button"
                                                        *ngIf="formSearchReadOnly" 
                                                        matTooltip="{{t('modules.tip.clr_srch_form')}}"
                                                        matSuffix mat-icon-button 
                                                        (click)="formSearchReadOnly=false;resetFormSearch();">
                                                            <mat-icon>close</mat-icon>
                                                        </button>
                                                        <mat-autocomplete #auto3="matAutocomplete">
                                                            <ng-container *ngIf="!isProductListLoading && filteredProducts.length>1" style="width:320px;">
                                                                <span  *ngFor="let value of filteredProducts"  class="flex" style="border: 0px solid ;margin: 4px 0;">
                                                                    <mat-option style="padding:0px 5px; flex-grow: 1;" [value]="value.name">
                                                                        <div (click)="onSelectProduct(value)">
                                                                            <span class="internal-card">{{value.name}}</span>
                                                                        </div>
                                                                    </mat-option>
                                                                    <mat-chip-listbox class="mat-chip-list">
                                                                        <mat-chip-option 
                                                                            *ngIf="value.total>0" 
                                                                            matTooltip="{{t('modules.tip.instock_th_dp')}}"
                                                                            style="margin:12px 5px;flex-grow: 0;">
                                                                            <span style="color:green; font-weight: bold">{{value.total-value.reserved}}</span>
                                                                        </mat-chip-option>
                                                                        <mat-chip-option 
                                                                            *ngIf="value.total==0" 
                                                                            matTooltip="{{t('modules.tip.nostock_th_dp')}}"
                                                                            style="background-color: #e0e0e0; margin:12px 5px;flex-grow: 0;">
                                                                            <span style="color:rgb(122, 0, 0); font-weight: bold">{{value.total-value.reserved}}</span>
                                                                        </mat-chip-option>
                                                                    </mat-chip-listbox>
                                                                </span>
                                                            </ng-container>
                                                        </mat-autocomplete>
                                                    </mat-form-field>
                                                    <mat-progress-bar *ngIf="isProductListLoading" mode="indeterminate"></mat-progress-bar>
                                                </div>
                                                <div class="col-lg-8 col-md-12">
                                                    <div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">
                                                        <div class="row">
                                                            <div class="col-xl-3 col-lg-6 col-md-12" style="min-width: 100px;">
                                                                <mat-form-field class="mat-form-field-100">
                                                                    <input  matInput 
                                                                            placeholder="{{t('modules.field.remains')}}"
                                                                            formControlName="remains"
                                                                            [readonly]=true
                                                                            />
                                                                    <span matSuffix>{{formSearch.get('edizm').value}}</span>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-xl-3 col-lg-6 col-md-12" style="min-width: 100px;"> 
                                                                <mat-form-field  class="mat-form-field-100">
                                                                    <mat-label>{{t('modules.field.count')}} <span *ngIf="+product_id.value>0 && product_count.value==''" class="star">*</span></mat-label>
                                                                    <input  matInput 
                                                                            #product_count
                                                                            [placeholder]="placeholderActualBalance"
                                                                            formControlName="product_count"
                                                                            (input)="checkProductCountInForm()"
                                                                            (change)="checkProductCountInForm()"
                                                                            (keypress)="numberOnlyPlusDotAndComma($event);"
                                                                            [readonly]="+formSearch.get('product_id').value==0?true:false"/>
                                                                    <span matSuffix>{{formSearch.get('edizm').value}}</span>
                                                                    <mat-hint  align="start">
                                                                        <i *ngIf="formSearch.get('product_count').invalid && formSearch.get('product_count').errors.pattern" class="form-invalid">{{t('modules.error.price_format',{int:6,fract:3})}} </i>
                                                                        <i *ngIf="formSearch.get('product_count').value!=null && (+formSearch.get('product_count').value==0) && formSearch.get('product_count').value!=''" class="form-invalid">{{t('modules.error.more_than',{num:0})}}</i>
                                                                        <i *ngIf="(formSearch.get('product_count').value==null || formSearch.get('product_count').value=='') && +this.formSearch.get('product_id').value>0" class="form-invalid">{{t('docs.error.field_miss')}}</i>
                                                                        <i *ngIf="indivisibleErrorOfSearchForm" class="form-invalid">{{t('modules.error.mst_be_integr')}}</i>
                                                                    </mat-hint>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-xl-3 col-lg-6 col-md-12" style="min-width: 100px;"> 
                                                                <mat-form-field class="mat-form-field-100">
                                                                    <mat-label>{{t('modules.field.price')}}{{formSearch.get('edizm').value==''?'':' '+t('modules.field.for')+' 1'}}{{formSearch.get('edizm').value}} <span *ngIf="+product_id.value>0 && product_price.value==''" class="star">*</span></mat-label>
                                                                    <input  matInput 
                                                                            placeholder="{{t('modules.field.price')}}{{formSearch.get('edizm').value==''?'':' '+t('modules.field.for')+' 1'}}{{formSearch.get('edizm').value}}"
                                                                            formControlName="product_price"
                                                                            #product_price
                                                                            (input)="checkProductPriceInForm()"
                                                                            (change)="checkProductPriceInForm()"
                                                                            (keypress)="numberOnlyPlusDotAndComma($event)"
                                                                            [readonly]="+formSearch.get('product_id').value==0?true:false"/>
                                                                    <span matSuffix>{{accountingCurrency}}</span>
                                                                    <mat-hint align="start">
                                                                        <i *ngIf=" product_price.invalid && product_price.errors.pattern && product_price.value>0 && product_price.touched" class="form-invalid">{{t('modules.error.price_format',{int:7,fract:2})}}</i>
                                                                        <i *ngIf="(product_price.value==null || product_price.value=='') && product_price.value!='0' && +this.formSearch.get('product_id').value>0 && product_price.touched" class="form-invalid">{{t('docs.error.field_miss')}}</i>
                                                                        <i *ngIf="product_price.value=='0' && product_price.touched" class="form-invalid">{{t('modules.error.more_than',{num:0})}}</i>
                                                                        <i *ngIf="product_price.value<0 && product_price.value!=''" class="form-invalid">{{t('modules.error.more_than',{num:0})}}</i>
                                                                    </mat-hint>
                                                                        
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-xl-3 col-lg-6 col-md-12" style="min-width: 100px;">
                                                                <mat-form-field  class="mat-form-field-100">
                                                                    <mat-label>{{t('modules.field.tax')}}</mat-label>
                                                                    <mat-select  formControlName="nds_id"  [disabled]="!nds" (selectionChange)="productTableRecount()">                          
                                                                        <mat-option  *ngFor="let rt of spravTaxesSet" [value]="rt.id">
                                                                                {{rt.name}}
                                                                        </mat-option> 
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-xl-3 col-lg-6 col-md-12" style="min-width: 100px;">
                                                                <mat-form-field class="mat-form-field-100">
                                                                    <input  matInput 
                                                                            placeholder="{{t('modules.field.sum')}}"
                                                                            [ngModel]="+formSearch.get('product_id').value==0?'':+((+formSearch.get('product_count').value)*+formSearch.get('product_price').value)"
                                                                            [ngModelOptions]="{standalone: true}"
                                                                            [readonly]=true
                                                                            />
                                                                    <span matSuffix>{{accountingCurrency}}</span>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-xl-3 col-lg-6 col-md-12" style="min-width: 100px;"> 
                                                                <mat-form-field  class="mat-form-field-100">
                                                                    <mat-label>{{t('modules.col.cost_per_unit')}}</mat-label>       
                                                                    <input  matInput 
                                                                            formControlName="product_netcost"
                                                                            matTooltip="{{t('modules.tip.netcost_about')}}"
                                                                            (input)="checkProductNetcostInForm()"
                                                                            (change)="checkProductNetcostInForm()"
                                                                            (keypress)="numberOnlyPlusDotAndComma($event)"
                                                                            [readonly]="+formSearch.get('product_id').value==0?true:false"/>
                                                                    <span matSuffix>{{accountingCurrency}}</span>
                                                                    <mat-hint  align="start" *ngIf="formSearch.get('product_netcost').touched">
                                                                        <i *ngIf="formSearch.get('product_netcost').invalid && formSearch.get('product_netcost').errors.pattern" class="form-invalid">{{t('docs.error.price_format',{int:6,fract:3})}} </i>
                                                                        <i *ngIf="(formSearch.get('product_netcost').value==null || formSearch.get('product_netcost').value=='') && formSearch.get('product_netcost').value!='0' && +this.formSearch.get('product_id').value>0 && formSearch.get('product_netcost').touched" class="form-invalid">{{t('docs.error.field_miss')}}</i>
                                                                    </mat-hint>
                                                            
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-xl-3 col-lg-6 col-md-12" style="min-width: 100px;">
                                                                <mat-form-field class="mat-form-field-100">
                                                                    <input  matInput 
                                                                            placeholder="{{t('modules.col.cost')}}"
                                                                            [ngModel]="+formSearch.get('product_id').value==0?'':+((+formSearch.get('product_count').value)*+formSearch.get('product_netcost').value)"
                                                                            [ngModelOptions]="{standalone: true}"
                                                                            [readonly]=true
                                                                            />
                                                                    <span matSuffix>{{accountingCurrency}}</span>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">

                            <mat-spinner 
                                strokeWidth="3" 
                                class="spinner"
                                style="margin-top:110px;"
                                [diameter]="44"
                                *ngIf="gettingTableData"
                                ></mat-spinner>
                            <div class="row" *ngIf="getControlTablefield().value.length>0" style="margin-right:0;margin-left:0;">
                                
                                <table mat-table #_table  [dataSource]="getControlTablefield().value" 
                                [formGroup]="formBaseInformation" 
                                [trackBy]="trackByIndex" 
                                style="margin-top: 20px;" 
                                class="mat-elevation-z8">

                                    <ng-container matColumnDef="select" [formArrayName]="'returnProductTable'">
                                        <th mat-header-cell *matHeaderCellDef class="checkbox-col">
                                            <mat-checkbox   (change)="masterToggle()"
                                                            
                                                            [checked]="selection.hasValue()"
                                                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                                            </mat-checkbox>
                                        </th>
                                        <td mat-cell class="checkbox-col" *matCellDef="let row; let i = index" [formGroupName]="i"> 
                                            <mat-checkbox   (click)="$event.stopPropagation()"
                                                            *ngIf="showCheckbox(row)"
                                                            
                                                            (change)="$event ? clickTableCheckbox(row) : null"
                                                            [checked]="selection.isSelected(row)">
                                            </mat-checkbox>
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef></td>
                                    </ng-container>

                                    <ng-container matColumnDef="index" [formArrayName]="'returnProductTable'">
                                        <th mat-header-cell *matHeaderCellDef> index </th>
                                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"> 
                                            <span>{{i}}</span>
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef> </td>uj
                                    </ng-container>

                                    <ng-container matColumnDef="row_id" [formArrayName]="'returnProductTable'">
                                        <th mat-header-cell *matHeaderCellDef> row_id </th>
                                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"> 
                                            <span>{{row.row_id}}</span>
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef> </td>
                                    </ng-container>


                                    <ng-container matColumnDef="name" [formArrayName]="'returnProductTable'">
                                        <th mat-header-cell *matHeaderCellDef>{{t('modules.col.name')}}</th>
                                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"> 
                                            <span matTooltip="{{t('modules.tip.opn_prod_card')}}" class="hand" (click)="openProductCard(row.product_id)">{{row.name}}</span>
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef> {{t('modules.col.total')}}: {{getControlTablefield().value.length}}</td>
                                    </ng-container>
                                    <!-- <ng-container matColumnDef="remains" [formArrayName]="'returnProductTable'">
                                        <th mat-header-cell *matHeaderCellDef style="max-width: 60px;">{{t('modules.col.remains')}}</th>
                                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"> {{row.remains}} </td>
                                        <td mat-footer-cell *matFooterCellDef></td>
                                    </ng-container> -->
                                    <ng-container matColumnDef="product_count" [formArrayName]="'returnProductTable'">    
                                        <th mat-header-cell *matHeaderCellDef class="cell-padding width-80">
                                            <span 
                                                style="cursor: default;">
                                                {{t('modules.col.qnt')}}
                                            </span>
                                        </th>
                                        <td mat-cell *matCellDef="let row; let i = index" 
                                        class="cell-padding width-120"
                                        [formGroupName]="i"
                                        [matTooltip]="((getControlTablefield().controls[i].get('product_count').invalid && getControlTablefield().controls[i].get('product_count').errors.pattern)) ? t('modules.tip.err_value') : ''"
                                        [ngStyle]="   ((getControlTablefield().controls[i].get('product_count').invalid && getControlTablefield().controls[i].get('product_count').errors.pattern))?{'background-color': '#ffe4e1'}:{'background-color': 'white'}">
                                            <input matInput 
                                                class="table-field-editable quantity-field"
                                                [ngClass]="{'table-field-editable':!readonly}"
                                                [readonly]=readonly
                                                style="width:  95%;"
                                                placeholder=""
                                                formControlName="product_count"
                                                (keyup)="onChangeProductCount(i);"
                                                (keypress)="numberOnlyPlusDotAndComma($event)"
                                            />
                                            <span matSuffix>{{row.edizm}}</span>
                                            <control-messages  class="table-form-invalid" [control]="getControlTablefield().controls[i].get('product_count')"></control-messages>
                                            <mat-hint align="start">
                                                <i *ngIf="  getControlTablefield().controls[i].get('product_count').value !='' && 
                                                            getControlTablefield().controls[i].get('indivisible').value && 
                                                            !isInteger(parseFloat(getControlTablefield().controls[i].get('product_count').value))"  class="table-form-invalid">
                                                            {{t('modules.error.mst_be_integr')}}
                                                </i>
                                                <i *ngIf="getControlTablefield().controls[i].get('product_count').invalid && getControlTablefield().controls[i].get('product_count').errors.pattern" class="table-form-invalid">{{t('docs.error.price_format',{int:7,fract:3})}}</i>
                                            </mat-hint>
                                        <td mat-footer-cell *matFooterCellDef class="cell-padding width-120"></td>
                                    </ng-container>
                                    <ng-container matColumnDef="edizm" [formArrayName]="'returnProductTable'">
                                        <th mat-header-cell *matHeaderCellDef class="cell-padding width-120">{{t('modules.col.unit')}}</th>
                                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i" class="cell-padding width-120"> {{row.edizm}} </td>
                                        <td mat-footer-cell *matFooterCellDef class="cell-padding width-120"></td>
                                    </ng-container>


                                    
                                    <ng-container matColumnDef="product_price" [formArrayName]="'returnProductTable'">
                                        <th mat-header-cell *matHeaderCellDef style="width: 80px;">
                                            <span 
                                                style="cursor: default;"
                                                matTooltip="{{t('modules.tip.price')}}">
                                                {{t('modules.col.price')}}, {{accountingCurrency}}
                                            </span>
                                        </th>
                                        <td mat-cell 
                                        *matCellDef="let row; let i = index" 
                                        [formGroupName]="i"
                                        [ngStyle]="(+getControlTablefield().controls[i].get('product_price').value==0)?{'background-color': '#ffe4e1'}:{'background-color': 'white'}"
                                        >
                                            <input matInput 
                                                [ngClass]="{'table-field-editable':!readonly}"
                                                [readonly]=readonly
                                                style="width: 95%;"
                                                placeholder=""
                                                formControlName="product_price"
                                                (keyup)="onChangeProductPrice(i);"
                                                (keypress)="numberOnlyPlusDotAndComma($event)"
                                            />
                                            <control-messages  class="table-form-invalid" [control]="getControlTablefield().controls[i].get('product_price')"></control-messages>
                                            <mat-hint align="start" >
                                                <i *ngIf="getControlTablefield().controls[i].get('product_price').invalid && getControlTablefield().controls[i].get('product_price').errors.pattern" class="table-form-invalid">{{t('docs.error.price_format',{int:7,fract:2})}}</i>
                                            </mat-hint>
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef></td>
                                    </ng-container>
                                    <ng-container matColumnDef="nds" [formArrayName]="'returnProductTable'">
                                        <th mat-header-cell *matHeaderCellDef style="min-width: 50px;">{{t('modules.col.tax')}}</th>
                                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"> 
                                            <mat-select  
                                            formControlName="nds_id" 
                                            style="width:  95%;"
                                            (selectionChange)="productTableRecount()" 
                                            [ngClass]="{'table-field-editable':!readonly}"
                                            [disabled]=readonly>                          
                                                <mat-option  *ngFor="let rt of spravTaxesSet" [value]="rt.id">
                                                        {{rt.name}}
                                                </mat-option> 
                                            </mat-select>
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef></td>
                                    </ng-container>
                                    <ng-container matColumnDef="product_sumprice" [formArrayName]="'returnProductTable'">
                                        <th mat-header-cell *matHeaderCellDef>{{t('modules.col.sum')}}, {{accountingCurrency}}</th>
                                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"> {{row.product_sumprice}} </td>
                                        <td mat-footer-cell *matFooterCellDef> {{totalProductSumm}}</td>
                                        <td mat-footer-cell *matFooterCellDef></td>
                                    </ng-container>
                                    <ng-container matColumnDef="product_netcost" [formArrayName]="'returnProductTable'">
                                        <th mat-header-cell *matHeaderCellDef style="width: 80px;">
                                            <span 
                                                style="cursor: default;"
                                                matTooltip="{{t('modules.tip.netcost_about')}}">
                                                {{t('modules.col.cost_per_unit')}}, {{accountingCurrency}}
                                            </span>
                                        </th>
                                        <td mat-cell 
                                        *matCellDef="let row; let i = index" 
                                        [formGroupName]="i"
                                        >
                                            <input matInput 
                                                [ngClass]="{'table-field-editable':!readonly}"
                                                [readonly]=readonly
                                                style="width: 95%;"
                                                placeholder=""
                                                formControlName="product_netcost"
                                                (keyup)="onChangeProductNetcost(i);"
                                                (keypress)="numberOnlyPlusDotAndComma($event)"
                                            />
                                            <control-messages  class="table-form-invalid" [control]="getControlTablefield().controls[i].get('product_netcost')"></control-messages>
                                            <mat-hint align="start" >
                                                <i *ngIf="getControlTablefield().controls[i].get('product_netcost').invalid && getControlTablefield().controls[i].get('product_netcost').errors.pattern" class="table-form-invalid">{{t('docs.error.price_format',{int:7,fract:2})}}</i>
                                            </mat-hint>
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef></td>
                                    </ng-container>
                                    <ng-container matColumnDef="product_sumnetcost" [formArrayName]="'returnProductTable'">
                                        <th mat-header-cell *matHeaderCellDef>{{t('modules.col.cost')}}, {{accountingCurrency}}</th>
                                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"> {{row.product_sumnetcost}} </td>
                                        <td mat-footer-cell *matFooterCellDef> {{totalNetcost}}</td>
                                        <td mat-footer-cell *matFooterCellDef></td>
                                    </ng-container>
                                    <ng-container matColumnDef="delete" [formArrayName]="'returnProductTable'">
                                        <th mat-header-cell *matHeaderCellDef style="width: 30px;"><mat-icon style="cursor: default" (click)="clearTable()" matTooltip="{{t('modules.tip.del_frm_tabl_')}}">close</mat-icon></th>
                                        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                                            <mat-icon matTooltip="{{t('modules.tip.del_frm_table')}}" style="cursor: default" (click)="deleteProductRow(row,i)">delete_forever</mat-icon>
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef></td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr> 
                                </table>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </form>
        </div>
        <!-- <code><pre>{{formBaseInformation.get('returnProductTable').value | json}}</pre></code> -->
    </div>
</div>
