:host{
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

.reg-form{
    display: flex;
    flex-direction: column;

}

.reg-mat-card{
    
    width:100%;
    max-width: 500px;
    margin-top: 200px;
}

.form-invalid{
    color: red;
}


.lang-select{
    position: absolute;
    right: 32px;
    top: 9px;
    font-size: small;
    cursor: pointer;
}
.arrow-wrap{
    position: absolute;
    top: -1px;
    right: -5px;
    width: 5px;
    height: 5px;
}
.clear-button{
    position: relative;
    right: 0px;
    top: 6px;
    flex: 0 0 0%;
    color: black;
    z-index: 1000;
    line-height: 34px !important;
}