<mat-card *ngIf="data.actionType=='create' || data.actionType=='update'" class="card">
    <mat-card-title class="flex">
        <div class="card-name">{{data.docName}}</div>
        <button 
            mat-raised-button 
            [style.display]="data.actionType=='create'?'block':'none'"
            (click)="clickBtnCreateProductCategory()" 
            matTooltip="{{'docs.tip.create' | transloco}}"
            [disabled]="!formBaseInformation.valid" 
            color="primary"
            class="button small-button">
            <i class="material-icons">done</i>
        </button>
        <button 
            mat-raised-button 
            [style.display]="data.actionType=='update'?'block':'none'"
            (click)="updateProductCategory()"
            matTooltip="{{'docs.tip.save' | transloco}}"
            [disabled]="!formBaseInformation.valid" 
            color="primary"
            class="button small-button">
            <i class="material-icons">save</i>
        </button>
        <button 
            (click)="onNoClick()"
            mat-raised-button 
            matTooltip="{{'modules.tip.close_window' | transloco}}"
            color="accent"
            class="button small-button">
            <i class="material-icons">close</i>
        </button>
    </mat-card-title>
    <mat-card-content > 
        1--{{productCategory.parentCategoryId}}--1
        <div class="row">
            <div class="col-lg-8  col-md-12">

                <form [formGroup]="formBaseInformation">   
                    <mat-form-field style="width: 100%">

                    <mat-label>{{'docs.field.name' | transloco}} <span *ngIf="formBaseInformation.get('name').value==''||formBaseInformation.get('name').value==null" class="star">*</span></mat-label>
                        <input  matInput
                                maxlength="50"
                                (input)="slugify()"
                                (change)="slugify()"
                                formControlName="name"/>  
                                <mat-hint align="start" *ngIf="formBaseInformation.get('name').touched">
                                    <i *ngIf="formBaseInformation.get('name').value==''" class="form-invalid">{{'docs.error.field_miss' | transloco}}</i>
                                </mat-hint>                                                  
                                <mat-hint align="end" *ngIf="formBaseInformation.get('name').value.length>40">{{formBaseInformation.get('name').value.length}} / 50</mat-hint>
                    </mat-form-field>
                    
                    <mat-form-field style="width: 100%">
                        <mat-label>{{'docs.field.description' | transloco}} </mat-label>
                        <input  matInput
                                maxlength="250"
                                formControlName="description"/>  
                                <mat-hint align="end" *ngIf="formBaseInformation.get('description').value.length>200">{{formBaseInformation.get('description').value.length}} / 250</mat-hint>
                    </mat-form-field>
                    
                    <mat-form-field style="width: 100%">
                        <mat-label>{{'modules.field.slug' | transloco}}</mat-label>
                        <input  matInput
                                maxlength="120"
                                formControlName="slug"/>  
                                <mat-hint align="end" *ngIf="formBaseInformation.get('slug').value.length>100">{{formBaseInformation.get('slug').value.length}} / 120</mat-hint>
                    </mat-form-field>

                    <mat-form-field style="width: 100%"> 
                        <mat-label>{{'modules.field.parent_catgr' | transloco}}</mat-label>
                        <input type="text"
                            [value]="getSelectedItems()"
                            class="hand"
                            #autoCompleteInput
                            formControlName="parent_catgr"
                            [readonly]="true"
                            (click)="autoComplete.openPanel()"
                            matInput
                            [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">    
                            <mat-option [value] = '' (click)="selectNone()" style="background: white;">{{'modules.list.none' | transloco}}</mat-option>
                            <!-- <mat-option [value]="data.parentCategoryId" *ngIf="+data.parentCategoryId>0">{{data.parentCategoryName}}</mat-option> -->
                            <!-- <mat-option [value]="rt.id">{{rt.name}}</mat-option> -->


                            <mat-tree [dataSource]="treeDataSource" [treeControl]="treeControl">
                                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                                    <button mat-icon-button disabled></button>
                                    <span class="node" [ngClass]="{selected_node:node.id==productCategory.parentCategoryId}" (click)="selectNode(node)">{{node.name}}</span>
                                    <!-- <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button> -->
                                </mat-tree-node>
                                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                                    <button mat-icon-button matTreeNodeToggle
                                            [attr.aria-label]="'toggle ' + node.name">
                                    <mat-icon class="mat-icon-rtl-mirror">
                                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                    </mat-icon>
                                    </button>
                                    <span class="node" [ngClass]="{selected_node:node.id==productCategory.parentCategoryId}" (click)="selectNode(node)">{{node.name}}</span>
                                </mat-tree-node>
                            </mat-tree>


                        </mat-autocomplete>  
                    </mat-form-field>

                    <mat-form-field style="width: 100%"> 
                        <mat-label>{{'modules.field.display' | transloco}}</mat-label>
                        <mat-select  formControlName="display">
                            <mat-option value="default">{{'modules.list.default' | transloco}}</mat-option>
                            <mat-option value="products">{{'modules.list.products' | transloco}}</mat-option>
                            <mat-option value="subcategories">{{'modules.list.subcategories' | transloco}}</mat-option>
                            <mat-option value="both">{{'modules.list.both' | transloco}}</mat-option>
                        </mat-select>  
                    </mat-form-field>
                    
                </form>
            </div>
            <div class="col-lg-4  col-md-12">
                <mat-card class="grid-card">
                    <div class="iconArea">
                        <!-- <a *ngIf="mode!='select'" [routerLink]="['../../filesdoc', block.id ]"> -->
                            <img *ngIf="productCategory && productCategory.image" (click)="showImage()" class="file_icon" [src]="imageToShow" width=100%>
                            <img *ngIf="productCategory && productCategory.image == null" class="file_icon" src="{{noImageAddress}}" height=100%>
                        <!-- </a> -->
                    </div>
                    <div *ngIf="productCategory && productCategory.image == null" style="position: absolute;bottom: 5px;left: 15px;">
                        <mat-icon   
                            class="hand add_circle"
                            (click)="addFileInField()">
                            add_circle
                        </mat-icon>
                    </div>
                    <div *ngIf="productCategory && productCategory.image == null" class="hand" (click)="addFileInField()" style="position: absolute;bottom: 12px;left: 43px;">
                        <span>{{'docs.tip.add_file' | transloco}}</span>
                    </div>
                    <div *ngIf="productCategory && productCategory.image != null" style="position: absolute;bottom: 5px;left: 15px;">
                        <mat-icon
                            class="hand del-file"
                            (click)="deleteFileInField()">
                            delete_forever
                        </mat-icon> 
                    </div>
                    <div *ngIf="productCategory && productCategory.image != null" class="hand" (click)="deleteFileInField()" style="position: absolute;bottom: 12px;left: 43px;">
                        <span>{{'docs.tip.del_file' | transloco}}</span>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-card-content> 
</mat-card>

<mat-card *ngIf="data.actionType=='changeOrder'" class="card">
    <mat-card-title class="flex">
        <div class="card-name">{{data.docName}}</div>
        <button 
            mat-raised-button 
            (click)="saveChangeCategoriesOrder()"
            color="primary"
            matTooltip="{{'docs.tip.save' | transloco}}"
            class="button small-button">
            <i class="material-icons">save</i>
        </button>
        <button 
            (click)="onNoClick()"
            mat-raised-button 
            color="accent"
            matTooltip="{{'modules.tip.close_window' | transloco}}"
            class="button small-button">
            <i class="material-icons">close</i>
        </button>
        <!-- <button 
            mat-raised-button 
            (click)="saveChangeCategoriesOrder()"
            color="primary"
            class="button">
            <i class="material-icons">done</i> Сохранить
        </button>
        <button 
            (click)="onNoClick()"
            mat-raised-button 
            color="accent"
            class="button">
            <i class="material-icons">close</i> Отмена
        </button> -->
    </mat-card-title>
    <mat-card-content > 
        
        <div class="box-list" >
            <div cdkDropList class="box-list" (cdkDropListDropped)="dropSet($event)">
                <div *ngFor="let set of receivedSetsOfCategories" class="field-box-drag" cdkDrag>
                            {{set.name}}
                            <p *cdkDragPreview></p>
                </div>
            </div>
     </div>

    </mat-card-content> 
</mat-card>
    
    
    